/* -*- Mode: C++; tab-width: 2; indent-tabs-mode: nil; c-basic-offset: 2 -*-
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */
#include <os2.h>

// Splash screen dialog ID.
#define IDD_SPLASH  100

// Splash screen bitmap ID.
#define IDB_SPLASH  101

ICON 1 SUNBIRD_ICO

DLGTEMPLATE IDD_SPLASH DISCARDABLE 
BEGIN
    DIALOG "", IDD_SPLASH, 0, 0, 390, 261, , FCF_BORDER
    BEGIN
    END
END

//BITMAP IDB_SPLASH "splash.bmp"

#ifdef MOZ_STATIC_BUILD
#include "wdgtos2rc.h"

POINTER IDC_SELECTANCHOR   "..\\..\\..\\widget\\src\\os2\\res\\\select.ptr"
POINTER IDC_GRAB           "..\\..\\..\\widget\\src\\os2\\res\\grab.ptr"
POINTER IDC_GRABBING       "..\\..\\..\\widget\\src\\os2\\res\\grabbing.ptr"
POINTER IDC_CELL           "..\\..\\..\\widget\\src\\os2\\res\\cell.ptr"
POINTER IDC_COPY           "..\\..\\..\\widget\\src\\os2\\res\\copy.ptr"
POINTER IDC_ALIAS          "..\\..\\..\\widget\\src\\os2\\res\\aliasb.ptr"
POINTER IDC_ZOOMIN         "..\\..\\..\\widget\\src\\os2\\res\\zoom_in.ptr"
POINTER IDC_ZOOMOUT        "..\\..\\..\\widget\\src\\os2\\res\\zoom_out.ptr"

POINTER IDC_ARROWWAIT      "..\\..\\..\\widget\\src\\os2\\res\\arrow_wait.ptr"
POINTER IDC_CROSS          "..\\..\\..\\widget\\src\\os2\\res\\crosshair.ptr"
POINTER IDC_HELP           "..\\..\\..\\widget\\src\\os2\\res\\help.ptr"
POINTER IDC_NONE           "..\\..\\..\\widget\\src\\os2\\res\\none.ptr"

ICON    IDC_DNDURL         "..\\..\\..\\widget\\src\\os2\\res\\dndurl.ico"
ICON    IDC_DNDTEXT        "..\\..\\..\\widget\\src\\os2\\res\\dndtext.ico"
#endif
