/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url(chrome://calendar/skin/common/today-pane.css);

#today-pane-panel {
  border-left: 1px solid ThreeDShadow;
}

#today-pane-panel:-moz-lwtheme > sidebarheader {
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0) 19px);
}

.miniday-nav-buttons {
  list-style-image: url("chrome://calendar/skin/widgets/nav-arrow.svg");
}

#previous-day-button:-moz-locale-dir(ltr),
#next-day-button:-moz-locale-dir(rtl) {
  -moz-transform: scaleX(-1);
}

#miniday-dropdown-button {
  max-width: 18px;
}

.today-closebutton {
  list-style-image: url("chrome://global/skin/icons/close.png");
  -moz-appearance: none;
  border: none !important;
  padding: 2px;
}

.today-closebutton > .toolbarbutton-icon {
  -moz-margin-end: 0px; /* override toolkit's default value */
}

#todaypane-new-event-button {
  -moz-image-region: rect(0px 16px 16px 0px);
}
#todaypane-new-event-button[disabled="true"],
#todaypane-new-event-button[disabled="true"]:hover,
#todaypane-new-event-button[disabled="true"]:hover:active {
  -moz-image-region: rect(32px 16px 48px 0px);
}
#todaypane-new-event-button:hover {
  -moz-image-region: rect(16px 16px 32px 0px);
}
