/* -*- Mode: C; c-basic-offset: 2 -*- */
/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://communicator/skin/bookmarks/bookmarks.css");

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#status-bar {
  height: 1em;
}

#panel-bar,
#search-bar {
  border-top: 1px solid ThreeDHighlight;
  border-bottom: 1px solid ThreeDShadow;
}

bookmarks-tree.inset {
  margin: 0px;
  -moz-border-top-colors: ThreeDDarkShadow ThreeDShadow;
  -moz-border-right-colors: ThreeDFace ThreeDHighlight;
  -moz-border-bottom-colors: ThreeDFace ThreeDHighlight;
  -moz-border-left-colors: ThreeDDarkShadow ThreeDShadow;
}
