
/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== messengercompose.css ===========================================
  == Styles for the main Messenger Compose window.
  ======================================================================= */

@import url("chrome://messenger/skin/");

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#msgcomposeWindow:-moz-lwtheme {
  background-repeat: no-repeat;
  background-position: top right;
}

#attachmentBucket {
  width: 15em;
  min-width: 15em;
}

/* ::::: primary toolbar buttons ::::: */

.toolbarbutton-1 {
  -moz-box-orient: vertical;
  min-width: 0px;
}

toolbox[labelalign="end"] .toolbarbutton-1 {
  -moz-box-orient: horizontal;
}

toolbox[labelalign="end"] .toolbarbutton-menubutton-button {
  -moz-box-orient: horizontal;
}

toolbox[labelalign="end"] .toolbarbutton-1 {
  -moz-box-orient: horizontal;
}

toolbox[labelalign="end"] > toolbar[mode="full"] .toolbarbutton-1 .toolbarbutton-text {
  -moz-padding-start: 2px;
}

toolbox[labelalign="end"] > toolbar[mode="full"] deck .toolbarbutton-text {
  text-align: start;
}

#button-send {
  list-style-image: url("chrome://messenger/skin/messengercompose/compose-toolbar.png");
  -moz-image-region: rect(0px 24px 24px 0px);
}

#button-send:hover {
  -moz-image-region: rect(24px 24px 48px 0px);
}

#button-send[disabled="true"] {
  -moz-image-region: rect(48px 24px 72px 0px) !important;
}

#button-contacts {
  list-style-image: url("chrome://messenger/skin/messengercompose/compose-toolbar.png");
  -moz-image-region: rect(0px 48px 24px 24px) !important;
}

#button-contacts:hover {
  -moz-image-region: rect(24px 48px 48px 24px) !important;
}

#button-contacts[disabled="true"] {
  -moz-image-region: rect(48px 48px 72px 24px) !important;
}

#spellingButton {
  list-style-image: url("chrome://messenger/skin/messengercompose/compose-toolbar.png");
  -moz-image-region: rect(0px 72px 24px 48px);
}

#spellingButton:hover {
  -moz-image-region: rect(24px 72px 48px 48px);
}

#spellingButton[disabled="true"] {
  -moz-image-region: rect(48px 72px 72px 48px) !important;
}

#button-attach {
  list-style-image: url("chrome://messenger/skin/messengercompose/compose-toolbar.png");
  -moz-image-region: rect(0px 96px 24px 72px);
}

#button-attach:hover {
  -moz-image-region: rect(24px 96px 48px 72px);
}

#button-attach[disabled="true"] {
  -moz-image-region: rect(48px 96px 72px 72px) !important;
}

#button-save {
  list-style-image: url("chrome://messenger/skin/messengercompose/compose-toolbar.png");
  -moz-image-region: rect(0px 144px 24px 120px);
}

#button-save:hover {
  -moz-image-region: rect(24px 144px 48px 120px);
}

#button-save[disabled="true"] {
  -moz-image-region: rect(48px 144px 72px 120px) !important;
}

#quoteButton {
  list-style-image: url("chrome://messenger/skin/messengercompose/compose-toolbar.png");
  -moz-image-region: rect(0px 168px 24px 144px);
}

#quoteButton:hover {
  -moz-image-region: rect(24px 168px 48px 144px);
}

#quoteButton[disabled="true"] {
  -moz-image-region: rect(48px 168px 72px 144px) !important;
}

#cut-button {
  list-style-image: url("chrome://messenger/skin/messengercompose/compose-toolbar.png");
  -moz-image-region: rect(0px 192px 24px 168px);
}

#cut-button:hover {
  -moz-image-region: rect(24px 192px 48px 168px);
}

#cut-button[disabled="true"] {
  -moz-image-region: rect(48px 192px 72px 168px) !important;
}

#copy-button {
  list-style-image: url("chrome://messenger/skin/messengercompose/compose-toolbar.png");
  -moz-image-region: rect(0px 216px 24px 192px);
}

#copy-button:hover {
  -moz-image-region: rect(24px 216px 48px 192px);
}

#copy-button[disabled="true"] {
  -moz-image-region: rect(48px 216px 72px 192px) !important;
}

#paste-button {
  list-style-image: url("chrome://messenger/skin/messengercompose/compose-toolbar.png");
  -moz-image-region: rect(0px 240px 24px 216px);
}

#paste-button:hover {
  -moz-image-region: rect(24px 240px 48px 216px);
}

#paste-button[disabled="true"] {
  -moz-image-region: rect(48px 240px 72px 216px) !important;
}


/* ::::: small primary toolbar buttons ::::: */

toolbar[iconsize="small"] #button-send {
  list-style-image: url("chrome://messenger/skin/messengercompose/compose-toolbar-small.png");
  -moz-image-region: rect(0px 16px 16px 0px);
}

toolbar[iconsize="small"] #button-send:hover {
  -moz-image-region: rect(16px 16px 32px 0px);
}

toolbar[iconsize="small"] #button-send[disabled] {
  -moz-image-region: rect(32px 16px 48px 0px) !important;
}

toolbar[iconsize="small"] #button-contacts {
  list-style-image: url("chrome://messenger/skin/messengercompose/compose-toolbar-small.png");
  -moz-image-region: rect(0px 32px 16px 16px) !important;
}

toolbar[iconsize="small"] #button-contacts:hover {
  -moz-image-region: rect(16px 32px 32px 16px) !important;
}

toolbar[iconsize="small"] #button-contacts[disabled] {
   -moz-image-region: rect(32px 32px 48px 16px) !important;
}

toolbar[iconsize="small"] #spellingButton {
  list-style-image: url("chrome://messenger/skin/messengercompose/compose-toolbar-small.png");
  -moz-image-region: rect(0px 48px 16px 32px);
}

toolbar[iconsize="small"] #spellingButton:hover {
  -moz-image-region: rect(16px 48px 32px 32px);
}

toolbar[iconsize="small"] #spellingButton[disabled="true"] {
  -moz-image-region: rect(32px 48px 48px 32px) !important;
}

toolbar[iconsize="small"] #button-attach {
  list-style-image: url("chrome://messenger/skin/messengercompose/compose-toolbar-small.png");
  -moz-image-region: rect(0px 64px 16px 48px);
}

toolbar[iconsize="small"] #button-attach:hover {
  -moz-image-region: rect(16px 64px 32px 48px);
}

toolbar[iconsize="small"] #button-attach[disabled] {
  -moz-image-region: rect(32px 64px 48px 48px) !important;
}

toolbar[iconsize="small"] #button-save {
  list-style-image: url("chrome://messenger/skin/messengercompose/compose-toolbar-small.png");
  -moz-image-region: rect(0px 96px 16px 80px);
}

toolbar[iconsize="small"] #button-save:hover {
  -moz-image-region: rect(16px 96px 32px 80px);
}

toolbar[iconsize="small"] #button-save[disabled] {
  -moz-image-region: rect(32px 96px 48px 80px) !important;
}

toolbar[iconsize="small"] #quoteButton {
  list-style-image: url("chrome://messenger/skin/messengercompose/compose-toolbar-small.png");
  -moz-image-region: rect(0px 112px 16px 96px);
}

toolbar[iconsize="small"] #quoteButton:hover {
  -moz-image-region: rect(16px 112px 32px 96px);
}

toolbar[iconsize="small"] #quoteButton[disabled="true"] {
  -moz-image-region: rect(32px 112px 48px 96px) !important;
}

toolbar[iconsize="small"] #cut-button {
  list-style-image: url("chrome://messenger/skin/messengercompose/compose-toolbar-small.png");
  -moz-image-region: rect(0px 128px 16px 112px);
}

toolbar[iconsize="small"] #cut-button:hover {
  -moz-image-region: rect(16px 128px 32px 112px);
}

toolbar[iconsize="small"] #cut-button[disabled="true"] {
  -moz-image-region: rect(32px 128px 48px 112px) !important;
}

toolbar[iconsize="small"] #copy-button {
  list-style-image: url("chrome://messenger/skin/messengercompose/compose-toolbar-small.png");
  -moz-image-region: rect(0px 144px 16px 128px);
}

toolbar[iconsize="small"] #copy-button:hover {
  -moz-image-region: rect(16px 144px 32px 128px);
}

toolbar[iconsize="small"] #copy-button[disabled="true"] {
  -moz-image-region: rect(32px 144px 48px 128px) !important;
}
toolbar[iconsize="small"] #paste-button {
  list-style-image: url("chrome://messenger/skin/messengercompose/compose-toolbar-small.png");
  -moz-image-region: rect(0px 160px 16px 144px);
}

toolbar[iconsize="small"] #paste-button:hover {
  -moz-image-region: rect(16px 160px 32px 144px);
}

toolbar[iconsize="small"] #paste-button[disabled="true"] {
  -moz-image-region: rect(32px 160px 48px 144px) !important;
}

/* ::::: special toolbar colors ::::: */

#MsgHeadersToolbar {
  color: -moz-DialogText;
  text-shadow: none;
  background-color: -moz-Dialog;
}

#appcontent {
  border-top: 1px solid ThreeDShadow;
  border-left: 1px solid ThreeDShadow;
  border-right: 1px solid ThreeDHighlight;
}

#attachmentbucket-sizer {
  border: none;
  background-color: transparent;
}

#attachmentBucketSize {
  opacity: 0.5; /* lower contrast */
  -moz-padding-end: 1px;
}

/* ::::: attachment reminder ::::: */

#attachmentNotificationBox > notification > .notification-inner {
  border-top: 1px solid ThreeDShadow;
  border-right: 1px solid ThreeDHighlight;
  border-left: 1px solid ThreeDShadow;
  border-bottom: none;
}

#attachmentNotificationBox > notification .messageImage {
  width: 24px;
  height: 24px;
  background-image: url(chrome://messenger/skin/messengercompose/compose-toolbar.png);
  background-position: -72px top;
}

#attachmentReminderText {
  -moz-margin-start: 0px;
  cursor: pointer;
}

#attachmentKeywords {
  font-weight: bold;
  -moz-margin-start: 0px;
  text-decoration: underline;
  cursor: pointer;
}

/* XXX I should really have a selector rule here to select just .listcell-icon objects underneath the attachmentList listbox */

.listcell-icon {
  -moz-margin-start: 2px;
  margin-top: 2px;
}

#compose-toolbar-sizer {
  border-top-width: 1px;
  border-left: none;
  border-right: none;
  -moz-border-top-colors: ThreeDHighlight;
  background-color: ThreeDFace;
}

#msgSubject {
  margin-bottom: 4px;
}

/* ::::: autocomplete icons ::::: */

treechildren::-moz-tree-image(local-abook) {
  -moz-margin-start: 2px;
  -moz-margin-end: 3px;
  list-style-image: url("chrome://messenger/skin/addressbook/icons/addrbook.png");
}

treechildren::-moz-tree-image(remote-abook) {
  -moz-margin-start: 2px;
  -moz-margin-end: 3px;
  list-style-image: url("chrome://messenger/skin/addressbook/icons/remote-addrbook.png");
}

treechildren::-moz-tree-image(remote-err) {
  -moz-margin-start: 2px;
  -moz-margin-end: 3px;
  list-style-image: url("chrome://messenger/skin/addressbook/icons/remote-addrbook-error.png");
}

/* ::::: addressing widget ::::: */

.autocomplete-treebody::-moz-tree-cell-text(comment) {
  color: #555566;
}

#addressingWidget {
  -moz-user-focus: none;
  -moz-appearance: none;
  width: 0;
  border: none;
  background-color: transparent;
}

#addressingWidget listboxbody {
  margin: 1px 0;
}

#textcol-addressingWidget {
  border: 1px solid threedshadow;
  background-color: -moz-field;
}

.addressingWidgetItem,
.dummy-row {
  background-color: transparent !important;
  border-width: 0;
  color: inherit !important;
}

.addressingWidgetCell {
  border-bottom: 1px solid #CACAFF;
  padding: 0px;
}

.addressingWidgetCell:first-child,
.dummy-row-cell:first-child {
  border-bottom: none;
}

.person-icon {
  margin: 0 3px;
  list-style-image: url("chrome://messenger/skin/addressbook/icons/abcard.png");
}

.aw-menulist {
  -moz-binding: url("chrome://global/content/bindings/menulist.xml#menulist");
  -moz-appearance: menulist;
  -moz-box-align: stretch;
  margin: 1px 0;
  -moz-margin-start: 7px;
  list-style-image: none;
}

.aw-menulist > .menulist-label-box {
  margin: 0;
}

/* set the dropmarker at the beginning of the aw-menulist */
.aw-menulist:-moz-locale-dir(ltr),
.aw-menulist > .menulist-label-box:-moz-locale-dir(rtl) {
  direction: rtl;
}

.aw-menulist:-moz-locale-dir(rtl),
.aw-menulist > .menulist-label-box:-moz-locale-dir(ltr) {
  direction: ltr;
}

.aw-menulist > .menulist-label-box > .menulist-icon {
  -moz-margin-start: 0;
}

.aw-menulist > .menulist-label-box > .menulist-label {
  margin: 0 1px !important;
}

/* ::::: format toolbar ::::: */

#FormatToolbox {
  border-top-width: 0;
  background-color: -moz-Dialog;
}

#FormatToolbar {
  border-top: 1px solid ThreeDHighlight !important;
}

toolbarbutton.formatting-button {
  list-style-image: url("chrome://messenger/skin/messengercompose/format-buttons.png");
}

#FormatToolbar > toolbarbutton > .toolbarbutton-text {
  display: none;
}

#DecreaseFontSizeButton {
  -moz-image-region: rect(0px 16px 16px 0px);
}
#DecreaseFontSizeButton[disabled="true"] {
  -moz-image-region: rect(32px 16px 48px 0px) !important;
}

#IncreaseFontSizeButton {
  -moz-image-region: rect(0px 32px 16px 16px);
}
#IncreaseFontSizeButton[disabled="true"] {
  -moz-image-region: rect(32px 32px 48px 16px) !important;
}

#boldButton {
  -moz-image-region: rect(0px 48px 16px 32px);
}
#boldButton[disabled="true"] {
  -moz-image-region: rect(32px 48px 48px 32px) !important;
}

#italicButton {
  -moz-image-region: rect(0px 64px 16px 48px);
}
#italicButton[disabled="true"] {
  -moz-image-region: rect(32px 64px 48px 48px) !important;
}

#underlineButton {
  -moz-image-region: rect(0px 80px 16px 64px);
}
#underlineButton[disabled="true"] {
  -moz-image-region: rect(32px 80px 48px 64px) !important;
}

#ulButton {
  -moz-image-region: rect(0px 96px 16px 80px);
}
#ulButton[disabled="true"] {
  -moz-image-region: rect(32px 96px 48px 80px) !important;
}

#olButton {
  -moz-image-region: rect(0px 112px 16px 96px);
}
#olButton[disabled="true"] {
  -moz-image-region: rect(32px 112px 48px 96px) !important;
}

#outdentButton {
  -moz-image-region: rect(0px 128px 16px 112px);
}
#outdentButton[disabled="true"] {
  -moz-image-region: rect(32px 128px 48px 112px) !important;
}

#indentButton {
  -moz-image-region: rect(0px 144px 16px 128px);
}
#indentButton[disabled="true"] {
  -moz-image-region: rect(32px 144px 48px 128px) !important;
}

#AlignPopupButton {
  -moz-image-region: rect(0px 176px 16px 160px);
}
#AlignPopupButton[disabled="true"] {
  -moz-image-region: rect(32px 176px 48px 160px) !important;
}

#InsertPopupButton {
  -moz-image-region: rect(0px 256px 16px 240px);
}
#InsertPopupButton[disabled="true"] {
  -moz-image-region: rect(32px 256px 48px 240px) !important;
}

#smileButtonMenu {
  -moz-image-region: rect(0px 304px 16px 288px);
}
#smileButtonMenu[disabled="true"] {
  -moz-image-region: rect(32px 304px 48px 288px) !important;
}

/* ..... align menu ..... */

#AlignPopup > menuitem {
  list-style-image: url("chrome://messenger/skin/messengercompose/format-buttons.png");
}

#AlignLeftItem {
  -moz-image-region: rect(0px 160px 16px 144px);
}

#AlignCenterItem {
  -moz-image-region: rect(0px 176px 16px 160px);
}

#AlignRightItem {
  -moz-image-region: rect(0px 192px 16px 176px);
}

#AlignJustifyItem {
  -moz-image-region: rect(0px 208px 16px 192px);
}

/* ..... insert menu ..... */

#InsertPopup > menuitem {
  list-style-image: url("chrome://messenger/skin/messengercompose/format-buttons.png");
}

#InsertLinkItem {
  -moz-image-region: rect(0px 224px 16px 208px);
}

#InsertAnchorItem {
  -moz-image-region: rect(0px 240px 16px 224px);
}

#InsertImageItem {
  -moz-image-region: rect(0px 256px 16px 240px);
}

#InsertHRuleItem {
  -moz-image-region: rect(0px 272px 16px 256px);
}

#InsertTableItem {
  -moz-image-region: rect(0px 288px 16px 272px);
}

/* ..... smiley menu ..... */

#smileySmile > .menu-iconic-left {
  list-style-image: url("chrome://communicator/skin/icons/smileys/smiley-smile.png");
  -moz-image-region: auto; /* cut off inheritance */
}

#smileyFrown > .menu-iconic-left {
  list-style-image: url("chrome://communicator/skin/icons/smileys/smiley-frown.png");
  -moz-image-region: auto; /* cut off inheritance */
}

#smileyWink > .menu-iconic-left {
  list-style-image: url("chrome://communicator/skin/icons/smileys/smiley-wink.png");
  -moz-image-region: auto; /* cut off inheritance */
}

#smileyTongue > .menu-iconic-left {
  list-style-image: url("chrome://communicator/skin/icons/smileys/smiley-tongue-out.png");
  -moz-image-region: auto; /* cut off inheritance */
}

#smileyLaughing > .menu-iconic-left {
  list-style-image: url("chrome://communicator/skin/icons/smileys/smiley-laughing.png");
  -moz-image-region: auto; /* cut off inheritance */
}

#smileyEmbarassed > .menu-iconic-left {
  list-style-image: url("chrome://communicator/skin/icons/smileys/smiley-embarassed.png");
  -moz-image-region: auto; /* cut off inheritance */
}

#smileyUndecided > .menu-iconic-left {
  list-style-image: url("chrome://communicator/skin/icons/smileys/smiley-undecided.png");
  -moz-image-region: auto; /* cut off inheritance */
}

#smileySurprise > .menu-iconic-left {
  list-style-image: url("chrome://communicator/skin/icons/smileys/smiley-surprised.png");
  -moz-image-region: auto; /* cut off inheritance */
}

#smileyKiss > .menu-iconic-left {
  list-style-image: url("chrome://communicator/skin/icons/smileys/smiley-kiss.png");
  -moz-image-region: auto; /* cut off inheritance */
}

#smileyYell > .menu-iconic-left {
  list-style-image: url("chrome://communicator/skin/icons/smileys/smiley-yell.png");
  -moz-image-region: auto; /* cut off inheritance */
}

#smileyCool > .menu-iconic-left {
  list-style-image: url("chrome://communicator/skin/icons/smileys/smiley-cool.png");
  -moz-image-region: auto; /* cut off inheritance */
}

#smileyMoney > .menu-iconic-left {
  list-style-image: url("chrome://communicator/skin/icons/smileys/smiley-money-mouth.png");
  -moz-image-region: auto; /* cut off inheritance */
}

#smileyFoot > .menu-iconic-left {
  list-style-image: url("chrome://communicator/skin/icons/smileys/smiley-foot-in-mouth.png");
  -moz-image-region: auto; /* cut off inheritance */
}

#smileyInnocent > .menu-iconic-left {
  list-style-image: url("chrome://communicator/skin/icons/smileys/smiley-innocent.png");
  -moz-image-region: auto; /* cut off inheritance */
}

#smileyCry > .menu-iconic-left {
  list-style-image: url("chrome://communicator/skin/icons/smileys/smiley-cry.png");
  -moz-image-region: auto; /* cut off inheritance */
}

#smileySealed > .menu-iconic-left {
  list-style-image: url("chrome://communicator/skin/icons/smileys/smiley-sealed.png");
  -moz-image-region: auto; /* cut off inheritance */
}

/* ..... fg/bg color picker ..... */

.ColorPickerLabel {
  border: 1px inset ThreeDFace;
  margin: 0px;
  padding: 2px;
}

.color-button {
  border: 1px inset ThreeDFace;
  padding: 0px;
  width: 14px;
  height: 12px;
  margin: 2px;
}

.color-button:hover {
  border: 1px solid ThreeDDarkShadow;
}

.color-button[disabled="true"],
.color-button[disabled="true"]:hover {
  border: 1px inset ThreeDFace;
  opacity: 0.5;
}

#TextColorButton {
  margin-top: 2px;
  margin-bottom: 9px;
  -moz-margin-start: 2px;
  -moz-margin-end: 9px;
}

#BackgroundColorButton {
  margin-top: 9px;
  margin-bottom: 2px;
  -moz-margin-start: 9px;
  -moz-margin-end: 2px;
}

#HighlightColorButton {
  -moz-image-region: rect(260px 16px 272px 0px);
  background-color: transparent;
}

#HighlightColorButton:hover {
  -moz-image-region: rect(260px 32px 272px 16px);
}

#HighlightColorButton:hover:active {
  -moz-image-region: rect(260px 48px 272px 32px);
}

#HighlightColorButton[disabled="true"],
#HighlightColorButton[disabled="true"]:hover,
#HighlightColorButton[disabled="true"]:hover:active {
  -moz-image-region: rect(260px 64px 272px 48px);
}

/* ::::: address book sidebar ::::: */

#sidebar-box sidebarheader {
  -moz-appearance: toolbox;
  color: -moz-DialogText;
  text-shadow: none;
  background-color: -moz-Dialog;
}

.ab-closebutton {
  list-style-image: url("chrome://messenger/skin/icons/close-button.png");
  -moz-image-region: rect(0 16px 16px 0);
  -moz-appearance: none;
  border: none !important;
  padding: 2px;
}

.ab-closebutton:hover {
  -moz-image-region: rect(0 32px 16px 16px);
}

.ab-closebutton:hover:active {
  -moz-image-region: rect(0 48px 16px 32px);
}

.ab-closebutton > .toolbarbutton-icon {
  -moz-margin-end: 0px; /* override toolkit's default value */
}

#sidebar {
  background-color: Window;
}

#sidebar-splitter {
  background-color: ThreeDFace;
}
