/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

treechildren::-moz-tree-image(leaf),
treechildren::-moz-tree-cell(leaf) {
  cursor: pointer;
}

treechildren::-moz-tree-cell-text(leaf, hover) {
  cursor: pointer;
  text-decoration: underline;
}

treechildren::-moz-tree-cell(separator) {
  cursor: default;
}
