[%# 1.0@bugzilla.org %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Gervase Markham <gerv@gerv.net>
  #                 Greg Hendricks <ghendricks@novell.com>
  #%]

[% PROCESS global/variables.none.tmpl %]
[% PROCESS testopia/blocks.html.tmpl %]
[% PROCESS testopia/style.none.tmpl %]

[% javascript_urls.push("testopia/js/plan.js") %]

[% PROCESS global/header.html.tmpl
   title = "Choose a Test Plan"
 %]

<script type="text/javascript">
Ext.onReady(function(){
    
    var chooser = new Testopia.Util.PlanSelector([% product.id || 'null' FILTER none %], {action: '[% form_action FILTER js %]', bug_id: [% bug_id || 'null' FILTER none %]});
    chooser.render('plan_chooser');
}); 
</script>

<form method="get" action="[% form_action %]">
  <p>
    [% IF bug_id %]
      <input type="hidden" name="bug" value="[% bug_id FILTER none %]" />
    [% END %]
      Please enter a plan id:
      <input name="plan_id" size="6">
      <input type="submit" value="Use This Test Plan">
  </p>
</form>

<b>OR</b> Select from the following:
<div id="plan_chooser"></div>

[% PROCESS global/footer.html.tmpl %]
