/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

treenode-checkbox {
  -moz-binding: url("chrome://calendar/content/widgets/calendar-widgets.xml#treenode-checkbox");
}

modebox {
  -moz-binding: url(chrome://calendar/content/widgets/calendar-widgets.xml#modebox);
  -moz-user-focus: normal;
}

modevbox {
  -moz-binding: url(chrome://calendar/content/widgets/calendar-widgets.xml#modevbox);
  -moz-user-focus: normal;
}

modehbox {
  -moz-binding: url(chrome://calendar/content/widgets/calendar-widgets.xml#modehbox);
  -moz-user-focus: normal;
}

toolbarbutton[doubleimage="true"] {
  -moz-binding: url(chrome://calendar/content/widgets/calendar-widgets.xml#doubleimage-toolbarbutton);
}

toolbarbutton[todaypane="true"] {
  -moz-binding: url(chrome://calendar/content/widgets/calendar-widgets.xml#todaypane-toolbarbutton);
}

minimonth {
  -moz-binding: url("chrome://calendar/content/widgets/minimonth.xml#minimonth");
}

.minimonth-day {
  -moz-binding: url("chrome://calendar/content/widgets/minimonth.xml#minimonth-day");
}

minimonth-header {
  -moz-binding: url("chrome://calendar/content/widgets/minimonth.xml#active-minimonth-header");
}

minimonth-header[readonly="true"] {
  -moz-binding: url("chrome://calendar/content/widgets/minimonth.xml#minimonth-header");
}

dragndropContainer {
   -moz-binding: url(chrome://calendar/content/widgets/calendar-widgets.xml#dragndropContainer);
}

tab[calview] {
   -moz-binding: url(chrome://calendar/content/widgets/calendar-widgets.xml#view-tab);
}

calendar-list-tree {
   -moz-binding: url(chrome://calendar/content/widgets/calendar-list-tree.xml#calendar-list-tree);
}

calendar-list-tree[type="full"] {
   -moz-binding: url(chrome://calendar/content/widgets/calendar-list-tree.xml#full-calendar-list-tree);
}

menulist[type="panel-menulist"] {
   -moz-binding: url(chrome://calendar/content/widgets/calendar-widgets.xml#panel-menulist);
}

panel[type="category-panel"] {
   -moz-binding: url(chrome://calendar/content/widgets/calendar-widgets.xml#category-panel);
}
