[%# ***** BEGIN LICENSE BLOCK *****
  # Version: MPL 1.1
  #
  # The contents of this file are subject to the Mozilla Public License Version
  # 1.1 (the "License"); you may not use this file except in compliance with
  # the License. You may obtain a copy of the License at
  # http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS IS" basis,
  # WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License
  # for the specific language governing rights and limitations under the
  # License.
  #
  # The Original Code is Litmus.
  #
  # The Initial Developer of the Original Code is
  # The Mozilla Corporation.
  # Portions created by the Initial Developer are Copyright (C) 2006
  # the Initial Developer. All Rights Reserved.
  #
  # Contributor(s):
  #   Chris Cooper <ccooper@deadsquid.com>
  #   Zach Lipton <zach@zachlipton.com>
  #
  # ***** END LICENSE BLOCK *****
#%]

[%# INTERFACE:
  # $subgroup   - the subgroup object to show
  # $show_config  - display the config options (testgroup, etc.)
  #                 for a given subgroup
  # $show_edit (optional) - display subgroup for editing
#%]
<table class="manage">
  <tr>
    <td class="headerleft">Subgroup ID #:</td>
    <td id="subgroup_id_display">[% subgroup.subgroup_id | html %]</td>
  </tr>
  <tr>
    <td class="headerleft">Name:</td>
    <td id="subgroup_name_display">[% subgroup.name | html %]</td>
  </tr>
  <tr>
    <td class="headerleft"><b>Product:</b></td>
    <td id="subgroup_product_name_display">[% subgroup.product.name | html %]</td>
  </tr>
  <tr>
  <td class="headerleft">Branch:</td>
  <td id="subgroup_branch_name_display">[% subgroup.branch.name | html %]</td>
  </tr>

  [% IF show_admin %]
  <tr>
    <td class="headerleft">Enabled?</td>
    <td id="subgroup_enabled_display">[% IF subgroup.enabled %]Yes[% ELSE %]No[% END %]</td>
  </tr>
  <tr>
    <td class="headerleft">Created By:</div></td>
    <td id="subgroup_creator_display">[% subgroup.creator_id.email || "Not specified" | html %]</td>
  </tr>
  [% END %]
  
  <tr>
    <td class="headerleft">Creation Date:</td>
    <td id="subgroup_creation_date_display">[% subgroup.creation_date %]</td>
  </tr>

  <tr>
    <td class="headerleft">Last Updated:</td>
    <td id="subgroup_last_updated_display">[% subgroup.last_updated %]</td>
  </tr>
  
  <tr>
    <td><b>Test Group(s):</b></td>
    <td id="testgroups_display">
      [% IF testgroups AND testgroups.size>0 %][% FOREACH testgroup=testgroups %][% testgroup.name | html %][% UNLESS loop.last %], [% END %][% END %][% ELSE %]<span class="errorHeading">This subgroup does not belong to any testgroups that are currently enabled.</span>[% END %]
    </td>
  </tr>
  
</table>