<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferredSearchEngine</key>
	<string>Google</string>
	<key>SearchEngineList</key>
	<array>
		<dict>
			<key>SearchEngineName</key>
			<string>Google</string>
			<key>SearchEngineURL</key>
			<string>http://www.google.com/search?q=%s&amp;ie=utf-8&amp;oe=utf-8</string>
		</dict>
		<dict>
			<key>SearchEngineName</key>
			<string>Google Images</string>
			<key>SearchEngineURL</key>
			<string>http://images.google.com/images?ie=UTF-8&amp;oe=UTF-8&amp;q=%s</string>
		</dict>
		<dict>
			<key>SearchEngineName</key>
			<string>Search this Site</string>
			<key>SearchEngineURL</key>
			<string>http://www.google.com/search?ie=UTF-8&amp;oe=UTF-8&amp;q=%s site:%d</string>
		</dict>
	</array>
</dict>
</plist>
