/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

%include activity.css

@media all and (-moz-windows-compositor) {
  #activityManager {
    -moz-appearance: -moz-win-glass;
    background: transparent;
  }

  .activityview {
    border: 1px solid rgba(10%, 10%, 10%, .4);
    background-clip: padding-box
  }

  #clearListButton {
    -moz-margin-start: 0;
    margin-bottom: 0;
  }
}
