/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url(chrome://calendar/skin/common/widgets/calendar-widgets.css);

treenode-checkbox[checked="true"] > .checkbox-check {
  -moz-appearance: treetwistyopen;
}

treenode-checkbox > .checkbox-check {
  -moz-appearance: treetwisty;
}

#task-tree-filtergroup {
  -moz-padding-start: 18px;
}

calendar-list-tree .tree-scrollable-columns {
   -moz-padding-start: 18px;
}
