[%# ***** BEGIN LICENSE BLOCK *****
  # Version: MPL 1.1
  #
  # The contents of this file are subject to the Mozilla Public License Version
  # 1.1 (the "License"); you may not use this file except in compliance with
  # the License. You may obtain a copy of the License at
  # http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS IS" basis,
  # WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License
  # for the specific language governing rights and limitations under the
  # License.
  #
  # The Original Code is Litmus.
  #
  # The Initial Developer of the Original Code is
  # The Mozilla Corporation.
  # Portions created by the Initial Developer are Copyright (C) 2006
  # the Initial Developer. All Rights Reserved.
  #
  # Contributor(s):
  #   Chris Cooper <ccooper@deadsquid.com>
  #   Zach Lipton <zach@zachlipton.com>
  #
  # ***** END LICENSE BLOCK *****
#%]
  
[% INCLUDE global/html_header.tmpl %]
[% INCLUDE global/litmus_header.tmpl %]

<script type="text/javascript">
var current_user_id=[% user.user_id || 0 %];
</script>

<div id="page">

[% INCLUDE sidebar/sidebar.tmpl %]

  <div id="content">

    <h1 id="clone_testgroup_header" name="clone_testgroup_header" class="firstHeading">Clone testgroup</h1>

    <div class="section-full">
      <div class="section-header">Existing testgroup</div>
      <div class="section-content">
        [% INCLUDE testgroup/testgroup.tmpl testgroup=testgroup %]
      </div>

      <hr />

      <br/>

      <div class="section-header">Information for New Cloned Testgroup</div>
      <div class="section-content">
      <form id="clone_testgroup_form" name="clone_testgroup_form" method="post" action="manage_testgroups.cgi" onSubmit="">
        <input type="hidden" id="testgroup_id" name="testgroup_id" value="[% testgroup.testgroup_id %]" />
        <table class="manage">
          <tr>
            <td width="100px" class="headerleft" rowspan="3">Type of clone:</td>
            <td><input type="radio" id="simple" name="clone_type" value="simple" checked onClick="disableCloneUpdateFields();"/>&nbsp;<label for="simple">Simple</label>
            <td class="description" width="300px"><p>Clone only the testgroup information without any associations. You
            will need to add subgroups to the new testgroup by hand.</p></td>
          </tr>
          <tr>
            <td><input type="radio" id="preserve" name="clone_type" value="preserve" onClick="disableCloneUpdateFields();"/>&nbsp;<label for="preserve">Preserve</label>
            <td class="description"><p>Clone the testgroup, preserving the same linkages to existing subgroups.</p></td>
          </tr>
          <tr>
            <td><input type="radio" id="recursive" name="clone_type" value="recursive" onClick="enableCloneUpdateFields();"/>&nbsp;<label for="recursive">Recursive</label>
            <td class="description"><p>Clone the testgroup, and then make clones of all component
            subgroups/testcases.</p></td>
          </tr>
          <tr>
            <td class="headerleft">New Name:</td>
            <td><input name="new_testgroup_name"
                                   id="new_testgroup_name"
                                   value="[% testgroup.name %]"
                                   size="25"/></td>
          </tr>
          <tr class="disabled" id="update_names" name="update_names">
            <td class="headerleft">Update names recursively:</td>
            <td>Change:<br/><input name="old_name_regexp"
                     id="old_name_regexp"
                     value=""
                     size="25" disabled/><br/>
            To:<br/>
              <input name="new_name_regexp"
                       id="new_name_regexp"
                       value=""
                       size="25" disabled/>             
            </td>
            <td class="description"><p>When cloning recursively, you can specify a
            pair of strings that will be used to update the names of the
            cloned subsidiary components. This can save you some time vs.
            updating them all by hand.</p>
            <p>e.g. Change "2.0" To "3.0" would change all occurences of "2.0"
            to "3.0" in the names of all cloned subgroups and testcases.</p>
            </td>
          </tr>
          <tr>
          <td colspan="3" align="right"><input class="button" type="submit" id="clone_testgroup_button" name="clone_testgroup_button" value="Clone testgroup" />
          </td>
          </tr>
        </table>
        </form>
      </div>
    </div>


  </div> <!--END content-->

  <script language="JavaScript" type="text/Javascript" src="js/Litmus.js"></script>
  <script language="JavaScript" type="text/Javascript" src="js/ManageTestgroups.js"></script>

</div> <!--END page-->

[% INCLUDE global/litmus_footer.tmpl %]
[% INCLUDE global/html_footer.tmpl %]



