[%# ***** BEGIN LICENSE BLOCK *****
  # Version: MPL 1.1
  #
  # The contents of this file are subject to the Mozilla Public License Version
  # 1.1 (the "License"); you may not use this file except in compliance with
  # the License. You may obtain a copy of the License at
  # http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS IS" basis,
  # WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License
  # for the specific language governing rights and limitations under the
  # License.
  #
  # The Original Code is Litmus.
  #
  # The Initial Developer of the Original Code is
  # The Mozilla Corporation.
  # Portions created by the Initial Developer are Copyright (C) 2006
  # the Initial Developer. All Rights Reserved.
  #
  # Contributor(s):
  #   Chris Cooper <ccooper@deadsquid.com>
  #   Zach Lipton <zach@zachlipton.com>
  #
  # ***** END LICENSE BLOCK *****
#%]

[%# INTERFACE:
  # $subgroup - the subgroup object to show
#%]

      <form id="edit_subgroup_form" name="edit_subgroup_form" method="post" action="manage_subgroups.cgi" onSubmit="selectNone('testcases_for_product');selectAll('subgroup_testcases');return checkFormContents(this);">
      <input id="mode" name="mode" type="hidden" value="edit">
      <input id="editform_subgroup_id" name="editform_subgroup_id" type="hidden" value="">

      <table class="manage">
	<tr>
	<td class="headerleft">Subgroup ID#:</td>
	<td name="subgroup_id_display" id="subgroup_id_display"></td>
	</tr>
        <tr>
        <td class="headerleft">Name:</td>
        <td><input name="name"
                   id="name"
                   value=""
                   size="35"/ disabled></td>
        </tr>
	<tr>
	<td class="headerleft">Product:</td>
	<td>[% INCLUDE form_widgets/select_product_id.tmpl name="product" placeholder=1 size=1 display_id=1 onchange="changeProduct();populateBranches(document.getElementById('branch'),document.getElementById('product'));populateAllTestcases();" %]</td>
	</tr>
        <tr>
        <td class="headerleft">Branch:</td>
        <td>[% INCLUDE form_widgets/select_branch_id.tmpl name="branch" placeholder=1 size=1 display_id=1 onchange="populateAllTestcases();" %]</td>
        </tr>
	<tr>
	<td class="headerleft">Test Group(s):</td>
	<td colspan="2">
          <div id="testgroups_link_display">[% IF testgroups.size==0 %]<span class="errorHeading">This testcase does not belong to any testgroups that are currently enabled.</span>[% ELSE %][% FOREACH testgroup=testgroups %][% testgroup.name | html %][% UNLESS loop.last %], [% END %][% END %][% END %]</div>
        </td>
        </tr>
        <tr>
          <td class="headerleft">Enabled?</td>
          <td>
            <input name="enabled" 
                   type="checkbox"
                   id="enabled"
                   value="1" disabled
		   onchange="if (this.checked == false) {document.getElementById('communityenabled').checked =false;}">
          </td>
          <td>&lArr;&nbsp;Uncheck this to completely disable this subgroup.</td>
        </tr>
        <tr>
          <td class="headerleft">Testrunner Group ID#:</td>
          <td name="testrunner_group_id" id="testrunner_group_id"></td>
        </tr>
	<tr>
	<td colspan="3"><hr/></td>
        </tr> 
	<tr>
	<td class="headerleft" colspan="3">Manage Testcases for this Subgroup</td>
        </tr> 
	<tr>
	<td colspan="3">
	<div class="manage">
          <table border="0" cellspacing="10" cellpadding="0">
            <tr>
            <td id="testcases_for_product_header" name="testcases_for_product_header" class="headerleft">All Testcases For Product/Branch</td>
            <td></td>
            <td class="headerleft">Testcases in Subgroup</td>
            </tr>
            <tr>
            <td><select multiple class="testcase-subgroups" id="testcases_for_product" name="testcases_for_product" size="15">
            <option value="">--No product selected--</option>
            </select></td>
            <td align="center" valign="middle"><input id="add_testcase_button" name="add_testcase_button" type="button" value="&rArr;" onClick="copyToList('testcases_for_product','subgroup_testcases');"><br/><br/><input id="remove_testcase_button" name="remove_testcase_button" type="button" value="&lArr;" onClick="removeSelectedFromList('subgroup_testcases',true);"></td>
            <td><select multiple class="testcase-subgroups" id="subgroup_testcases" name="subgroup_testcases" size="15">
            <option value="">--No subgroup selected--</option>
            </select></td>
            <td align="center" valign="middle"><input id="move_testcase_up_button" name="move_testcase_up_button" type="button" value="&uArr;" onClick="up('subgroup_testcases');"><br/><br/><input id="move_testcase_down_button" name="move_testcase_down_button" type="button" value="&dArr;" onClick="down('subgroup_testcases');"></td>
            </tr>
            <tr>
            <td align="right">&uArr;&nbsp;<a name="previewTestcase" onclick="previewTestcase('testcases_for_product');">Preview Testcase</a></td>
            <td></td>
            <td align="right">&uArr;&nbsp;<a name="previewTestcase" onclick="previewTestcase('subgroup_testcases');">Preview Testcase</a></td> 
            <td></td>
            </tr>            
            <tr>
            <td colspan="3" align="right">&uArr;&nbsp;<a name="showManageTestcasesHelp" onclick="toggleHelp(manageTestcasesHelpTitle,manageTestcasesHelpText);">Help with Managing Testcases</a></td>
            <td></td>
            </tr>
          </table>
          </div>
        </td>
	</tr>
        <tr>
          <td colspan="3" align="right"><input id="reset" class="button" type="button" value="Reset" disabled onClick="resetSubgroup();" />&nbsp;<input class="button" type="submit" id="submit" name="submit" value="Submit Edits" disabled /></div> 
          </td>
        </tr>	
      </table>

      </form>
