[%# ***** BEGIN LICENSE BLOCK *****
  # Version: MPL 1.1
  #
  # The contents of this file are subject to the Mozilla Public License Version
  # 1.1 (the "License"); you may not use this file except in compliance with
  # the License. You may obtain a copy of the License at
  # http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS IS" basis,
  # WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License
  # for the specific language governing rights and limitations under the
  # License.
  #
  # The Original Code is Litmus.
  #
  # The Initial Developer of the Original Code is
  # The Mozilla Corporation.
  # Portions created by the Initial Developer are Copyright (C) 2006
  # the Initial Developer. All Rights Reserved.
  #
  # Contributor(s):
  #   Chris Cooper <ccooper@deadsquid.com>
  #   Zach Lipton <zach@zachlipton.com>
  #
  # ***** END LICENSE BLOCK *****
#%]

[%# INTERFACE:
  # $testcase   - the testcase object to show
#%]

[% INCLUDE test/formattingHelp.js.tmpl %]

      <form id="edit_testcase_form" name="edit_testcase_form" method="post" action="manage_testcases.cgi" onSubmit="updatePersistVars();return checkFormContents(this);">
      <input id="mode" name="mode" type="hidden" value="edit">
      <input id="editform_testcase_id" name="editform_testcase_id" type="hidden" value="">
      <input id="product_persist" name="product_persist" type="hidden" value="" />
      <input id="branch_persist" name="branch_persist" type="hidden" value="" />
      <input id="testgroup_persist" name="testgroup_persist" type="hidden" value="" />
      <input id="subgroup_persist" name="subgroup_persist" type="hidden" value="" />

      <table cellspacing="0" cellpadding="0" class="tcm">
	<tr>
	<td><div class="dh">Testcase ID#:</div></td>
	<td name="testcase_id_display_edit" id="testcase_id_display_edit"></td>
	</tr>
	<tr>
	<td><div class="dh">Summary:</div></td>
	<td colspan="2"><input name="summary"
                   id="summary"
                   value=""
                   size="55"/ disabled></td>
	</tr>

	<tr>
	<td><div class="dh">Product:</div></td>
	<td>[% INCLUDE form_widgets/select_product_id.tmpl name="product" placeholder=1 size=1 display_id=1  onchange="changeProduct();populateBranches(document.getElementById('branch'),document.getElementById('product'));" %]</td>
	</tr>
        <tr>
        <td><div class="dh">Branch:</div></td>
        <td>[% INCLUDE form_widgets/select_branch_id.tmpl name="branch" placeholder=1 size=1 display_id=1 onchange="changeBranchForTestcase();"%]</td>
	</tr>
        <tr>
          <td><div class="dh">Regression Bug ID#:</div></td>
          <td><input name="regression_bug_id" 
                     type="text"
                     id="regression_bug_id"
                     value="" disabled>
          </td>
        </tr>
        <tr>
          <td><div class="dh"><label for="enabled">Enabled?</label></div></td>
          <td>
            <input name="enabled" 
                   type="checkbox"
                   id="enabled"
                   value="1" disabled
		   onchange="if (this.checked == false) {document.getElementById('communityenabled').checked =false;}">
          </td>
          <td>&lArr;&nbsp;Uncheck this to completely disable this testcase.</td>
        </tr>
        <tr>
          <td><div class="dh"><label for="communityenabled">Community Enabled?</label></div></td>
          <td>
            <input name="communityenabled" 
                   type="checkbox"
                   id="communityenabled"
                   value="1" disabled
		   onchange="if (this.checked == true) {document.getElementById('enabled').checked =true;}">
          </td>
          <td>&lArr;&nbsp;Uncheck this to disable this testcase for the community-at-large.<br/>Note: trusted testers will still be able to see and run this testcase.</td>
        </tr>
        
        <tr>
          <td><div class="dh">Author:</div></td>
	<td>[% INCLUDE form_widgets/select_author.tmpl name="author_id" disabled=1 placeholder=1 %]
        </tr>
        <tr>
          <td><div class="dh">Creation Date:</div></td>
          <td name="creation_date" id="creation_date"></td>
        </tr>
        <tr>
          <td><div class="dh">Last Updated:</div></td>
          <td name="last_updated" id="last_updated"></td>
        </tr>
        <tr>
          <td><div class="dh">Litmus Version:</div></td>
          <td name="litmus_version" id="litmus_version"></td>
        </tr>

        </table>

        <br/>

        <table class="tcm" cellspacing="0" cellpadding="0">
            <tr>
            <td width="50%" class="content"><div class="dh">Steps to Perform:</div>
              <div class="dv"><textarea name="steps"
                                        id="steps"
                                        rows="10" cols="40" disabled></textarea></div>
            </td>
            <td width="50%" class="content"><div class="dh">Expected Results:</div>
              <div class="dv"><textarea name="results"
                                        id="results"
                                        rows="10" cols="40" disabled></textarea></div>
            </td>
            </tr>
	    <tr>
            <td class="content" align="right">&uArr;&nbsp;<a name="stepsPreview" onClick="var newwin = window.open('preview.cgi?preview=' + encodeURIComponent(document.getElementById('steps').value),'preview_window','height=400,width=400,resizeable=yes,scrollable=yes');newwin.focus();">Preview</a></td>
            <td class="content" align="right">&uArr;&nbsp;<a name="resultsPreview" onClick="var newwin = window.open('preview.cgi?preview=' + encodeURIComponent(document.getElementById('results').value),'preview_window','height=400,width=400,resizeable=yes,scrollable=yes');newwin.focus();">Preview</a></td>
            </tr>
            <tr>
            <td class="content" colspan="2" align="right">&uArr;&nbsp;<a name="showFormattingHelp" onclick="toggleHelp(formattingHelpTitle,formattingHelpText);">Formatting Help</a></td>
            </tr>
        </table>

        <br/>

        <table class="tcm" cellspacing="0" cellpadding="0">

	<tr>
          <td class="content"><div class="dh">Manage Testgroups/Subgroups</div></td>
        </tr>

        <tr>
          <td class="content" colspan="3">
            <table class="newSubgroups" id="tblNewSubgroups" name="tblNewSubgroups" border="0" cellspacing="5" cellpadding="0">

            <tr>
              <td><div class="dh">Testgroup</div></td>
              <td><div class="dh">Subgroup</div></td>
            </tr>

            <tr>
              <td valign="bottom">[% INCLUDE form_widgets/select_testgroup_id.tmpl name="testgroup_new_1" placeholder=1 size=1 show_name=1 display_id=1 onchange="changeTestgroupForTestcase('_new_1');" %]</td>
              <td valign="bottom">[% INCLUDE form_widgets/select_subgroup_id.tmpl name="subgroup_new_1" placeholder=1 size=1 show_name=1 display_id=1 multiple=1 classname="select_subgroup" %]</td>
              <td valign="top"><input type="button" class="button" onclick="removeRowFromTable('tblNewSubgroups');" value="-" /></td>
              <td vvalign="top"><input type="button" class="button" onclick="addRowToTable('tblNewSubgroups');" value="+" /></td>
            </tr>
          </table>
          
          </td>
        </tr>

        </table>

        <table width="100%">
        <tr>
          <td colspan="3" align="right"><input id="reset" class="button" type="button" value="Reset" disabled onClick="resetTestcase();" />&nbsp;<input class="button" type="submit" id="submit" name="submit" value="Submit Edits" disabled /></div> 
          </td>
        </tr>	
      </table>

      </form>
