[%# ***** BEGIN LICENSE BLOCK *****
  # Version: MPL 1.1
  #
  # The contents of this file are subject to the Mozilla Public License Version
  # 1.1 (the "License"); you may not use this file except in compliance with
  # the License. You may obtain a copy of the License at
  # http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS IS" basis,
  # WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License
  # for the specific language governing rights and limitations under the
  # License.
  #
  # The Original Code is Litmus.
  #
  # The Initial Developer of the Original Code is
  # The Mozilla Corporation.
  # Portions created by the Initial Developer are Copyright (C) 2006
  # the Initial Developer. All Rights Reserved.
  #
  # Contributor(s):
  #   Chris Cooper <ccooper@deadsquid.com>
  #   Zach Lipton <zach@zachlipton.com>
  #
  # ***** END LICENSE BLOCK *****
#%]
  
[% INCLUDE global/html_header.tmpl %]
[% INCLUDE global/litmus_header.tmpl %]

<script type="text/javascript">
var products=[% products_js %];
var branches=[% branches_js %];
var testgroups=[% testgroups_js %];

</script>

<div id="page">

[% INCLUDE sidebar/sidebar.tmpl %]

  <div id="content">

	[% IF defaultemail.isSuperUser %]
      [% INCLUDE admin/form_widgets/update_products.tmpl %]
      [% INCLUDE admin/form_widgets/update_platforms.tmpl %]
      [% INCLUDE admin/form_widgets/update_opsyses.tmpl %]
    [% END %]
    
    [% IF ! defaultemail.isSuperUser %]
      <div class="login_important">
        Note: as you are not a Litmus super-administrator, you will only be 
        permitted to edit branches. To manage products, platforms, or operating 
        systems, please contact an administrator.
      </div>
    [% END %]
    
    [% INCLUDE admin/form_widgets/update_branches.tmpl %]

  </div> <!--END content-->

  <script language="JavaScript" type="text/Javascript" src="js/Litmus.js"></script>
  <script language="JavaScript" type="text/Javascript" src="js/EditCategories.js"></script>
  <script language="JavaScript" type="text/Javascript" src="js/ManageCategories.js"></script>
  <script type="text/javascript">
    Element.cleanWhitespace('manage_products_div');    
    Element.cleanWhitespace('manage_platforms_div');    
    Element.cleanWhitespace('manage_opsyses_div');    
    Element.cleanWhitespace('manage_branches_div');    
    ec_init();
  </script>

</div> <!--END page-->

[% INCLUDE global/litmus_footer.tmpl %]
[% INCLUDE global/html_footer.tmpl %]



