[%# ***** BEGIN LICENSE BLOCK *****
  # Version: MPL 1.1
  #
  # The contents of this file are subject to the Mozilla Public License Version
  # 1.1 (the "License"); you may not use this file except in compliance with
  # the License. You may obtain a copy of the License at
  # http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS IS" basis,
  # WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License
  # for the specific language governing rights and limitations under the
  # License.
  #
  # The Original Code is Litmus.
  #
  # The Initial Developer of the Original Code is
  # The Mozilla Corporation.
  # Portions created by the Initial Developer are Copyright (C) 2006
  # the Initial Developer. All Rights Reserved.
  #
  # Contributor(s):
  #   Chris Cooper <ccooper@deadsquid.com>
  #   Zach Lipton <zach@zachlipton.com>
  #
  # ***** END LICENSE BLOCK *****
#%]
  
[% INCLUDE global/html_header.tmpl %]
[% INCLUDE global/litmus_header.tmpl %]

<script type="text/javascript">
var products=[% products_js %];
var branches=[% branches_js %];
var testgroups=[% testgroups_js %];
var subgroups=[% IF subgroups_js %][% subgroups_js %][% ELSE %]{}[% END %];
</script>

<div id="page">

[% INCLUDE sidebar/sidebar.tmpl %]

  <div id="content">

    [% IF warning %]
      <div class="error">
      <h1 class="errorHeading">Warning: Testday Conflict Detected</h1> 
      <h4>
      Your recently created testday has dates that overlap one or 
      more existing testdays. You should check for conflicts and coordinate with 
      the administrators of the other testdays to ensure that the events are 
      compatible. 
      </h4>
      </div>
    [% END %]

    [% INCLUDE admin/form_widgets/update_testdays.tmpl %]

  </div> <!--END content-->

  <script language="JavaScript" type="text/Javascript" src="js/Litmus.js"></script>
  <script language="JavaScript" type="text/Javascript" src="js/EditCategories.js"></script>
  <script language="JavaScript" type="text/Javascript" src="js/ManageTestdays.js"></script>
  <script type="text/javascript">
    Element.cleanWhitespace('manage_testdays_div');    
  </script>

</div> <!--END page-->

[% INCLUDE global/litmus_footer.tmpl %]
[% INCLUDE global/html_footer.tmpl %]



