/* -*- Mode: C; tab-width: 2; indent-tabs-mode: nil; c-basic-offset: 2 -*-
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://global/skin/global.css");

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

treechildren::-moz-tree-image {
  -moz-margin-end: 2px;
  list-style-image: url("chrome://communicator/skin/profile/profileicon-large.gif");
}

treechildren::-moz-tree-image(rowMigrate-no) {
  list-style-image: url("chrome://communicator/skin/profile/migrate.gif");
}

/* profile selection dialog */
#intro,
#label {
  width: 17em;
}

#managebuttons > button {
  min-width: 8em;
}
