/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== selectAddressesDialog.css ======================================
  == Styles for the Select Addresses Dialog.
  ======================================================================= */

@import url("chrome://messenger/skin/");

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: Select Addresses dialog ::::: */

#topBox {
  padding: 0.5em 0 1.0em;
}

#abResultsTree {
  min-width: 10px;
}

#resultsBox {
  border: 1px solid #000000;
}

#addToBucketButtonBox {
  min-width: 10px;
  padding: 0.3em; 
}

#addressBucket {
  min-width: 10px;
}

#newEditButtonBox {
  padding-top: 0.5em; 
  -moz-padding-end: 0px;
  -moz-margin-start: 0px;
}

.middle-button-spacer {
  width: 10px;
}

.above-remove-spacer {
  width: 10px;
  height: 15px;
}
