/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.statusIcon[status="away"],
.statusIcon[status="unavailable"] {
  background-image: url('chrome://chat/skin/away.png');
}

.statusIcon[status="idle"] {
  background-image: url('chrome://chat/skin/idle.png');
}

.statusIcon[status="mobile"] {
  background-image: url('chrome://chat/skin/mobile.png');
}

.statusIcon[status="offline"],
.statusIcon[status="left"] {
  background-image: url('chrome://chat/skin/offline.png');
}

.statusIcon[status="unknown"] {
  background-image: url('chrome://chat/skin/unknown.png');
}

.protoIcon[status="offline"],
.protoIcon[status="unknown"] {
  opacity: 0.3;
}

.protoIcon[status="offline"][selected],
.protoIcon[status="unknown"][selected] {
  opacity: 0.7;
}
