<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->

<script type="text/javascript;version=1.7">
function groupEvents(parent)
{
  var P_list = parent.getElementsByClassName("event");

  if (P_list.length < 4)
    return;

  var HR_list = parent.getElementsByTagName("hr");

  if (P_list[1].hasAttribute("style"))
  {
    var prevStyle = P_list[1].style.display;
    var nbEvents = P_list.length;

    P_list[nbEvents-2].style.display = prevStyle;
    HR_list[nbEvents-3].style.display = prevStyle;
  }
  else
  {
    var nbEvents = P_list.length;

    for (var i=1; i < (nbEvents-2); i++)
    {
      P_list[i].style.display = "none";
      HR_list[i].style.display = "none";
    }
    P_list[i].style.display = "none";

    var p = document.createElement("p");
    p.addEventListener("click", toggle_groupEvents);
    p.setAttribute("class", "button hide");
    parent.insertBefore(p, P_list[1]);
  }
}


function toggle_groupEvents(aEvent)
{
  if (aEvent.detail > 1)
    return;

  var target = aEvent.target;
  var P_list = target.parentNode.getElementsByClassName("event");
  var HR_list = target.parentNode.getElementsByTagName("hr");
  var nbEvents = P_list.length;

  if (target.className == "button hide") {
    for (var i=1; i < (nbEvents-2); i++) {
      P_list[i].style.display = "block";
      HR_list[i].style.display = "block";
    }
    P_list[i].style.display = "block";

    target.className = "button show";
  }
  else {
    for (var i=1; i < (nbEvents-2); i++) {
      P_list[i].style.display = "none";
      HR_list[i].style.display = "none";
    }
    P_list[i].style.display = "none";

    target.className = "button hide";
  }
}

function prettyPrintTime(aValue, aNoSeconds) {
  if (aValue < 60 && aNoSeconds)
    return "";

  if (aNoSeconds)
    aValue -= aValue % 60;

  let valuesAndUnits = window.convertTimeUnits(aValue);
  if (!valuesAndUnits[2])
    valuesAndUnits.splice(2, 2);
  return valuesAndUnits.join(" ");
}

const shadow = 3;
const coef = 3;
const timebeforetextdisplay = 5 * 60;

function computeSpace(aInterval)
  Math.round(coef * Math.log(aInterval + 1))

function refreshIntervals()
{
  var pixels = 1;
  var previousTime = 0;
  while (true) {
    var time = Math.exp((pixels - 0.49999) / coef) - 1;
    if (time >= timebeforetextdisplay)
      break;

    time = Math.round(time * 1000);
    var result = time - previousTime;
    previousTime = time;
    yield result;
    ++pixels;
  }
  while (true)
    yield 60 * 1000;
}

var lastMessageTimeout;
function handleLastMessage(aGenerator)
{
  var interval = Math.round(Date.now() / 1000) - lastInsertTime;
  var p = document.getElementById("lastMessage");
  var margin = computeSpace(interval);
  var text = "";
  if (interval >= timebeforetextdisplay) {
    p.style.lineHeight = (margin + shadow) + "px";
    p.setAttribute("class", "interval");
    text = prettyPrintTime(interval, true);
    margin = 0;
  }
  p.textContent = text;
  p.style.marginTop = (margin - shadow) + "px";
  var body = document.getElementsByTagName("body")[0];
  if (body.scrollHeight <= body.scrollTop + body.clientHeight + p.clientHeight + 10)
    p.scrollIntoView(true);
  lastMessageTimeout =
    setTimeout(handleLastMessage, aGenerator.next(), aGenerator);
}

var lastInsertTime = 0;
function checkNewText(aEvent)
{
  var target = aEvent.originalTarget;
  if (!(target instanceof HTMLElement))
    return;

  if (target.tagName == "DIV" && target.className.substring(0, 6) == "bubble") {
    var insertTime = document.getElementById("insert").getAttribute("time");
    if (lastInsertTime && insertTime >= lastInsertTime) {
      var interval = insertTime - lastInsertTime;
      var margin = computeSpace(interval);
      if (interval >= timebeforetextdisplay) {
        var p = document.createElement("p");
        p.style.lineHeight = (margin + shadow) + "px";
        p.style.marginTop = -shadow + "px";
        p.setAttribute("class", "interval");
        p.textContent = prettyPrintTime(interval);
        target.parentNode.insertBefore(p, target);
        margin = 0;
      }
      target.style.marginTop = margin + "px";
    }
    lastInsertTime = insertTime;
  }
  else if (target.tagName == "DIV" && target.id == "insert") {
    lastInsertTime = document.getElementById("insert").getAttribute("time");
  }
  else if (target.tagName == "P" && target.className == "event") {
    groupEvents(target.parentNode);
    lastInsertTime = document.getElementById("insert").getAttribute("time");
  }
  if (lastInsertTime) {
    clearTimeout(lastMessageTimeout);
    lastMessageTimeout = setTimeout(handleLastMessage, 0, refreshIntervals());
  }
}

document.getElementById("ibcontent")
        .addEventListener("DOMNodeInserted", checkNewText);
</script>

<p id="lastMessage"/>
