<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->

<script type="text/javascript;version=1.7">
function groupEvents(parent)
{
  var P_list = parent.getElementsByClassName("event");

  if (P_list.length < 4)
    return;

  var HR_list = parent.getElementsByTagName("hr");

  if (P_list[1].hasAttribute("style"))
  {
    var prevStyle = P_list[1].style.display;
    var nbEvents = P_list.length;

    P_list[nbEvents-2].style.display = prevStyle;
    HR_list[nbEvents-3].style.display = prevStyle;
  }
  else
  {
    var nbEvents = P_list.length;

    for (var i=1; i < (nbEvents-2); i++)
    {
      P_list[i].style.display = "none";
      HR_list[i].style.display = "none";
    }
    P_list[i].style.display = "none";

    var p = document.createElement("p");
    p.addEventListener("click", toggle_groupEvents);
    p.setAttribute("class", "button hide");
    parent.insertBefore(p, P_list[1]);
  }
}


function toggle_groupEvents(aEvent)
{
  if (aEvent.detail > 1)
    return;

  var target = aEvent.target;
  var P_list = target.parentNode.getElementsByClassName("event");
  var HR_list = target.parentNode.getElementsByTagName("hr");
  var nbEvents = P_list.length;

  if (target.className == "button hide") {
    for (var i=1; i < (nbEvents-2); i++) {
      P_list[i].style.display = "block";
      HR_list[i].style.display = "block";
    }
    P_list[i].style.display = "block";

    target.className = "button show";
  }
  else {
    for (var i=1; i < (nbEvents-2); i++) {
      P_list[i].style.display = "none";
      HR_list[i].style.display = "none";
    }
    P_list[i].style.display = "none";

    target.className = "button hide";
  }
}

function checkNewText(aEvent)
{
  var target = aEvent.originalTarget;
  if (!(target instanceof HTMLElement))
    return;

  if (target.tagName == "P" && target.className == "event")
    groupEvents(target.parentNode);
}

document.getElementById("ibcontent")
        .addEventListener("DOMNodeInserted", checkNewText);
</script>
