/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

body {
  margin: 0;
  padding: 0;
  background: #f3f3f2;
}

p {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.bubble {
  margin: 2px 20px;
  padding: 0;
}

.bubble:not(.context):not(.event) {
  -moz-animation-duration: 0.5s;
  -moz-animation-name: fadein;
  -moz-animation-iteration-count: 1;
}

@-moz-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1.0;
  }
}

.indicator {
  padding: 10px;
  -moz-margin-start: 60px;
}

.pseudo {
  font-size: smaller;
  font-weight: bold;
}

.time {
  display: block;
  float: right;
  color: #aeafac;
  font-weight: normal;
}

.bubble.event > hr,
.bubble > .indicator > hr {
  margin: 2px 0 0;
  height: 2px;
  border-style: none;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #dbddd7;
}

.interval, #lastMessage {
  text-align: center;
  color: hsl(0, 0%, 60%);
}

.message {
  padding: 5px 0 0;
}

#lastMessage {
  line-height: 20px;
}

p.nick {
  font-weight: bold;
}

p.action {
  font-style: italic;
}

p.action:before {
  content: "*** ";
}

p.event {
  color: hsl(0, 0%, 60%);
  margin: 3px 15px;
}

#Chat {
  white-space: normal;
  padding-top: 18px;
}

p *:-moz-any-link img {
  margin-bottom: 1px;
  border-bottom: solid 1px;
}

/* used by javascript */
.button {
  cursor: pointer;
  min-height: 20px;
  -moz-margin-start: -10px;
  margin-bottom: -3px;
  -moz-padding-start: 24px;
}

.hide {
  background: url('Bitmaps/plus.png') no-repeat left top;
}

.hide:hover {
  background: url('Bitmaps/plus-hover.png') no-repeat left top;
}

.hide:after {
  content: "...";
  color: hsl(0, 0%, 60%);
}

.show {
  background: url('Bitmaps/minus.png') no-repeat left top;
  margin-bottom: -20px;
  width: 0;
}

.show:hover {
  background: url('Bitmaps/minus-hover.png') no-repeat left top;
}

.usericon {
  position: absolute;
  max-width: 48px;
  max-height: 48px;
  margin-top: -10px;
  -moz-margin-start: -70px;
  border-radius: 5px;
}

.bubble.event,
.indicator {
  border: 1px solid hsl(0, 0%, 85%);
  border-radius: 5px;
  background-color: hsl(0, 0%, 99%);
}

.nick > .indicator {
  border-color: Highlight;
}

@media (max-height: 500px) {
  .bubble {
    margin-top: 3px !important;
  }

  .indicator {
    padding: 5px 10px;
    -moz-margin-start: 0;
  }

  .usericon {
    display: none;
  }

  .message {
    padding: 2px 0 0;
  }

  .interval, #lastMessage {
    line-height: -moz-initial !important;
    margin: -2px 0 -3px !important;
  }
}
