/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#Chat {
  white-space: normal;
}

/* The "#chat " is required to override "#Chat *" from conv.css */
#Chat .pseudo {
  overflow-x: hidden !important;
}

.message {
  clear: both;
}

.pseudo {
  font-weight: bold;
  float: left;
  width: 147px;
  text-align: right;
  padding-bottom: 5px;
  display: block;
  text-overflow: ellipsis;
}

.outgoing > .pseudo {
  color: rgb(80, 80, 200);
}

.incoming > .pseudo {
  color: rgb(200, 80, 80);
}

.message:not(.action) > .next {
  visibility: hidden;
}

.date {
  font-style: normal;
  font-weight: normal;
  float: right;
  color: GrayText;
}

.message > .ib-msg-txt,
.event {
  display: block;
  margin-left: 150px;
  padding-bottom: 5px;
}

p.event {
  margin-left: 0;
}

.usericon {
  display: none;
}

.event {
  color: GrayText;
  clear: both;
}

.nick {
  font-weight: bold;
}

.nick > .pseudo {
  text-decoration: underline;
}

.action {
  font-style: italic;
}

.context {
  color: rgb(91, 91, 91);
}

.context > .pseudo {
  opacity: 0.7;
}

p {
  margin: 0px auto;
}

p *:-moz-any-link img {
  margin-bottom: 1px;
  border-bottom: solid 1px;
}

hr {
  display: none !important;
}

/* used by javascript */
.button {
  cursor: pointer;
  min-height: 22px;
  -moz-margin-start: -20px;
  margin-bottom: -5px;
  -moz-padding-start: 20px;
}

.hide {
  background: url('Bitmaps/plus.png') no-repeat left center;
}

.hide:hover {
  background: url('Bitmaps/plus-hover.png') no-repeat left center;
}

.hide:after {
  content: "...";
  color: GrayText;
}

.show {
  background: url('Bitmaps/minus.png') no-repeat left center;
  margin-bottom: -22px;
  width: 0px;
}

.show:hover {
  background: url('Bitmaps/minus-hover.png') no-repeat left center;
}

/* We style Twitter differently from other types of chat */

.message:-moz-any([prpl="Twitter"], [prpl="twitter"]) {
  background-color: hsl(0, 0%, 99%);
  border-radius: 5px;
  border: 1px solid hsl(0, 0%, 85%);
  min-height: 48px;
  padding: 6px;
  margin-left: 0px;
  margin-bottom: 6px;
}

.message:-moz-any([prpl="Twitter"], [prpl="twitter"]) > .pseudo {
  float: none;
  text-align: left;
  display: block;
  width: auto;
  padding-left: 64px;
}

.message:-moz-any([prpl="Twitter"], [prpl="twitter"]) > .next {
  visibility: visible;
}

.message:-moz-any([prpl="Twitter"], [prpl="twitter"]) > .ib-msg-txt {
  margin-left: 0px;
  padding-left: 64px;
}

.message:-moz-any([prpl="Twitter"], [prpl="twitter"]) > .usericon {
  position: absolute;
  display: block;
  max-width: 48px;
  max-height: 48px;
  margin-right: 6px;
  border-radius: 5px;
}

.message:-moz-any([prpl="Twitter"], [prpl="twitter"]) ~ .event {
  margin-left: 71px;
}

.message:-moz-any([prpl="Twitter"], [prpl="twitter"]) ~ .event > .date {
  margin-right: 7px;
}
