/*
# -*- Mode: Java; tab-width: 4; indent-tabs-mode: nil; c-basic-offset: 4 -*-
# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
*/

menulist > menupopup > menuitem {
  font: -moz-pull-down-menu;
}

prefwindow {
    padding: 0 !important;
}

.prefWindow-dlgbuttons {
    margin-top: 0;
    margin-bottom: 8px;
    -moz-margin-start: 12px;
    -moz-margin-end: 12px;
}

#CalendarPreferences .prefWindow-dlgbuttons {
    padding-top: 0 !important;
}

.windowDialog {
    padding: 12px;
    font: -moz-dialog;
}

prefpane {
    padding: 12px 12px 0;
}

.paneSelector {
    list-style-image: url("chrome://calendar/skin/preferences/Options.png");
    padding: 0 5px;
    border-bottom: 1px solid #a3a3a3;
    background: url("chrome://global/skin/toolbar/toolbar-pinstripe-overlay.png") repeat;
    margin: 0;
}

.paneSelector radio {
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
    padding: 3px 0;
    margin: 0;
    -moz-appearance: none !important;
}

radio[pane][selected="true"] {
    background-color: #dddddd;
    background-image: none;
    border-right: 1px solid #b9b9b9;
    border-left: 1px solid #b9b9b9;
    color: ButtonText !important;
}

radio[pane=paneGeneral] {
    -moz-image-region: rect(0px, 32px, 32px, 0px)
}
radio[pane=paneGeneral]:active {
    -moz-image-region: rect(32px, 32px, 64px, 0px)
}

radio[pane=paneAlarms] {
    -moz-image-region: rect(0px, 64px, 32px, 32px)
}
radio[pane=paneAlarms]:active {
    -moz-image-region: rect(32px, 64px, 64px, 32px)
}

radio[pane=paneCategories] {
    -moz-image-region: rect(0px, 128px, 32px, 96px)
}
radio[pane=paneCategories]:active {
    -moz-image-region: rect(32px, 128px, 64px, 96px)
}

radio[pane=paneViews] {
    -moz-image-region: rect(0px, 192px, 32px, 160px)
}
radio[pane=paneViews]:active {
    -moz-image-region: rect(32px, 192px, 64px, 160px)
}

radio[pane=paneTimezones] {
    -moz-image-region: rect(0px, 224px, 32px, 192px)
}
radio[pane=paneTimezones]:active {
    -moz-image-region: rect(32px, 224px, 64px, 192px)
}

radio[pane=paneAdvanced] {
    -moz-image-region: rect(0px, 160px, 32px, 128px)
}
radio[pane=paneAdvanced]:active {
    -moz-image-region: rect(32px, 160px, 64px, 128px)
}

description {
    font: small-caption;
    font-weight: normal;
    line-height: 1.3em;
    margin-bottom: 4px !important;
}

prefpane button {
    min-height: 19px; /* aqua size for small buttons */
}

prefpane .groupbox-body {
    -moz-appearance: none;
    border: none !important;
    border-radius: 0px !important;
    background-image: none !important;
    padding: 8px 4px 4px;
}

prefpane .groupbox-title {
    background: url("chrome://global/skin/50pct_transparent_grey.png") repeat-x bottom left;
    margin-bottom: 4px;
}

caption {
    border-bottom: 1px solid #ececec;    
    padding-top: 4px !important;
    padding-bottom: 0 !important;
    -moz-padding-start: 4px !important;
    -moz-padding-end: 0 !important;
}

#paneAdvanced description {
    font: -moz-dialog;
}

#advancedPrefs {
    margin: 0 8px;
}

prefpane description {
    padding-top: 5px;
}

#alarmSoundFileField {
    -moz-margin-start: 2em;
}

.dayOffCheckbox {
    min-width: 3em !important;
}

#previousWeeksBox {
    padding-top: 5px;
}

/**
 * Update Preferences
 */
#autoInstallOptions {
    -moz-margin-start: 20px;
}

.updateControls {
    -moz-margin-start: 10px;
}

tabpanels {
    padding: 18px 10px 10px;
    margin: 0 6px 6px;
}

tabpanels caption {
    background-color: -moz-Dialog;
}
