/* ::::: Hide the link toolbar if it is set to autohide and has no items. ::::: */

#linktoolbar[hidden="maybe"][hasitems="false"] {
  display: none;
}

/* ::::: tabbed browser ::::: */

tabbrowser {
  -moz-binding: url("chrome://navigator/content/tabbrowser.xml#tabbrowser");
}

.tabbrowser-tabs {
  -moz-binding: url("chrome://navigator/content/tabbrowser.xml#tabbrowser-tabs");
}

.tabs-closebutton-box > .tabs-closebutton {
  -moz-binding: url("chrome://global/content/bindings/toolbarbutton.xml#toolbarbutton");
}

/* ::::: urlbar autocomplete ::::: */

#urlbar {
  -moz-binding: url("chrome://navigator/content/urlbarBindings.xml#urlbar");
}

panel[for="urlbar"] {
  -moz-binding: url("chrome://navigator/content/urlbarBindings.xml#autocomplete-result-popup") !important;
}

.autocomplete-search-box {
  -moz-binding: url("chrome://navigator/content/urlbarBindings.xml#autocomplete-search-box");
}

.autocomplete-search-engine {
  -moz-binding: url("chrome://navigator/content/urlbarBindings.xml#autocomplete-search-engine");
  -moz-box-align: center;
}

/* ::::: bookmarks menu ::::: */

.isempty:not(:last-child) {
  display: none;
}

/* ::::: Wallpaper fix for Bug 435652. Remove when Bug 204743 is fixed ::::: */

.textbox-input-box {
  overflow-x: hidden;
}
