<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>org.mozilla.camino.preference.general</string>
	<string>org.mozilla.camino.preference.appearance</string>
	<string>org.mozilla.camino.preference.privacy</string>
	<string>org.mozilla.camino.preference.security</string>
	<string>org.mozilla.camino.preference.history</string>
	<string>org.mozilla.camino.preference.tabs</string>
	<string>org.mozilla.camino.preference.downloads</string>
	<string>org.mozilla.camino.preference.webfeatures</string>
</array>
</plist>
