/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");

.editContactPanel_rowLabel {
  text-align: end;
}

#editContactPanel {
  -moz-margin-start: 0px;
}

#editContactPanelIcon {
  list-style-image: url("chrome://messenger/skin/starred48.png");
  width: 48px;
  height: 48px;
  min-height: 48px;
}

#editContactPanelTitle {
  font-size: 130%;
  font-weight: bold;
  margin-top: 8px;
  margin-bottom: 0px;
  -moz-margin-start: 9px;
  -moz-margin-end: 12px;
}

#editContactEmail {
  min-width: 20em;
}

.editContactTextbox[readonly="true"] {
  -moz-appearance: none;
  margin: 4px 7px;
  border: none;
  background-color: inherit;
}

#editContactAddressBookList[disabled="true"] {
  color: grey !important;
}

#contactMoveDisabledText {
  width: 20em;
}
