/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

%include folderPane.css

@media all and (-moz-windows-default-theme) {
  treechildren::-moz-tree-cell-text(folderNameCol, biffState-NewMail, isServer-true),
  treechildren::-moz-tree-cell-text(folderNameCol, newMessages-true),
  treechildren::-moz-tree-cell-text(folderNameCol, specialFolder-Inbox, newMessages-true) {
    color: -moz-hyperlinktext;
  }

  treechildren::-moz-tree-cell-text(folderNameCol, biffState-NewMail, isServer-true, selected),
  treechildren::-moz-tree-cell-text(folderNameCol, newMessages-true, selected),
  treechildren::-moz-tree-cell-text(folderNameCol, specialFolder-Inbox, newMessages-true, selected) {
    color: -moz-hyperlinktext;
  }

  treechildren::-moz-tree-cell-text(folderNameCol, biffState-NewMail, isServer-true, selected, focus),
  treechildren::-moz-tree-cell-text(folderNameCol, newMessages-true, selected, focus),
  treechildren::-moz-tree-cell-text(folderNameCol, specialFolder-Inbox, newMessages-true, selected, focus) {
    color: -moz-hyperlinktext;
  }
}

#folderTree treechildren::-moz-tree-indentation {
  width: 8px;
}
