/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

%define WINDOWS_AERO
%include mailWindow1.css
%undef WINDOWS_AERO

@media (-moz-windows-default-theme) {
  #messengerWindow[tabsintitlebar][sizemode="maximized"] > #navigation-toolbox{
    margin-top: -8px;
  }
}

@media (-moz-windows-compositor) {
  #messengerWindow[sizemode="normal"] > #titlebar {
    -moz-appearance: -moz-window-titlebar;
  }

  #messengerWindow[sizemode="maximized"] > #titlebar {
    -moz-appearance: -moz-window-titlebar-maximized;
  }

  #messengerWindow[sizemode="normal"] > #titlebar > #titlebar-content {
    border-top-width: 0;
  }

  #messengerWindow[sizemode="normal"] #titlebar-buttonbox {
    margin-top: 0;
  }

  #messengerWindow[sizemode="normal"] > #titlebar > #titlebar-content:-moz-lwtheme {
    margin-bottom: -2px;
    border-top: 2px solid;
    -moz-border-top-colors: rgb(37, 44, 51) rgba(255, 255, 255, .6);
  }

  .titlebar-button {
    display: none;
  }

  #titlebar-buttonbox {
    -moz-appearance: -moz-window-button-box;
  }

  #messengerWindow[sizemode="maximized"] #titlebar-buttonbox {
    -moz-appearance: -moz-window-button-box-maximized;
    -moz-margin-end: 3px;
  }

  #messengerWindow:not(:-moz-lwtheme) {
    -moz-appearance: -moz-win-borderless-glass;
    background-color: transparent !important;
  }

  #mail-toolbar-menubar2 > .titlebar-placeholder {
    display: none;
  }
}

@media not all and (-moz-windows-compositor) {
  @media (-moz-windows-default-theme) {
    #messengerWindow:not(:-moz-lwtheme) {
      background-color: rgb(185, 209, 234);
    }
    #messengerWindow:not(:-moz-lwtheme):-moz-window-inactive {
      background-color: rgb(215, 228, 242);
    }

    #messengerWindow[sizemode="normal"] > #titlebar > #titlebar-content {
      border-top-width: 2px;
      -moz-border-top-colors: #4D4D4D #E9ECF3;
    }

    #messengerWindow[sizemode="normal"] #titlebar-buttonbox {
      margin-top: -2px;
    }
  }
}

#subjectCol {
  -moz-padding-start: 20px;
}

#subjectCol[primary="true"] {
  -moz-padding-start: 30px;
}

@media not all and (-moz-windows-default-theme) {
  #subjectCol {
    -moz-padding-start: 17px;
  }

  #subjectCol[primary="true"] {
    -moz-padding-start: 27px;
  }
}

.threadColumnHeader {
  -moz-padding-end: 2px;
}

treechildren::-moz-tree-image(news, threadCol, watch) {
  -moz-margin-start: -2px;
}

#folderpane_splitter,
#threadpane-splitter:not([orient="vertical"]) {
  border: none;
  border-left: 1px solid #A9B7C9;
  min-width: 0;
  width: 5px;
  background-color: transparent;
  margin-top: 0;
  -moz-margin-end: -4px;
  position: relative;
  z-index: 10;
  transition: border-width .3s ease-in;
}

/* Until Bug 621351 is fixed we need border-right and border-left in
 * combination with -moz-locale-dir instead of -moz-border-end and
 * -moz-border-start for transition
 */

#folderpane_splitter:-moz-locale-dir(rtl),
#threadpane-splitter:not([orient="vertical"]):-moz-locale-dir(rtl) {
  border-right: 1px solid #A9B7C9;
  border-left: none;
}

#folderpane_splitter[state="collapsed"]:hover:-moz-locale-dir(ltr) {
  border-left: 4px solid highlight;
}

#folderpane_splitter[state="collapsed"]:hover:-moz-locale-dir(rtl) {
  border-right: 4px solid highlight;
}

#mailContent[layout="wide"] #folderpane_splitter {
  margin-bottom: 0;
}

#threadpane-splitter,
#attachment-splitter {
  border: none;
  border-bottom: 1px solid #A9B7C9;
  min-height: 0;
  height: 5px;
  background-color: transparent;
  margin-top: -5px;
  position: relative;
  z-index: 10;
  transition: border-width .3s ease-in;
}

#attachment-splitter:not([state="collapsed"]) {
  border-bottom: 1px solid transparent;
}

#attachment-splitter,
#threadpane-splitter[state="collapsed"] {
  transition: border-color .3s;
}

#threadpane-splitter[state="collapsed"]:hover,
#attachment-splitter[state="collapsed"]:hover {
  border-bottom: 4px solid highlight;
}

#accountCentralBox,
#threadTree {
  -moz-border-end: none;
}

#messagepanebox {
  border-top-width: 0px;
  -moz-border-start: none;
}

.folderview-cycler {
  -moz-padding-start: 5px;
  -moz-padding-end: 5px;
}

#editContactPanel:-moz-system-metric(windows-default-theme) {
  -moz-appearance: tooltip;
  color: InfoText;
}

.treecol-image image {
  -moz-padding-start: 1px;
  -moz-padding-end: 2px;
}

.junkStatusHeader {
  -moz-padding-end: 2px;
}

treechildren::-moz-tree-image(unreadButtonColHeader) {
  -moz-padding-start: 0px;
  -moz-margin-start: -3px;
}

treechildren::-moz-tree-image(attachmentCol, attach) {
  -moz-margin-start: 0px;
}

treechildren::-moz-tree-image(junkStatusCol) {
  -moz-margin-start: -3px;
}

#viewPickerPopup menu,
#viewPickerPopup menuitem {
  -moz-appearance: none;
}

#folderLocationPopup menu,
#folderLocationPopup menuitem {
  -moz-padding-start: 2px;
}

#folderLocationPopup menuitem:first-child {
  padding-top: 3px;
  padding-bottom: 4px;
}

@media (-moz-windows-default-theme) {
  #afterViewPickerUnreadSeparator,
  #afterViewPickerCustomViewsSeparator {
    -moz-appearance: none;
    margin: 3px 0;
    padding-top: 0;
    padding-bottom: 0;
    border-top-color: ThreeDLightShadow;
  }

  menulist {
    -moz-appearance: none;
    margin: 1px 4px;
    padding: 1px 5px !important;
    border-radius: 2px;
    border: 1px solid;
    background-image: linear-gradient(hsla(0, 0%, 100%, .6),
                      hsla(0, 0%, 100%, .1));
    background-color: hsla(210, 32%, 93%, .2);
    border-color: hsla(210, 54%, 20%, .15) hsla(210, 54%, 20%, .2)
                  hsla(210, 54%, 20%, .25);
    box-shadow: 0 1px hsla(0, 0%, 100%, .3) inset,
                0 1px hsla(210, 54%, 20%, .03),
                0 0 2px hsla(210, 54%, 20%, .1);
    transition-property: background-color, border-color, box-shadow;
    transition-duration: 150ms;
  }

  menulist:not([disabled="true"]):not([open="true"]):hover {
    border-color: hsla(210, 54%, 20%, .3) hsla(210, 54%, 20%, .35)
                  hsla(210, 54%, 20%, .4);
    background-color: hsla(210, 48%, 96%, .75);
    box-shadow: 0 0 1px hsla(210, 54%, 20%, .03),
                0 0 2px hsla(210, 54%, 20%, .1);
  }

  menulist[open="true"] {
    background-image: linear-gradient(hsla(0, 0%, 100%, .6),
                      hsla(0, 0%, 100%, .1));
    background-color: hsla(210, 54%, 20%, .15);
    border-color: hsla(210, 54%, 20%, .3) hsla(210, 54%, 20%, .35)
                  hsla(210, 54%, 20%, .4);
    box-shadow: 0 1px 1px hsla(210, 54%, 20%, .1) inset,
                0 0 1px hsla(210, 54%, 20%, .2) inset,
                0 1px 0 hsla(210, 54%, 20%, 0),
                0 0 2px hsla(210, 54%, 20%, 0);
    text-shadow: none;
    transition: none;
  }

  menulist[disabled="true"] {
    opacity: .6;
  }

  #viewPicker > .menulist-label-box > .menulist-label,
  #locationFolders > .menulist-label-box > .menulist-label {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

  #locationFolders > .menulist-label-box > .menulist-label {
    -moz-margin-start: 2px !important;
  }
}

#viewPicker > .menulist-label-box > .menulist-icon,
#locationFolders > .menulist-label-box > .menulist-icon {
  min-height: 16px;
}

@media (-moz-windows-default-theme) {
  #folderPaneHeader {
    -moz-appearance: none;
    background-color: #f8f8f8;
    border-top: 0px;
    border-bottom: 1px solid #a9b1b8;
  }

  #folderTree {
    -moz-appearance: none;
    background-color: #eef3fa;
    border-bottom: none;
    border-left: none;
  }

  #folderTree treechildren::-moz-tree-cell(dropOn) {
    background-image: linear-gradient(rgba(255, 255, 255, .7),
                                      rgba(255, 255, 255, .45));
    background-color: Highlight;
    border-radius: 3px;
  }

  #folderTree treechildren::-moz-tree-cell-text(dropOn) {
    color: -moz-FieldText;
  }

  #status-bar {
    background-color: hsl(210, 75%, 92%);
  }
}

@media (-moz-windows-compositor) {
  #messengerWindow[sizemode=normal] #tabpanelcontainer {
    border: 1px solid rgba(10%, 10%, 10%, .4);
    border-top: none;
    background-clip: padding-box;
  }

  #messengerWindow[sizemode=normal] #mail-toolbar-menubar2 {
    border-right: 1px solid rgba(10%, 10%, 10%, .4);
    border-left: 1px solid rgba(10%, 10%, 10%, .4);
    background-clip: padding-box;
  }

  #messengerWindow[sizemode=normal] statusbar {
    -moz-appearance: none;
    margin-top: -1px;
    border: 1px solid rgba(10%, 10%, 10%, .4);
    border-top-color: threedshadow;
    border-radius: 1px 1px 0 0;
    background-clip: padding-box;
  }
}

@media (-moz-windows-glass) {
  /* lesser transparency on Glass background */
  #tabbar-toolbar menulist:not(:-moz-lwtheme):not([open="true"]) {
    background-color: rgba(227, 237, 246, .7);
  }

  /* lesser transparency on Glass background */
  #tabbar-toolbar menulist:not(:-moz-lwtheme):not([open="true"]):hover {
    background-color: rgba(136, 197, 213, .85);
  }

  #tabbar-toolbar #viewPickerLabel:not(:-moz-lwtheme):not(:-moz-window-inactive) {
    -moz-margin-start: 4px;
    -moz-margin-end: 0;
    -moz-padding-start: 2px;
    -moz-padding-end: 5px;
    background-color: rgba(255, 255, 255, .3);
    border-radius: 4px;
  }
}
