/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== messageWindow.css ==============================================
  == Styles for the message window.
  ======================================================================= */

@import url("chrome://messenger/skin/");
@import url("chrome://messenger/skin/primaryToolbar.css");
@import url("chrome://global/skin/toolbar.css");
@import url("chrome://messenger/skin/tagColors.css");

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#messengerWindow {
  -moz-appearance: window;
  background-color: -moz-Dialog;
}

#messagepanebox {
  -moz-appearance: toolbox;
  text-shadow: none;
  background-color: -moz-dialog;
}

/* ..... message header borders ..... */

@media all and (-moz-windows-compositor) {
  #status-bar {
    -moz-appearance: none;
    border: none;
    border-top: 1px solid ThreeDShadow;
    background-color: hsl(210, 75%, 92%);
  }
}

/* ..... splitter adjustments ..... */

#attachment-splitter {
  border: none;
  border-bottom: 1px solid #A9B7C9;
  min-height: 0;
  height: 5px;
  background-color: transparent;
  margin-top: -5px;
  position: relative;
  z-index: 10;
  transition: border-width .3s ease-in;
}

#attachment-splitter:not([state="collapsed"]) {
  border-bottom: 1px solid transparent;
}

#attachment-splitter {
  transition: border-color .3s;
}

#attachment-splitter[state="collapsed"]:hover {
  border-bottom: 4px solid highlight;
}
