/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://messenger/content/multimessageview.css");

/* windows-specific overrides for multimessageview.css*/

/* mostly it's about CSS colors not being reliable */

body {
  background-color: white;
}

.heading.info {
  color: ButtonText;
}


.info,
.count, .date,
.message > .header > .snippet,
.message > .header > .senders {
  color: GrayText;
}

#header-view-toolbox {
  font: message-box;
}

.star {
  width: 12px;
  height: 12px;
  margin-right: 0.5em;
}

.starred .star {
  background-image: url("chrome://messenger/skin/icons/flag-col.png");
}
