/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

%include searchDialog.css

#subjectCol {
  -moz-padding-start: 20px;
}

#subjectCol[primary="true"] {
  -moz-padding-start: 30px;
}

@media not all and (-moz-windows-default-theme) {
  #subjectCol {
    -moz-padding-start: 17px;
  }

  #subjectCol[primary="true"] {
    -moz-padding-start: 27px;
  }
}
