/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/**
 * Tabmail Tabs
 */

.tabmail-arrowscrollbox {
  margin-bottom: -1px;
}

.tabmail-tabs > .tabmail-tab:first-child > .tab-stack > .tab-content >
.tab-close-button {
  visibility: collapse;
}

#tabpanelcontainer:-moz-lwtheme {
  color: inherit;
}

/**
 * Tab
 */

.tabmail-tab {
  -moz-appearance: none;
  color: -moz-DialogText;
  margin: 0 0 -1px;
  padding: 0;
  border-radius: 0;
  border-width: 0;
  background: none;
}

.tabmail-tab[selected] {
  position: relative;
  text-shadow: none;
}

@media (-moz-windows-theme: luna-blue),
       (-moz-windows-theme: royale),
       (-moz-windows-theme: zune) {
  #messengerWindow[tabsintitlebar] .tabmail-tab:not([selected]):not(:-moz-lwtheme) {
    color: white;
  }
}

.tabmail-tab:-moz-lwtheme {
  color: inherit;
  text-shadow: inherit;
}

.tab-stack {
  height: 31px;
}

.tabmail-tab:hover > .tab-stack > .tab-background:not([selected=true]),
.tab-background[selected=true] {
  background-repeat: no-repeat,
                     no-repeat,
                     no-repeat;
  background-position: left 0,
                       30px 0,
                       right 0;
  background-size: 30px 100%,
                   calc(100% - 60px) 100%,
                   30px 100%;
}

.tabmail-tab:hover > .tab-stack > .tab-background:not([selected=true]) {
  background-image: url(icons/tabBackgroundStart.png),
                    url(icons/tabBackgroundMiddle.png),
                    url(icons/tabBackgroundEnd.png);
}

.tab-background[selected=true] {
  background-image: url(icons/tabActiveStart.svg),
                    url(icons/tabActiveMiddle.svg),
                    url(icons/tabActiveEnd.svg);
}

.tab-background[selected=true]:-moz-lwtheme {
  opacity: .55;
}

.tabmail-tab:not([selected]):not(:hover) +
.tabmail-tab:not([selected]):not(:hover)::before {
  content: "";
  display: -moz-box;
  width: 2px;
  height: 28px;
  -moz-margin-start: -2px;
  -moz-margin-end: 0;
  background: linear-gradient(to top, hsla(210, 23%, 10%, .4),
              hsla(210, 23%, 10%, .1) 80%, transparent),
              linear-gradient(to top, hsla(0, 0%, 100%, .4),
              hsla(0, 0%, 100%, .1) 80%, transparent);
  background-position: 0 0, 1px 0;
  background-size: 1px 100%;
  background-repeat: no-repeat;
}

.tab-content {
  -moz-padding-start: 10px;
  -moz-padding-end: 10px;
}

.tab-background {
  -moz-margin-start: -14px;
  -moz-margin-end: -14px;
}

.tab-background-start,
.tab-background-end {
  width: 30px;
  clip-path: url(chrome://messenger/content/messenger.xul#tab-curve-clip-path);
}

.tab-background-end:-moz-locale-dir(ltr),
.tab-background-start:-moz-locale-dir(rtl) {
  transform: scaleX(-1);
}

.tab-background-middle {
  -moz-box-flex: 1;
}

.tabmail-tab,
.tab-background,
.tab-content {
  pointer-events: none;
}

.tab-background-start,
.tab-background-middle,
.tab-background-end,
.tab-close-button {
  pointer-events: auto;
}

.tabmail-arrowscrollbox > scrollbox {
  -moz-padding-start: 14px;
  -moz-padding-end: 14px;
}

.tabmail-tab[busy],
.tabmail-tab[thinking] {
  list-style-image: url("chrome://messenger/skin/icons/loading.png") !important;
  -moz-image-region: auto !important;
}

.tabmail-tab[type="glodaSearch"] {
  list-style-image: url("chrome://global/skin/icons/Search-glass.png");
}

.tabmail-tab[selected] > .tab-stack > .tab-content > .tab-text {
  opacity: 1.0 !important;
}

.tabmail-arrowscrollbox > .scrollbutton-up:-moz-lwtheme-brighttext,
.tabmail-arrowscrollbox > .scrollbutton-down:-moz-lwtheme-brighttext,
.tabs-alltabs-button:-moz-lwtheme-brighttext,
.tabs-closebutton:-moz-lwtheme-brighttext {
  background-color: rgba(0,0,0,.5);
}

.tabmail-arrowscrollbox > .scrollbutton-up:-moz-lwtheme-darktext,
.tabmail-arrowscrollbox > .scrollbutton-down:-moz-lwtheme-darktext,
.tabs-alltabs-button:-moz-lwtheme-darktext,
.tabs-closebutton:-moz-lwtheme-darktext {
  background-color: rgba(255,255,255,.5);
}

.tabmail-tabs:-moz-lwtheme {
  padding-top: 1px;
  background-color: transparent;
  background-image: none;
}

.tab-icon-image,
.tab-throbber {
  margin-bottom: 1px;
  -moz-margin-end: 7px;
  width: 16px;
  height: 16px;
}

.tabmail-tab {
  list-style-image: url("chrome://global/skin/icons/folder-item.png");
  -moz-image-region: rect(0px, 16px, 16px, 0px);
}

tabpanels {
  -moz-appearance: none;
  background-color: transparent;
}

/* tabmail-tab focus ring */
.tabmail-tab > .tab-stack > .tab-content > .tab-text {
  border: 1px dotted transparent;
}

.tabmail-tab:focus > .tab-stack > .tab-content > .tab-text {
  border: 1px dotted -moz-DialogText;
}

/* Tab DnD indicator */
.tab-drop-indicator {
  list-style-image: url(chrome://messenger/skin/icons/tabDragIndicator.png);
  margin-bottom: -11px;
}

/**
 * close buttons
 */

.tabs-closebutton-box {
  margin-top: 2px;
  margin-bottom: 4px;
}

.tab-close-button > .toolbarbutton-icon {
  -moz-margin-end: 0px !important;
  margin-top: 1px;
}

.tab-close-button,
.tabs-closebutton {
  -moz-appearance: none;
  -moz-image-region: rect(0, 16px, 16px, 0);
  border: none;
  cursor: default;
  list-style-image: url(icons/closeTab.png);
}

@media (-moz-windows-theme: luna-blue),
       (-moz-windows-theme: royale),
       (-moz-windows-theme: zune) {
  #messengerWindow[tabsintitlebar] .tabs-closebutton,
  #messengerWindow[tabsintitlebar] .tabmail-tab:not([selected]) > .tab-stack >
    .tab-content > .tab-close-button:not(:hover):not(:active) {
    -moz-image-region: rect(0, 64px, 16px, 48px);
  }
}

.tabs-closebutton {
  padding: 0 2px;
}

.tab-close-button {
  -moz-margin-start: 6px;
  -moz-padding-start: 0 !important;
  -moz-padding-end: 0 !important;
  position: relative;
  z-index: 4;
  pointer-events: auto;
}

.tab-close-button:hover,
.tabs-closebutton:hover {
  -moz-image-region: rect(0, 32px, 16px, 16px);
}

.tab-close-button:hover:active,
.tabs-closebutton:hover:active {
  -moz-image-region: rect(0, 48px, 16px, 32px);
}

.tab-close-button:focus,
.tabs-closebutton:focus {
  outline: none !important;
}

/**
 * Tab Scrollbox Arrow Buttons
 */

.tabs-left {
  display: none;
}

.tabmail-arrowscrollbox > .scrollbutton-up {
  margin-top: 1px;
  margin-bottom: 1px;
  padding: 0 0 3px;
  width: 18px;
  height: 23px;
  -moz-margin-start: 0px;
  -moz-margin-end: 2px;
  list-style-image: url(chrome://messenger/skin/icons/tab-arrow-left.png);
}

.tabmail-arrowscrollbox > .scrollbutton-up > .toolbarbutton-icon {
  margin: 2px 0px 0px;
}

.tabmail-arrowscrollbox > .scrollbutton-down-stack {
  height: 23px;
  margin-top: 1px;
  margin-bottom: 1px;
  -moz-margin-start: 2px;
}

.tabmail-arrowscrollbox > stack > .scrollbutton-down-box {
  width: 18px;
}

.tabmail-arrowscrollbox > stack > .scrollbutton-down {
  width: 18px;
  margin: 0px;
  padding: 0 0 3px;
  list-style-image: url(chrome://messenger/skin/icons/tab-arrow-left.png);
}

.tabmail-arrowscrollbox > stack > .scrollbutton-down > .toolbarbutton-icon {
  margin-top: 2px;
  margin-bottom: 0px;
  -moz-margin-start: 1px;
  -moz-margin-end: 0px;
}

.tabmail-arrowscrollbox > .scrollbutton-up:-moz-lwtheme-brighttext,
.tabmail-arrowscrollbox > stack > .scrollbutton-down:-moz-lwtheme-brighttext {
  list-style-image: url(chrome://messenger/skin/icons/tab-arrow-left-inverted.png);
}

.tabmail-arrowscrollbox > .scrollbutton-up[disabled],
.tabmail-arrowscrollbox > stack > .scrollbutton-down[disabled] {
  opacity: .4;
}

.tabmail-arrowscrollbox > .scrollbutton-up:-moz-locale-dir(rtl),
.tabmail-arrowscrollbox > stack > .scrollbutton-down:-moz-locale-dir(ltr) {
  transform: scaleX(-1);
}

/**
 * All Tabs Button
 */

.tabs-alltabs-button {
  margin-top: 1px;
  margin-bottom: 1px;
  width: 18px !important;
  height: 23px !important;
  -moz-padding-start: 4px !important;
  -moz-padding-end: 4px !important;
  padding: 0px;
}

.tabs-alltabs-button > .toolbarbutton-text {
  display: none;
}

.tabs-alltabs-button > .toolbarbutton-icon {
  -moz-margin-end: 0;
}

.tabs-alltabs-button > .toolbarbutton-menu-dropmarker {
  -moz-margin-end: 3px !important;
  list-style-image: url(chrome://messenger/skin/icons/mainwindow-dropdown-arrow.png);
  -moz-image-region: rect(0, 13px, 11px, 0);
}

.tabs-alltabs-button > .toolbarbutton-menu-dropmarker:-moz-lwtheme-brighttext {
  list-style-image: url(chrome://messenger/skin/icons/mainwindow-dropdown-arrow-inverted.png);
}

@media (-moz-windows-theme: luna-blue),
       (-moz-windows-theme: royale),
       (-moz-windows-theme: zune) {
  #messengerWindow[tabsintitlebar] .tabs-alltabs-button:not(:hover) >
    .toolbarbutton-menu-dropmarker:not(:-moz-lwtheme) {
    list-style-image: url(chrome://messenger/skin/icons/mainwindow-dropdown-arrow-inverted.png);
  }
}

/**
 * All Tabs Menupopup
 */

.alltabs-item {
  list-style-image: url("chrome://global/skin/icons/folder-item.png");
  -moz-image-region: rect(0px, 16px, 16px, 0px);
}

.alltabs-item[selected="true"] {
  font-weight: bold;
}

.alltabs-item[busy] {
  list-style-image: url("chrome://messenger/skin/icons/loading.png") !important;
}

/* Content Tabs */
.contentTabToolbox {
  -moz-appearance: none;
  height: 0px;
  border: 0;
}

.contentTabInstance[disablechrome] .contentTabToolbox {
  display: none;
}

.contentTabToolbox:not(:-moz-lwtheme) {
  height: 3px;
  border-bottom: 1px solid rgb(105, 105, 105);
}

.contentTabToolbox:-moz-lwtheme {
  height: 1px;
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5) 50%);
  background-color: rgba(255, 255, 255, 0.3);
}

.contentTabToolbar {
  height: 0px;
  min-height: 0px;
}
