[%# 1.0@bugzilla.org %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Test Runner System.
  #
  # The Initial Developer of the Original Code is Maciej Maczynski.
  # Portions created by Maciej Maczynski are Copyright (C) 2001
  # Maciej Maczynski. All Rights Reserved.
  #
  # Contributor(s): Ed Fuentetaja <efuentetaja@acm.org>
  #%]
[%
  debug_ext = Param('testopia-debug') == 'ON' 
      ? "testopia/extjs/ext-all-debug.js" : "testopia/extjs/ext-all.js"
  
  debug_testopia = Param('testopia-debug') == 'ON' 
      ? "testopia/testopia.all.js" : "testopia/testopia.all.ycomp.js"
  
  style_urls = ["testopia/extjs/resources/css/ext-all.css",
                "testopia/css/xtheme-gray.css"]
%]
[% IF Param('testopia-debug') == 'Developer' %]  
    [%  javascript_urls = [
                       "testopia/extjs/adapter/ext/ext-base.js",
                       "testopia/extjs/ext-all-debug.js"
                       "testopia/js/strings.js",
                       "testopia/js/util.js",
                       "testopia/js/attachments.js",
                       "testopia/js/plan.js",
                       "testopia/js/case.js",
                       "testopia/js/caserun.js",
                       "testopia/js/run.js",
                       "testopia/js/build.js",
                       "testopia/js/category.js",
                       "testopia/js/diff-tabs.js",
                       "testopia/js/environment.js",
                       "testopia/js/search.js",
                       "testopia/js/tags.js",
                      ]
    %]

[% ELSE %]
    [%  javascript_urls = ["testopia/extjs/adapter/ext/ext-base.js", 
                     debug_ext, debug_testopia]
    %]
[% END %]

[% DECORATIVE_BORDER_BEGIN = "<div style=\"margin-top:4px;\"><table style=\"border-width:1px;border-bottom-width:3px;border-style:solid;border-collapse:collapse;border-color:black;border-spacing:0px;\"><tr><td style=\"margin:0;padding:0;\"><table style=\"border-collapse:collapse;border-width:0px;\"><tr><td>" %]
[% DECORATIVE_BORDER_100_BEGIN = "<div style=\"margin-top:4px;\"><table width=\"100%\" style=\"border-width:1px;border-bottom-width:3px;border-style:solid;border-collapse:collapse;border-color:black;border-spacing:0px;\"><tr><td style=\"margin:0;padding:0;\"><table width=\"100%\" style=\"border-collapse:collapse;border-width:0px;\"><tr><td>" %]
[% DECORATIVE_BORDER_END = "</td></tr></table></td></tr></table></div>" %]
