[%# 1.0@bugzilla.org %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Testopia System.
  #
  # The Initial Developer of the Original Code is Greg Hendricks.
  # Portions created by Greg Hendricks are Copyright (C) 2006
  # Novell. All Rights Reserved.
  #
  # Contributor(s): Greg Hendricks <ghendricks@novell.com>
  #%]
  
    [% FILTER null;
        USE gd  = GD.Image(100,40);
        USE gdc = GD.Constants;
        white = gd.colorAllocate(255,255, 255);
        black = gd.colorAllocate(0,0,0);
        USE wrapbox = GD.Text.Wrap(gd,
         line_space  => 4,
         color       => black,
         text        => txt,
        );
        wrapbox.set_font(gdc.gdMediumBoldFont);
        wrapbox.set(align => 'left', width => 100);
        wrapbox.draw(2, 2);
        gdr = gd.copyRotate270();
        gdr.png | stdout(1);
      END;
    -%]