  <div class="pagetools">
    <div>
    <h3>Search Criteria</h3>
    <p>[% criteria | email %]</p>

    [% IF pager AND pager.total_entries > 0 %]
    <hr/>

    [% IF pager.current_page == 1 %]
      [% first_record = 1 %]
    [% ELSE %]
      [% first_record = ((pager.current_page - 1)*pager.entries_per_page) + 1 %]
    [% END %]
    [% IF pager.next_page %]
      [% last_record = pager.current_page*pager.entries_per_page  %]
    [% ELSE %]
      [% last_record = pager.total_entries %]
    [% END %]

    <p>Matched [% pager.total_entries %] results.<br/>
    Displaying results [% first_record %]->[% last_record %]</p>

    [% ELSE %]

      [% IF results AND results.size > 0 %]
    <hr/>
    <p># results: [% results.size %]</p>
      [% END %]

    [% END %]
    </div>
  </div>
