[% IF show_admin==1 %]
  <div class="pagetools">
    <div>
    <h3>Admin</h3>
    <ul>
        <li><a href="manage_test_runs.cgi">Manage Test Runs</a></li>
	<hr/>
        <li><a href="manage_testcases.cgi">Manage Testcases</a></li>
        <li><a href="manage_subgroups.cgi">Manage Subgroups</a></li>
        <li><a href="manage_testgroups.cgi">Manage Testgroups</a></li>
	<hr/>
	<li><a href="manage_categories.cgi">Manage Categories</a></li>
	<li><a href="manage_testdays.cgi">Manage Testdays</a></li>
	<li><a href="edit_users.cgi">Manage Users</a></li>
    </ul>
    </div>
  </div>
[% END %]
