  <div class="pagetools">
    <div>
    <h3>Help</h3>
    <ul>
    <li><a href="http://carstenbook.googlepages.com/Litmus-Tutorial.html">Litmus Tutorial</a></li>
    <li><a href="http://wiki.mozilla.org/Litmus">Litmus Wiki</a></li>
[% IF show_admin==1 %]
    <hr/>
    <li><a href="#">Admin Tutorial</a></li>
[% END %]
    </ul>
    </div>
  </div>
