/* -*- Mode: C; c-basic-offset: 2 -*- */

/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */


@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#linktoolbar {
  -moz-appearance: none;
  background-color: #d5d5d5;
  background-image: url("chrome://communicator/skin/toolbar/toolbar-gradient22.png");
  background-repeat: repeat-x;
  border-bottom: 1px solid rgb(159, 159, 159);
}

#linktoolbar:-moz-lwtheme {
  background-color: transparent;
  background-image: none;
}

#linktoolbar > .bookmark-item {
  text-shadow: none;
}

#linktoolbar > .bookmark-item:not([disabled="true"]):hover:active,
#linktoolbar > .bookmark-item[open] {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
}

#link-top {
  list-style-image: url("chrome://navigator/skin/btn1/top.gif");
}

#link-up {
  list-style-image: url("chrome://navigator/skin/btn1/up.gif");
}

#link-first {
  list-style-image: url("chrome://navigator/skin/btn1/first.gif");
}

#link-prev {
  list-style-image: url("chrome://navigator/skin/btn1/previous.gif");
}

#link-next {
  list-style-image: url("chrome://navigator/skin/btn1/next.gif");
}

#link-last {
  list-style-image: url("chrome://navigator/skin/btn1/last.gif");
}

#link-feed {
  list-style-image: url("chrome://navigator/skin/btn1/feeds.png") !important;
  -moz-image-region: rect(0px 32px 16px 16px);
}
