/* :::: Shared Styles :::: */

html {
  background: url("chrome://branding/content/featureConfigurator.jpg") no-repeat top right white;
}

body {
  color: #222222;
  padding: 0;
  margin: 0 8px;
  font-family: sans-serif;
  font-size: small;
}

table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
}

table, tbody, tr, td {
  margin: 0;
  padding: 0;
  vertical-align: top;
}

.column.left {}

.column.right {
  width: 200px;
  /* this makes all content clear the TB logo */
  padding-top: 176px;
}

a {
  color: #003595;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: large;
  font-family: Georgia,serif;
}

.button {
  display: inline-block;
  margin: 1px 1em 0.5em 1px;
  padding: 0.2em 1em;
  font-weight: normal;
  color: #000000;
  background-color: #babdb6;
  cursor: pointer;
  -moz-border-radius: 3px;
  text-shadow: rgba(255, 255, 255, 0.4) 0 1px;
}

.syncing {
  background-color: #729fcf;
}

.button:hover {
  background-color: #729fcf;
  color: #ffffff;
  text-decoration: none;
}

.screenshot {
  display: block;
  border: 1px solid #69645C;
  margin-bottom: 1em;
}

label {
  position: relative;
  display: block;
  -moz-padding-start: 25px;
  margin: 1em 0;
  cursor: pointer;
  font-size: larger;
}

label:hover {
  text-decoration: underline;
}

label input[type="radio"] {
  position: absolute;
  left: 0;
}

label .explanation {
  color: GrayText;
  font-size: smaller;
}

/* :::: AutoSync Page :::: */

#disk-space-arrow {
  height: 250px;
  background: url("chrome://messenger/skin/featureConfigurators/animation.png") no-repeat center center;
}

.disk-space {
  font-size: large;
  text-align: end;
  color: #898378;
  white-space: nowrap;
  padding: 7px;
}

.disk-space td span {
  font-weight: bold;
}

#disk-space-used {
  position: fixed;
  right: 0;
  bottom: 0;
  line-height: 1.5ex;
  -moz-padding-end: 8px;
  font-size: small;
  background-color: #fff;
}

#disk-space-warning {
  background-color: Highlight;
  color: HighlightText;
  -moz-border-radius: 4px;
  padding: 7px;
  margin: 3px 0;
}

/* :::: Add-ons Pages :::: */

#addon-install-button {
}

#installing {
  display: none;
}

#installing .spinner {
  vertical-align: middle;
  -moz-margin-end: 1em;
}

#installed {
  display: none;
}

#alreadyInstalled {
  display: none;
}

#strong {
  display: none;
}
