/*
# -*- Mode: Java; tab-width: 4; indent-tabs-mode: nil; c-basic-offset: 4 -*-
# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
*/

/* Global Styles */
#CalendarPreferences radio[pane] {
    list-style-image: url("chrome://calendar/skin/preferences/Options.png"); 
}

radio[pane=paneGeneral] {
    -moz-image-region: rect(0px, 32px,  32px, 0px)
}
radio[pane=paneGeneral]:hover, radio[pane=paneGeneral][selected="true"]  {
    -moz-image-region: rect(32px, 32px,  64px, 0px)
}

radio[pane=paneAlarms] {
    -moz-image-region: rect(0px, 64px,  32px, 32px)
}
radio[pane=paneAlarms]:hover, radio[pane=paneAlarms][selected="true"]  {
    -moz-image-region: rect(32px, 64px,  64px, 32px)
}

radio[pane=paneCategories] {
    -moz-image-region: rect(0px, 128px, 32px, 96px)
}
radio[pane=paneCategories]:hover, radio[pane=paneCategories][selected="true"] {
    -moz-image-region: rect(32px, 128px, 64px, 96px)
}

radio[pane=paneViews] {
    -moz-image-region: rect(0px, 192px, 32px, 160px)
}
radio[pane=paneViews]:hover, radio[pane=paneViews][selected="true"] {
    -moz-image-region: rect(32px, 192px, 64px, 160px)
}

radio[pane=paneTimezones] {
    -moz-image-region: rect(0px, 224px, 32px, 192px)
}
radio[pane=paneTimezones]:hover, radio[pane=paneTimezones][selected="true"] {
    -moz-image-region: rect(32px, 224px, 64px, 192px)
}

radio[pane=paneAdvanced] {
    -moz-image-region: rect(0px, 160px, 32px, 128px)
}
radio[pane=paneAdvanced]:hover, radio[pane=paneAdvanced][selected="true"] {
    -moz-image-region: rect(32px, 160px, 64px, 128px)
}

/* File Field Widget */
filefield {
    margin: 2px 4px;
    -moz-appearance: textfield;
}

.fileFieldContentBox {
    background-color: -moz-Dialog;
    color: -moz-DialogText;
    margin: 1px;
}

filefield[disabled="true"] .fileFieldContentBox {
    opacity: 0.5;
}

filefield[disabled="true"] .fileFieldIcon {
    opacity: 0.2;
}

.fileFieldIcon {
    width: 16px;
    height: 16px;
    margin-top: 2px;
    margin-bottom: 2px;
    -moz-margin-start: 2px;
    -moz-margin-end: 4px;
}

.fileFieldLabel {
    -moz-appearance: none;
    background-color: transparent;
    border: none;
    padding: 1px 0px 0px;
    margin: 0px;
}

tabpanels caption {
    background-color: -moz-Dialog;
}
