/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/** Stock icons for the menu items. */
#fontFaceMenu {
  -moz-binding: url("chrome://global/content/bindings/menu.xml#menu-iconic");
  list-style-image: url("moz-icon://stock/gtk-select-font?size=menu");
}

#increaseIndent {
  list-style-image: url("moz-icon://stock/gtk-indent?size=menu");
}

#decreaseIndent {
  list-style-image: url("moz-icon://stock/gtk-unindent?size=menu");
}

#menu_styleBold {
  list-style-image: url("moz-icon://stock/gtk-bold?size=menu");
}

#menu_styleItalic {
  list-style-image: url("moz-icon://stock/gtk-italic?size=menu");
}

#menu_styleUnderline {
  list-style-image: url("moz-icon://stock/gtk-underline?size=menu");
}

#menu_styleUnderline {
  list-style-image: url("moz-icon://stock/gtk-underline?size=menu");
}

#menu_styleStrikeThru {
  list-style-image: url("moz-icon://stock/gtk-strikethrough?size=menu");
}
