/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: primary toolbar buttons ::::: */

.toolbarbutton-1 {
  list-style-image: url("chrome://editor/skin/icons/editoricons.png");
}

#newButton {
  -moz-image-region: rect(120px 29px 149px 0);
}

#newButton:hover:active {
  -moz-image-region: rect(120px 59px 149px 30px);
}

#newButton[disabled="true"] {
  -moz-image-region: rect(120px 89px 149px 60px) !important;
}

#openButton {
  -moz-image-region: rect(150px 29px 179px 0);
}

#openButton:hover:active {
  -moz-image-region: rect(150px 59px 179px 30px);
}

#openButton[disabled="true"] {
  -moz-image-region: rect(150px 89px 179px 60px) !important;
}

#saveButton {
  -moz-image-region: rect(210px 29px 239px 0);
}

#saveButton:hover:active {
  -moz-image-region: rect(210px 59px 239px 30px);
}

#saveButton[disabled="true"] {
  -moz-image-region: rect(210px 89px 239px 60px) !important;
}

#publishButton {
  -moz-image-region: rect(300px 29px 329px 0);
}

#publishButton:hover:active {
  -moz-image-region: rect(300px 59px 329px 30px);
}

#publishButton[disabled="true"] {
  -moz-image-region: rect(300px 89px 329px 60px) !important;
}

#previewButton {
  -moz-image-region: rect(180px 29px 209px 0);
}

#previewButton:hover:active {
  -moz-image-region: rect(180px 59px 209px 30px);
}

#previewButton[disabled="true"] {
  -moz-image-region: rect(180px 89px 209px 60px) !important;
}

#linkButton {
  -moz-image-region: rect(90px 29px 119px 0);
}

#linkButton:hover:active {
  -moz-image-region: rect(90px 59px 119px 30px);
}

#linkButton[disabled="true"] {
  -moz-image-region: rect(90px 89px 119px 60px) !important;
}

#imageButton {
  -moz-image-region: rect(60px 29px 89px 0);
}

#imageButton:hover:active {
  -moz-image-region: rect(60px 59px 89px 30px);
}

#imageButton[disabled="true"] {
  -moz-image-region: rect(60px 89px 89px 60px) !important;
}

#namedAnchorButton {
  -moz-image-region: rect(0 29px 29px 0);
}

#namedAnchorButton:hover:active {
  -moz-image-region: rect(0 59px 29px 30px);
}

#namedAnchorButton[disabled="true"] {
  -moz-image-region: rect(0 89px 29px 60px) !important;
}

#hlineButton {
  -moz-image-region: rect(30px 29px 59px 0);
}

#hlineButton:hover:active {
  -moz-image-region: rect(30px 59px 59px 30px);
}

#hlineButton[disabled="true"] {
  -moz-image-region: rect(30px 89px 59px 60px) !important;
}

#tableButton {
  -moz-image-region: rect(270px 29px 299px 0);
}

#tableButton:hover:active {
  -moz-image-region: rect(270px 59px 299px 30px);
}

#tableButton[disabled="true"] {
  -moz-image-region: rect(270px 89px 299px 60px) !important;
}

#spellingButton {
  -moz-image-region: rect(240px 29px 269px 0);
}

#spellingButton:hover:active {
  -moz-image-region: rect(240px 59px 269px 30px);
}

#spellingButton[disabled="true"] {
  -moz-image-region: rect(240px 89px 269px 60px) !important;
}

#cutButton {
  -moz-image-region: rect(330px 29px 359px 0);
}

#cutButton:hover:active {
  -moz-image-region: rect(330px 59px 359px 30px);
}

#cutButton[disabled="true"] {
  -moz-image-region: rect(330px 89px 359px 60px) !important;
}

#copyButton {
  -moz-image-region: rect(360px 29px 389px 0);
}

#copyButton:hover:active {
  -moz-image-region: rect(360px 59px 389px 30px);
}

#copyButton[disabled="true"] {
  -moz-image-region: rect(360px 89px 389px 60px) !important;
}

#pasteButton {
  -moz-image-region: rect(390px 29px 419px 0);
}

#pasteButton:hover:active {
  -moz-image-region: rect(390px 59px 419px 30px);
}

#pasteButton[disabled="true"] {
  -moz-image-region: rect(390px 89px 419px 60px) !important;
}

#findButton {
  -moz-image-region: rect(420px 29px 449px 0);
}

#findButton:hover:active {
  -moz-image-region: rect(420px 59px 449px 30px);
}

#findButton[disabled="true"] {
  -moz-image-region: rect(420px 89px 449px 60px) !important;
}

