/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: formatting toolbar and buttons ::::: */

#FormatToolbar {
  -moz-appearance: none;
  border-bottom: 1px solid rgba(0,0,0,0.35);
}

#FormatToolbar > toolbarbutton > .toolbarbutton-text {
  display: none;
}

toolbarbutton.formatting-button {
  list-style-image: url("chrome://editor/skin/icons/btn2.gif");
  min-width: 32px;
}

#DecreaseFontSizeButton {
  -moz-image-region: rect(64px 14px 80px 0px);
}

#DecreaseFontSizeButton:hover {
  -moz-image-region: rect(64px 28px 80px 14px);
}

#DecreaseFontSizeButton:hover:active {
  -moz-image-region: rect(64px 42px 80px 28px);
}

#DecreaseFontSizeButton[disabled="true"] {
  -moz-image-region: rect(64px 56px 80px 42px) !important;
}

#IncreaseFontSizeButton {
  -moz-image-region: rect(81px 18px 98px 0px);
}

#IncreaseFontSizeButton:hover {
  -moz-image-region: rect(81px 36px 98px 18px);
}

#IncreaseFontSizeButton:hover:active {
  -moz-image-region: rect(81px 54px 98px 36px);
}

#IncreaseFontSizeButton[disabled="true"] {
  -moz-image-region: rect(81px 72px 98px 54px) !important;
}

#boldButton {
  -moz-image-region: rect(16px 16px 32px 0px);
}

#boldButton:hover {
  -moz-image-region: rect(16px 32px 32px 16px);
}

#boldButton:hover:active {
  -moz-image-region: rect(16px 48px 32px 32px);
}

#boldButton[checked="true"] {
  -moz-image-region: rect(16px 16px 32px 0px);
}

#boldButton[disabled="true"] {
  -moz-image-region: rect(16px 64px 32px 48px) !important;
}

#italicButton {
  -moz-image-region: rect(98px 16px 114px 0px);
}

#italicButton:hover {
  -moz-image-region: rect(98px 32px 114px 16px);
}

#italicButton:hover:active {
  -moz-image-region: rect(98px 48px 114px 32px);
}

#italicButton[checked="true"] {
  -moz-image-region: rect(98px 16px 114px 0px);
}

#italicButton[disabled="true"] {
  -moz-image-region: rect(98px 64px 114px 48px) !important;
}

#underlineButton {
  -moz-image-region: rect(114px 16px 130px 0px);
}

#underlineButton:hover {
  -moz-image-region: rect(114px 32px 130px 16px);
}

#underlineButton:hover:active {
  -moz-image-region: rect(114px 48px 130px 32px);
}

#underlineButton[checked="true"] {
  -moz-image-region: rect(114px 16px 130px 0px);
}

#underlineButton[disabled="true"] {
  -moz-image-region: rect(114px 64px 130px 48px) !important;
}

#ulButton {
  -moz-image-region: rect(32px 16px 48px 0px);
}

#ulButton:hover {
  -moz-image-region: rect(32px 32px 48px 16px);
}

#ulButton:hover:active {
  -moz-image-region: rect(32px 48px 48px 32px);
}

#ulButton[checked="true"] {
  -moz-image-region: rect(32px 16px 48px 0px);
}

#ulButton[disabled="true"] {
  -moz-image-region: rect(32px 64px 48px 48px) !important;
}

#olButton {
  -moz-image-region: rect(194px 16px 210px 0px);
}

#olButton:hover {
  -moz-image-region: rect(194px 32px 210px 16px);
}

#olButton:hover:active {
  -moz-image-region: rect(194px 48px 210px 32px);
}

#olButton[checked="true"] {
  -moz-image-region: rect(194px 16px 210px 0px);
}

#olButton[disabled="true"] {
  -moz-image-region: rect(194px 64px 210px 48px) !important;
}

#outdentButton {
  -moz-image-region: rect(210px 16px 226px 0px);
}

#outdentButton:hover {
  -moz-image-region: rect(210px 32px 226px 16px);
}

#outdentButton:hover:active {
  -moz-image-region: rect(210px 48px 226px 32px);
}

#outdentButton[disabled="true"] {
  -moz-image-region: rect(210px 64px 226px 48px) !important;
}

#indentButton {
  -moz-image-region: rect(178px 16px 194px 0px);
}

#indentButton:hover {
  -moz-image-region: rect(178px 32px 194px 16px);
}

#indentButton:hover:active {
  -moz-image-region: rect(178px 48px 194px 32px);
}

#indentButton[disabled="true"] {
  -moz-image-region: rect(178px 64px 194px 48px) !important;
}

#align-left-button {
  -moz-image-region: rect(146px 16px 162px 0px);
}

#align-left-button:hover {
  -moz-image-region: rect(146px 32px 162px 16px);
}

#align-left-button:hover:active {
  -moz-image-region: rect(146px 48px 162px 32px);
}

#align-left-button[checked="true"] {
  -moz-image-region: rect(146px 16px 162px 0px);
}

#align-left-button[disabled="true"] {
  -moz-image-region: rect(146px 64px 162px 48px) !important;
}

#align-center-button {
  -moz-image-region: rect(48px 16px 64px 0px);
}

#align-center-button:hover {
  -moz-image-region: rect(48px 32px 64px 16px);
}

#align-center-button:hover:active {
  -moz-image-region: rect(48px 48px 64px 32px);
}

#align-center-button[checked="true"] {
  -moz-image-region: rect(48px 16px 64px 0px);
}

#align-center-button[disabled="true"] {
  -moz-image-region: rect(48px 64px 64px 48px) !important;
}

#align-right-button {
  -moz-image-region: rect(162px 16px 178px 0px);
}

#align-right-button:hover {
  -moz-image-region: rect(162px 32px 178px 16px);
}

#align-right-button:hover:active {
  -moz-image-region: rect(162px 48px 178px 32px);
}

#align-right-button[checked="true"] {
  -moz-image-region: rect(162px 16px 178px 0px);
}

#align-right-button[disabled="true"] {
  -moz-image-region: rect(162px 64px 178px 48px) !important;
}

#align-justify-button {
  -moz-image-region: rect(130px 16px 146px 0px);
}

#align-justify-button:hover {
  -moz-image-region: rect(130px 32px 146px 16px);
}

#align-justify-button:hover:active {
  -moz-image-region: rect(130px 48px 146px 32px);
}

#align-justify-button[checked="true"] {
  -moz-image-region: rect(130px 16px 146px 0px);
}

#align-justify-button[disabled="true"] {
  -moz-image-region: rect(130px 64px 146px 48px) !important;
}

#AlignPopupButton {
  -moz-image-region: rect(0px 16px 16px 0px);
}

#AlignPopupButton:hover {
  -moz-image-region: rect(0px 32px 16px 16px);
}

#AlignPopupButton[open="true"] {
  -moz-image-region: rect(0px 48px 16px 32px) !important;
}

#AlignPopupButton[disabled="true"] {
  -moz-image-region: rect(0px 64px 16px 48px) !important;
}

#InsertPopupButton {
  -moz-image-region: rect(244px 16px 260px 0px);
}

#InsertPopupButton:hover {
  -moz-image-region: rect(244px 32px 260px 16px);
}

#InsertPopupButton[open="true"] {
  -moz-image-region: rect(244px 48px 260px 32px) !important;
}

#InsertPopupButton[disabled="true"] {
  -moz-image-region: rect(244px 64px 260px 48px) !important;
}

#smileButtonMenu {
  -moz-image-region: rect(227px 17px 244px 0px);
}

#smileButtonMenu:hover {
  -moz-image-region: rect(227px 34px 244px 17px);
}

#smileButtonMenu[open="true"] {
  -moz-image-region: rect(227px 51px 244px 34px) !important;
}

#smileButtonMenu[disabled="true"] {
  -moz-image-region: rect(227px 68px 244px 51px) !important;
}

/* ::::: menuitem icons ::::: */

/* ..... align menu ..... */

#AlignPopup > menuitem {
  list-style-image: url("chrome://editor/skin/icons/btn2.gif");
}

#AlignLeftItem {
  -moz-image-region: rect(146px 16px 162px 0px);
}

#AlignCenterItem {
  -moz-image-region: rect(48px 16px 64px 0px);
}

#AlignRightItem {
  -moz-image-region: rect(162px 16px 178px 0px);
}

#AlignJustifyItem {
  -moz-image-region: rect(130px 16px 146px 0px);
}

/* ..... insert menu ..... */

#InsertPopup > menuitem {
  list-style-image: url("chrome://editor/skin/icons/editoricons-small.png");
}

#InsertLinkItem {
  -moz-image-region: rect(60px 19px 79px 0);
}

#InsertAnchorItem {
  -moz-image-region: rect(0 19px 19px 0);
}

#InsertImageItem {
  -moz-image-region: rect(40px 19px 59px 0);
}

#InsertHRuleItem {
  -moz-image-region: rect(20px 19px 39px 0);
}

#InsertTableItem {
  -moz-image-region: rect(180px 19px 199px 0);
}

/* ..... smiley menu ..... */

.insert-smile {
  list-style-image: url("chrome://communicator/skin/icons/smileys/smiley-smile.png");
}

.insert-frown {
  list-style-image: url("chrome://communicator/skin/icons/smileys/smiley-frown.png"); 
}

.insert-wink {
  list-style-image: url("chrome://communicator/skin/icons/smileys/smiley-wink.png");
}

.insert-tongue {
  list-style-image: url("chrome://communicator/skin/icons/smileys/smiley-tongue.png");
}

.insert-laughing {
  list-style-image: url("chrome://communicator/skin/icons/smileys/smiley-laughing.png"); 
}

.insert-embarrassed {
  list-style-image: url("chrome://communicator/skin/icons/smileys/smiley-embarrassed.png");
}

.insert-undecided {
  list-style-image: url("chrome://communicator/skin/icons/smileys/smiley-undecided.png"); 
}

.insert-surprise {
  list-style-image: url("chrome://communicator/skin/icons/smileys/smiley-surprise.png"); 
}

.insert-kiss {
  list-style-image: url("chrome://communicator/skin/icons/smileys/smiley-kiss.png"); 
}

.insert-yell {
  list-style-image: url("chrome://communicator/skin/icons/smileys/smiley-yell.png"); 
}

.insert-cool {
  list-style-image: url("chrome://communicator/skin/icons/smileys/smiley-cool.png"); 
}

.insert-money {
  list-style-image: url("chrome://communicator/skin/icons/smileys/smiley-money.png"); 
}

.insert-foot {
  list-style-image: url("chrome://communicator/skin/icons/smileys/smiley-foot.png"); 
}

.insert-innocent {
  list-style-image: url("chrome://communicator/skin/icons/smileys/smiley-innocent.png"); 
}

.insert-cry {
  list-style-image: url("chrome://communicator/skin/icons/smileys/smiley-cry.png"); 
}

.insert-sealed {
  list-style-image: url("chrome://communicator/skin/icons/smileys/smiley-sealed.png"); 
}

/* ::::: fg/bg color picker ::::: */

.ColorPickerLabel {
  border: 1px inset ThreeDFace;
  margin: 0px;
  padding: 2px;
}

.color-button {
  border: 1px inset ThreeDFace;
  padding: 0px;
  width: 14px;
  height: 12px;
  margin: 2px;
}

.color-button:hover {
  border: 1px solid ThreeDDarkShadow;
}

#TextColorButton {
  margin-top: 2px;
  margin-bottom: 9px;
  -moz-margin-start: 2px;
  -moz-margin-end: 9px;
}

#BackgroundColorButton {
  margin-top: 9px;
  margin-bottom: 2px;
  -moz-margin-start: 9px;
  -moz-margin-end: 2px;
}

#HighlightColorButton {
  -moz-image-region: rect(260px 16px 272px 0px);
  background-color: transparent;
}

#HighlightColorButton:hover {
  -moz-image-region: rect(260px 32px 272px 16px);
}

#HighlightColorButton:hover:active {
  -moz-image-region: rect(260px 48px 272px 32px);
}

#HighlightColorButton[disabled="true"],
#HighlightColorButton[disabled="true"]:hover,
#HighlightColorButton[disabled="true"]:hover:active {
  -moz-image-region: rect(260px 64px 272px 48px);
}


#absolutePositionButton {
  -moz-image-region: rect(273px 16px 289px 0px);
}

#absolutePositionButton:hover {
  -moz-image-region: rect(273px 32px 289px 16px);
}

#absolutePositionButton:hover:active {
  -moz-image-region: rect(273px 48px 289px 32px);
}

#absolutePositionButton[disabled="true"] {
  -moz-image-region: rect(273px 64px 289px 48px) ! important;
}

#absolutePositionButton[checked="true"]{
  -moz-image-region: rect(289px 16px 305px 0px);
}

#absolutePositionButton[checked="true"]:hover {
  -moz-image-region: rect(289px 32px 305px 16px);
}

#absolutePositionButton[checked="true"]:hover:active {
  -moz-image-region: rect(289px 48px 305px 32px);
}

#increaseZIndexButton {
  list-style-image: url("chrome://editor/content/images/bringtofront.gif");
}

#increaseZIndexButton[disabled="true"] {
  list-style-image: url("chrome://editor/content/images/bringtofront-disabled.gif");
}

#decreaseZIndexButton {
  list-style-image: url("chrome://editor/content/images/sendtoback.gif");
}

#decreaseZIndexButton[disabled="true"] {
  list-style-image: url("chrome://editor/content/images/sendtoback-disabled.gif");
}
