/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#calendar-invitations-dialog {
  min-width: 500px;
  min-height: 273px;
}

.calendar-invitations-updating-icon {
  list-style-image: url("chrome://global/skin/icons/loading_16.png");
  opacity: 0.5;
}

calendar-invitations-richlistbox {
  background-color: -moz-Field;
  color: -moz-FieldText;
  border: 1px solid #7F9DB9;
}

calendar-invitations-richlistitem {
  padding-top: 6px;
  padding-bottom: 6px;
  -moz-padding-start: 7px;
  -moz-padding-end: 7px;
  min-height: 25px;
  border-bottom: 1px dotted #C0C0C0;
}

calendar-invitations-richlistitem[selected="true"] {
  background-image: url("chrome://mozapps/skin/extensions/itemEnabledFader.png");
  background-color: Highlight;
  color: HighlightText;
  border-bottom: 1px dotted #7F9DB9;
}

.calendar-invitations-richlistitem-title {
  font-weight: bold;
}

.calendar-invitations-richlistitem-icon[status="NEEDS-ACTION"] {
  list-style-image: url("chrome://calendar/skin/calendar-invitations-dialog-list-images.png");
  -moz-image-region: rect(0px 32px 32px 0px);
}

.calendar-invitations-richlistitem-icon[status="ACCEPTED"] {
  list-style-image: url("chrome://calendar/skin/calendar-invitations-dialog-list-images.png");
  -moz-image-region: rect(0px 64px 32px 32px);
}

.calendar-invitations-richlistitem-icon[status="DECLINED"] {
  list-style-image: url("chrome://calendar/skin/calendar-invitations-dialog-list-images.png");
  -moz-image-region: rect(0px 96px 32px 64px);
}

.calendar-invitations-richlistitem-button {
  margin-bottom: 10px;
  visibility: hidden;

  /* Workaround for making the checked button actually look checked */
  -moz-appearance: tab;
  min-height: 20px;
}

calendar-invitations-richlistitem[selected="true"] .calendar-invitations-richlistitem-button {
  visibility: visible;
}

.calendar-invitations-richlistitem-button .button-icon {
  margin-top: 0px;
  margin-bottom: 0px;
  -moz-margin-start: 0px;
  -moz-margin-end: 5px;
}

.calendar-invitations-richlistitem-accept-button {
  list-style-image: url("chrome://calendar/skin/calendar-invitations-dialog-button-images.png");
  -moz-image-region: rect(0px 16px 16px 0px);
}

.calendar-invitations-richlistitem-decline-button {
  list-style-image: url("chrome://calendar/skin/calendar-invitations-dialog-button-images.png");
  -moz-image-region: rect(0px 32px 16px 16px);
}
