[%# 1.0@bugzilla.org %]

[% IF caserun %]
<h4 style="color:#C00;">[% terms.Bug %] attached to <a href="tr_show_case.cgi?case_id=[% case.id FILTER none %]">Test case [% case.id FILTER none %]</a></h4>
[% END %]
