/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.main-table {
  font-size: 26px;
  font-weight: bold;
}

.day-name {
  border: 1px solid #000;
  background-color: #e0e0e0;
  font-size: 12px;
  font-weight: bold;
}

.day-box {
  border: 1px solid black;
  vertical-align: top;
}

.out-of-month {
  background-color: gray !important;
}

.day-off {
  background-color: #D3D3D3 !important;
}

.taskItem {
  border-bottom: 1px solid #F3F3F3;
}

.tasks {
  margin: 5px;
}

.taskList {
  margin: 0px;
  list-style-image: none;
  list-style-type: none;
  padding: 0px;
}
