/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#calendar-occurrence-prompt {
  padding: 0;
  width: 25em;
  height: 34ex;
  min-width: 25em;
  min-height: 34ex;
  -moz-user-focus: ignore;
}

#occurrence-prompt-header {
  height: 50px;
  padding: 0 15px;
  border-bottom: 2px groove ThreeDFace;
  background-color: window;
  color: windowtext;
}

#title-label {
  font-weight: bold;
}

#accept-buttons-box {
  padding: 0 18px;
  border-bottom: 2px groove ThreeDFace;
}


.occurrence-accept-buttons {
  list-style-image: url(chrome://calendar/skin/calendar-occurrence-prompt.png);
  margin: 10px 0px;
}

.occurrence-accept-buttons > .button-box > .button-text {
  margin: 0 3px !important;
}

#accept-buttons-box[action="edit"] > #accept-occurrence-button {
  -moz-image-region: rect(0 20px 20px 0);
}

#accept-buttons-box[action="edit"] > #accept-parent-button {
  -moz-image-region: rect(0 40px 20px 20px);
}

#accept-buttons-box[action="edit"] > #accept-allfollowing-button {
  -moz-image-region: rect(0 60px 20px 40px);
}

#accept-buttons-box[action="delete"] > #accept-occurrence-button {
  -moz-image-region: rect(0 80px 20px 60px);
}

#accept-buttons-box[action="delete"] > #accept-parent-button {
  -moz-image-region: rect(0 100px 20px 80px);
}

#accept-buttons-box[action="delete"] > #accept-allfollowing-button {
  -moz-image-region: rect(0 120px 20px 100px);
}
