/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

.status-icon > .menu-iconic-left,
.role-icon > .menu-iconic-left,
.usertype-icon > .menu-iconic-left {
    visibility: inherit;
}

.status-icon {
    margin: 0 3px;
    list-style-image: url(chrome://calendar/skin/calendar-event-dialog-attendees.png);
    -moz-image-region: rect(0px 48px 14px 36px);
}

.status-icon[disabled="true"] {
    -moz-image-region: rect(14px 48px 28px 36px);
}

.status-icon[status="ACCEPTED"] {
    -moz-image-region: rect(0px 12px 14px 0px);
}
.status-icon[status="ACCEPTED"][disabled="true"] {
    -moz-image-region: rect(14px 12px 28px 0px);
}

.status-icon[status="DECLINED"] {
    -moz-image-region: rect(0px 24px 14px 12px);
}
.status-icon[status="DECLINED"][disabled="true"] {
    -moz-image-region: rect(14px 24px 28px 12px);
}

.status-icon[status="NEEDS-ACTION"] {
    -moz-image-region: rect(0px 36px 14px 24px);
}
.status-icon[status="NEEDS-ACTION"][disabled="true"] {
    -moz-image-region: rect(14px 36px 28px 24px);
}

.status-icon[status="TENTATIVE"] {
    -moz-image-region: rect(0px 48px 14px 36px);
}
.status-icon[status="TENTATIVE"][disabled="true"] {
    -moz-image-region: rect(14px 48px 28px 36px);
}

.role-icon {
    margin: 0 3px;
    list-style-image: url(chrome://calendar/skin/calendar-event-dialog-attendees.png);
    -moz-image-region: rect(0px 159px 16px 138px);
}

.role-icon[disabled="true"] {
    -moz-image-region: rect(0px 159px 16px 138px);
}

.role-icon[role="REQ-PARTICIPANT"] {
    -moz-image-region: rect(0px 159px 16px 138px);
}
.role-icon[role="REQ-PARTICIPANT"][disabled="true"] {
    -moz-image-region: rect(0px 159px 16px 138px);
}

.role-icon[role="OPT-PARTICIPANT"] {
    -moz-image-region: rect(0px 180px 16px 159px);
}
.role-icon[role="OPT-PARTICIPANT"][disabled="true"] {
    -moz-image-region: rect(0px 180px 16px 159px);
}

.role-icon[role="CHAIR"] {
    -moz-image-region: rect(0px 201px 16px 180px);
}
.role-icon[role="CHAIR"][disabled="true"] {
    -moz-image-region: rect(0px 201px 16px 180px);
}

.role-icon[role="NON-PARTICIPANT"] {
    -moz-image-region: rect(0px 222px 16px 201px);
}
.role-icon[role="NON-PARTICIPANT"][disabled="true"] {
    -moz-image-region: rect(0px 222px 16px 201px);
}

.usertype-icon,
.usertype-icon[cutype="INDIVIDUAL"] {
    margin: 0 3px;
    list-style-image: url(chrome://calendar/skin/attendee-icons.png);
    -moz-image-region: rect(0px 16px 16px 0px);
}
.usertype-icon[disabled="true"],
.usertype-icon[cutype="INDIVIDUAL"][disabled="true"] {
    -moz-image-region: rect(16px 16px 32px 0px);
}

.usertype-icon[cutype="GROUP"] {
    -moz-image-region: rect(0px 32px 16px 16px);
}
.usertype-icon[cutype="GROUP"][disabled="true"] {
    -moz-image-region: rect(16px 32px 32px 16px);
}

.usertype-icon[cutype="RESOURCE"] {
    -moz-image-region: rect(0px 48px 16px 32px);
}
.usertype-icon[cutype="RESOURCE"][disabled="true"] {
    -moz-image-region: rect(16px 48px 32px 32px);
}

.usertype-icon[cutype="ROOM"] {
    -moz-image-region: rect(0px 64px 16px 48px);
}
.usertype-icon[cutype="ROOM"][disabled="true"] {
    -moz-image-region: rect(16px 64px 32px 48px);
}
