/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

.today-subpane {
  border-color: ThreeDShadow;
  border-style: solid;
  border-width: 1px 0;
  margin-bottom: 3px;
  padding: 0px;
}

#buttonspacer {
  width: 5px;
}

#today-pane-panel {
  background-color: -moz-Dialog;
}

#today-pane-panel:-moz-lwtheme {
  background-color: transparent;
}

#today-pane-panel > * {
  color: -moz-DialogText;
}

#today-pane-panel:-moz-lwtheme > sidebarheader {
  color: inherit;
}

#agenda-panel:-moz-lwtheme > vbox,
#today-pane-splitter:-moz-lwtheme,
#todo-tab-panel:-moz-lwtheme {
  background-color: -moz-Dialog;
}

#today-pane-panel:-moz-lwtheme > vbox {
  text-shadow: none;
  background-color: -moz-Dialog;
}

#mini-day-image {
  background-image: linear-gradient(transparent, transparent 48%,
                    rgba(0, 0, 0, .02) 52%, rgba(0, 0, 0, .1));
}

#mini-day-box,
#today-minimonth-box {
  background-color: -moz-field;
}

#weekdayNameContainer {
  font-family: Trebuchet MS, Lucida Grande, Arial, Helvetica;
  padding-top: 4px;
  font-weight: bold;
  font-size: 18px;
}

.monthlabel {
  -moz-margin-end: 0px;
}

.dateValue {
  font-family: Arial, Helvetica, Trebuchet MS, Lucida Grande, sans-serif;
  margin-top: 0px;
  padding-top: 0px;
  font-size: 36px;
  font-weight: bold;
}

.miniday-nav-buttons {
  margin-top: 2px;
  min-width: 19px;
  -moz-user-focus: normal;
}

#today-button {
  list-style-image: url("chrome://calendar/skin/widgets/nav-today.svg");
}

.miniday-nav-buttons[disabled] {
  opacity: .3;
}

.miniday-nav-buttons > .toolbarbutton-icon {
  margin: 1px;
}

#miniday-dropdown-button {
  margin: 2px;
  -moz-user-focus: normal;
}

#miniday-dropdown-button > .toolbarbutton-icon,
#miniday-dropdown-button > .toolbarbutton-text,
  .miniday-nav-buttons > .toolbarbutton-text  {
  display: none;
}

#miniday-dropdown-button > .toolbarbutton-menu-dropmarker {
    -moz-padding-start: 0;
}

.today-closebutton {
  -moz-image-region: rect(0 16px 16px 0);
}

.today-closebutton:hover {
  -moz-image-region: rect(0 32px 16px 16px);
}

.today-closebutton:hover:active {
  -moz-image-region: rect(0 48px 16px 32px);
}

#agenda-toolbar {
  border: none;
  padding: 1px;
}

#todaypane-new-event-button {
  -moz-user-focus: normal;
}

#todaypane-new-event-button > .toolbarbutton-text {
 -moz-padding-start: 5px;
}

#todaypane-new-event-button {
  list-style-image: url("chrome://calendar/skin/toolbar-small.png");
}

#agenda-listbox {
  -moz-appearance: none;
  -moz-user-focus: normal;
  margin: 3px 0 0;
  border-top: 1px solid ThreeDShadow;
  background-color: -moz-field;
}

agenda-checkbox-richlist-item {
  -moz-binding: url("chrome://calendar/content/agenda-listbox.xml#agenda-checkbox-richlist-item");
  -moz-user-focus: normal;
}

agenda-richlist-item {
  -moz-binding: url("chrome://calendar/content/agenda-listbox.xml#agenda-richlist-item");
  -moz-user-focus: normal;
}

agenda-allday-richlist-item {
  -moz-binding: url("chrome://calendar/content/agenda-listbox.xml#agenda-allday-richlist-item");
  -moz-user-focus: normal;
}
.wrap {
  overflow: visible;
}

.agenda-container-box {
  border-bottom: 1px dotted #C0C0C0;
  -moz-margin-start: 4px;
  -moz-margin-end: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.agenda-allday-container-box {
  border-bottom: 1px dotted #C0C0C0;
  -moz-margin-start: 4px;
  -moz-margin-end: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.agenda-container-box[selected="true"],
.agenda-allday-container-box[selected="true"],
.agenda-checkbox[selected="true"],
.agenda-container-box[selected="true"][current="true"],
.agenda-allday-container-box[selected="true"][current="true"],
.agenda-checkbox[selected="true"][current="true"] {
  background-image: url("chrome://mozapps/skin/extensions/itemEnabledFader.png");
  background-color: #FDF5A0;
  color: #000000;
}

.agenda-container-box[current="true"],
.agenda-alldaycontainer-box[current="true"],
.agenda-checkbox[current="true"],
.agenda-container-box[selected="true"][current="true"][disabled="true"],
.agenda-allday-container-box[selected="true"][current="true"][disabled="true"],
.agenda-checkbox[selected="true"][current="true"][disabled="true"] {
  background-image: url("chrome://mozapps/skin/extensions/itemEnabledFader.png");
  background-color: #DFEAF4;
}

.agenda-container-box[selected="true"][disabled="true"],
.agenda-allday-container-box[selected="true"][disabled="true"],
.agenda-checkbox[selected="true"][disabled="true"] {
  background-image: none;
  color: -moz-dialogText;
  background-color: -moz-dialog;
}

.agenda-allday-container-box .item-classification-box {
  display: none;
}

.agenda-event-title {
  margin-top: 0px;
}

.agenda-event-start {
  margin-bottom: 0px;
}

.agenda-new-date {
  width: 15px;
  height: 15px;
  border: 1px solid grey;
  cursor: pointer;
}

.agenda-calendar-image {
  list-style-image: url("chrome://calendar/skin/calendar-overlay.png");
  -moz-image-region: rect(0px 10px 10px 0px);
  margin-top: 3px;
  -moz-margin-start: 4px;
  width: 10px;
  height: 10px;
}

.agenda-multiDayEvent-image {
  list-style-image: url("chrome://calendar/skin/calendar-overlay.png");
  -moz-margin-start: 3px;
  width: 10px;
  height: 10px;
  display: none;
}

.agenda-multiDayEvent-image[type="start"] {
  -moz-image-region: rect(0px 20px 10px 10px);
  display: -moz-box;
}

.agenda-multiDayEvent-image[type="continue"] {
  -moz-image-region: rect(0px 30px 10px 20px);
  display: -moz-box;
}

.agenda-multiDayEvent-image[type="end"] {
  -moz-image-region: rect(0px 40px 10px 30px);
  display: -moz-box;
}
