/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#feedSubscribeLine {
  font: message-box;
}

.menuitem-iconic {
  -moz-padding-start: 2px;
}

.menu-iconic-left {
  display: -moz-box;
  -moz-padding-end: 2px;
}

menupopup:-moz-locale-dir(rtl) {
  direction: rtl;
}
