/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ==== helpOverlay.css =====================================================
   == overlay for toolkit help viewer to fit within SeaMonkey.
   ========================================================================== */

@import url("chrome://communicator/skin/");

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#help-sidebar {
  min-width: 30px;
}

/* ::::: toolbar icons ::::: */

#HelpToolbar > toolbarbutton {
  list-style-image: url("chrome://communicator/skin/icons/communicatoricons.png") !important;
}

#help-back-button toolbarbutton,
#help-forward-button toolbarbutton {
  list-style-image: inherit;
  -moz-image-region: inherit;
}

#help-back-button {
  -moz-image-region: rect(60px 29px 89px 0);
}

#help-back-button:not([disabled="true"]):hover {
  -moz-image-region: rect(60px 59px 89px 30px);
}

#help-back-button:not([disabled="true"]):hover:active {
  -moz-image-region: rect(60px 89px 89px 60px);
}

#help-back-button[disabled="true"] {
  -moz-image-region: rect(60px 119px 89px 90px);
}

#help-forward-button {
  -moz-image-region: rect(90px 29px 119px 0);
}

#help-forward-button:not([disabled="true"]):hover {
  -moz-image-region: rect(90px 59px 119px 30px);
}

#help-forward-button:not([disabled="true"]):hover:active {
  -moz-image-region: rect(90px 89px 119px 60px);
}

#help-forward-button[disabled="true"] {
  -moz-image-region: rect(90px 119px 119px 90px);
}

#help-home-button {
  -moz-image-region: rect(120px 29px 149px 0);
}

#help-home-button:not([disabled="true"]):hover {
  -moz-image-region: rect(120px 59px 149px 30px);
}

#help-home-button:not([disabled="true"]):hover:active {
  -moz-image-region: rect(120px 89px 149px 60px);
}

#help-home-button[disabled="true"] {
  -moz-image-region: rect(120px 119px 149px 90px);
}

#help-print-button {
  -moz-image-region: rect(0 29px 29px 0);
}

#help-print-button:not([disabled="true"]):hover {
  -moz-image-region: rect(0 59px 29px 30px);
}

#help-print-button:not([disabled="true"]):hover:active {
  -moz-image-region: rect(0 89px 29px 60px);
}

#help-print-button[disabled="true"] {
  -moz-image-region: rect(0 119px 29px 90px);
}

/* make findbar appear above content */
#appcontent {
  -moz-box-direction: reverse;
}

/* style findbar for being on top */
#FindToolbar {
  -moz-border-top-colors: ThreeDHighlight;
  border-top-width: 1px;
  border-bottom: 2px solid;
  -moz-border-bottom-colors: ThreeDShadow ThreeDHighlight;
  padding-top: 1px;
  padding-bottom: 0px;
}
