/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#permList {
  margin-top: .5em;
  overflow: auto;
}

#permList[disabled="true"] {
  opacity: .5;
}

.permission {
  padding-top: 6px;
  padding-bottom: 6px;
  -moz-padding-start: 7px;
  -moz-padding-end: 7px;
  min-height: 25px;
  border-bottom: 1px dotted ThreeDFace;
}

.hostLabel {
  font-weight: bold;
  font-style: italic;
  -moz-margin-end: 1em;
}

.permissionLabel {
  font-weight: bold;
}
