/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== directory.css ==================================================
  == Styles specific to the directory listing window.
  ======================================================================= */

@import url(chrome://communicator/skin/);

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#tree {
  margin: 0px !important;
  border: none;
}

treechildren::-moz-tree-image(FilenameColumn) {
  -moz-margin-end: 2px;
  list-style-image: url("chrome://communicator/skin/icons/item.png");
}

treechildren::-moz-tree-image(FilenameColumn, container) {
  list-style-image: url("chrome://global/skin/tree/folder.png");
}

treechildren::-moz-tree-image(FilenameColumn, loading) {
  list-style-image: url("chrome://global/skin/icons/loading_16.png");
}

treechildren::-moz-tree-cell-text(symbolic-link) {
  font-style: italic;
}

/* ::::: column/row preferred sizes ::::: */

#FilenameColumn,
#LastModColumn,
#ContentLengthColumn {
  width: 100px;
}

div.server { 
  color: blue;
  display: block; 
  font-size: 10pt;
  font-family: sans-serif;
}

div.client { 
  color: red;
  display: block; 
  font-size: 10pt;
  font-family: sans-serif;
}
