/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

minimonth {
  background-color: #FFFFFF;
  border: 0px;
  padding: 4px;
}

.minimonth-month-box {
  background-color: #F5F5F6;
  border: 1px dotted #C0C0C0;
}

.minimonth-month-name {
  font-weight: bold;
  padding: 0px;
  -moz-user-focus: normal;
}

.minimonth-month-name-readonly {
  text-align: right;
  font-weight: bold;
}

.minimonth-year-name {
  min-width: 4em;
  font-weight: bold;
  padding: 0px;
  -moz-user-focus: normal;
}

.minimonth-year-name-readonly {
  min-width: 4em;
  font-weight: bold;
  -moz-padding-start: 4px;
}

.minimonth-month-name > .toolbarbutton-text {
  text-align: right;
}

.minimonth-month-name > .toolbarbutton-icon,
.minimonth-year-name > .toolbarbutton-icon {
  display: none;
}

.minimonth-nav-btns > .toolbarbutton-icon {
  margin: 1px;
}

.minimonth-nav-btns {
  padding: 0px;
  min-width: 19px;
  list-style-image: url("chrome://calendar/skin/widgets/nav-arrow.svg");
  -moz-user-focus: normal;
}

.minimonth-nav-btns > .toolbarbutton-text  {
  display: none;
}

.minimonth-nav-btns[disabled] {
  opacity: .3;
}

.minimonth-nav-btns:-moz-locale-dir(ltr)[dir="-1"],
.minimonth-nav-btns:-moz-locale-dir(rtl)[dir="1"] {
  transform: scaleX(-1);
}

.minimonth-nav-btns[dir="0"] {
  list-style-image: url("chrome://calendar/skin/widgets/nav-today.svg");
}

.minimonth-row-header {
  text-align: center;
}

.minimonth-day {
  color: #2E4E73;
  text-align: center;
  border: 1px solid #FFFFFF;
  background-color: #FFFFFF;
  min-height: 16px;
}

.minimonth-day[othermonth="true"] {
  color: #b2b2b2;
  background-color: #F0F0F0;
  border: 1px solid #F0F0F0;
}

.minimonth-day[today="true"] {
  background-color: #dfeaf4;
  border: 1px solid #67ACD8;
}

.minimonth-day[selected="true"] {
  background-color: #FFFABC;
  color: #2E4E73;
  border: 1px solid #D9C585;
}

.minimonth-day[selected="true"][today="true"] {
  background-color: #F2EDB2;
  border: 1px solid #67ACD8;
 }

.minimonth-day[busy] {
  font-weight: bold;
}

.minimonth-day:hover[interactive] {
  cursor: pointer;
  border: 1px solid Highlight;
}

.minimonth-day:active[interactive] {
  background-color: Highlight;
  color: HighlightText;
}

.minimonth-list {
  -moz-padding-start: 1em;
  -moz-padding-end: 1em;
}

.minimonth-list[current="true"] {
  font-weight: bold;
}

.minimonth-list:hover {
  background-color: Highlight;
  color: HighlightText;
  cursor: pointer;
}
