[%# 1.0@bugzilla.org %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Test Runner System.
  #
  # The Initial Developer of the Original Code is Maciej Maczynski.
  # Portions created by Maciej Maczynski are Copyright (C) 2001
  # Maciej Maczynski. All Rights Reserved.
  #
  # Contributor(s): Greg Hendricks <ghendricks@novell.com>
  #%]

  [% IF error == "testopia_undefined_field" %]
    [% title = "Missing Field in test_fielddefs" %]
    The [% fieldname %] field was not found for the [% table %] table while logging activity.
  [% ELSIF error == "testopia-missing-attachment-key" %]
    [% title = "Missing Key" %]
    You have requested to save an attachment, but I didn't see which test plan 
    or test case you had in mind to store it with.
  [% END %]
