
#header .label {
    display: none;
}

#header .testopia_links {
    background: #FFF;
}

#header li.tr_find {
}
#header li.tr_saved_search {
}

#header .testopia_btn {
    background-color:#546292;
    color:#ffffff;
    font-weight:bold;
    font-size:100%;
    border:none;
}

#footer li.tr_find {
}

#footer li.tr_saved_search {
}
#footer .tr_btn {
    background-color: #808285;
    font-size: 80%;
    color:#ffffff;
    font-size:100%;
    border:none;
}

/* old default.css */
textarea {
  /* background-color: #fff; */
  border: 1px solid #999;
}

.resultsTable {
  border-collapse: collapse; /*cellspacing*/
  border-spacing: 0px;
}
.resultsTable td { /*only immediate tds of mytable*/
  padding: 4px; /*cellpadding*/ 
}

.resultsTable td a:hover {
  text-decoration:underline overline;
}

.resultsTable th {
  border-color:#FFF;
  background-color:#C0FFC0;
  
  border-style:solid;
  border-width: 2px;
  padding: 4px;
}

.dlgTable {
  border-collapse: collapse; /*cellspacing*/
  border-spacing: 0px;
}

.dlgTable td { /*only immediate tds of mytable*/
  padding: 4px; /*cellpadding*/
  background-color:#EEE;
}

.spacerTable {
  border-collapse: collapse; /*cellspacing*/
  border-spacing: 0px;
}
.spacerTable td { /*only immediate tds of mytable*/
  padding: 16px; /*cellpadding*/
  background-color:#FFF;
}

.menuTable {
  border-collapse: collapse; /*cellspacing*/
  border-spacing: 0px;
}
.menuTable td { /*only immediate tds of mytable*/
  padding: 4px; /*cellpadding*/
  background-color:#EEE;
  
  border-style:solid;
  border-width: 3px;
  border-color:#FFF;
}

.evenRow_first {
  background-color:#FFF;
}
.evenRow {
  background-color:#FFF;
}
.evenRow td{
  background-color:#FFF;border-top-style:solid;border-top-width:1px;border-top-color:#CCC;
}

.oddRow_first {
  background-color:#EEE;
}
.oddRow {
  background-color:#EEE;
}
.oddRow td {
  background-color:#EEE;border-top-style:solid;border-top-width:1px;border-top-color:#CCC;
}

.highlightedCell {
  border-width:1px;
  border-style:solid;
  background-color:lightyellow;
}

/* tr_showcaselog */

.short_body {
  border-bottom:1px solid #000;
  border-left:1px solid #000;
  border-right:1px solid #000;
}

.short_head {
  border-top:1px solid #000;
  border-left:1px solid #000;
  border-right:1px solid #000;
}

.ae_dv {
  display:none;
  margin-left:15px;
  border-width:0px;
}

.ae_tb {
  width:100%;
  border:0;
  margin:0;
  margin-right:30px;
  margin-bottom:10px;
  border-collapse:collapse;
  border-spacing: 0px;
}

.ae_s {
  border-style:solid;
  border-width:1px;
  border-color:#000;
  background-color:#FFFFE0;
}

.cc_i {
  float:left;
  margin-left:10px;
}

.cc_xx {
  clear:both;
  margin-right:30px;
  padding-top:5px;
}

.cc_trg {
  padding-left:5px;
  padding-right:5px;
  vertical-align:baseline;
}

/* TODO: refactor these two: */

#floatMsg {
  text-align:right;
  background-color:#FFDD66;
  color:black;
  padding:4px;
  padding-left:20px;
  padding-right:20px;
  font-family:Arial;
  font-weight:bold;
  font-size:12px;
  display:none;
}

.floatMsg {
  text-align:right;
  background-color:#FFDD66;
  color:black;
  padding:4px;
  padding-left:20px;
  padding-right:20px;
  font-family:Arial;
  font-weight:bold;
  font-size:12px;
  display:none;
}

.tr_button {
  width:100px;
}

a img {
  border: none;
}

h3 {
  border-bottom: 1px dotted #000;
}
dt {
  font-weight: bold;
  font-size: medium;
}

.bz_row_odd
{
    background-color: #F7F7F7;
    color: #000000;
}

.bz_row_even
{
    background-color: #FFFFFF;
    color: #000000;
}

.bz_row_header { background-color: #E7E9E7;
                font-weight: bolder;
              }
.bz_row_data { padding-bottom: 5px;}

.img_button_16x {
    background-repeat: no-repeat;
}

.plan_archived {
    background: url(../../testopia/img/archived.png);
    background-repeat: no-repeat;
    width: 120px;
    height: 32px;
}

.x-progress-bar-red{height:18px;float:left;width:0;background:#9CBFEE url( ../../testopia/img/red_bar.gif ) repeat-x left center;border-top:1px solid #D1E4FD;border-bottom:1px solid #7FA9E4;}
.x-progress-bar-green{height:18px;float:left;width:0;background:#9CBFEE url( ../../testopia/img/green_bar.gif ) repeat-x left center;border-top:1px solid #D1E4FD;border-bottom:1px solid #7FA9E4;}
.x-progress-bar-orange{height:18px;float:left;width:0;background:#9CBFEE url( ../../testopia/img/orange_bar.gif ) repeat-x left center;border-top:1px solid #D1E4FD;border-bottom:1px solid #7FA9E4;}
.x-progress-text-main{font-size:11px;font-weight:bold;color:#fff;padding:3px 5px;overflow:hidden;position:absolute;left:0;text-align:center;}
.x-progress-text-back-main{color:#000;line-height:16px;font-weight:bold;}

.x-hidden {position: absolute; left: -1000px; top: -100px;}

.t1     { background-color: #ffffff } /* white       */
.t2     { background-color: #dfefff } /* light blue  */
.t3     { background-color: #dddddd } /* grey        */
.t4     { background-color: #c3d3ed } /* darker blue */
.ttotal { background-color: #cfffdf } /* light green */

.msg .x-box-mc {
    font-size:14px;
}
#msg-div {
    position:absolute;
    left:35%;
    top:10px;
    width:250px;
    z-index:20000;
}
