/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== subscribe.css ==================================================
  == Styles for the Subscribe dialog.
  ======================================================================= */

@import url("chrome://messenger/skin/");

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: subscribed icons  :::::: */

treechildren::-moz-tree-image(subscribedColumn),
treechildren::-moz-tree-image(subscribedColumn2) {
  -moz-margin-end: 2px;
  list-style-image: url("chrome://messenger/skin/icons/dot.png");
}

treechildren::-moz-tree-image(subscribedColumn, Subscribed-true),
treechildren::-moz-tree-image(subscribedColumn2, subscribed) {
  list-style-image: url("chrome://messenger/skin/icons/check.png");
}

treechildren::-moz-tree-image(subscribedColumn, Subscribable-false) {
  list-style-image: none;
}

treechildren::-moz-tree-cell-text(nameColumn, Subscribable-false) {
  color: gray;
  font-style: italic;
}

/* ::::: folder icons :::::: */

treechildren::-moz-tree-image(nameColumn) {
  -moz-margin-end: 2px;
  list-style-image: url("chrome://messenger/skin/icons/folder-closed.png");
}

treechildren::-moz-tree-image(nameColumn, ServerType-nntp),
treechildren::-moz-tree-image(nameColumn2, nntp) {
  -moz-margin-end: 2px;
  list-style-image: url("chrome://messenger/skin/icons/folder-newsgroup.png");
}

/* ::::: server icons :::::: */

.subscribeMenuItem {
  list-style-image: url("chrome://messenger/skin/icons/server-mail.png");
}

.subscribeMenuItem[ServerType="imap"][IsSecure="true"] {
  list-style-image: url("chrome://messenger/skin/icons/server-remote-lock.png");
}

.subscribeMenuItem[ServerType="nntp"] {
  list-style-image: url("chrome://messenger/skin/icons/server-news.png");
}

.subscribeMenuItem[ServerType="nntp"][IsSecure="true"] {
  list-style-image: url("chrome://messenger/skin/icons/server-news-lock.png");
}

/* ::::: statusbar adjustments :::::: */

#statusContainerBox {
  margin: 0px 4px;
}
