#aboutDialog {
  padding-top: 0;
  -moz-padding-end: 0;
  padding-bottom: 10px;
  -moz-padding-start: 0;
  width: 298px;
}

#modes {
  min-height: 380px;
}

#clientBox {
  background-color: #FFFFFF;
  background-image: url("about:logo");
  background-repeat: no-repeat;
  padding-top: 216px;
  color: #000000;
}

#userAgent {
  margin-top: 10px;
  -moz-margin-end: 15px;
  margin-bottom: 0;
  -moz-margin-start: 15px;
  background-color: #FFFFFF;
  color: #000000;
  padding-top: 1px;
  -moz-padding-end: 1px;
  padding-bottom: 1px;
  -moz-padding-start: 3px;
  -moz-appearance: none;
  overflow: hidden;
  border: 0;
}

#versionField {
  -moz-appearance: none;
  font-weight: bold;
  color: #909090;
  margin-top: -5px;
  -moz-margin-end: 0;
  margin-bottom: 10px;
  -moz-margin-start: 19px;
}

#copyright {
  margin-top: 0;
  -moz-margin-end: 19px;
  margin-bottom: 3px;
  -moz-margin-start: 19px;
}

#groove {
  margin-top: 0px;
}

#creditsIframe {
   cursor: default;
   -moz-user-select: none;
   border: 0;
}

button[dlgtype="extra2"] {
  -moz-margin-start: 13px;
}
 
button[dlgtype="accept"] {
  -moz-margin-end: 13px;
}

