#aboutDialog {
  padding-top: 0;
  -moz-padding-end: 0;
  padding-bottom: 10px;
  -moz-padding-start: 0;
}

#modes {
  min-height: 380px;
}

#clientBox {
  background-color: #FFFFFF;
  background-image: url("about:logo");
  background-repeat: no-repeat;
  padding-top: 216px;
  color: #000000;
}

#versionWrapper {
  margin-top: 0;
  -moz-margin-end: 0;
  margin-bottom: 3px;
  -moz-margin-start: 20px;
}

#versionField {
  background-color: #FFFFFF;
  -moz-appearance: none;
  border: none;
  font-weight: bold;
  color: #909090;
}

#copyright {
  color: #909090;
  margin-top: 0;
  -moz-margin-end: 0;
  margin-bottom: 3px;
  -moz-margin-start: 20px;
}

#groove {
  margin-top: 0px;
}

#creditsIframe {
   cursor: default;
   -moz-user-select: none;
}

button[dlgtype="extra2"] {
  -moz-margin-start: 13px;
}
 
button[dlgtype="accept"] {
  -moz-margin-end: 13px;
}

