html {
  height: 100%;
  background: white;
}

body {
  display: -moz-box;
  -moz-box-flex: 1;
  -moz-box-orient: vertical;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
  background: white;
  overflow: hidden;
}

div.content {
  width: 100%;
  display: -moz-box;
  -moz-box-flex: 1;
}

iframe.content {
  -moz-box-flex: 1;
  width: 100%;
  height: 100%;
  border: none;
}

#buttons {
  display: -moz-box;
  -moz-box-flex: 0;
  -moz-box-orient: horizontal;
  -moz-box-pack: end;
  -moz-box-align: center;
  padding: 12px 15px;
  background-color: Window;
  border-top: 1px solid threedshadow;

  -moz-binding: url("chrome://global/content/bindings/general.xml#windowdragbox");
}

#buttons > button {
  -moz-margin-start: 6px;
}
