/* Generic (cross-platform) multimessage view CSS.  Some bits will be overriden
  by theme specific files */

@import url("chrome://messenger/content/sharedsummary.css");


#headingwrapper {
  background-color: #729fcf;
  position: relative;
}


#headingwrappertable {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.heading {
  font-weight: bold;
  font-size: medium;
  margin: 0.5em;
  border: 1px solid transparent;
  padding-right: 1em;
}

.header {
  margin-left: 19px;
  padding: 0.3ex 0px;
}

#heading {
  font-size: large;
  color: #fff;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin: 0;
}

.star {
  width: 16px;
  height: 16px;
  position: absolute;
  left: -4px;
  top: 6px;
  display: inline-block;
  margin-left: 1ex;
  margin-right: 1ex;
  background-repeat: no-repeat;
}

#content {
  position: absolute;
  top: 4em;
  right: 0;
  left: 0;
  z-index: -1;
  padding: 1ex 1em;
  margin: 0px;
  font-size: small;
}

.row {
  position: relative;
}

.message {
  margin-bottom: 1ex;
  border-left: 3px solid transparent;
}

.thread {
  -moz-border-radius: 4px;
  border: 2px solid lightgrey; 
}

.subject {
  display: inline;
}

.sender {
  display: inline;
}

.author {
  float: right;
}

.count {
  display: inline;
  white-space: nowrap;
  color: InactiveCaptionText;
}

.date {
  float: right;
  padding: 0px 1em;
}

.wrappedsender, .wrappedsubject {
  padding-right: 18px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.message.unread .subject,
.message.unread .sender  {
  font-weight: bold;
}

.snippet {
  color: GrayText;
  padding-right: 1.5em;
  padding-bottom: 1ex;
}

.senders {
  color: GrayText;
}

.info {
  font-size: small;
}

.heading.info {
  font-size: medium;
  font-weight: normal;
}

.tag {
  display: inline;
  white-space: nowrap; /* for tags like "To Do" */
}

#buttonbox {
  float: right;
  padding-top: 1ex;
  padding-bottom: 1ex;
  font-size: 11px;
  font-family: Lucida Grande;
  border: 1px solid transparent; 
}

.button {
  display: inline;
}

#trash {
  -moz-box-orient: horizontal;
}

#column {
  float: right;
  right: 1em;
  top: 1em;
}

#header {
  border: 1px solid transparent;
}

 .section_heading {
  font-weight: bold;
  padding-bottom: .5em;
  color: #555;
}

.stats {
  padding: 1em;
  padding-top: 3em;
  text-align: center;
  font-size: small;
}

.messagecount {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
}

.tags {
  display: inline;
  padding-top: 4px;
}

.snippet {
  color: #555;
}

.tag {
  color: #fff;
  padding: 0.2ex 0.4em;
  margin-right: 0.5em;
  -moz-border-radius: 3px;
}

.notice {
  padding-left: 1em;
}

