/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#qfb-results-label {
  text-align: end;
  visibility: hidden;
}

#qfb-filter-bar-spacer {
  min-width: 4px !important;
}

.qfb-tag-button[inverted] {
  text-decoration: line-through;
}

#quick-filter-bar-main-bar {
  overflow: hidden;
}

#quick-filter-bar-collapsible-buttons[shrink="true"] toolbarbutton label.toolbarbutton-text {
  display: none;
}
