/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== messenger.css ==================================================
  == Content specific styles for Messenger.
  ======================================================================= */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: mail xbl bindings ::::: */

description[selectable="true"] {
  -moz-binding: url("chrome://messenger/content/mailWidgets.xml#extdescription");
}

descriptionitem {
  -moz-binding: url("chrome://messenger/content/mailWidgets.xml#descriptionitem");
}

.descriptionitem-iconic {
  -moz-binding: url("chrome://messenger/content/mailWidgets.xml#descriptionitem-iconic");
}

mail-messageid {
  -moz-binding: url("chrome://messenger/content/mailWidgets.xml#mail-messageid");
}

mail-messageids-headerfield {
  -moz-binding: url("chrome://messenger/content/mailWidgets.xml#mail-messageids-headerfield");
}

mail-emailaddress {
  -moz-binding: url("chrome://messenger/content/mailWidgets.xml#mail-emailaddress");
  -moz-user-focus: normal;
}

mail-emailheaderfield {
  -moz-binding: url("chrome://messenger/content/mailWidgets.xml#mail-emailheaderfield");
}

mail-toggle-headerfield {
  -moz-binding: url("chrome://messenger/content/mailWidgets.xml#mail-toggle-headerfield");
}

mail-multi-emailHeaderField {
  -moz-binding: url("chrome://messenger/content/mailWidgets.xml#mail-multi-emailHeaderField");
}

mail-headerfield {
  -moz-binding: url("chrome://messenger/content/mailWidgets.xml#mail-headerfield");
}

mail-urlfield {
  -moz-binding: url("chrome://messenger/content/mailWidgets.xml#mail-urlfield");
}

mail-tagfield {
  -moz-binding: url("chrome://messenger/content/mailWidgets.xml#mail-headerfield-tags");
}

menupopup[type="folder"] {
  -moz-binding: url("chrome://messenger/content/folderWidgets.xml#folder-menupopup");
}

.addrbooksPopup {
  -moz-binding: url("chrome://messenger/content/addressbook/addrbookWidgets.xml#addrbooks-menupopup");
}

#searchTermList > listitem {
  -moz-binding: url("chrome://messenger/content/searchWidgets.xml#listitem");
}

searchattribute {
  -moz-binding: url("chrome://messenger/content/mailWidgets.xml#searchattribute");
}

searchoperator {
  -moz-binding: url("chrome://messenger/content/mailWidgets.xml#searchoperator");
}

searchvalue {
  display: -moz-deck;
  -moz-binding: url("chrome://messenger/content/mailWidgets.xml#searchvalue");
}

searchterm {
  -moz-binding: url("chrome://messenger/content/mailWidgets.xml#searchterm");
}

.ruleaction {
  -moz-binding: url("chrome://messenger/content/searchWidgets.xml#ruleaction"); 
}

.ruleactiontype {
  -moz-binding: url("chrome://messenger/content/searchWidgets.xml#ruleactiontype-menulist"); 
}

.ruleactiontarget[type] {
  -moz-binding: url("chrome://messenger/content/searchWidgets.xml#ruleactiontarget-base");
}

.ruleactiontarget[type="movemessage"], .ruleactiontarget[type="copymessage"] { 
  -moz-binding: url("chrome://messenger/content/searchWidgets.xml#ruleactiontarget-folder");
}

.ruleactiontarget[type="addtagtomessage"] {
  -moz-binding: url("chrome://messenger/content/searchWidgets.xml#ruleactiontarget-tag");
}

.ruleactiontarget[type="setpriorityto"] {
  -moz-binding: url("chrome://messenger/content/searchWidgets.xml#ruleactiontarget-priority");
}

.ruleactiontarget[type="setjunkscore"] {
  -moz-binding: url("chrome://messenger/content/searchWidgets.xml#ruleactiontarget-junkscore");
}

.ruleactiontarget[type="forwardmessage"] {
  -moz-binding: url("chrome://messenger/content/searchWidgets.xml#ruleactiontarget-forwardto");
}

.ruleactiontarget[type="replytomessage"] {
  -moz-binding: url("chrome://messenger/content/searchWidgets.xml#ruleactiontarget-replyto");
}

.folderTargetPopup {
  display: -moz-popup;
  -moz-binding: url("chrome://messenger/content/mailWidgets.xml#folderTargetPopup");
}

.searchPopup {
  display: -moz-popup;
  -moz-binding: url("chrome://messenger/content/mailWidgets.xml#searchpopup");
}

#folderLocationPopup {
  display: -moz-popup;
  -moz-binding: url("chrome://messenger/content/mailWidgets.xml#locationpopup");
  visibility: visible;
}

.folderSummaryPopup
{
  -moz-binding: url("chrome://messenger/content/mailWidgets.xml#folderSummary-popup");
}

folderSummary
{
  -moz-binding: url("chrome://messenger/content/mailWidgets.xml#folderSummary");
}

folderSummaryMessage
{
  -moz-binding: url("chrome://messenger/content/mailWidgets.xml#folderSummary-message");
}

.foldersTree
{
  margin: 0px;
  border: none;
  -moz-appearance: none;
  -moz-user-focus: ignore;
}

.foldersTreeChildren
{
  -moz-binding: url("chrome://global/content/bindings/tree.xml#tree-base");
}

.foldersTreeChildren::-moz-tree-twisty
{
  width: 0px;
}

dummy.usesMailWidgets {
  -moz-binding: url("chrome://messenger/content/mailWidgets.xml#dummy");
}

/* tabmail */

#tabmail
{
  -moz-binding: url("chrome://messenger/content/tabmail.xml#tabmail");
}

.tabmail-tabs {
  -moz-binding: url("chrome://messenger/content/tabmail.xml#tabmail-tabs");
}

.tabmail-arrowscrollbox {
  -moz-binding: url("chrome://messenger/content/tabmail.xml#tabmail-arrowscrollbox");
}

.tabmail-tab {
  -moz-binding: url("chrome://messenger/content/tabmail.xml#tabmail-tab");
}

.tabs-newbutton {
  -moz-binding: url("chrome://messenger/content/tabmail.xml#tabmail-new-tab-button");
  display: none;
}

.tabmail-tabs[closebuttons="closeatend"] .tabs-newbutton {
  display: -moz-box;
}

.tab-close-button,
.tabs-closebutton {
  -moz-binding: url("chrome://messenger/content/tabmail.xml#tabmail-close-tab-button");
}

.tab-close-button {
  display: none;
}

.tabmail-tabs:not([closebuttons="noclose"]):not([closebuttons="closeatend"]) > .tabmail-tab[selected="true"] > .tab-close-button {
  display: -moz-box;
}

.tabmail-tabs[closebuttons="alltabs"] .tab-close-button {
  display: -moz-box;
}

.tabs-alltabs-popup {
  /* override toolkit's .menulist-menupopup binding */
  -moz-binding: url("chrome://messenger/content/tabmail.xml#tabmail-alltabs-popup") ! important;
}

/* Used for selecting appropriate button for when next to search box */

#button-search {
  display: -moz-box;
}

#search-container + #button-search-container > #button-search,
#wrapper-search-container + toolbarpaletteitem[place="toolbar"] > #button-search-container > #button-search {
  display: none;
}

#button-advanced {
  display: none;
}

#search-container + #button-search-container > #button-advanced,
#wrapper-search-container + toolbarpaletteitem[place="toolbar"] > #button-search-container > #button-advanced {
  display: -moz-box;
}

/* Wallpaper patch for  Bug 517924 */

#expandedHeaderView {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 14em;
}
