/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* Lightning "Calendar" Toolbarbutton */
#lightning-button-calendar {
  list-style-image: url(chrome://lightning/skin/mode-switch-icons-aero.png);
  -moz-image-region: rect(0px 16px 16px 0px);
}

/* Lightning "Tasks" Toolbarbutton */
#lightning-button-tasks {
  list-style-image: url(chrome://lightning/skin/mode-switch-icons-aero.png);
  -moz-image-region: rect(0px 32px 16px 16px);
}

/* Toolbar buttons */

.calbar-toolbarbutton-1 {
  list-style-image: url(chrome://calendar/skin/toolbar-aero.png);
}

.calbar-toolbarbutton-1:-moz-lwtheme-brighttext {
  list-style-image: url(chrome://calendar/skin/toolbar-aero-inverted.png);
}

#calendar-synchronize-button,
#task-synchronize-button {
  -moz-image-region: rect(1px 17px 17px 1px);
}

#calendar-newevent-button,
#task-newevent-button {
  -moz-image-region: rect(1px 35px 17px 19px);
}

#calendar-newtask-button,
#task-newtask-button {
  -moz-image-region: rect(1px 71px 17px 55px);
}

#calendar-edit-button,
#task-edit-button {
  -moz-image-region: rect(1px 89px 17px 73px);
}

#calendar-delete-button,
#task-delete-button {
  -moz-image-region: rect(1px 107px 17px 91px);
}

#calendar-goto-today-button {
  -moz-image-region: rect(1px 53px 17px 37px);
}

#calendar-print-button,
#task-print-button {
  -moz-image-region: rect(1px 125px 17px 109px);
}

#calendar-unifinder-button {
  -moz-image-region: rect(1px 143px 17px 127px);
}

#extractEventButton,
#hdrExtractEventButton {
  list-style-image: url(chrome://calendar/skin/toolbar-aero.png);
  -moz-image-region: rect(1px 35px 17px 19px);
}

#extractTaskButton,
#hdrExtractTaskButton {
  list-style-image: url(chrome://calendar/skin/toolbar-aero.png);
  -moz-image-region: rect(1px 71px 17px 55px);
}

#extractTaskButton:-moz-lwtheme-brighttext,
#extractEventButton:-moz-lwtheme-brighttext {
  list-style-image: url(chrome://calendar/skin/toolbar-aero-inverted.png) !important;
}

.button-appmenu:-moz-lwtheme-brighttext {
  list-style-image: url(chrome://messenger/skin/icons/mail-toolbar-inverted.png);
}

@media (-moz-windows-compositor) {
  #calendar-toolbox {
    border-bottom-color: #AABCCF;
  }

  #tabbar-toolbar:not(:-moz-lwtheme-darktext) #lightning-button-calendar,
  #tabbar-toolbar:not(:-moz-lwtheme-darktext) #lightning-button-tasks {
    list-style-image: url(chrome://lightning/skin/mode-switch-icons-inverted.png);
  }

  #tabbar-toolbar:not(:-moz-lwtheme-darktext) > #extractTaskButton,
  #tabbar-toolbar:not(:-moz-lwtheme-darktext) > #extractEventButton {
    list-style-image: url(chrome://calendar/skin/toolbar-aero-inverted.png);
  }
}

#mail-bar3:-moz-lwtheme-brighttext #lightning-button-calendar,
#mail-bar3:-moz-lwtheme-brighttext #lightning-button-tasks,
#tabbar-toolbar:-moz-lwtheme-brighttext #lightning-button-calendar,
#tabbar-toolbar:-moz-lwtheme-brighttext #lightning-button-tasks {
  list-style-image: url(chrome://lightning/skin/mode-switch-icons-inverted.png);
}
