<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Children</key>
	<array>
		<dict>
			<key>Children</key>
			<array>
				<dict>
					<key>Children</key>
					<array>
						<dict>
							<key>Title</key>
							<string>Macworld</string>
							<key>URL</key>
							<string>http://www.macworld.com/</string>
						</dict>
						<dict>
							<key>Title</key>
							<string>TidBITS</string>
							<key>URL</key>
							<string>http://www.tidbits.com/</string>
						</dict>
						<dict>
							<key>Title</key>
							<string>The Unofficial Apple Weblog</string>
							<key>URL</key>
							<string>http://www.tuaw.com/</string>
						</dict>
						<dict>
							<key>Title</key>
							<string>MacInTouch</string>
							<key>URL</key>
							<string>http://www.macintouch.com/</string>
						</dict>
						<dict>
							<key>Title</key>
							<string>Apple - Support</string>
							<key>URL</key>
							<string>http://www.apple.com/support/</string>
						</dict>
						<dict>
							<key>Title</key>
							<string>Mac OS X Hints</string>
							<key>URL</key>
							<string>http://www.macosxhints.com/</string>
						</dict>
					</array>
					<key>Title</key>
					<string>Mac News &amp; Support</string>
				</dict>
				<dict>
					<key>Children</key>
					<array>
						<dict>
							<key>Title</key>
							<string>Apple - Downloads</string>
							<key>URL</key>
							<string>http://www.apple.com/downloads/macosx/</string>
						</dict>
						<dict>
							<key>Title</key>
							<string>VersionTracker</string>
							<key>URL</key>
							<string>http://www.versiontracker.com/macosx/</string>
						</dict>
						<dict>
							<key>Title</key>
							<string>Open Source Mac</string>
							<key>URL</key>
							<string>http://www.opensourcemac.org/</string>
						</dict>
						<dict>
							<key>Title</key>
							<string>iusethis Mac Software</string>
							<key>URL</key>
							<string>http://osx.iusethis.com/</string>
						</dict>
					</array>
					<key>Title</key>
					<string>Mac Software</string>
				</dict>
				<dict>
					<key>Children</key>
					<array>
						<dict>
							<key>Title</key>
							<string>Amazon.com</string>
							<key>URL</key>
							<string>http://www.amazon.com/</string>
						</dict>
						<dict>
							<key>Title</key>
							<string>Buy.com</string>
							<key>URL</key>
							<string>http://www.buy.com/</string>
						</dict>
						<dict>
							<key>Title</key>
							<string>craigslist Classifieds</string>
							<key>URL</key>
							<string>http://www.craigslist.org/</string>
						</dict>
						<dict>
							<key>Title</key>
							<string>eBay</string>
							<key>URL</key>
							<string>http://www.ebay.com/</string>
						</dict>
						<dict>
							<key>Title</key>
							<string>PriceGrabber.com</string>
							<key>URL</key>
							<string>http://www.pricegrabber.com/</string>
						</dict>
					</array>
					<key>Title</key>
					<string>Shopping</string>
				</dict>
				<dict>
					<key>Children</key>
					<array>
						<dict>
							<key>Title</key>
							<string>Flickr</string>
							<key>URL</key>
							<string>http://www.flickr.com/</string>
						</dict>
						<dict>
							<key>Title</key>
							<string>LiveJournal</string>
							<key>URL</key>
							<string>http://www.livejournal.com/</string>
						</dict>
						<dict>
							<key>Title</key>
							<string>WordPress.com</string>
							<key>URL</key>
							<string>http://wordpress.com/</string>
						</dict>
						<dict>
							<key>Title</key>
							<string>YouTube</string>
							<key>URL</key>
							<string>http://youtube.com/</string>
						</dict>
					</array>
					<key>Title</key>
					<string>Social</string>
				</dict>
				<dict>
					<key>Children</key>
					<array>
						<dict>
							<key>Title</key>
							<string>CNET News.com</string>
							<key>URL</key>
							<string>http://www.news.com/</string>
						</dict>
						<dict>
							<key>Title</key>
							<string>Wired News</string>
							<key>URL</key>
							<string>http://www.wired.com/</string>
						</dict>
						<dict>
							<key>Title</key>
							<string>Macworld</string>
							<key>URL</key>
							<string>http://www.macworld.com/</string>
						</dict>
					</array>
					<key>FolderType</key>
					<integer>1</integer>
					<key>Title</key>
					<string>Tech News</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Google</string>
					<key>URL</key>
					<string>http://www.google.com/</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Wikipedia</string>
					<key>URL</key>
					<string>http://en.wikipedia.org/</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Google Maps</string>
					<key>URL</key>
					<string>http://maps.google.com/</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Yahoo!</string>
					<key>URL</key>
					<string>http://www.yahoo.com/</string>
				</dict>
			</array>
			<key>Title</key>
			<string>Bookmark Menu</string>
		</dict>
		<dict>
			<key>Children</key>
			<array>
				<dict>
					<key>Children</key>
					<array>
						<dict>
							<key>Keyword</key>
							<string>camino</string>
							<key>Title</key>
							<string>Camino</string>
							<key>URL</key>
							<string>http://caminobrowser.org/</string>
						</dict>
						<dict>
							<key>Title</key>
							<string>Camino Help</string>
							<key>URL</key>
							<string>http://caminobrowser.org/help/</string>
						</dict>
						<dict>
							<key>Description</key>
							<string>Unofficial site for third-party themes and add-ons for Camino.</string>
							<key>Title</key>
							<string>PimpMyCamino</string>
							<key>URL</key>
							<string>http://pimpmycamino.com/</string>
						</dict>
						<dict>
							<key>Title</key>
							<string>Mozilla.org</string>
							<key>URL</key>
							<string>http://www.mozilla.org/</string>
						</dict>
					</array>
					<key>Title</key>
					<string>Camino Info</string>
				</dict>
				<dict>
					<key>Children</key>
					<array>
						<dict>
							<key>Title</key>
							<string>BBC News</string>
							<key>URL</key>
							<string>http://news.bbc.co.uk/</string>
						</dict>
						<dict>
							<key>Title</key>
							<string>MSNBC News</string>
							<key>URL</key>
							<string>http://www.msnbc.com/</string>
						</dict>
						<dict>
							<key>Title</key>
							<string>Guardian Unlimited</string>
							<key>URL</key>
							<string>http://www.guardian.co.uk/</string>
						</dict>
						<dict>
							<key>Title</key>
							<string>The New York Times</string>
							<key>URL</key>
							<string>http://nytimes.com/</string>
						</dict>
						<dict>
							<key>Title</key>
							<string>Google News</string>
							<key>URL</key>
							<string>http://news.google.com/</string>
						</dict>
						<dict>
							<key>Title</key>
							<string>Yahoo! News</string>
							<key>URL</key>
							<string>http://news.yahoo.com/</string>
						</dict>
					</array>
					<key>Title</key>
					<string>News</string>
				</dict>
				<dict>
					<key>Keyword</key>
					<string>google</string>
					<key>Title</key>
					<string>Google</string>
					<key>URL</key>
					<string>http://www.google.com/</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Amazon.com</string>
					<key>URL</key>
					<string>http://www.amazon.com/</string>
				</dict>
			</array>
			<key>FolderType</key>
			<integer>4</integer>
			<key>Title</key>
			<string>Bookmark Bar</string>
		</dict>
	</array>
	<key>FolderType</key>
	<integer>2</integer>
	<key>Title</key>
	<string>Bookmarks</string>
</dict>
</plist>
