/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

#event-toolbox {
  -moz-appearance: none;
  border-top: none;
  background-color: -moz-Dialog;
  background-image: -moz-linear-gradient(rgba(255, 255, 255, .5),
                    rgba(255, 255, 255, 0));
  border-bottom: 1px solid ThreeDShadow;
}

@media (-moz-windows-default-theme) {
  #event-toolbox {
    background-color: hsl(210, 75%, 92%);
  }
}

@media (-moz-windows-compositor) {
  #event-toolbox {
    border-bottom-color: #AABCCF;
  }
}

#event-menubar,
#event-toolbar {
  -moz-appearance: none;
  border-style: none;
  background-color: transparent
}

#event-toolbar {
  -moz-margin-start: 0;
  padding: 1px 0 2px;
}

.cal-event-toolbarbutton {
  list-style-image: url(chrome://calendar/skin/calendar-event-dialog-toolbar-aero.png);
}

#button-save {
  -moz-image-region: rect(1px 107px 17px 91px);
}

#button-attendees {
  -moz-image-region: rect(1px 35px 17px 19px);
}

#button-privacy {
  -moz-image-region: rect(1px 89px 17px 73px);
}

#button-url {
  -moz-image-region: rect(1px 71px 17px 55px);
}

#button-delete {
  -moz-image-region: rect(1px 305px 17px 289px);
}
