/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#newMsgButton-mail-menuitem {
  list-style-image: url(chrome://messenger/skin/icons/mail-toolbar.png) !important;
  -moz-image-region: rect(1px 35px 17px 19px) !important;
}

#calendar-tab-button {
  list-style-image: url(chrome://lightning/skin/mode-switch-icons-aero.png);
  -moz-image-region: rect(0px 16px 16px 0px);
}

.tabmail-tab[type="calendar"] {
  list-style-image: url(chrome://lightning/skin/mode-switch-icons-aero.png);
  -moz-image-region: rect(16px 16px 32px 0px);
}

#task-tab-button {
  list-style-image: url(chrome://lightning/skin/mode-switch-icons-aero.png);
  -moz-image-region: rect(0px 32px 16px 16px);
}

.tabmail-tab[type="tasks"] {
  list-style-image: url(chrome://lightning/skin/mode-switch-icons-aero.png);
  -moz-image-region: rect(16px 32px 32px 16px);
}

#button-newmsg #newMsgButton-calendar-menuitem,
#button-newmsg #newMsgButton-task-menuitem,
#calendar-show-todaypane-panel > #calendar-status-todaypane-button > stack > .toolbarbutton-icon-begin {
  list-style-image: url(chrome://calendar/skin/toolbar-small-aero.png);
}

@media (-moz-windows-compositor) {
    #tabbar-toolbar #calendar-tab-button,
    #tabbar-toolbar #task-tab-button {
      list-style-image: url(chrome://lightning/skin/mode-switch-icons-inverted.png);
  }
}
