/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url(chrome://calendar/skin/common/calendar-daypicker.css);

daypicker {
  border-top: 1px solid #808080;
  border-left: 1px solid #808080;
}

daypicker [bottom="true"] {
  border-bottom: 1px solid #808080;
}

daypicker[right="true"] {
  border-right: 1px solid #808080;
}