/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url(chrome://calendar/skin/common/calendar-unifinder.css);

/* added for new id ..... search box ..... */
#unifinder-searchBox {
    background: -moz-linear-gradient(top, #eaeaea, #d1d1d1);
    border-bottom: 1px solid #bebebe;
}

.unifinder-closebutton > .toolbarbutton-text {
    display: none;
}
