/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url(chrome://calendar/skin/common/calendar-task-view.css);

#calendar-task-details-container {
    overflow: hidden;
}

#other-actions-box {
    -moz-margin-end: 3px;
}

#task-addition-box {
    background: -moz-linear-gradient(top, #eaeaea, #d1d1d1);
}

.task-details-name {
    color: #888a85; /* lower contrast */
}

#calendar-task-details-grid > rows > .item-date-row > .headline {
    color: #888a85; /* lower contrast */
}

.task-details-value {
    color: black;
}

#task-text-filter-field {
    margin: 4px 5px;
}

#task-actions-toolbar {
    min-width: 50px !important;
    min-height: 14px !important;
}

#task-actions-category {
    list-style-image: url(chrome://calendar/skin/tasks-actions.png);
    -moz-image-region: rect(0px, 16px, 16px, 0px);
}

#task-actions-markcompleted {
    list-style-image: url(chrome://calendar/skin/tasks-actions.png);
    -moz-image-region: rect(0px, 32px, 16px, 16px);
}

#task-actions-priority {
    list-style-image: url(chrome://calendar/skin/tasks-actions.png);
    -moz-image-region: rect(0px, 48px, 16px, 32px);
}

#calendar-delete-task-button {
    list-style-image: url(chrome://messenger/skin/icons/message-header-toolbar.png);
    -moz-image-region: rect(0px, 96px, 16px, 80px);}

#calendar-add-task-button {
    list-style-image: url(chrome://calendar/skin/toolbar-small.png);
    -moz-image-region: rect(0px 384px 24px 360px);
}

#calendar-add-task-button[disabled="true"] {
    -moz-image-region: rect(48px 384px 72px 360px);
}
