/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url(chrome://calendar/skin/common/calendar-management.css);

calendar-list-tree > tree > treechildren::-moz-tree-image(checkbox-treecol) {
    -moz-image-region: rect(0 16px 16px 0);
}

calendar-list-tree > tree > treechildren::-moz-tree-image(checkbox-treecol, checked) {
    -moz-image-region: rect(0 32px 16px 16px);
}

calendar-list-tree > tree > treechildren::-moz-tree-image(checkbox-treecol, disabled) {
    -moz-image-region: rect(0 48px 16px 32px);
}

calendar-list-tree > tree > treechildren::-moz-tree-cell(checkbox-treecol) {
    padding: 0;
}

calendar-list-tree treechildren::-moz-tree-row(selected) {
  background: url(chrome://calendar/skin/sidebar-item.png) 0 0 repeat-x #90A0C0;
}

calendar-list-tree treechildren::-moz-tree-row(selected, focus) {
  background-position: 0 -18px;
}

calendar-list-tree:-moz-system-metric(mac-graphite-theme) treechildren::-moz-tree-row(selected) {
  background-position: 0 -36px;
}

calendar-list-tree:-moz-system-metric(mac-graphite-theme) treechildren::-moz-tree-row(selected, focus) {
  background-position: 0 -54px;
}

calendar-list-tree treechildren:-moz-window-inactive::-moz-tree-row(selected) {
  background-position: 0 -72px;
}

calendar-list-tree treechildren::-moz-tree-cell-text(selected, focus),
calendar-list-tree treechildren::-moz-tree-cell-text(selected) {
  color: HighlightText;
}
