/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

richlistitem[feed] {
  -moz-binding: url("chrome://navigator/content/pageinfo/feeds.xml#feed");
}

#thepreviewimage {
  display: block;
/* This following entry can be removed when Bug 522850 is fixed. */
  min-width: 1px;
}

.urltext:-moz-locale-dir(rtl) {
  direction: ltr !important;
  text-align: end !important;
}
