/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ==== EditorDialog.css ====================================================
   == Styles used by all dialog boxes in the Editor application.
   ========================================================================== */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: common styles ::::: */

.MinWidth5em {
  min-width: 5em;
}

.MinWidth10em {
  min-width: 10em;
}

.MinWidth20em {
  min-width: 20em;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.larger {
  font-size: 120%;
}

.narrow {
  width: 3em;
}

.wrap {
  width: 1em;
}

.menuitem-highlight-1 {
  font-weight: bold;
}

/* ::::: common buttons ::::: */

#MoreFewerButton[more="0"] {
  list-style-image: url("chrome://global/skin/arrow/arrow-dn.gif");
  min-width: 12em;
}

#MoreFewerButton[more="1"] {
  list-style-image: url("chrome://global/skin/arrow/arrow-up.gif");
  min-width: 12em;
}

/* ::::: table properties dialog ::::: */

#PreviousButton {
  list-style-image: url("chrome://global/skin/arrow/arrow-lft.gif");
}

#NextButton {
  list-style-image: url("chrome://global/skin/arrow/arrow-rit.gif");
}

#PreviousButton[type="row"] {
  list-style-image: url("chrome://global/skin/arrow/arrow-up.gif");
}

#NextButton[type="row"] {
  list-style-image: url("chrome://global/skin/arrow/arrow-dn.gif");
}

/* ::::: spelling dialog ::::: */

#MisspelledWord {
  font-weight: bold;
}

#ReplaceWordInput {
  min-width: 16em;
  width: 16em;
}

.spell-check {
  min-width: 8em;
}

/* ::::: spacers ::::: */

.smallspacer {
  width: 3px;
  height: 3px;
  min-width: 3px;
  min-height: 3px;
}

.spacer {
  width: 5px;
  height: 5px;
  min-width: 5px;
  min-height: 5px;
}

.bigspacer {
  width: 10px;
  height: 10px;
  min-width: 10px;
  min-height: 10px;
}

/* These should be the width of the checkbox and radio button images + margin + padding
   Used to indent below those to the level of the text label next to image
*/
.checkbox-spacer {
  width: 20px;
  min-width: 20px;
}

.radio-spacer {
  width: 20px;
  min-width: 20px;
}

/* ::::: widget adjustments ::::: */

/* The defaults are WAY to big! */
groupbox {
  margin: 2px 5px 4px;
  padding-top: 2px;
  padding-bottom: 4px;
}

/* ::::: color picker button ::::: */

.color-button {
  /* override larger default values */
  min-width: 0px;
  margin: 2px;
}

.color-well {
  border: 1px inset #B4C3D4;
  width: 20px;
  height: 12px;
}

.color-well[default="true"] {
  border: 1px solid transparent !important;
  background-color: inherit !important;
}

/* ::::: color picker dialog ::::: */

#ColorPicker {
  -moz-user-focus: normal;
}

#ColorPickerSwatch {
  margin-top: 0px;
  margin-bottom: 0px;
  -moz-margin-start: 0px;
  -moz-margin-end: 3px;
  border: 2px outset #B4C3D4;
  width: 25px;
  height: 20px;
}

#ColorPickerSwatch[default="true"] {
  border: 2px solid transparent;
  background-color: inherit;
}

#LastPickedColor {
  margin-top: 2px;
  margin-bottom: 2px;
  -moz-margin-start: 2px;
  -moz-margin-end: 8px;
  border: 1px inset #B4C3D4;
  width: 17px;
  height: 13px;
}


/* ::::: Image Properties dialog ::::: */

.align-menu > .menu-iconic-left > .menu-iconic-icon {
  height: auto;
  width: auto;
}

.align-menu[value="top"] {
  list-style-image: url("chrome://editor/skin/icons/img-align-top.gif") !important;
}

.align-menu[value="top"]:hover {
  list-style-image: url("chrome://editor/skin/icons/img-align-top-sel.gif") !important;
}

.align-menu[value="middle"] {
  list-style-image: url("chrome://editor/skin/icons/img-align-mid.gif") !important;
}

.align-menu[value="middle"]:hover {
  list-style-image: url("chrome://editor/skin/icons/img-align-mid-sel.gif") !important;
}

.align-menu[value="bottom"] {
  list-style-image: url("chrome://editor/skin/icons/img-align-btm.gif") !important;
}

.align-menu[value="bottom"]:hover {
  list-style-image: url("chrome://editor/skin/icons/img-align-btm-sel.gif") !important;
}

.align-menu[value="right"] {
  list-style-image: url("chrome://editor/skin/icons/img-align-rit.gif") !important;
}

.align-menu[value="left"] {
  list-style-image: url("chrome://editor/skin/icons/img-align-lft.gif") !important;
}

/* Don't change width/height of these without changing values in
  GetOriginalWidth(), EdImageProps.js */
#preview-image-box {
  margin: 6px 5px;
  border: 1px inset #B4C3D4;
  width: 82px;
  height: 52px;
  min-width: 82px;
  min-height: 52px;
  max-width: 82px;
  max-height: 52px;
  overflow: -moz-hidden-unscrollable;
}

#preview-image-holder {
  padding: 0px;
  margin: 0px;
}

/* :::::: Advanced Edit dialog ::::: */

#tagLabel {
  font-weight: bold;
}

.AttributesTree {
  min-width: 200px;
  min-height: 200px;
}

/* ::::: Editor pref panels ::::: */

#ColorPreview {
  -moz-margin-start: 10px;
  border: 1px inset #B4C3D4;
  padding: 0 5px;
  min-width: 100px;
  min-height: 50px;
}

/* ::::: select edit dialog ::::: */

#SelectTreeChildren::-moz-tree-cell(SelectSelCol, checked-false) {
  background: url("chrome://global/skin/checkbox/cbox.gif") 50% 50% no-repeat;
}

#SelectTreeChildren::-moz-tree-cell(SelectSelCol, checked-true) {
  background: url("chrome://global/skin/checkbox/cbox-check.gif") 50% 50% no-repeat;
}

/* ::::: Publishing Progress ::::: */

.progressitem[progress="busy"] {
  list-style-image: url("chrome://editor/skin/icons/progress-busy.gif");
}
.progressitem[progress="done"] {
  list-style-image: url("chrome://editor/skin/icons/progress-done.gif");
}
.progressitem[progress="failed"] {
  list-style-image: url("chrome://editor/skin/icons/progress-failed.gif");
}
