/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ==== editor.css ==========================================================
   == Styles shared throughout the Editor application.
   ========================================================================== */

@import url("chrome://communicator/skin/");

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#content-frame {
  height: 400px;
  min-width: 10px;
  min-height: 10px;
}

.source-editor,
.source-editor:focus {
  margin-top: 0px;
  margin-bottom: 5px;
  -moz-margin-start: 0px;
  -moz-margin-end: 5px;
  border: 0px;
  padding-top: 5px;
  padding-bottom: 0px;
  -moz-padding-start: 5px;
  -moz-padding-end: 0px;
}

/* Multiline textarea for HTML source editing */
#content-source, #doctype-text {
  font-family : -moz-fixed;
  font-size: initial;
}

/* ::::: formatting toolbar ::::: */

#FormatToolbar {
  background: url("chrome://global/skin/toolbar/tb-mid.gif") #C7D0D9 repeat-x top;
}

#FormatToolbar > .toolbar-box > toolbargrippy,
#FormatToolbar > .toolbar-box > .toolbar-holder {
  border-top: 1px solid #CED6DD;
  border-right: 1px solid #95A0AD;
  border-bottom: 1px solid #95A0AD;
  border-left: 1px solid #DAE3ED;
}

#FormatToolbar > .toolbar-box > toolbargrippy:hover:active {
  border-color: #67737E;
}

/* ::::: struct toolbar ::::: */

#structToolbar {
  min-width: 1px;
  overflow: -moz-hidden-unscrollable;
}

#structSpacer {
  margin: 1px 0px;
}

.struct-button {
  padding: 0px;
}

.struct-button[checked="true"] {
  font-weight: bold;
}

.struct-textbox {
  padding: 0px !important;
  border: 1px solid #000000 !important;
  margin: 0px !important;
}

