/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ==== editor.css ==========================================================
   == Styles shared throughout the Editor application.
   ========================================================================== */

@import url("chrome://communicator/skin/");

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#content-frame { 
  min-width: 10px; 
  min-height: 10px;
  height: 400px;
} 

.source-editor,
.source-editor:focus {
  margin-top: 0px;
  margin-bottom: 5px;
  -moz-margin-start: 0px;
  -moz-margin-end: 5px;
  border: 0px;
  /* Scroll bars are in content, 
     so we can't use right and bottom padding! */
  padding-top: 5px;
  padding-bottom: 0px;
  -moz-padding-start: 5px;
  -moz-padding-end: 0px;
}

/* Multiline textarea for HTML source editing */
#content-source,
#doctype-text {
  font-family: -moz-fixed;
  font-size: initial;
}

#appcontent {
  border-left: 1px solid ThreeDShadow;
  border-top: 1px solid ThreeDDarkShadow;
  border-right: 1px solid ThreeDHighlight;
}

#ContentWindowDeck {
  border-left: 1px solid ThreeDDarkShadow;
  border-right: 1px solid ThreeDLightShadow;
}

/* ::::: struct toolbar ::::: */

#structToolbar {
  min-width: 1px;
  overflow: -moz-hidden-unscrollable;
}

#structSpacer {
  margin: 2px 0px;
}

.struct-button {
  padding: 2px;
}

.struct-button[checked="true"] {
  font-weight: bold;
}

.struct-textbox {
  -moz-appearance: none !important;
  padding: 0px !important;
  margin: 0px !important;
  border: none !important;
}

/* ::::: lightweight themes ::::: */

#EditModeToolbar:-moz-lwtheme {
  text-shadow: none;
  color: -moz-dialogtext;
  background-color: -moz-dialog;
}

