/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#calendarContent {
  color: -moz-DialogText;
  background-color: -moz-Dialog;
}

#calsidebar_splitter,
#today-splitter {
  -moz-appearance: none;
  border-left: 1px solid ThreeDShadow;
  /* splitter grip area */
  width: 5px;
  margin-top: 0;
  /* make only the splitter border visible */
  -moz-margin-end: -5px;
  /* because of the negative margin needed to make the splitter visible */
  position: relative;
  z-index: 10;
  -moz-transition: border-width .3s ease-in;
}

#today-splitter {
  -moz-margin-start: -5px;
  -moz-margin-end: 0;
}

/* Until Bug 621351 is fixed we need border-right and border-left in
 * combination with -moz-locale-dir instead of -moz-border-end and
 * -moz-border-start for -moz-transition
 */

#calsidebar_splitter:-moz-locale-dir(rtl),
#today-splitter:-moz-locale-dir(ltr) {
  border-right: 1px solid ThreeDShadow;
  border-left: none;
}

#calsidebar_splitter[state="collapsed"]:hover:-moz-locale-dir(ltr),
#today-splitter[state="collapsed"]:hover:-moz-locale-dir(rtl) {
  border-left: 4px solid highlight;
}

#calsidebar_splitter[state="collapsed"]:hover:-moz-locale-dir(rtl),
#today-splitter[state="collapsed"]:hover:-moz-locale-dir(ltr) {
  border-right: 4px solid highlight;
}

#today-splitter > grippy {
  display: none;
}

/* Calendar list rules */
#calendar-panel {
    padding-bottom: 5px;
}

/* Lightning preferences icon */
radio[pane=paneLightning] {
    list-style-image: url("chrome://calendar/skin/cal-icon32.png");
}

/* iMIP notification bar */
#imip-bar > image {
    list-style-image: url("chrome://calendar/skin/cal-icon32.png");
    -moz-image-region: rect(0px, 32px, 32px, 0px);
}

/* ::::: tabs ::::: */

/* ::: new tab buttons ::: */
#calendar-tab-button {
    list-style-image: url(chrome://lightning/skin/mode-switch-icons.png);
    -moz-image-region: rect(0px 64px 16px 48px);
}

#calendar-tab-button:hover {
    -moz-image-region: rect(16px 64px 32px 48px);
}

#calendar-tab-button[disabled] {
    -moz-image-region: rect(32px 64px 48px 48px);
}

#task-tab-button {
    list-style-image: url(chrome://lightning/skin/mode-switch-icons.png);
    -moz-image-region: rect(0px 80px 16px 64px);
}

#task-tab-button:hover {
    -moz-image-region: rect(16px 80px 32px 64px);
}

#task-tab-button[disabled] {
    -moz-image-region: rect(32px 80px 48px 64px);
}

/* ::: tab icons ::: */
.icon-holder[type="calendar"],
.tabmail-tab[type="calendar"] {
    list-style-image: url(chrome://lightning/skin/mode-switch-icons.png);
    -moz-image-region: rect(0px 64px 16px 48px);
}

.icon-holder[type="calendar"][selected="true"],
.tabmail-tab[type="calendar"][selected="true"] {
    -moz-image-region: rect(16px 64px 32px 48px);
}

.icon-holder[type="tasks"],
.tabmail-tab[type="tasks"] {
    list-style-image: url(chrome://lightning/skin/mode-switch-icons.png);
    -moz-image-region: rect(0px 80px 16px 64px);
}

.icon-holder[type="tasks"][selected="true"],
.tabmail-tab[type="tasks"][selected="true"] {
    -moz-image-region: rect(16px 80px 32px 64px);
}


/* Lightning sidebar in calendar and task mode */
#ltnSidebar {
  background-color: -moz-field;
  border-bottom: 1px solid ThreeDShadow;
}

/* Write button */
#newMsgButton-mail-menuitem {
  list-style-image: url(chrome://messenger/skin/icons/mail-toolbar-small.png);
  -moz-image-region: rect(0px 32px 16px 16px);
}

#newMsgButton-calendar-menuitem {
  list-style-image: url(chrome://calendar/skin/toolbar-small.png);
  -moz-image-region: rect(0px 16px 16px 0px);
}

#newMsgButton-task-menuitem {
  list-style-image: url(chrome://calendar/skin/toolbar-small.png);
  -moz-image-region: rect(0px 256px 16px 240px);
}

/* Today pane button in status bar */
#calendar-status-todaypane-button,
#calendar-status-todaypane-button[checked="true"] {
  min-width: 0;
  min-height: 0;
  margin: 1px 0 0;
  -moz-appearance: none;
  border-radius: 3px;
  padding: 1px 2px 0 !important;
  border: 1px solid transparent;
}

#calendar-status-todaypane-button:hover {
  border: 1px solid ThreeDShadow;
  background-color: transparent !important;
  background-image: none;
  -moz-appearance: none;
}

#calendar-status-todaypane-button > stack > .toolbarbutton-icon-begin {
  list-style-image: url(chrome://calendar/skin/toolbar-small.png);
  -moz-image-region: rect(0px 336px 16px 320px);
}

#calendar-status-todaypane-button > stack > .toolbarbutton-day-text {
  text-align: center;
  margin-left: 0px;
  margin-top: 4px;
  margin-bottom: -4px;
  font-size: 7pt;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-shadow: none;
  color: DarkBlue;
  background-color: transparent;
}

/* shift the today pane button label up by one pixel to center it */
#calendar-status-todaypane-button > .toolbarbutton-text {
  margin: 0 0 1px !important;
}

#calendar-status-todaypane-button > .toolbarbutton-icon-end {
  list-style-image: url(chrome://global/skin/icons/collapse.png);
}

#calendar-status-todaypane-button[checked="true"] > .toolbarbutton-icon-end {
  list-style-image: url(chrome://global/skin/icons/expand.png);
}

#calMinimonthBox {
    margin-top: 3px;
}
