/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

lightning-notification-bar {
    background-color: #baeeff;
    color: -moz-dialogtext;
    border-bottom: 1px solid ThreeDDarkShadow;
    padding: 3px;
}
