[%# 1.0@bugzilla.org %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Test Runner System.
  #
  # The Initial Developer of the Original Code is Maciej Maczynski.
  # Portions created by Maciej Maczynski are Copyright (C) 2001
  # Maciej Maczynski. All Rights Reserved.
  #
  # Contributor(s): Greg Hendricks <ghendricks@novell.com>
  #%]


[% IF report %]
<form  id="case_search_form" action="tr_case_reports.cgi" method="GET"> 
[% PROCESS "testopia/search/report-matrix.html.tmpl" 
   obj = case 
%]   
[% ELSE %]
<form id="case_search_form" action="tr_list_cases.cgi" method="GET">
[% END %]
  <input type="hidden" name="current_tab" value="[% current_tab FILTER none %]" />
<fieldset>
    <legend><strong>Product</strong></legend>
<table>
  <tr class="bz_row_header">
    <th>Status</th>
    <th>Priority</th>
    <th>Automatic</th>
  </tr>
  <tr>
    <td style="padding-right: 30px;">
    [% PROCESS select sel = { name  => 'case_status_id',
                  accesskey => 'c', 
                  list      => case.get_status_list,
                  elements  => 5,
                  mult      => 1 } %]
    </td>
    <td style="padding-right: 30px;">
    [% PROCESS select sel = { name  => 'priority_id',
                  accesskey => 'p', 
                  list      => case.get_priority_list
                  elements  => 5,
                  mult      => 1 } %]
    </td>
    <td style="padding-right: 30px;">
    [% PROCESS select sel = { name  => 'isautomated',
                  accesskey => 'a', 
                  list      => 
                    [   { id => "0", name => "Manual" },
                        { id => "1", name => "Automatic" }  ]
                  elements  => 5,
                  mult      => 1 } %]
    </td>
  </tr>
</table>
<table>
  <tr class="bz_row_header">
  [% IF Param('useclassification') %]
    <th>Classification</th>
  [% END %]
    <th>Product</th>
    <th>Components</th>
    <th>Category</th>
  </tr>
  <tr>
  [% IF Param('useclassification') %]
    <td style="padding-right: 30px;">
    [% PROCESS select sel = { name  => 'classification',
                  accesskey => 'p', 
                  list      => user.get_selectable_classifications,
                  elements  => 5,
                  byname    => 1,
                  mult      => 1  
                  events    => 'onChange="document.getElementById(\'component\').disabled=true;
                                          document.getElementById(\'category\').disabled=true;
                                          document.getElementById(\'product\').disabled=true; 
                                          t.onProductSelection(this)"'  } %]

    </td>
    [% END %]
    <td style="padding-right: 30px;">
    [% PROCESS select sel = { name  => 'product',
                  accesskey => 'p', 
                  list      => user.get_selectable_products,
                  elements  => 5,
                  byname    => 1,
                  mult      => 1  
                  events    => 'onChange="document.getElementById(\'component\').disabled=true;
                                          document.getElementById(\'category\').disabled=true;
                                          t.onProductSelection(this)"' } %]
    </td>
    <td style="padding-right: 30px;">
    [% PROCESS select sel = { name  => 'component',
                  accesskey => 'm', 
                  list      => components
                  elements  => 5,
                  mult      => 1 } %]
    </td>
    <td style="padding-right: 30px;">
    [% PROCESS select sel = { name  => 'category',
                  accesskey => 't', 
                  list      => categories,
                  elements  => 5,
                  mult      => 1 } %]   
    </td>
  </tr>
</table>
</fieldset>
<fieldset>
    <legend><strong>Roles</strong></legend>
<table>
  <tr>
    <th align="right">Author:</th>
    <td>
    [% PROCESS select sel = { name => 'author_type',
                              list => email_variants } %]</td>
    <td><input name="author"></td>
  </tr>
  <tr>
    <th colspan=2"><input type="radio" style="border: none" name="andor" value="1"/>AND
        <input type="radio" style="border: none" name="andor" value="0"  checked="checked"/>OR</th>
  </tr>
  <tr>
    <th align="right">Default Tester:</th>
    <td>
    [% PROCESS select sel = { name => 'default_tester_type',
                      list => email_variants } %]</td>
  <td><input name="default_tester"></td>
  </tr>
</table>
</fieldset>
<fieldset>
    <legend><strong>Attributes</strong></legend>
<table>
  <tr>
    <th align="right">Summary:</th>
    <td>
    [% PROCESS select sel = { name => 'summary_type',
                              list => query_variants } %]</td>
    <td><input name="summary"></td>
  </tr>
  <tr>
    <th align="right">Action:</th>
    <td>
    [% PROCESS select sel = { name => 'tcaction_type',
                              list => query_variants } %]</td>
    <td><input name="tcaction"></td>
  </tr>
  <tr>
    <th align="right">Expected Results:</th>
    <td>
    [% PROCESS select sel = { name => 'tceffect_type',
                              list => query_variants } %]</td>
    <td><input name="tceffect"></td>
  </tr>
  <tr>
    <th align="right">Script:</th>
    <td>
    [% PROCESS select sel = { name => 'script_type',
                              list => query_variants } %]</td>
    <td><input name="script"></td>
  </tr>
  <tr>
    <th align="right">Requirement:</th>
    <td>
    [% PROCESS select sel = { name => 'requirement_type',
                              list => query_variants } %]</td>
    <td><input name="requirement"></td>
  </tr>
  <tr>
    <th align="right">Tags:</th>
    <td>
    [% PROCESS select sel = { name => 'tags_type',
                              list => tag_variants } %]</td>
    <td><input name="tags"></td>
  </tr>
  

</table>
</fieldset>
  <fieldset>
    <legend><strong>Case Changes</strong></legend>

<dl class="bug_changes">
  <dt>Only cases changed between:</dt>
  <dd>
    <input name="chfieldfrom" size="10" value="[% default.chfieldfrom.0 FILTER html %]">
    and <input name="chfieldto" size="10" value="[% default.chfieldto.0 FILTER html %]">
    (YYYY-MM-DD or relative dates)
  </dd>
  <dt>where one or more of the following changed:</dt>
  <dd>
    [% PROCESS select sel = { name  => 'chfield_type',
                  accesskey => 'p', 
                  list      => case.get_fields
                  elements  => 5,
                  mult      => 1 } %]
  </dd>
  <dt>and the new value was:</dt>
  <dd>
    <input name="chfieldvalue" size="20" value="[% default.chfieldvalue.0 FILTER html %]">
  </dd>
</dl>

   </fieldset>
   
<fieldset>
<legend><strong>Linked Bug Attributes</strong></legend>
<table>
  <tr>
    <td>
      <table>
        <tr>
          <th align="left">
            <label for="bug_status" accesskey="a">St<u>a</u>tus</label>:
          </th>
        </tr>
        <tr valign="top">
          [% PROCESS select sel = { name => 'bug_status',
                                    list => bug_status,
                                    elements  => 5,
                                    mult      => 1 } %]
        </tr>
      </table>
    </td>
    <td>
      <table>
        <tr>
          <th align="left">
            <label for="resolution" accesskey="r"><u>R</u>esolution</label>:
          </th>
        </tr>
        <tr valign="top">
          [% PROCESS select sel = { name => 'bug_resolution',
                                    list => resolution,
                                    elements  => 5,
                                    mult      => 1 } %]
        </tr>
      </table>
    </td>
    <td>
      <table>
        <tr>
          <th align="left">
            <label for="bug_severity">Severity</label>:
          </th>
        </tr>
        <tr valign="top">
          [% PROCESS select sel = { name => 'bug_severity',
                                    list => bug_severity,
                                    elements  => 5,
                                    mult      => 1}%]
        </tr>
      </table>
    </td>
    <td>
      <table>
        <tr>
          <th align="left">
            <label for="priority" accesskey="i">Pr<u>i</u>ority</label>:
          </th>
        </tr>
        <tr valign="top">
          [% PROCESS select sel = { name => 'bug_priority',
                                    list => bug_priority,
                                    elements  => 5,
                                    mult      => 1 } %]
        </tr>
      </table>
    </td>
    <td>
      <table>
        <tr>
          <th align="left">
            <label for="rep_platform" accesskey="h"><u>H</u>ardware</label>:
          </th>
        </tr>
        <tr valign="top">
          [% PROCESS select sel = { name => 'bug_rep_platform',
                                    list => rep_platform,
                                    elements  => 5,
                                    mult      => 1 } %]
        </tr>
      </table>
    </td>
    <td>
      <table>
        <tr>
          <th align="left">
            <label for="op_sys" accesskey="o"><u>O</u>S</label>:
          </th>
        </tr>
        <tr valign="top">
          [% PROCESS select sel = { name => 'bug_op_sys',
                                    list => op_sys,
                                    elements  => 5,
                                    mult      => 1 } %]
        </tr>
      </table>
    </td>
  </tr>
</table>
<table>
  <tr>
    <th align="right">
      <label for="short_desc" accesskey="s"><u>S</u>ummary</label>:
    </th>
    <td>
    [% PROCESS select sel = { name => 'bug_short_desc_type',
                              list => query_variants } %]
    </td>
    <td>
      <input name="bug_short_desc" id="bug_short_desc" size="40"
             value="[% default.bug_short_desc.0 FILTER html %]">
    </td>
  </tr>
  [% FOREACH field = [
    { name => "bug_long_desc", description => "A&nbsp;<u>C</u>omment",
      accesskey => 'c' },
    { name => "bug_file_loc", description => "The&nbsp;<u>U</u>RL",
      accesskey => 'u' },
    { name => "bug_status_whiteboard", description => "<u>W</u>hiteboard",
      accesskey => 'w' } ] %]

    [% UNLESS field.name == 'status_whiteboard' AND NOT Param('usestatuswhiteboard') %]
    <tr>
      <th align="right">
        <label for="[% field.name %]" accesskey="[% field.accesskey %]">[% field.description %]</label>:
      </th>
      <td>
        <select name="[% field.name %]_type">
        [% FOREACH qv = query_variants %]
          [% type = "${field.name}_type" %]
          <option value="[% qv.id %]"
            [% " selected" IF default.$type.0 == qv.id %]>[% qv.name %]</option>
        [% END %]
        </select>
      </td>
      <td><input name="[% field.name %]" id="[% field.name %]" size="40"
                 value="[% default.${field.name}.0 FILTER html %]">
      </td>
      <td></td>
    </tr>
    [% END %]
  [% END %]

    <tr>
      <th align="right">
        <label for="keywords" accesskey="k"><a href="describekeywords.cgi"><u>K</u>eywords</a></label>:
      </th>
      <td>
        <select name="keywords_type">
        [% FOREACH qv = [
          { name => "allwords", description => "contains all of the keywords" },
          { name => "anywords", description => "contains any of the keywords" },
          { name => "nowords",  description => "contains none of the keywords" } ] %]

          <option value="[% qv.name %]"
            [% " selected" IF default.keywords_type.0 == qv.name %]>
            [% qv.description %]</option>
        [% END %]
        </select>
      </td>
      <td>
        <input name="bug_keywords" id="bug_keywords" size="40"
               value="[% default.bug_keywords.0 FILTER html %]">
      </td>
    </tr>

  [%# Deadline %]
  [% IF user.in_group(Param("timetrackinggroup")) %]
    <tr>
      <th align="right">
        <label for="deadlinefrom" accesskey="l">Dead<u>l</u>ine</label>:
      </th>
      <td>
        from&nbsp;
        <input name="deadlinefrom" id="deadlinefrom" size="10" maxlength="10">&nbsp;
        to&nbsp;
        <input name="deadlineto" size="10" maxlength="10">
      </td>
      <td>
        <small>(YYYY-MM-DD)</small>
      </td>
    </tr>
  [% END %]
</table>
<table>
  <tr>
    <td>


<table cellspacing="0" cellpadding="0">
  <tr>
    <td>
      Any one of:
    </td>
  </tr>
  <tr>
    <td>
      <input type="checkbox" name="bug_emailassigned_to[% n %]"
             id="emailassigned_to[% n %]" value="1"
             [% " checked" IF default.bug_emailassigned_to.$n %]>
      <label for="emailassigned_to[% n %]">
        the [% terms.bug %] assignee
      </label>
    </td>
  </tr>
  <tr>
    <td>
      <input type="checkbox" name="bug_emailreporter[% n %]"
             id="emailreporter[% n %]" value="1"
             [% " checked" IF default.bug_emailreporter.$n %]>
      <label for="emailreporter[% n %]">
        the reporter
      </label>
    </td>
  </tr>
  [% IF Param('useqacontact') %]
  <tr>
    <td>
      <input type="checkbox" name="bug_emailqa_contact[% n %]"
             id="emailqa_contact[% n %]" value="1"
             [% " checked" IF default.bug_emailqa_contact.$n %]>
      <label for="emailqa_contact[% n %]">
        the QA contact
      </label>
    </td>
  </tr>
  [% END %]
  <tr>
    <td>
      <select name="bug_emailtype[% n %]">
      [% FOREACH qv = [
        { name => "substring", description => "contains" },
        { name => "exact", description => "is" },
        { name => "regexp", description => "matches regexp" },
        { name => "notregexp", description => "doesn't match regexp" } ] %]

        <option value="[% qv.name %]"
          [% " selected" IF default.bug_emailtype.$n == qv.name %]>[% qv.description %]</option>
      [% END %]
      </select>
    </td>
  </tr>
  <tr>
    <td>
      <input name="bug_email[% n %]" size="25" value="[% default.email.$n FILTER html %]">
    </td>
  </tr>
  <tr><td>Where attached bugs are numbered: <input name="bug_id"></td></tr>
</table>


    </td>
  </tr>
</table>   
</fieldset>
<fieldset>
  <legend><strong>Associations (comma separated lists)</strong></legend>
<table>
  <tr>
    <th align="right">    
    <label for="case_id">
       Include cases numbered: 
    </label>
    </th>
    <td><input name="case_id" id="case_id"></td>
  </tr>
  <tr>
    <th align="right">
    <label for="plan_id">
       Include cases from plans numbered: 
    </label>
    </th>
    <td><input name="plan_id" id="plan_id"></td>
  </tr>
  <tr>
    <th align="right">
    <label for="run_id">
       Include cases in runs numbered: 
    </label>
    </th>
    <td><input name="run_id" id="run_id"></td>
  </tr>  
</table>
</fieldset>

</form>  
