[%# ***** BEGIN LICENSE BLOCK *****
  # Version: MPL 1.1
  #
  # The contents of this file are subject to the Mozilla Public License Version
  # 1.1 (the "License"); you may not use this file except in compliance with
  # the License. You may obtain a copy of the License at
  # http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS IS" basis,
  # WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License
  # for the specific language governing rights and limitations under the
  # License.
  #
  # The Original Code is Litmus.
  #
  # The Initial Developer of the Original Code is
  # The Mozilla Corporation.
  # Portions created by the Initial Developer are Copyright (C) 2006
  # the Initial Developer. All Rights Reserved.
  #
  # Contributor(s):
  #   Chris Cooper <ccooper@deadsquid.com>
  #   Zach Lipton <zach@zachlipton.com>
  #
  # ***** END LICENSE BLOCK *****
#%]
  
[%# INTERFACE:
#%]

[% INCLUDE global/html_header.tmpl js_files=['js/Help.js','js/prototype.lite.js','js/json.js','js/MochiKit/MochiKit.js','js/TestRunCoverage.js','js/RunTests.js'] %]
[% INCLUDE global/litmus_header.tmpl %]

<script type="text/javascript">
</script>

<div id="page">

[% INCLUDE sidebar/sidebar.tmpl %]

  <div id="content">

[% INCLUDE instructions/selecting_a_test_run.tmpl %]
[% INCLUDE runtests/test_run_detail.tmpl title="Active Test Runs - Recommended" active_test_runs=recommended_test_runs recommended=1 display_title_link=1 %]
[% INCLUDE runtests/test_run_detail.tmpl  title="Active Test Runs - Remaining"  active_test_runs=remaining_test_runs recommended=0 display_title_link=1 %]

  </div> <!--END content-->

</div> <!--END page-->

<script type="text/javascript">
  beginCoverageLookup();
</script>

[% INCLUDE global/litmus_footer.tmpl %]
[% INCLUDE global/html_footer.tmpl %]
