[%# ***** BEGIN LICENSE BLOCK *****
  # Version: MPL 1.1
  #
  # The contents of this file are subject to the Mozilla Public License Version
  # 1.1 (the "License"); you may not use this file except in compliance with
  # the License. You may obtain a copy of the License at
  # http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS IS" basis,
  # WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License
  # for the specific language governing rights and limitations under the
  # License.
  #
  # The Original Code is Litmus.
  #
  # The Initial Developer of the Original Code is
  # The Mozilla Corporation.
  # Portions created by the Initial Developer are Copyright (C) 2006
  # the Initial Developer. All Rights Reserved.
  #
  # Contributor(s):
  #   Chris Cooper <ccooper@deadsquid.com>
  #   Zach Lipton <zach@zachlipton.com>
  #
  # ***** END LICENSE BLOCK *****
#%]
  
[%# INTERFACE:
  # $opsys      - the selected operating system
  # @groups    - all group objects for the current product
  # %subgroups - all possible subgroups, where the key is the group 
  #            name and the value is an array of subgroups
  # $sysconfig - the system configuration
  # $defaultgroup (optional) - the default group to display
#%]

[% onload = "$onload; showsubgroup();" %]
[% test_run=test_runs.0 %]
[% INCLUDE global/html_header.tmpl js_files=['js/prototype.lite.js','js/moo.fx.js','js/moo.fx.pack.js','js/SubGroup.js','js/SelectBoxes.js','js/RunTests.js','js/Help.js','js/json.js','js/MochiKit/MochiKit.js','js/TestRunCoverage.js'] %] 
[% INCLUDE global/litmus_header.tmpl %]

<script type="text/javascript">
var percentagesHelpTitle = 'Percentages explained';
var percentagesHelpText = '<p>The testing coverage percentages are based on Operating System, Build ID, and Locale. Since the Build ID is datestamp-based, this should mean that there are always some tests that need running if you update to the latest nightly build.</p><p>While we appreciate all testing efforts, it is more helpful if you select a testgroup or subgroup for testing that does not already have complete testing coverage by the community.</p><p>If there are problems with an existing test result that you have submitted (e.g. invalid status), please add a comment to the test result in question.</p>';
</script>

<div id="page">

[% INCLUDE sidebar/sidebar.tmpl %]

  <div id="content">

[% INCLUDE instructions/group_selection.tmpl %]

<h1 class="firstHeading"><a title="Click to display details of your chosen Test Run." onclick="testConfigHeight.toggle('height');" name="test_run_details">Run Tests - Your Chosen Test Run&nbsp;&raquo;</a></h1>

<div id="test_run_summary">
[% INCLUDE reporting/test_run_summary.tmpl active_test_runs=test_runs display_title_link=0 %]
</div>

<hr/>

<h1 class="firstHeading">Select a Testgroup and Subgroup to Test</h1>

<div class="section-center">
  <div class="section-header">
Select Testing Group
  </div>
  <div class="section-content">
<form action="run_tests.cgi" method="post" name="form" id="form">
<input type="hidden" id="test_run_id" name="test_run_id" value="[% test_run.test_run_id %]"/>
<p>
<table border="0" cellspacing="0" cellpadding="0">
<tr>
<td>

<table class="run-tests">
<tr>
<th>Name</th>
[% IF show_admin %]
<th>Trusted Coverage <a name="showPercentagesHelpText" onclick="toggleHelp(percentagesHelpTitle,percentagesHelpText);"><img class="inline" src="images/info.png" alt="Percentages Explained" /></a></th>
[% ELSE %]
<th>Personal Testing Coverage <a name="showPercentagesHelpText" onclick="toggleHelp(percentagesHelpTitle,percentagesHelpText);"><img class="inline" src="images/info.png" alt="Percentages Explained" /></a></th>
[% END %]
<th>Community Testing Coverage <a name="showPercentagesHelpText" onclick="toggleHelp(percentagesHelpTitle,percentagesHelpText);"><img class="inline" src="images/info.png" alt="Percentages Explained" /></a></th>
</tr>

[% IF defaultgroup.testgroup_id=="" %]
  [% select_first_avail_group=1 %]
[% ELSE %]
  [% select_first_avail_group=0 %]
[% END %]
[% FOREACH testgroup = testgroups %]

  [% IF show_admin %]
    [% personal_completed = testgroup.coverage(sysconfig.build_id, sysconfig.platform_id, sysconfig.opsys_id, sysconfig.locale, 0, 0, 1) %]
  [% ELSE %]
    [% personal_completed = testgroup.coverage(sysconfig.build_id, sysconfig.platform_id, sysconfig.opsys_id, sysconfig.locale, 0, user) %]
  [% END %]

  [% IF personal_completed == 100 %]
    [% community_completed = 100 %]
  [% ELSE %]
    [% community_completed = testgroup.coverage(sysconfig.build_id, sysconfig.platform_id, sysconfig.opsys_id, sysconfig.locale, 0) %]
  [% END %]

  [% IF community_completed == 100 OR completed == 'N/A' %]
    [% groupstyle = 'completegroup' %]
  [% ELSE %]
    [% IF not (loop.count % 2) %]
      [% groupstyle = 'even' %]
    [% ELSE %]
      [% groupstyle = 'odd' %]
    [% END %]
  [% END %]

  [% IF show_admin %]
    [% IF personal_completed == 100 %]
      [% groupstyle = 'trustedcompletegroup' %]
    [% END %]
  [% END %]

<tr class="[% groupstyle | none %]">

  [% IF personal_completed != 100 AND 
    personal_completed != 'N/A' AND 
    (defaultgroup.testgroup_id==testgroup.testgroup_id OR 
     select_first_avail_group==1) %]
      [% selected = "checked" %]
      [% select_first_avail_group=0 %]
    [% ELSE %] 
      [% selected = "" %]
    [% END %]

    <td><input [% IF personal_completed == 'N/A' %]disabled [% END %] type="radio" id="testgroup" name="testgroup" value="[% testgroup.testgroup_id FILTER html %]"
        onClick="showsubgroup()" [% selected | none %]>
         [% testgroup.name FILTER html %]</td>
    <td align="center">[% personal_completed FILTER html %][% IF personal_completed != 'N/A' %]%[% END %]</td>
    <td align="center">[% community_completed FILTER html %][% IF community_completed != 'N/A' %]%[% END %]</td>
</tr>
[% END %]

</table>

</td>

</tr>
</table>

</p>

  </div> <!--END section-content-->

</div> <!--END section-center-->

<div class="section-center">
  <div class="section-header">
Select Subgroup
  </div>
  <div class="section-content">
<p>
[% IF show_admin %]
  [% headerrow = '<tr><th>Name</th><th>Number of Tests</th><th>Trusted Coverage <a name="showPercentagesHelpText" onclick="toggleHelp(percentagesHelpTitle,percentagesHelpText);"><img class="inline" src="images/info.png" alt="Percentages Explained" /></a></th><th>Community Testing Coverage <a name="showPercentagesHelpText" onclick="toggleHelp(percentagesHelpTitle,percentagesHelpText);"><img class="inline" src="images/info.png" alt="Percentages Explained" /></a></th></tr>' %]
  [% colspan = 5 %]
[% ELSE %]
  [% headerrow = '<tr><th>Name</th><th>Number of Tests</th><th>Personal Testing Coverage <a name="showPercentagesHelpText" onclick="toggleHelp(percentagesHelpTitle,percentagesHelpText);"><img class="inline" src="images/info.png" alt="Percentages Explained" /></a></th><th>Community Testing Coverage <a name="showPercentagesHelpText" onclick="toggleHelp(percentagesHelpTitle,percentagesHelpText);"><img class="inline" src="images/info.png" alt="Percentages Explained" /></a></th></tr>' %]
  [% colspan = 4 %]
[% END %]
    
<div id="divsubgroup_null" style="visibility: visible;">
<table class="run-tests">
[% headerrow | none %]
<tr>
<td colspan="[% colspan %]" class="no-results">
Please select a testing group with testcases, or that has not yet been tested in its entirety.
</td>
</tr>
</table>
</div>

[% FOREACH testgroup = subgroups.keys %]
    [% cursubgrouplist = subgroups.$testgroup %]
    <div id="divsubgroup_[% testgroup FILTER html %]" style="display: none;">
	<table border="0" cellspacing="0" cellpadding="0">
	<tr>
	<td>
        <table class="run-tests">
            [% headerrow | none %]
            [% select_first_avail_subgroup=1 %] 
            [% FOREACH cursubgroup = cursubgrouplist %]

            [% IF show_admin %]
              [% personal_completed = cursubgroup.coverage(sysconfig.build_id, sysconfig.platform_id, sysconfig.opsys_id, sysconfig.locale, 0, 0, 1) %]
            [% ELSE %]
              [% personal_completed = cursubgroup.coverage(sysconfig.build_id, sysconfig.platform_id, sysconfig.opsys_id, sysconfig.locale, 0, user) %]
            [% END %]

            [% IF personal_completed == 100 %]
              [% community_completed = 100 %]
            [% ELSE %]
              [% community_completed = cursubgroup.coverage(sysconfig.build_id, sysconfig.platform_id, sysconfig.opsys_id, sysconfig.locale, 0) %]
            [% END %]

            [% IF community_completed == 100 OR completed == 'N/A' %]
              [% groupstyle = 'completegroup' %]
            [% ELSE %]
              [% IF not (loop.count % 2) %]
                [% groupstyle = 'even' %]
              [% ELSE %]
                [% groupstyle = 'odd' %]
              [% END %]
            [% END %]

            [% IF show_admin %]
              [% IF personal_completed == 100 %]
                [% groupstyle = 'trustedcompletegroup' %]
              [% END %]
            [% END %]
            
            [% IF show_admin %]
                [% counttests = cursubgroup.getNumEnabledTestcases() %]
            [% ELSE %]
                [% counttests = cursubgroup.getNumCommunityEnabledTestcases() %]
            [% END %]
            
            <tr class="[% groupstyle | none %]">
                <td align="left"><table class="none"><tr><td><input [% IF ! counttests %]disabled [% ELSE %][% IF loop.first %]checked [% ELSE %][% IF select_first_avail_subgroup==1 && personal_completed != 'N/A' && personal_completed < 100 %][% select_first_avail_subgroup=0 %]checked [% END %][% END %][% END %]type="radio" id="subgroup_[% testgroup FILTER html %]" name="subgroup_[% testgroup FILTER html %]" 
                    value="[% cursubgroup.id FILTER html %]" /></td>
                    <td>[% cursubgroup.name FILTER html %]</td></tr></table></td>
                <td align="center">[% IF ! counttests %] 0 [% ELSE %] [% counttests %] [% END %]</td>
                <td align="center">[% personal_completed FILTER html %][% IF personal_completed != 'N/A' %]%[% END %]</td>
                <td align="center">[% community_completed FILTER html %][% IF community_completed != 'N/A' %]%[% END %]</td>
            </tr>
            [% END %]
        </table>

        </td>

        </tr>
        </table>

    </div>
[% END %]
<br>
</p>

<div id="div_submit">
<input class="button" type="submit" name="Submit" value="Submit">
</div>

</form>
</p>

  </div> <!--END section-content-->

</div> <!--END section-center-->

  </div> <!--END content-->

  <script type="text/javascript">
    group_init([% defaulttestgroup %]);
    beginCoverageLookup();
  </script>

</div> <!--END page-->

[% INCLUDE global/litmus_footer.tmpl %]
[% INCLUDE global/html_footer.tmpl %]

