[%# ***** BEGIN LICENSE BLOCK *****
  # Version: MPL 1.1
  #
  # The contents of this file are subject to the Mozilla Public License Version
  # 1.1 (the "License"); you may not use this file except in compliance with
  # the License. You may obtain a copy of the License at
  # http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS IS" basis,
  # WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License
  # for the specific language governing rights and limitations under the
  # License.
  #
  # The Original Code is Litmus.
  #
  # The Initial Developer of the Original Code is
  # The Mozilla Corporation.
  # Portions created by the Initial Developer are Copyright (C) 2006
  # the Initial Developer. All Rights Reserved.
  #
  # Contributor(s):
  #   Chris Cooper <ccooper@deadsquid.com>
  #   Zach Lipton <zach@zachlipton.com>
  #
  # ***** END LICENSE BLOCK *****
#%]
  
[%# INTERFACE:
#%]

[% INCLUDE global/html_header.tmpl %]
[% INCLUDE global/litmus_header.tmpl %]

<script type="text/javascript">
var test_run=[% IF test_run_js %][% test_run_js %][% ELSE %]{}[% END %];
var platforms=[% IF platforms_js %][% platforms_js %][% ELSE %]{}[% END %];
var opsyses=[% IF opsyses_js %][% opsyses_js %][% ELSE %]{}[% END %];
</script>

<div id="page">

[% INCLUDE sidebar/sidebar.tmpl %]

  <div id="content">

[% INCLUDE instructions/required_criteria.tmpl %]
[% INCLUDE runtests/test_run_detail.tmpl active_test_runs=test_run select_criteria=-1 display_title_link=0 %]

  </div> <!--END content-->

</div> <!--END page-->

<script language="JavaScript" type="text/Javascript" src="js/Litmus.js"></script>
<script language="JavaScript" type="text/Javascript" src="js/RunTests.js"></script>
<script language="JavaScript" type="text/Javascript" src="js/TestRunCoverage.js"></script>
<script type="text/javascript">
  beginCoverageLookup();
</script>

[% INCLUDE global/litmus_footer.tmpl %]
[% INCLUDE global/html_footer.tmpl %]
