/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

imconversation {
  -moz-binding: url("chrome://messenger/content/chat/imconversation.xml#conversation");
}

imgroup {
  -moz-binding: url("chrome://messenger/content/chat/imgroup.xml#group");
  -moz-box-align: center;
}

imcontact {
  -moz-binding: url("chrome://messenger/content/chat/imcontact.xml#contact");
  -moz-box-align: center;
}

.startChatBubble, .closeConversationButton {
  cursor: pointer;
  -moz-user-focus: ignore;
  display: none;
}

imcontact[cansend]:hover .startChatBubble,
imconv:hover .closeConversationButton {
  display: -moz-box;
}

imconv {
  -moz-binding: url("chrome://messenger/content/chat/imconv.xml#conv");
  -moz-box-align: center;
}

.convUnreadCount[value="0"],
.convUnreadTargetedCount[value="0"] {
  display: none;
}

tooltip[type="buddy"] {
  -moz-binding: url("chrome://messenger/content/chat/imbuddytooltip.xml#tooltip");
}

browser[type="content-conversation"] {
  -moz-binding: url("chrome://chat/content/convbrowser.xml#browser");
}

#contextPaneFlexibleBox {
  overflow: hidden;
}

#contextPane:not([chat]) > vbox > .conv-chat {
  display: none;
}

.conv-top-info {
  -moz-binding: url("chrome://messenger/content/chat/imconversation.xml#conv-info-large") !important;
}

#IMSearchInput {
  -moz-binding: url("chrome://messenger/content/search.xml#glodaSearch");
}


#statusTypeIcon {
  cursor: pointer;
}

#statusMessage {
  width: 15em;
}

#statusMessage:not([statusType="offline"]) {
  cursor: text;
}

#statusMessage[editing] {
  -moz-appearance: textfield;
  -moz-binding: url('chrome://global/content/bindings/textbox.xml#textbox');
}
