/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

richlistitem {
  -moz-binding: url("chrome://messenger/content/chat/imAccount.xml#account");
}

richlistitem .account-buttons {
  -moz-binding: url("chrome://messenger/content/chat/imAccount.xml#nobuttons");
}
richlistitem[selected="true"] .account-buttons {
  -moz-binding: url("chrome://messenger/content/chat/imAccount.xml#buttons");
}

richlistitem:not([state="connected"]) .connected,
richlistitem:not([state="connecting"]) .connecting,
richlistitem:not([state="disconnected"]) .disconnected,
richlistitem:not([state="disconnecting"]) .disconnecting,
richlistitem:not([error="true"]) .error,
richlistitem:not([error="true"]) .errorIcon,
richlistitem:not([state="disconnected"]) .error,
richlistitem[error="true"] .disconnected,
richlistitem[selected="true"]:not([state="disconnected"]) .connectButton,
richlistitem[selected="true"][state="disconnected"] .disconnectButton,
richlistitem[selected="true"][state="disconnecting"] .disconnectButton,
richlistitem:not([selected="true"]) .autoSignOn,
richlistitem:not([reconnectPending="true"]) description[anonid="reconnect"]
{
  display: none;
}

#statusTypeIcon {
  cursor: pointer;
}

#displayName,
#statusMessage:not([statusType="offline"]) {
  cursor: text;
}

#displayName[editing],
#statusMessage[editing] {
  -moz-appearance: textfield;
  -moz-binding: url('chrome://global/content/bindings/textbox.xml#textbox');
}
