/*
 * -*- Mode: Java; tab-width: 20; indent-tabs-mode: nil; c-basic-offset: 2 -*-
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

 #aboutDialog {
   padding: 0px 0px 10px;
 }

 #clientBox {
   background-color: #FFFFFF;
   background-image: url("chrome://branding/content/about.png");
   background-repeat: no-repeat;
   padding-top: 203px;
   color: #000000;
 }

 #version {
   font-weight: bold;
   color: #909090;
   margin-top: 1em;
   margin-bottom: 10px;
   -moz-margin-start: 17px;
   -moz-margin-end: 0;
 }

 #copyright {
   color: #000000;
   margin: 0px 16px 3px;
   text-align: justify;
 }

 #detailsBox {
   padding-top: 8px;
   padding-bottom: 10px;
   -moz-padding-start: 8px;
   -moz-padding-end: 10px;
 }

 #userAgent {
   margin-top: 3px;
   margin-bottom: 3px;
   -moz-margin-start: 5px;
   -moz-margin-end: 10px;
   background-color: #FFFFFF;
   color: #000000;
   padding-top: 1px;
   padding-bottom: 1px;
   -moz-padding-start: 3px;
   -moz-padding-end: 0;
   -moz-appearance: none;
   overflow: hidden;
%ifdef XP_MACOSX
   height: 3.8em;
%else
   height: 2.4em;
%endif
   border: none;
 }

 #creditsBox {
 }

 #creditsIframe {
   cursor: default;
   -moz-user-select: none;
 }

 #groove {
   margin-top: 0px;
 }

 button[dlgtype="extra2"] {
   -moz-margin-start: 13px;
 }

 button[dlgtype="accept"] {
   -moz-margin-end: 13px;
 }

