[%# ***** BEGIN LICENSE BLOCK *****
  # Version: MPL 1.1
  #
  # The contents of this file are subject to the Mozilla Public License Version
  # 1.1 (the "License"); you may not use this file except in compliance with
  # the License. You may obtain a copy of the License at
  # http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS IS" basis,
  # WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License
  # for the specific language governing rights and limitations under the
  # License.
  #
  # The Original Code is Litmus.
  #
  # The Initial Developer of the Original Code is
  # The Mozilla Corporation.
  # Portions created by the Initial Developer are Copyright (C) 2007
  # the Initial Developer. All Rights Reserved.
  #
  # Contributor(s):
  #   Zach Lipton <zach@zachlipton.com>
  #
  # ***** END LICENSE BLOCK *****
#%]
  
[%# INTERFACE:
  # $user - the user to reset a password for
#%]

[% INCLUDE global/html_header.tmpl  %] 
[% INCLUDE global/litmus_header.tmpl %] 


<div id="page">

[% INCLUDE sidebar/sidebar.tmpl %]

  <div id="content">

    <h1 class="firstHeading">[% title | html %]</h1>

    <div class="section-full">
      <div class="section-content">
        <div class="login_info">
        <h3>
          An email message has been sent to your registered email address. 
          When you receive this message, please follow the enclosed link to 
          reset your password. 
        </h3>
          
          If you need assistance with your login, please contact an operator in <a href="irc://irc.mozilla.org/qa">irc.mozilla.org, channel #qa</a>.
        </div>
      </div>
    </div>
    
  </div> <!--END content-->

</div> <!--END page-->

[% INCLUDE global/html_footer.tmpl %]
