To: [% user.email %]

From: Litmus <litmus-daemon@litmus.mozilla.org>
Subject: Litmus Password Reset

You, or someone claiming to be you, recently visited Litmus and asked 
to reset the password for the account owned by [% user.email %]. 

To reset your password, please click the following link: 
http://litmus.mozilla.org/login.cgi?resetPassword=[%token%]

(If you are having trouble, try copying and pasting the link into the Address 
Bar of your web browser.)

Thank you for using Litmus,

The Mozilla QA Team

