[%# ***** BEGIN LICENSE BLOCK *****
  # Version: MPL 1.1
  #
  # The contents of this file are subject to the Mozilla Public License Version
  # 1.1 (the "License"); you may not use this file except in compliance with
  # the License. You may obtain a copy of the License at
  # http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS IS" basis,
  # WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License
  # for the specific language governing rights and limitations under the
  # License.
  #
  # The Original Code is Litmus.
  #
  # The Initial Developer of the Original Code is
  # The Mozilla Corporation.
  # Portions created by the Initial Developer are Copyright (C) 2007
  # the Initial Developer. All Rights Reserved.
  #
  # Contributor(s):
  #   Zach Lipton <zach@zachlipton.com>
  #
  # ***** END LICENSE BLOCK *****
#%]
  
[%# INTERFACE:
  # $user - the user to reset a password for
#%]

[% INCLUDE global/html_header.tmpl js_files = ['js/FormValidation.js'] %] 
[% INCLUDE global/litmus_header.tmpl %] 

<script type="text/javascript">
function checkForm(f) {
	return (comparePasswords(f.password,f.password_confirm));
}
</script>


<div id="page">

[% INCLUDE sidebar/sidebar.tmpl %]

  <div id="content">

    <h1 class="firstHeading">[% title | html %]</h1>

    <div class="section-full">
      <div class="section-content">
        <div class="login_info">
        <h3>
          Changing password for user: [%user.email | html%].
        </h3>
        <h3>
          Choose a new password below:
        </h3>
        </div> 
        <div class="login_form" style="height: 100%; padding:15px;">
          <form name="reset_password" action="login.cgi" method="post" onSubmit="return checkForm(this);">
            <input name="login_type" type="hidden" value="doResetPassword">
            <input name="user" type="hidden" value="[% user.user_id | html %]">
            <input name="token" type="hidden" value="[% token | html %]">
            <table cellpadding="0" width="100%" border=0>
            <tr>
			 <td>New Password:</td>
			 <td><input name="password" type="password" size="25"></td>
		   </tr>
		   <tr>
			 <td>Confirm Password:</td>
			 <td><input name="password_confirm" type="password" size="25"></td>
		   </tr>
		   <tr height="10px">
		   </tr>
		   <tr>
			 <td colspan="2"><input type="submit" name="Submit" value="Reset Password"></td>
		   </tr>
		   </table>
          </form>
        </div>
          
          <br />
          If you need assistance with your login, please contact an operator in <a href="irc://irc.mozilla.org/qa">irc.mozilla.org, channel #qa</a>.
      </div>
    </div>
    
  </div> <!--END content-->

</div> <!--END page-->

[% INCLUDE global/html_footer.tmpl %]
