/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== accountManage.css ==============================================
  == Styles for the Mail Account Manager.
  ======================================================================= */

@import url("chrome://messenger/skin/");

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: account manager :::::: */

.specialFolderPickerGrid {
  -moz-margin-start: 20px;
}

.fccReplyFollowsParent {
  -moz-margin-start: 20px;
}

.selectForOfflineUseButton {
  list-style-image: url("chrome://communicator/skin/icons/offline.gif");
}

.selectForOfflineUseButton > .button-box > .button-icon {
  -moz-margin-start: 4px;
  -moz-margin-end: 4px;
}

.signatureBox {
  font-family: -moz-fixed;
}

#identitiesList > listitem:first-child,
treechildren::-moz-tree-cell-text(isDefaultServer-true) {
  font-weight: bold;
}

dialogheader {
  display: none;
}

button:not(.spinbuttons-button):not(.dialog-button) {
  min-height: 19px;
}

page > description,
#smimeEditing > description {
  margin: 1px 5px 2px 6px;
}

/* ::::: SMTP Server Panel :::::: */

.smtpServerListItem {
  -moz-padding-start: 3px;
}

#backgroundBox {
  background-color: ThreeDLightShadow;
}

#smtpServerInfoBox textbox {
  background-color: transparent;
}
