/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== messageHeader.css ==============================================
  == Styles for the header toolbars of a mail message.
  ======================================================================= */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: msg header buttons ::::: */

#expandedAttachmentBox {
  width: 20em;
  height: 0;
  list-style-image: url("chrome://messenger/skin/icons/attach.png");
}

#attachmentText {
  font-weight: bold;
}

#attachmentList {
  min-height: 58px;
  margin-top: 0;
  margin-bottom: 0;
}

/* ::::: msg header captions ::::: */

#msgHeaderView {
  border-right: 1px solid ThreeDShadow;
  border-left: 1px solid ThreeDShadow;
}

#collapsedHeaderView,
#expandedHeaderView {
  margin: 2px 4px 4px 4px;
  border-bottom: 1px solid ThreeDDarkShadow;
  min-width: 1px;
}

.headerNameBox {
  width: 7.7em;
}

.headerName {
  margin-top: 0px;
  margin-bottom: 5px;
  -moz-margin-start: 0px;
  -moz-margin-end: .5em;
  font-weight: bold;
  text-align: right;
}

.headerValue {
  margin: 0;
  min-width: 50px;
  white-space: normal;
}

.headerValueBox {
  margin: 0 0 5px;
}

.headerValueBox[singleline="true"] {
  overflow: hidden;
}

.subjectvalue {
  font-weight: bold;
}

.tagvalue {
  margin-top: 0;
  -moz-margin-start: 0;
}

/* ::::: msg header message ids ::::: */

.messageIdDisplayButton {
  cursor: pointer;
  color: #0000FF;
  text-decoration: underline;
  margin: 0;
}

.messageIdDisplayButton:hover {
  color: #FF0000;
}

.messageIdDisplayImage {
  -moz-padding-start: 2px;
  -moz-box-pack: end;
}

/* ::::: msg header email addresses ::::: */

.emailDisplayButton {
  cursor: pointer;
  color: #0000FF;
  text-decoration: underline;
  margin: 0;
}

.emailDisplayButton:hover {
  color: #FF0000;
}

.emailDisplayImage {
  -moz-padding-start: 2px;
  -moz-box-pack: end;
}

/* ::::: email address twisty ::::: */

.addresstwisty {
  margin: 2px;
  list-style-image: url("chrome://messenger/skin/icons/twisty-clsd.png");
}

.addresstwisty[open] {
  list-style-image: url("chrome://messenger/skin/icons/twisty-open.png");
}

/* ::::: view expand and collapse twisties  ::::: */

.expandHeaderViewButton {
  list-style-image: url("chrome://messenger/skin/icons/twisty-open.png");
}

.collapsedHeaderViewButton  {
  margin: 2px;
  list-style-image: url("chrome://messenger/skin/icons/twisty-clsd.png");
}

/* ::::: collapsed view styles ::::: */

.collapsedHeaderDisplayName {
  margin: 0 0.5em 0 0;
  min-height: 16px;
  font-weight: bold;
}

#expandedsubjectBox {
  margin-top: 5px;
}


#collapsedAttachmentBox {
  -moz-box-pack: center;
}

#collapseddateValue {
  margin: 0 .5em;
  text-align: right;
}

#collapseddateValue > .textbox-input-box menupopup {
  text-align: left;
}

#collapsedfromBox {
  width: 18em;
}

#collapseddateBox {
  width: 12em;
}

.collapsedHeaderValue {
  margin: 0;
}

.collapsedAttachmentButton {
  list-style-image: url("chrome://messenger/skin/icons/message-mail-attach.png");
  -moz-margin-end: .5em;
}
