/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== searchDialog.css ===============================================
  == Styles for the Mail Search dialog.
  ======================================================================= */

@import url("chrome://messenger/skin/");

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: box sizes ::::: */

#searchTermTree {
  min-height: 50px;
}

#searchTermListBox {
  height: 100px;
}

#searchTermList > listitem[selected="true"] {
  background-color: inherit;
}

listcell > hbox {
  -moz-box-pack: end;
}

#searchResultListBox {
  -moz-appearance: listbox;
  -moz-margin-start: 4px;
  -moz-margin-end: 4px;
  height: 100px;
}

#searchAddressBookWindow,
#searchMailWindow {
  padding: 0px;
}

menulist:not(#menuSearchLocalSystem) {
  width: 18em;
}

.search-menulist {
  width: 12em;
}

.search-menulist[unavailable="true"] {
  color: GrayText;
}

.small-button {
  -moz-appearance: none;
  font: icon;
  text-shadow: 0 1px #F2F2F2;
  border: 1px solid #A8A8A8;
  background: linear-gradient(to top, #ECECEC, #ECECEC 50%, #F9F9F9 0%, #F9F9F9);
  min-width: 22px;
  height: 20px;
  padding: 0 1px 1px 0;
  margin: 0;
}

.small-button:not([disabled="true"]):hover:active {
  background: linear-gradient(to top, #B0B0B0, #B4B4B4 50%, #BFBFBF 0%, #BABABA);
  border: 1px solid #9C9C9C;
}

.small-button[disabled="true"] {
  opacity: 0.6;
}

.small-button + .small-button,
.small-button + .small-button:hover:active {
  border-left-width: 0;
  min-width: 21px;
}

.small-button:focus {
  box-shadow:  inset 0 0 1px -moz-mac-focusring,
               1px 0 2px 1px -moz-mac-focusring,
               -1px 0 2px 1px -moz-mac-focusring;
}

.small-button:focus + .small-button {
  box-shadow: inset 1px 0 -moz-mac-focusring;
}
