/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ::::: addressing widget ::::: */

#addressingWidget {
  -moz-user-focus: none;
  width: 0;
}  

#typecol-addressingWidget {
  min-width: 9em;
  border-right: 1px solid #C4CADC;
}

.addressingWidgetItem,
.dummy-row {
  border: none !important;
  background-color: inherit !important;
  color: inherit !important;
}

.addressingWidgetCell {
  border-bottom: 1px solid #C4CADC;
  padding: 0px;
}

.addressingWidgetCell:first-child {
  border-top: none;
}

.dummy-row-cell:first-child {
  border-top: none;
  border-bottom: 1px solid #C4CADC;
}

.person-icon {
  cursor: default !important;
  margin: 2px 4px;
  border: none;
  list-style-image: url("chrome://messenger/skin/addressbook/icons/person.gif");
}
