/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== start.css =====================================================
   == Styles used by the mailnews start page.
   ======================================================================= */

body {
  margin: 0;
  padding: 0;
  background: url("chrome://branding/content/messenger-start-bg.png") no-repeat fixed center 3em;
  background-size: auto 85%;
}

h1 {
  background: url("chrome://branding/content/messenger-start-hdr.png") repeat-x bottom;
  border-bottom: 2px solid #26269A;
  font-size: 1.5em;
  padding: 0.25em 0.67em; /* 0.67*1.5=1, so fit with 1em below */
  margin: 0;
}

#main {
  margin: 0 1em;
}

p {
  margin: 0.5em 0;
}

h2 {
  font-size: 1.2em;
  font-weight: bold;
}

ul {
  margin: 0.5em 0;
}

