/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ::::: Link toolbar items ::::: */

#link-top {
  list-style-image: url("chrome://navigator/skin/btn1/top.gif");
}

#link-top[disabled="true"],
#link-top[disabled="true"]:hover,
#link-top[disabled="true"]:hover:active {
  list-style-image: url("chrome://navigator/skin/btn1/top-dis.gif") !important;
}

#link-top:hover,
#link-top:hover:active {
  list-style-image: url("chrome://navigator/skin/btn1/top-hov.gif");
}

#link-up {
  list-style-image: url("chrome://navigator/skin/btn1/up.gif");
}

#link-up[disabled="true"],
#link-up[disabled="true"]:hover,
#link-up[disabled="true"]:hover:active {
  list-style-image: url("chrome://navigator/skin/btn1/up-dis.gif") !important;
}

#link-up:hover,
#link-up:hover:active {
  list-style-image: url("chrome://navigator/skin/btn1/up-hov.gif");
}

#link-first {
  list-style-image: url("chrome://navigator/skin/btn1/first.gif");
}

#link-first[disabled="true"],
#link-first[disabled="true"]:hover,
#link-first[disabled="true"]:hover:active {
  list-style-image: url("chrome://navigator/skin/btn1/first-dis.gif") !important;
}

#link-first:hover,
#link-first:hover:active {
  list-style-image: url("chrome://navigator/skin/btn1/first-hov.gif");
}

#link-prev {
  list-style-image: url("chrome://navigator/skin/btn1/previous.gif");
}

#link-prev[disabled="true"],
#link-prev[disabled="true"]:hover,
#link-prev[disabled="true"]:hover:active {
  list-style-image: url("chrome://navigator/skin/btn1/previous-dis.gif") !important;
}

#link-prev:hover,
#link-prev:hover:active {
  list-style-image: url("chrome://navigator/skin/btn1/previous-hov.gif");
}

#link-next {
  list-style-image: url("chrome://navigator/skin/btn1/next.gif");
}

#link-next[disabled="true"],
#link-next[disabled="true"]:hover,
#link-next[disabled="true"]:hover:active {
  list-style-image: url("chrome://navigator/skin/btn1/next-dis.gif") !important;
}

#link-next:hover,
#link-next:hover:active {
  list-style-image: url("chrome://navigator/skin/btn1/next-hov.gif");
}

#link-last {
  list-style-image: url("chrome://navigator/skin/btn1/last.gif");
}

#link-last[disabled="true"],
#link-last[disabled="true"]:hover,
#link-last[disabled="true"]:hover:active {
  list-style-image: url("chrome://navigator/skin/btn1/last-dis.gif") !important;
}

#link-last:hover,
#link-last:hover:active {
  list-style-image: url("chrome://navigator/skin/btn1/last-hov.gif");
}

#link-feed {
  list-style-image: url("chrome://navigator/skin/btn1/feeds.png") !important;
  -moz-image-region: rect(0px 32px 16px 16px);
}

#link-feed:hover {
  -moz-image-region: rect(16px 32px 32px 16px);
}

#link-feed[disabled="true"] {
  -moz-image-region: rect(32px 32px 48px 16px);
}

#link-feed[open="true"] {
  -moz-image-region: rect(48px 32px 64px 16px);
}
