/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* Because this sheet is loaded synchronously while the user is waiting for the
   compose window to appear, it must not @import a ton of other things, and
   especially must not trigger network access. */

/* ===== messageQuotes.css =================================================
  == Shared styles such as block quote colors and signature style
  == between the message body during
  == message display and the mail editor instance for mail compose.
  ======================================================================= */

/* ::::: signature ::::: */

@media not print {
  .moz-txt-sig,
  pre.moz-signature {
    opacity: 0.6;
  }
}

/* ::::: Turn on borders and padding for quotes. ::::: */

blockquote[type=cite] {
  padding: 0.4ex 1ex;
  margin: 1ex;
  border-width: 0px 2px 0px 2px;
  border-style: none solid none solid;
  border-radius: 2px;
}

/* ::::: Colorize block quote borders. We only go 5 levels deep. ::::: */

blockquote[type=cite] {
  border-color: rgb(114,159,207); /* Sky Blue 1 */
}

blockquote[type=cite] blockquote[type=cite] {
  border-color: rgb(173,127,168); /* Plum 1 */
}

blockquote[type=cite] blockquote[type=cite] blockquote[type=cite] {
  border-color: rgb(138,226,52); /* Chameleon 1 */
}

blockquote[type=cite] blockquote[type=cite] blockquote[type=cite] blockquote[type=cite] {
  border-color: rgb(252,175,62); /* Orange 1 */
}

blockquote[type=cite] blockquote[type=cite] blockquote[type=cite] blockquote[type=cite] blockquote[type=cite] {
  border-color: rgb(233,185,110); /* Chocolate 1 */
}

