/* -*- Mode: Java; tab-width: 2; indent-tabs-mode: nil; c-basic-offset: 2 -*-
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== alert.css =====================================================
  == Styles specific to the alerts dialog.
  ======================================================================= */

@import url("chrome://messenger/skin/");

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#newMailAlertNotification {
  -moz-appearance: none;
  min-height: 60px;
  border: 1px solid threedshadow;
  background-color: -moz-Dialog;
}

#alertImageBox {
  padding: 4px;
  background-image: linear-gradient(rgba(255, 255, 255, .7),
                                    rgba(255, 255, 255, .6));
  -moz-border-end: 1px solid rgba(0, 0, 0, .1);
}

#alertImage {
  list-style-image: url("chrome://branding/content/icon64.png");
}

#alertTextBox {
  padding: 4px;
  -moz-padding-end: 25px;
  background-image: linear-gradient(rgba(255, 255, 255, .2),
                                    rgba(255, 255, 255, .1));
}

#alertTitle {
  font-weight: bold;
  font-size: 110%;
  -moz-padding-start: 5px;
  -moz-padding-end: 5px;
}

#alertGroove {
  -moz-margin-start: 11px;
}

.folderSummary-message-row {
  /* This max width ends up dictating the overall width of the alert window
     because it controls how large the preview, subject and sender text can be
     before cropping kicks in */
  max-width: 450px;
  padding: 0px 5px;
}

.folderSummary-subject {
  font-weight: bold;
}

.folderSummary-sender, .folderSummary-subject {
  cursor: inherit;
}

.folderSummary-previewText {
  opacity: 0.6;
}

.folderSummaryMessage:hover > .folderSummary-message-row {
  cursor: pointer;
  color: -moz-hyperlinktext;
}

.folderSummaryMessage:hover:active > .folderSummary-message-row {
  color: -moz-activehyperlinktext;
}

#closeButton {
  list-style-image: url("chrome://messenger/skin/icons/close-button.png");
  -moz-image-region: rect(0px, 16px, 16px, 0px);
  -moz-appearance: none;
  border: none !important;
  padding: 2px;
}

#closeButton:hover {
  -moz-image-region: rect(0px, 32px, 16px, 16px);
}

#closeButton:hover:active {
  -moz-image-region: rect(0px, 48px, 16px, 32px);
}
