/*
# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
*/

.quick-search-textbox {
  padding-top: 1px;
}

.gloda-search-icon {
  list-style-image: url(moz-icon://stock/gtk-find?size=menu);
}

.gloda-search-icon:-moz-locale-dir(rtl) {
  transform: scaleX(-1);
}

.gloda-search-icon[searchbutton]:not([disabled]) {
  cursor: pointer;
}


/* things from xul.css that only exist if Thunderbird did not define
 * AUTOCOMPLETE_OLD_STYLE
 */

.autocomplete-history-dropmarker {
  display: none;
}

.autocomplete-history-dropmarker[enablehistory="true"] {
  display: -moz-box;
  -moz-binding: url("chrome://global/content/bindings/autocomplete.xml#history-dropmarker");
}
