/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== subscribe.css ==================================================
  == Styles for the virtual folder list dialog.
  ======================================================================= */

@import url("chrome://messenger/skin/mailWindow1.css");

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

treechildren::-moz-tree-image(selectedColumn) {
  -moz-margin-end: 2px;
  list-style-image: url("chrome://messenger/skin/icons/notchecked.gif");
}

treechildren::-moz-tree-image(selectedColumn, inVFEditSearchScope-true) {
  list-style-image: url("chrome://messenger/skin/icons/check.gif");
}
