/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.navbar {
  -moz-border-end: 2px solid;
  -moz-border-left-colors: threeDShadow threeDHighlight;
  -moz-border-right-colors: threeDShadow threeDHighlight;
  padding: 2px 0;
  -moz-box-align: center;
  background-color: -moz-dialog;
}

.navbuttons {
  border-bottom: 1px solid #bbb;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.navbuttons .toolbarbutton-text {
  display: none;
}

.back {
  list-style-image: url("moz-icon://stock/gtk-go-back?size=menu");
}

.back[disabled="true"] {
  list-style-image: url("moz-icon://stock/gtk-go-back?size=menu&state=disabled");
}

.forward {
  list-style-image: url("moz-icon://stock/gtk-go-forward?size=menu");
}

.forward[disabled="true"] {
  list-style-image: url("moz-icon://stock/gtk-go-forward?size=menu&state=disabled");
}

.engines .toolbarbutton-icon {
  width: 16px;
  height: 16px;
}

.defaultButton {
  -moz-appearance: none;
  list-style-image: url("chrome://messenger/skin/icons/search-favorite.png");
  -moz-image-region: rect(0px 16px 16px 0px);

  border: none;
  padding: 0;
  margin: 0;
  min-width: 0;
  background: transparent;
}

.defaultButton[checked="true"] {
  -moz-image-region: rect(0px 32px 16px 16px);
}
