/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

treechildren::-moz-tree-image(GeneratedName) {
  -moz-margin-end: 2px;
  list-style-image: url("chrome://messenger/skin/addressbook/icons/abcard.png");
}

treechildren::-moz-tree-image(GeneratedName, MailList) {
  -moz-margin-end: 2px;
  list-style-image: url("chrome://messenger/skin/addressbook/icons/ablist.png");
}

@media (min-resolution: 2dppx) {
  treechildren::-moz-tree-image(GeneratedName) {
    list-style-image: url("chrome://messenger/skin/addressbook/icons/addressbook@2x.png");
    -moz-image-region: rect(0px 160px 32px 128px);
  }

  treechildren::-moz-tree-image(GeneratedName, MailList) {
    list-style-image: url("chrome://messenger/skin/addressbook/icons/addressbook@2x.png");
    -moz-image-region: rect(0px 64px 32px 32px);
  }
}
