/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://communicator/skin/");
@import url("chrome://communicator/skin/sidebar/sidebar.css");

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: primary toolbar masthead ::::: */

/* pick up modern's usual primary toolbar style */
#HelpToolbar {
  -moz-binding: url("chrome://communicator/skin/toolbar/toolbarBindings.xml#toolbar-primary");
  background-color: #B1BDC9;
}

.toolbar-primary-holder {
  -moz-box-align: start;
  background-image: url("chrome://communicator/skin/toolbar/prtb-bg-noline.gif");
}

.toolbar-primary-icon {
  display: none;
}

#HelpToolbar > toolbarbutton,
#HelpToolbar > toolbarbutton[type="menu-button"] > .toolbarbutton-menubutton-stack 
  > .toolbarbutton-menubutton-button
{
  -moz-box-orient: vertical;
  -moz-box-pack: start;
  border: none !important;
  padding: 0px !important;
}

/* hide labels for the toolbar because not all of them are set in help viewer
   make sure we always display the icon though */
#HelpToolbar .toolbarbutton-text {
  display: none;
}

#HelpToolbar .toolbarbutton-icon {
  display: -moz-box;
}

#help-back-button > .toolbarbutton-menubutton-stack
    > .toolbarbutton-menubutton-dropmarker,
#help-forward-button > .toolbarbutton-menubutton-stack
    > .toolbarbutton-menubutton-dropmarker
{
  margin-top: 30px;
  margin-bottom: 0px;
  -moz-margin-start: 34px;
  -moz-margin-end: 0px;
}

#help-sidebar {
  min-width: 30px;
  width: 20em;
  max-width: 25em;
  background-color: #BDC7D6;
}

/* ::::: primary toolbar buttons ::::: */

toolbar toolbarbutton {
  list-style-image: url("chrome://communicator/skin/icons/common.png");
}

#help-back-button {
  -moz-image-region: rect(78px 42px 117px 0);
}

#help-back-button:hover {
  -moz-image-region: rect(78px 84px 117px 42px);
}

#help-back-button:hover:active {
  -moz-image-region: rect(78px 126px 117px 84px);
}

#help-back-button[disabled="true"] {
  -moz-image-region: rect(78px 168px 117px 126px) !important;
}

#help-forward-button {
  -moz-image-region: rect(117px 42px 156px 0);
}

#help-forward-button:hover {
  -moz-image-region: rect(117px 84px 156px 42px);
}

#help-forward-button:hover:active {
  -moz-image-region: rect(117px 126px 156px 84px);
}

#help-forward-button[disabled="true"] {
  -moz-image-region: rect(117px 168px 156px 126px) !important;
}

#help-home-button {
  -moz-image-region: rect(156px 42px 195px 0);
}

#help-home-button:hover {
  -moz-image-region: rect(156px 84px 195px 42px);
}

#help-home-button:hover:active {
  -moz-image-region: rect(156px 126px 195px 84px);
}

#help-home-button[disabled="true"] {
  -moz-image-region: rect(156px 168px 195px 126px) !important;
}

#help-print-button {
  -moz-image-region: rect(0 42px 39px 0);
}

#help-print-button:hover {
  -moz-image-region: rect(0 84px 39px 42px);
}

#help-print-button:hover:active {
  -moz-image-region: rect(0 126px 39px 84px);
}

#help-print-button[disabled="true"] {
  -moz-image-region: rect(0 168px 39px 126px) !important;
}

/* ::::: OTHER ::::: */

#context-copy[disabled="true"] {
  display: none;
}

/* make findbar appear above content */
#appcontent {
  -moz-box-direction: reverse;
}
