/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== folderMenus.css ================================================
  == Icons for menus which represent mail folder.
  ======================================================================= */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: Folder icons for menus   ::::: */

/* Folders */
.folderMenuItem {
  list-style-image: url("moz-icon://stock/gtk-directory?size=menu");
}

/* Newsgroup */
.folderMenuItem[ServerType="nntp"] {
  list-style-image: url("chrome://messenger/skin/icons/folder-pane.png");
  -moz-image-region: rect(208px 16px 224px 0px);
}

/* Feed */
.folderMenuItem[ServerType="rss"] {
  list-style-image: url("chrome://messenger/skin/icons/folder-pane.png");
  -moz-image-region: rect(112px 16px 128px 0px);
}

.folderMenuItem[SpecialFolder="Inbox"] {
  list-style-image: url("chrome://messenger/skin/icons/folder-pane.png");
  -moz-image-region: rect(64px 16px 80px 0px);
}

.folderMenuItem[SpecialFolder="Sent"] {
  list-style-image: url("chrome://messenger/skin/icons/folder-pane.png");
  -moz-image-region: rect(144px 16px 160px 0px);
}

.folderMenuItem[SpecialFolder="Outbox"] {
  list-style-image: url("chrome://messenger/skin/icons/folder-pane.png");
  -moz-image-region: rect(96px 16px 112px 0px);
}

.folderMenuItem[SpecialFolder="Drafts"] { 
  list-style-image: url("chrome://messenger/skin/icons/folder-pane.png");
  -moz-image-region: rect(48px 16px 64px 0px);
}

.folderMenuItem[SpecialFolder="Templates"] { 
  list-style-image: url("chrome://messenger/skin/icons/folder-pane.png");
  -moz-image-region: rect(160px 16px 176px 0px);
}

.folderMenuItem[SpecialFolder="Junk"] {
  list-style-image: url("chrome://messenger/skin/icons/folder-pane.png");
  -moz-image-region: rect(80px 16px 96px 0px);
}

.folderMenuItem[SpecialFolder="Trash"] {
  list-style-image: url("chrome://messenger/skin/icons/folder-pane.png");
  -moz-image-region: rect(176px 16px 192px 0px);
}

.folderMenuItem[SpecialFolder="Archive"] {
  list-style-image: url("chrome://messenger/skin/icons/folder-pane.png");
  -moz-image-region: rect(192px 16px 208px 0px);
}

.folderMenuItem[SpecialFolder="Virtual"] {
  list-style-image: url("chrome://messenger/skin/icons/folder-pane.png");
  -moz-image-region: rect(128px 16px 144px 0px);

}

/** IMAP/POP/movemail account nodes */
.folderMenuItem[IsServer="true"] {
  list-style-image: url("chrome://messenger/skin/icons/folder-pane.png");
  -moz-image-region: rect(16px 16px 32px 0px);
}

/* Local folders account node */
.folderMenuItem[IsServer="true"][ServerType="none"] {
  -moz-image-region: rect(0px 16px 16px 0px);
}

/* News server */
.folderMenuItem[IsServer="true"][ServerType="nntp"] {
  list-style-image: url("chrome://messenger/skin/icons/server.png");
  -moz-image-region: rect(0px 64px 16px 48px);
}

/** Secure news server */
.folderMenuItem[IsServer="true"][ServerType="nntp"][IsSecure="true"] {
  list-style-image: url("chrome://messenger/skin/icons/server.png");
  -moz-image-region: rect(0px 80px 16px 64px);
}

/* Feed account node */
.folderMenuItem[IsServer="true"][ServerType="rss"] {
  list-style-image: url("chrome://messenger/skin/icons/folder-pane.png");
  -moz-image-region: rect(32px 16px 48px 0px);
}
