/* ::::: Folder Pane ::::: */

.tabmail-tab[type="folder"] > .tab-image-middle > .tab-icon > .tab-icon-image,
treechildren::-moz-tree-image(folderNameCol) {
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  background-attachment: scroll;
  -moz-background-clip: border;
  -moz-background-inline-policy: continuous;
  -moz-background-origin: border;
  background-image: url("moz-icon://stock/gtk-directory?size=menu");
  list-style-image: url("chrome://messenger/skin/icons/folder-blank.png");
}

treechildren::-moz-tree-image(folderNameCol) {
  -moz-margin-end: 2px;
}

treechildren::-moz-tree-image(folderNameCol, newMessages-true) {
  background-image: url("moz-icon://stock/gtk-directory?size=menu");
  list-style-image: url("chrome://messenger/skin/icons/folder-new-star.png");
}

treechildren::-moz-tree-image(folderNameCol, selected, open, newMessages-true) {
  background-image: url("moz-icon://stock/gtk-directory?size=menu");
  list-style-image: url("chrome://messenger/skin/icons/folder-new-star.png");
}

/* ..... Newsgroup ..... */

.tabmail-tab[type="folder"][ServerType="nntp"] > .tab-image-middle > .tab-icon > .tab-icon-image,
treechildren::-moz-tree-image(folderNameCol, serverType-nntp) {
  background-image: none;
  list-style-image: url("chrome://messenger/skin/icons/folder.png");
  -moz-image-region: rect(0 160px 16px 144px);
}

/* ..... Feed ..... */

.tabmail-tab[type="folder"][ServerType="rss"] > .tab-image-middle > .tab-icon > .tab-icon-image,
treechildren::-moz-tree-image(folderNameCol, serverType-rss) {
  background-image: url("chrome://messenger/skin/icons/folder-pane.png");
  background-position: left -112px;
  list-style-image: url("chrome://messenger/skin/icons/folder-blank.png");
}

treechildren::-moz-tree-image(folderNameCol, serverType-rss, newMessages-true) {
  background-image: url("chrome://messenger/skin/icons/folder-pane.png");
  background-position: left -112px;
  list-style-image: url("chrome://messenger/skin/icons/folder-new-star.png");
}

/* Resets list-style-image for Feed Trash and Virtual folders */

.tabmail-tab[type="folder"][SpecialFolder="Trash"][ServerType="rss"] > .tab-image-middle > .tab-icon > .tab-icon-image,
.tabmail-tab[type="folder"][SpecialFolder="Virtual"][ServerType="rss"] > .tab-image-middle > .tab-icon > .tab-icon-image,
treechildren::-moz-tree-image(folderNameCol, serverType-rss, specialFolder-Trash),
treechildren::-moz-tree-image(folderNameCol, serverType-rss, specialFolder-Virtual) {
  background-image: url("chrome://messenger/skin/icons/folder-pane.png");
  background-position: left -176px;
  list-style-image: url("chrome://messenger/skin/icons/folder-blank.png");
}

/* ..... Inbox ..... */

.tabmail-tab[type="folder"][SpecialFolder="Inbox"] > .tab-image-middle > .tab-icon > .tab-icon-image,
treechildren::-moz-tree-image(folderNameCol, specialFolder-Inbox) {
  background-image: url("chrome://messenger/skin/icons/folder-pane.png");
  background-position: left -64px;
  list-style-image: url("chrome://messenger/skin/icons/folder-blank.png");
}

treechildren::-moz-tree-image(folderNameCol, specialFolder-Inbox, newMessages-true) {
  background-image: url("chrome://messenger/skin/icons/folder-pane.png");
  background-position: left -64px;
  list-style-image: url("chrome://messenger/skin/icons/folder-new-star.png");
}

/* ..... Sent ..... */

.tabmail-tab[type="folder"][SpecialFolder="Sent"] > .tab-image-middle > .tab-icon > .tab-icon-image,
treechildren::-moz-tree-image(folderNameCol, specialFolder-Sent) {
  background-image: url("chrome://messenger/skin/icons/folder-pane.png");
  background-position: left -144px;
  list-style-image: url("chrome://messenger/skin/icons/folder-blank.png");
}

/* ..... Outbox ..... */

.tabmail-tab[type="folder"][SpecialFolder="Outbox"] > .tab-image-middle > .tab-icon > .tab-icon-image,
treechildren::-moz-tree-image(folderNameCol, specialFolder-Outbox) {
  background-image: url("chrome://messenger/skin/icons/folder-pane.png");
  background-position: left -96px;
  list-style-image: url("chrome://messenger/skin/icons/folder-blank.png");
}

/* ..... Drafts ..... */

.tabmail-tab[type="folder"][SpecialFolder="Drafts"] > .tab-image-middle > .tab-icon > .tab-icon-image,
treechildren::-moz-tree-image(folderNameCol, specialFolder-Drafts) {
  background-image: url("chrome://messenger/skin/icons/folder-pane.png");
  background-position: left -48px;
  list-style-image: url("chrome://messenger/skin/icons/folder-blank.png");
}

/* ..... Templates ..... */

.tabmail-tab[type="folder"][SpecialFolder="Templates"] > .tab-image-middle > .tab-icon > .tab-icon-image,
treechildren::-moz-tree-image(folderNameCol, specialFolder-Templates) {
  background-image: url("chrome://messenger/skin/icons/folder-pane.png");
  background-position: left -160px;
  list-style-image: url("chrome://messenger/skin/icons/folder-blank.png");
}

/* ..... Junk ..... */

.tabmail-tab[type="folder"][SpecialFolder="Junk"] > .tab-image-middle > .tab-icon > .tab-icon-image,
treechildren::-moz-tree-image(folderNameCol, specialFolder-Junk) {
  background-image: url("chrome://messenger/skin/icons/folder-pane.png");
  background-position: left -80px;
  list-style-image: url("chrome://messenger/skin/icons/folder-blank.png");
}

/* ..... Trash ..... */

.tabmail-tab[type="folder"][SpecialFolder="Trash"] > .tab-image-middle > .tab-icon > .tab-icon-image,
treechildren::-moz-tree-image(folderNameCol, specialFolder-Trash) {
  background-image: url("chrome://messenger/skin/icons/folder-pane.png");
  background-position: left -176px;
  list-style-image: url("chrome://messenger/skin/icons/folder-blank.png");
}

/* ..... Archives ..... */

.tabmail-tab[type="folder"][SpecialFolder="Archive"] > .tab-image-middle > .tab-icon > .tab-icon-image,
treechildren::-moz-tree-image(folderNameCol, specialFolder-Archive) {
  background-image: url("chrome://messenger/skin/icons/folder-pane.png");
  background-position: left -192px;
  list-style-image: url("chrome://messenger/skin/icons/folder-blank.png");
}


/* ..... Shared folders .....

treechildren::-moz-tree-image(folderNameCol, imapShared-true) {
  -moz-image-region: rect(0 192px 16px 176px);
}

*/ 

/* ..... Saved Search Folder ..... */

.tabmail-tab[type="folder"][SpecialFolder="Virtual"] > .tab-image-middle > .tab-icon > .tab-icon-image,
treechildren::-moz-tree-image(folderNameCol, specialFolder-Virtual) {
  background-image: url("chrome://messenger/skin/icons/folder-pane.png");
  background-position: left -128px;
  list-style-image: url("chrome://messenger/skin/icons/folder-blank.png");
}

/* ..... Account nodes ..... */
.tabmail-tab[type="folder"][IsServer="true"] > .tab-image-middle > .tab-icon > .tab-icon-image {
  -moz-margin-start: 0px;
  background-image: url("chrome://messenger/skin/icons/folder-pane.png");
  background-position: left -16px;
  list-style-image: url("chrome://messenger/skin/icons/folder-blank.png");
}

/* ..... Secure IMAP/POP account nodes ..... */
.tabmail-tab[type="folder"][IsServer="true"][ServerType="imap"][IsSecure="true"] > .tab-image-middle > .tab-icon > .tab-icon-image,
.tabmail-tab[type="folder"][IsServer="true"][ServerType="pop3"][IsSecure="true"] > .tab-image-middle > .tab-icon > .tab-icon-image {
  background-position: left -16px;
  list-style-image: url("chrome://messenger/skin/icons/folder-blank.png");
}

/* ..... Local folders ..... */
.tabmail-tab[type="folder"][IsServer="true"][ServerType="none"] > .tab-image-middle > .tab-icon > .tab-icon-image {
  background-position: left 0px;
  list-style-image: url("chrome://messenger/skin/icons/folder-blank.png");
}

/* ..... News server ..... */
.tabmail-tab[type="folder"][IsServer="true"][ServerType="nntp"] > .tab-image-middle > .tab-icon > .tab-icon-image {
  background-image: none;
  list-style-image: url("chrome://messenger/skin/icons/server.png");
  -moz-image-region: rect(0 64px 16px 48px);
}

/* ..... Secure news server ..... */
.tabmail-tab[type="folder"][IsServer="true"][ServerType="nntp"][IsSecure="true"] > .tab-image-middle > .tab-icon > .tab-icon-image {
  background-image: none;
  list-style-image: url("chrome://messenger/skin/icons/server.png");
  -moz-image-region: rect(0 80px 16px 64px);
}

/* .....  Newsgroup .....  */
.tabmail-tab[type="folder"][ServerType="nntp"] > .tab-image-middle > .tab-icon > .tab-icon-image {
  background-image: none;
  list-style-image: url("chrome://messenger/skin/icons/server.png");
  -moz-image-region: rect(0 160px 16px 144px);
}

treechildren::-moz-tree-image(folderNameCol, specialFolder-Virtual, newMessages-true) {
  list-style-image: url("chrome://messenger/skin/icons/folder.png");
  -moz-image-region: rect(16px 176px 32px 160px);
}

treechildren::-moz-tree-cell-text(folderNameCol, newMessages-true),
treechildren::-moz-tree-cell-text(folderNameCol, specialFolder-Inbox, newMessages-true) {
  font-weight: bold;
}

/* ..... Mail server  ..... */

treechildren::-moz-tree-image(folderNameCol, isServer-true) {
  background-image: url("chrome://messenger/skin/icons/folder-pane.png");
  background-position: left -16px;
  list-style-image: url("chrome://messenger/skin/icons/folder-blank.png");
}

treechildren::-moz-tree-image(folderNameCol, biffState-NewMail, isServer-true) {
  background-position: left -16px;
  list-style-image: url("chrome://messenger/skin/icons/folder-new-star.png");
}

/* ..... Secure mail server ..... */

treechildren::-moz-tree-image(folderNameCol, isServer-true, serverType-pop3, isSecure-true),
treechildren::-moz-tree-image(folderNameCol, isServer-true, serverType-imap, isSecure-true) {
  background-position: left -16px;
  list-style-image: url("chrome://messenger/skin/icons/folder-blank.png");
}

treechildren::-moz-tree-image(folderNameCol, biffState-NewMail, isServer-true, isSecure-true) {
  background-position: left -16px;
  list-style-image: url("chrome://messenger/skin/icons/folder-new-star.png");
}

/* ..... Local folders ..... */

treechildren::-moz-tree-image(folderNameCol, isServer-true, serverType-none) {
  background-position: left 0px;
  list-style-image: url("chrome://messenger/skin/icons/folder-blank.png");
}

treechildren::-moz-tree-image(folderNameCol, isServer-true, serverType-none, biffState-NewMail) {
  background-position: left 0px;
  list-style-image: url("chrome://messenger/skin/icons/folder-new-star.png");
}

/* ..... News server ..... */

treechildren::-moz-tree-image(folderNameCol, isServer-true, serverType-nntp) {
  background-image: none;
  list-style-image: url("chrome://messenger/skin/icons/server.png");
  -moz-image-region: rect(0 64px 16px 48px) !important;
}

treechildren::-moz-tree-image(folderNameCol, isServer-true, serverType-nntp, isSecure-true) {
  background-image: none;
  list-style-image: url("chrome://messenger/skin/icons/server.png");
  -moz-image-region: rect(0 80px 16px 64px) !important;
}

/* ..... Feed server ..... */

.tabmail-tab[type="folder"][IsServer="true"][ServerType="rss"] > .tab-image-middle > .tab-icon > .tab-icon-image,
treechildren::-moz-tree-image(folderNameCol, isServer-true, serverType-rss) {
  background-position: left -32px;
  list-style-image: url("chrome://messenger/skin/icons/folder-blank.png");
}

/* ::::: All Servers ::::: */

treechildren::-moz-tree-cell-text(closed, subfoldersHaveUnreadMessages-true) {
  font-weight: bold;
}

treechildren::-moz-tree-cell-text(folderNameCol, isServer-true),
treechildren::-moz-tree-cell-text(hasUnreadMessages-true) {
  font-weight: bold;
}

treechildren::-moz-tree-cell-text(folderNameCol, noSelect-true) {
  color: GrayText;
  font-style: italic;
}

.tree-folder-checkbox {
  list-style-image: none;
}

/* ::::: Folder Summary Popup ::::: */

.folderSummary-message-row {
  /* This max width ends up dictating the overall width of the popup
     because it controls how large the preview, subject and sender text can be
     before cropping kicks in */
  max-width: 450px;
}

.folderSummary-subject {
  font-weight: bold; 
}

.folderSummary-previewText {
  color: GrayText;
}

/* Make sidebar look normal. */

treechildren::-moz-tree-twisty {
  -moz-appearance: treetwisty;
  margin-right: 3px;
}

treechildren::-moz-tree-twisty(open) {
  -moz-appearance: treetwistyopen;
}
