/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== primaryToolbar.css =============================================
   == Images for the Mail primary toolbar.
   == This file is mainly about the general look-and-feel of
   == native-OS-style toolbars at the top of various windows, as well as
   == the specifically about the ones that appear on the 3-pane window and
   == the standalone message window.  The other native-OS-style toolbars
   == (addressbook and compose) are already styled elsewhere.
   ====================================================================== */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: primary toolbar buttons ::::: */

.toolbarbutton-1 {
  -moz-box-orient: vertical;
}

toolbox[labelalign="end"] .toolbarbutton-1,
toolbox[labelalign="end"] .toolbarbutton-1[type="menu-button"]
  > .toolbarbutton-menubutton-button {
  -moz-box-orient: horizontal;
}

toolbox[labelalign="end"] > toolbar[mode="full"] .toolbarbutton-1 .toolbarbutton-text {
  -moz-padding-start: 2px;
}

toolbox[labelalign="end"] > toolbar[mode="full"] deck .toolbarbutton-text {
  text-align: start;
}

.toolbarbutton-1[type="menu"] {
  -moz-binding: url("chrome://global/content/bindings/toolbarbutton.xml#menu-vertical");
}

toolbox[labelalign="end"] .toolbarbutton-1[type="menu"] {
  -moz-binding: url("chrome://global/content/bindings/toolbarbutton.xml#menu");
}

#button-getmsg {
  list-style-image: url("chrome://messenger/skin/icons/mail-toolbar.png");
  -moz-image-region: rect(0px 24px 24px 0px);
}

#button-getmsg[disabled] {
  -moz-image-region: rect(24px 24px 48px 0px) !important;
}

#button-newmsg {
  list-style-image: url("chrome://messenger/skin/icons/mail-toolbar.png");
  -moz-image-region: rect(0px 48px 24px 24px);
}

#button-newmsg[disabled] {
  -moz-image-region: rect(24px 48px 48px 24px) !important;
} 

#button-address {
  list-style-image: url("chrome://messenger/skin/icons/mail-toolbar.png");
  -moz-image-region: rect(0px 72px 24px 48px);
}

#button-address[disabled="true"] {
  -moz-image-region: rect(24px 72px 48px 48px) !important;
} 

#button-reply {
  list-style-image: url("chrome://messenger/skin/icons/mail-toolbar.png");
  -moz-image-region: rect(0px 96px 24px 72px);
}

#button-reply[disabled] {
  -moz-image-region: rect(24px 96px 48px 72px) !important;
} 

#button-replyall {
  list-style-image: url("chrome://messenger/skin/icons/mail-toolbar.png");
  -moz-image-region: rect(0px 120px 24px 96px);
}

#button-replyall[disabled] {
  -moz-image-region: rect(24px 120px 48px 96px) !important;
}

#button-replylist {
  list-style-image: url("chrome://messenger/skin/icons/mail-toolbar.png");
  -moz-image-region: rect(0px 144px 24px 120px);
}

#button-replylist[disabled] {
  -moz-image-region: rect(24px 144px 48px 120px) !important;
}

#button-forward {
  list-style-image: url("chrome://messenger/skin/icons/mail-toolbar.png");
  -moz-image-region: rect(0px 168px 24px 144px);
}

#button-forward[disabled] {
  -moz-image-region: rect(24px 168px 48px 144px) !important;
}

.junk-button {
  list-style-image: url("chrome://messenger/skin/icons/mail-toolbar.png");
  -moz-image-region: rect(0px 192px 24px 168px);
}

.junk-button[disabled="true"] {
  -moz-image-region: rect(24px 192px 48px 168px) !important;
}

#button-mark {
  list-style-image: url("chrome://messenger/skin/icons/mail-toolbar.png");
  -moz-image-region: rect(0px 216px 24px 192px);
}

#button-mark[disabled] {
  -moz-image-region: rect(24px 216px 48px 192px) !important;
}

#button-nextUnread {
  list-style-image: url("chrome://messenger/skin/icons/mail-toolbar.png");
  -moz-image-region: rect(0px 240px 24px 216px);
}

#button-nextUnread[disabled] {
  -moz-image-region: rect(24px 240px 48px 216px) !important;
}

#button-previousUnread {
  list-style-image: url("chrome://messenger/skin/icons/mail-toolbar.png");
  -moz-image-region: rect(0px 264px 24px 240px);
}

#button-previousUnread[disabled] {
  -moz-image-region: rect(24px 264px 48px 240px) !important;
}

#button-tag {
  list-style-image: url("chrome://messenger/skin/icons/mail-toolbar.png");
  -moz-image-region: rect(0px 288px 24px 264px);
}

#button-tag[disabled] {
  -moz-image-region: rect(24px 288px 48px 264px) !important;
}

#button-compact {
  list-style-image: url("chrome://messenger/skin/icons/mail-toolbar.png");
  -moz-image-region: rect(0px 312px 24px 288px);
}

#button-compact[disabled] {
  -moz-image-region: rect(24px 312px 48px 288px) !important;
}

.delete-button {
  list-style-image: url("moz-icon://stock/gtk-delete?size=toolbar");
}

.delete-button[disabled] {
  list-style-image: url("moz-icon://stock/gtk-delete?size=toolbar&state=disabled");
}

#button-print {
  list-style-image: url("moz-icon://stock/gtk-print?size=toolbar");
}

#button-print[disabled] {
  list-style-image: url("moz-icon://stock/gtk-print?size=toolbar&state=disabled");
}

#button-stop {
  list-style-image: url("moz-icon://stock/gtk-stop?size=toolbar");
}

#button-stop[disabled="true"] {
  list-style-image: url("moz-icon://stock/gtk-stop?size=toolbar&state=disabled");
}

#button-file {
  list-style-image: url("moz-icon://stock/gtk-save-as?size=toolbar");
}

#button-archive {
  list-style-image: url("chrome://messenger/skin/icons/mail-toolbar.png");
  -moz-image-region: rect(0px 336px 24px 312px);
}

#button-archive[disabled] {
  -moz-image-region: rect(24px 336px 48px 312px);
}

#button-file[disabled] {
  list-style-image: url("moz-icon://stock/gtk-save-as?size=toolbar&state=disabled");
}

#button-goback {
  list-style-image: url("moz-icon://stock/gtk-go-back-ltr?size=toolbar");
}

#button-goback[disabled] {
  list-style-image: url("moz-icon://stock/gtk-go-back-ltr?size=toolbar&state=disabled");
}

#button-goback:-moz-locale-dir(rtl) {
  list-style-image: url("moz-icon://stock/gtk-go-back-rtl?size=toolbar");
}

#button-goback:-moz-locale-dir(rtl)[disabled] {
  list-style-image: url("moz-icon://stock/gtk-go-back-rtl?size=toolbar&state=disabled");
}

#button-goforward {
  list-style-image: url("moz-icon://stock/gtk-go-forward-ltr?size=toolbar");
}

#button-goforward:-moz-locale-dir(rtl) {
  list-style-image: url("moz-icon://stock/gtk-go-forward-rtl?size=toolbar");
}

#button-goforward[disabled] {
  list-style-image: url("moz-icon://stock/gtk-go-forward-ltr?size=toolbar&state=disabled");
}

#button-goforward:-moz-locale-dir(rtl)[disabled] {
  list-style-image: url("moz-icon://stock/gtk-go-forward-rtl?size=toolbar&state=disabled");
}

#button-chat {
  list-style-image: url("chrome://messenger/skin/icons/mail-toolbar.png");
  -moz-image-region: rect(0px 360px 24px 338px);
}

#button-chat[disabled] {
  list-style-image: url("chrome://messenger/skin/icons/mail-toolbar.png");
  -moz-image-region: rect(24px 360px 48px 338px);
}

#button-chat[unreadMessages="true"] {
  list-style-image: url("chrome://messenger/skin/icons/mail-toolbar.png");
  -moz-image-region: rect(48px 360px 72px 338px);
  font-weight: bold;
}

#button-nextMsg {
  list-style-image: url("chrome://messenger/skin/icons/mail-toolbar.png");
  -moz-image-region: rect(0px 384px 24px 360px);
}

#button-nextMsg[disabled] {
  -moz-image-region: rect(24px 384px 48px 360px);
}

#button-previousMsg {
  list-style-image: url("chrome://messenger/skin/icons/mail-toolbar.png");
  -moz-image-region: rect(0px 408px 24px 384px);
} 

#button-previousMsg[disabled] {
  list-style-image: url("chrome://messenger/skin/icons/mail-toolbar.png");
  -moz-image-region: rect(24px 408px 48px 384px);
}

/* ::::: small primary toolbar buttons ::::: */

toolbar[iconsize="small"] #button-getmsg {
  list-style-image: url("chrome://messenger/skin/icons/mail-toolbar-small.png");
  -moz-image-region: rect(0px 16px 16px 0px);
}

toolbar[iconsize="small"] #button-getmsg[disabled] {
  -moz-image-region: rect(16px 16px 32px 0px) !important;
} 

toolbar[iconsize="small"] #button-newmsg {
  list-style-image: url("chrome://messenger/skin/icons/mail-toolbar-small.png");
  -moz-image-region: rect(0px 32px 16px 16px);
}

toolbar[iconsize="small"] #button-newmsg[disabled] {
  -moz-image-region: rect(16px 32px 32px 16px) !important;
} 

toolbar[iconsize="small"] #button-address {
  list-style-image: url("chrome://messenger/skin/icons/mail-toolbar-small.png");
  -moz-image-region: rect(0px 48px 16px 32px);
}

toolbar[iconsize="small"] #button-address[disabled="true"] {
  -moz-image-region: rect(16px 48px 32px 32px) !important;
} 

toolbar[iconsize="small"] #button-reply {
  list-style-image: url("chrome://messenger/skin/icons/mail-toolbar-small.png");
  -moz-image-region: rect(0px 64px 16px 48px);
}

toolbar[iconsize="small"] #button-reply[disabled] {
  -moz-image-region: rect(16px 64px 32px 48px) !important;
} 

toolbar[iconsize="small"] #button-replyall {
  list-style-image: url("chrome://messenger/skin/icons/mail-toolbar-small.png");
  -moz-image-region: rect(0px 80px 16px 64px);
}

toolbar[iconsize="small"] #button-replyall[disabled] {
  -moz-image-region: rect(16px 80px 32px 64px) !important;
} 

toolbar[iconsize="small"] #button-replylist {
  list-style-image: url("chrome://messenger/skin/icons/mail-toolbar-small.png");
  -moz-image-region: rect(0px 96px 16px 80px);
}

toolbar[iconsize="small"] #button-replylist[disabled] {
  -moz-image-region: rect(16px 96px 32px 80px) !important;
}

toolbar[iconsize="small"] #button-forward {
  list-style-image: url("chrome://messenger/skin/icons/mail-toolbar-small.png");
  -moz-image-region: rect(0px 112px 16px 96px);
}

toolbar[iconsize="small"] #button-forward[disabled] {
  -moz-image-region: rect(16px 112px 32px 96px) !important;
}

toolbar[iconsize="small"] .junk-button {
  list-style-image: url("chrome://messenger/skin/icons/mail-toolbar-small.png");
  -moz-image-region: rect(0px 128px 16px 112px);
}

toolbar[iconsize="small"] .junk-button[disabled="true"] {
  -moz-image-region: rect(16px 128px 32px 112px) !important;
}

toolbar[iconsize="small"] #button-mark {
  list-style-image: url("chrome://messenger/skin/icons/mail-toolbar-small.png");
  -moz-image-region: rect(0px 144px 16px 128px);
}

toolbar[iconsize="small"] #button-mark[disabled] {
  -moz-image-region: rect(16px 144px 32px 128px) !important;
}

toolbar[iconsize="small"] #button-nextUnread {
  list-style-image: url("chrome://messenger/skin/icons/mail-toolbar-small.png");
  -moz-image-region: rect(0px 160px 16px 144px);
}

toolbar[iconsize="small"] #button-nextUnread[disabled] {
  -moz-image-region: rect(16px 160px 32px 144px) !important;
}

toolbar[iconsize="small"] #button-previousUnread {
  list-style-image: url("chrome://messenger/skin/icons/mail-toolbar-small.png");
  -moz-image-region: rect(0px 176px 16px 160px);
}

toolbar[iconsize="small"] #button-previousUnread[disabled] {
  -moz-image-region: rect(16px 176px 32px 160px) !important;
}

toolbar[iconsize="small"] #button-tag {
  list-style-image: url("chrome://messenger/skin/icons/mail-toolbar-small.png");
  -moz-image-region: rect(0px 192px 16px 176px);
}

toolbar[iconsize="small"] #button-tag[disabled] {
  -moz-image-region: rect(16px 192px 32px 176px) !important;
}

toolbar[iconsize="small"] #button-compact {
  list-style-image: url("chrome://messenger/skin/icons/mail-toolbar-small.png");
  -moz-image-region: rect(0px 208px 16px 192px);
}

toolbar[iconsize="small"] #button-compact[disabled] {
  -moz-image-region: rect(16px 208px 32px 192px) !important;
}

toolbar[iconsize="small"] #button-goback {
  list-style-image: url("moz-icon://stock/gtk-go-back-ltr?size=menu");
}

toolbar[iconsize="small"] #button-goback[disabled] {
  list-style-image: url("moz-icon://stock/gtk-go-back-ltr?size=menu&state=disabled");
}

toolbar[iconsize="small"] #button-goforward {
  list-style-image: url("moz-icon://stock/gtk-go-forward-ltr?size=menu");
}

toolbar[iconsize="small"] #button-goforward[disabled] {
  list-style-image: url("moz-icon://stock/gtk-go-forward-ltr?size=menu&state=disabled");
}

toolbar[iconsize="small"] #button-print {
  list-style-image: url("moz-icon://stock/gtk-print?size=menu");
}

toolbar[iconsize="small"] .delete-button {
  list-style-image: url("moz-icon://stock/gtk-delete?size=menu");
}

toolbar[iconsize="small"] .delete-button[disabled] {
  list-style-image: url("moz-icon://stock/gtk-delete?size=menu&state=disabled");
}

toolbar[iconsize="small"] #button-print[disabled] {
  list-style-image: url("moz-icon://stock/gtk-print?size=menu&state=disabled");
}

toolbar[iconsize="small"] #button-stop {
  list-style-image: url("moz-icon://stock/gtk-stop?size=menu");
}

toolbar[iconsize="small"] #button-stop[disabled="true"] {
  list-style-image: url("moz-icon://stock/gtk-stop?size=menu&state=disabled");
}

toolbar[iconsize="small"] #button-file {
  list-style-image: url("moz-icon://stock/gtk-save-as?size=menu");
}

toolbar[iconsize="small"] #button-file[disabled] {
  list-style-image: url("moz-icon://stock/gtk-save-as?size=menu&state=disabled");
}

toolbar[iconsize="small"] #button-archive {
  list-style-image: url("chrome://messenger/skin/icons/mail-toolbar-small.png");
  -moz-image-region: rect(0px 224px 16px 208px);
}

toolbar[iconsize="small"] #button-archive[disabled] {
  -moz-image-region: rect(16px 224px 32px 208px);
}

toolbar[iconsize="small"] #button-chat {
  list-style-image: url("chrome://messenger/skin/icons/mail-toolbar-small.png");
  -moz-image-region: rect(0px 240px 16px 224px);
}

toolbar[iconsize="small"] #button-chat[disabled] {
  list-style-image: url("chrome://messenger/skin/icons/mail-toolbar-small.png");
  -moz-image-region: rect(16px 240px 32px 224px);
}

toolbar[iconsize="small"] #button-chat[unreadMessages="true"] {
  list-style-image: url("chrome://messenger/skin/icons/mail-toolbar-small.png");
  -moz-image-region: rect(32px 240px 48px 224px);
  font-weight: bold;
}

toolbar[iconsize="small"] #button-nextMsg {
  list-style-image: url("chrome://messenger/skin/icons/mail-toolbar-small.png");
  -moz-image-region: rect(0px 256px 16px 240px);
}

toolbar[iconsize="small"] #button-nextMsg[disabled] {
  -moz-image-region: rect(16px 256px 32px 240px);
}

toolbar[iconsize="small"] #button-previousMsg {
  list-style-image: url("chrome://messenger/skin/icons/mail-toolbar-small.png");
  -moz-image-region: rect(0px 272px 16px 256px);
}

toolbar[iconsize="small"] #button-previousMsg[disabled] {
  -moz-image-region: rect(16px 272px 32px 256px);
}

/* ::::: end small primary toolbar buttons ::::: */

#palette-box #qfb-show-filter-bar {
  list-style-image: url("moz-icon://stock/gtk-find?size=toolbar") !important;
}

/* Force the folder location and mail view items to fit in the available width
   in the Customize Toolbar dialog. */
#palette-box #locationFolders,
#palette-box #folder-location-container,
#palette-box #viewPicker {
  -moz-box-flex: 1;
}

/* ::::: message notification bar style rules ::::: */

.msgNotificationBar {
  background-color: InfoBackground;
  color: InfoText;  
  border-bottom: 1px solid ThreeDDarkShadow;
  padding: 3px;
}

.msgNotificationBarText {
  font-weight: bold;
}

.msgNotificaton-smallText {
  -moz-padding-start: 10px;
  font-size: 90%;
}

#junkBarImage {
  list-style-image: url("chrome://messenger/skin/icons/junk.png");
}

#junkIcon {
  list-style-image: url("chrome://messenger/skin/icons/folder-junk.png");
}

#remoteContentImage {
  list-style-image: url("chrome://messenger/skin/icons/remote-blocked.png"); 
}

#phishingBarImage {
  list-style-image: url("chrome://messenger/skin/icons/phishing.png");
}

#mdnBarImage {
  list-style-image: url("moz-icon://stock/gtk-dialog-question?size=toolbar");
}
