/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/**
 * Tabmail Tabs
 */

#tabs-toolbar {
  padding: 0;
}

#tabpanelcontainer:-moz-lwtheme {
  color: inherit;
}

.tabmail-tabs:not(:-moz-lwtheme) {
  -moz-appearance: menubar;
}

.tabmail-tabs[overflow="true"] {
  -moz-padding-start: 0px;
}

.tabmail-tabs[overflow="true"] .tabs-left {
  display: none;
}

.tabmail-tabs > .tabmail-tab:first-child > .tab-close-button {
  visibility: collapse;
}

tabpanels {
  -moz-appearance: none;
  background-color: transparent;
}

/**
 * Tab
 */

.tabmail-tab {
  -moz-appearance: none;
  height: 30px;
  margin: 0 -14px 0;
  padding: 0;
  border-width: 0;
  background: none;
}

.tabmail-tab:first-child {
  -moz-margin-start: 0;
}

.tabmail-tab[selected] {
  position: relative;
  z-index: 1;
  text-shadow: none;
}

.tabmail-tab:-moz-lwtheme {
  color: inherit;
  text-shadow: none;
}

.tabmail-tab:hover {
  background-repeat: no-repeat;
  background-position: 29px 2px,
                       left 0,
                       30px 0,
                       right 0;
  background-size: -moz-calc(100% - 58px) 31px,
                   30px 31px,
                   -moz-calc(100% - 60px) 29px,
                   30px 31px;
}

.tabmail-tab[selected] {
  background-repeat: no-repeat;
  background-position: 29px 2px,
                       29px 2px,
                       left 0,
                       30px 0,
                       right 0;
  background-size: -moz-calc(100% - 58px) 31px,
                   -moz-calc(100% - 58px) 31px,
                   30px 31px,
                   -moz-calc(100% - 60px) 29px,
                   30px 31px;
}

.tabmail-tab:hover {
  background-image: -moz-linear-gradient(transparent, transparent),
                    url(icons/tabBackgroundStart.png),
                    url(icons/tabBackgroundMiddle.png),
                    url(icons/tabBackgroundEnd.png);
}

.tabmail-tab[selected]:not(:-moz-lwtheme) {
  background-image: -moz-linear-gradient(rgba(255, 255, 255, .5),
                    rgba(255, 255, 255, .3)),
                    -moz-linear-gradient(-moz-dialog, -moz-dialog),
                    url(icons/tabActiveStart.png),
                    url(icons/tabActiveMiddle.png),
                    url(icons/tabActiveEnd.png);
}

.tabmail-tab[selected]:-moz-lwtheme {
  background-image: -moz-linear-gradient(rgba(255, 255, 255, .5),
                    rgba(255, 255, 255, .3)),
                    url(icons/tabActiveStart.png),
                    url(icons/tabActiveMiddle.png),
                    url(icons/tabActiveEnd.png);
  background-position: 31px 2px,
                       left 0,
                       30px 0,
                       right 0;
  background-size: -moz-calc(100% - 62px) 31px,
                   30px 31px,
                   -moz-calc(100% - 60px) 29px,
                   30px 31px;
}

.tabmail-tab:not([selected]):not(:hover) +
.tabmail-tab:not([selected]):not(:hover)::before,
.tabmail-tab:last-child:not([selected]):not(:hover)::after {
  content: "";
  display: -moz-box;
  width: 2px;
  height: 28px;
  -moz-margin-start: 12px;
  -moz-margin-end: -14px;
  background: -moz-linear-gradient(bottom, hsla(210, 23%, 10%, .4),
              hsla(210, 23%, 10%, .1) 80%, transparent),
              -moz-linear-gradient(bottom, hsla(0, 0%, 100%, .4),
              hsla(0, 0%, 100%, .1) 80%, transparent);
  background-position: 0 0, 1px 0;
  background-size: 1px 100%;
  background-repeat: no-repeat;
}

.tabmail-tab:last-child:not([selected]):not(:hover)::after {
  -moz-margin-start: -14px;
  -moz-margin-end: 12px;
}

.tabmail-tabs[overflow="true"] > .tabmail-tab:last-child::after {
  display: none;
}

.tab-image-left,
.tab-image-right {
  width: 31px;
  height: 30px;
  clip-path: url(chrome://messenger/content/messenger.xul#tab-curve-clip-path);
}

.tab-image-right:-moz-locale-dir(ltr),
.tab-image-left:-moz-locale-dir(rtl) {
  -moz-transform: scaleX(-1);
}

.tab-image-middle {
  position: relative;
}

.tab-image-left[selected]:not(:-moz-lwtheme),
.tab-image-right[selected]:not(:-moz-lwtheme) {
  background-image: -moz-linear-gradient(rgba(255, 255, 255, .5),
                    rgba(255, 255, 255, .3)),
                    -moz-linear-gradient(-moz-dialog, -moz-dialog);
}

.tab-image-left[selected]:-moz-lwtheme,
.tab-image-right[selected]:-moz-lwtheme {
  background-image: -moz-linear-gradient(rgba(255, 255, 255, .5),
                    rgba(255, 255, 255, .3));
}

.tab-icon-image,
.tab-throbber {
  width: 16px;
  height: 16px;
  -moz-margin-start: -6px;
  -moz-margin-end: 6px;
}

.tabmail-tab {
  list-style-image: url("moz-icon://stock/gtk-file?size=menu");
}

.tab-throbber {
  list-style-image: url("chrome://global/skin/icons/loading_16.png") !important;
  -moz-image-region: auto !important;
}

.tabmail-tab[type="glodaSearch"] {
  list-style-image: url(moz-icon://stock/gtk-find?size=menu);
}

.tabmail-tab > .tab-image-middle > .tab-text {
  position: relative;
  /* tabmail-tab focus ring */
  border: 1px dotted transparent;
  margin: -1px !important; /* let the border not consume any space, like outline */
}

.tabmail-tab:not(:-moz-lwtheme) > .tab-image-middle > .tab-text {
  color: -moz-MenuBarText;
  opacity: .5;
}

.tabmail-tab[selected]:not(:-moz-lwtheme) > .tab-image-middle > .tab-text {
  color: -moz-DialogText;
  opacity: 1;
}

.tabmail-tab[selected]:focus > .tab-image-middle > .tab-text {
  border: 1px dotted -moz-DialogText;
}

/* Tab drag and drop */
.tab-drop-indicator {
  list-style-image: url(chrome://messenger/skin/icons/tabDragIndicator.png);
  margin-bottom: -11px;
  -moz-padding-start: 20px;
}

/* In-tab close button */
.tab-close-button {
  -moz-appearance: none;
  -moz-margin-end: -12px;
  padding: 5px;
  -moz-padding-start: 6px;
  border: none;
  position: relative;
  z-index: 2;
  list-style-image: url(icons/closeTab.svg);
  -moz-image-region: auto;
}

.tab-close-button > .toolbarbutton-icon {
  margin-top: 1px;
  -moz-margin-end: 3px;
}

.tabmail-tab[selected] > .tab-close-button {
  /* Make this button focusable so clicking on it will not focus the tab while
     it's getting closed. */
  -moz-user-focus: normal;
  list-style-image: url(icons/closeTab-active.svg);
}

/**
 * Tab Scrollbox Arrow Buttons
 */

/* Tabstrip close button */
.tabs-closebutton {
  list-style-image: url("moz-icon://stock/gtk-close?size=menu");
  border: none;
  margin-bottom: 1px;
}

.tabmail-arrowscrollbox > .scrollbutton-up {
  -moz-appearance: tab-scroll-arrow-back;
  margin: 0px;
}

.tabmail-arrowscrollbox > .scrollbutton-down-stack > .scrollbutton-down {
  -moz-appearance: tab-scroll-arrow-forward;
  margin: 0px;
}

.tabs-alltabs-box-animate {
  background-color: Highlight;
  opacity: 0.0;
}

/* All tabs menupopup */
.alltabs-item {
  list-style-image: url("moz-icon://stock/gtk-file?size=menu");
}

.alltabs-item[selected] {
  font-weight: bold;
}

.alltabs-item[busy] {
  list-style-image: url("chrome://global/skin/icons/loading_16.png") !important;
  -moz-image-region: auto !important;
}

.tabs-alltabs-button {
  margin-bottom: 1px;
}

.tabs-alltabs-button > .toolbarbutton-menu-dropmarker {
  -moz-appearance: none !important;
  margin-bottom: -1px;
  -moz-padding-start: 0 !important;
  list-style-image: url("chrome://messenger/skin/icons/dropmarker.svg");
}

.tabs-alltabs-button:hover > .toolbarbutton-menu-dropmarker {
  list-style-image: url("chrome://messenger/skin/icons/dropmarker-hover.svg");
}

.tabs-alltabs-button > .toolbarbutton-icon {
  display: none;
  -moz-margin-end: 0;
}

.alltabs-item > .menu-iconic-left {
  visibility: visible !important;
}

/* Content Tabs */

.contentTabToolbox {
  -moz-appearance: none;
  height: 0px;
  border: 0;
}

.contentTabInstance[disablechrome] .contentTabToolbox {
  display: none;
}

.contentTabToolbox:not(:-moz-lwtheme) {
  border-bottom: 1px solid rgb(105, 105, 105);
}

.contentTabToolbox:-moz-lwtheme {
  height: 1px;
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5) 50%);
  background-color: rgba(255, 255, 255, 0.3);
}

.contentTabToolbar {
  height: 0px;
  min-height: 0px;
  padding: 0;
}
