/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");


calendar-day-view { 
  -moz-binding: url(chrome://calendar/content/calendar-views.xml#calendar-day-view);
}

calendar-week-view { 
  -moz-binding: url(chrome://calendar/content/calendar-views.xml#calendar-week-view);
}

calendar-multiweek-view { 
  -moz-binding: url(chrome://calendar/content/calendar-views.xml#calendar-multiweek-view);
}

calendar-month-view {
  -moz-binding: url(chrome://calendar/content/calendar-views.xml#calendar-month-view);
}

calendar-task-tree { 
  -moz-binding: url(chrome://calendar/content/calendar-task-tree.xml#calendar-task-tree);
}

menupopup[type="task-progress"] > arrowscrollbox {
  -moz-binding: url(chrome://calendar/content/calendar-menus.xml#task-progress-menupopup);
}

menupopup[type="task-priority"] > arrowscrollbox {
  -moz-binding: url(chrome://calendar/content/calendar-menus.xml#task-priority-menupopup);
}

task-menupopup {
  -moz-binding: url(chrome://calendar/content/calendar-menus.xml#task-menupopup);
}

calendar-caption {
  -moz-binding: url("chrome://calendar/content/calendar-item-bindings.xml#calendar-caption");
}

.item-date-row {
  -moz-binding: url(chrome://calendar/content/calendar-item-bindings.xml#item-date-row);
}
