/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

calendar-event-column { 
  -moz-binding: url(chrome://calendar/content/calendar-multiday-view.xml#calendar-event-column);
}

calendar-event-box { 
  -moz-binding: url(chrome://calendar/content/calendar-multiday-view.xml#calendar-event-box);
}

calendar-event-gripbar { 
  -moz-binding: url(chrome://calendar/content/calendar-multiday-view.xml#calendar-event-gripbar);
}

calendar-time-bar { 
  -moz-binding: url(chrome://calendar/content/calendar-multiday-view.xml#calendar-time-bar);
}

calendar-multiday-view { 
  -moz-binding: url(chrome://calendar/content/calendar-multiday-view.xml#calendar-multiday-view);
}

calendar-day-label {
  -moz-binding: url(chrome://calendar/content/calendar-base-view.xml#calendar-day-label);
}

nav-day-label {
  -moz-binding: url(chrome://calendar/content/calendar-base-view.xml#nav-day-label);
}

calendar-base-view {
  -moz-binding: url(chrome://calendar/content/calendar-base-view.xml#calendar-base-view);
}

calendar-header-container { 
  -moz-binding: url(chrome://calendar/content/calendar-multiday-view.xml#calendar-header-container);
}

/* Month View */
calendar-month-base-view {
  -moz-binding: url(chrome://calendar/content/calendar-month-view.xml#calendar-month-base-view);
}

calendar-base-view {
  -moz-binding: url(chrome://calendar/content/calendar-base-view.xml#calendar-base-view);
  -moz-user-focus: normal;
}

calendar-month-day-box { 
  -moz-binding: url(chrome://calendar/content/calendar-month-view.xml#calendar-month-day-box);
}

calendar-month-day-box-item { 
  -moz-binding: url(chrome://calendar/content/calendar-month-view.xml#calendar-month-day-box-item);
}

/* View core */
calendar-editable-item { 
  -moz-binding: url(chrome://calendar/content/calendar-view-core.xml#calendar-editable-item);
}

calendar-category-box {
  -moz-binding: url(chrome://calendar/content/calendar-view-core.xml#calendar-category-box);
}

 calendar-shadow-box {
   -moz-binding: url(chrome://calendar/content/calendar-view-core.xml#calendar-shadow-box);
 }
