.searchbar-textbox {
  width: 6em;
  min-width: 6em;
}

.textbox-input-box {
  margin: 0;
}

/* ::::: searchbar-engine-button ::::: */

.searchbar-engine-image {
  height: 16px;
  width: 16px;
  list-style-image: url("chrome://global/skin/icons/folder-item.png");
  -moz-image-region: rect(0px, 16px, 16px, 0px);
  -moz-margin-start: 2px;
}

.searchbar-engine-button {
  min-width: 0;
  -moz-padding-end: 2px;
  background-color: transparent;
}

.searchbar-dropmarker-image {
  list-style-image: url("chrome://communicator/skin/search/mainwindow-dropdown-arrow.png");
  -moz-image-region: rect(0, 13px, 11px, 0);
}

.searchbar-engine-button[open="true"] > .searchbar-dropmarker-image {
  -moz-image-region: rect(0, 26px, 11px, 13px);
}


/* ::::: search-go-button ::::: */

.search-go-container {
  -moz-box-align: center;
}

.search-go-button {
  padding: 1px;
  -moz-padding-end: 2px;
  list-style-image: url("chrome://global/skin/icons/Search-glass.png");
  -moz-image-region: rect(0px 16px 16px 0px);
}

.search-go-button:-moz-system-metric(touch-enabled) {
  -moz-padding-start: 5px;
  -moz-padding-end: 3px;
}

.search-go-button:-moz-locale-dir(rtl) {
  -moz-transform: scaleX(-1);
}

.search-go-button:hover {
  -moz-image-region: rect(0px 32px 16px 16px);
}

.search-go-button:hover:active {
  -moz-image-region: rect(0px, 48px, 16px, 32px);
}

.searchbar-engine-menuitem[selected="true"] > .menu-iconic-text {
  font-weight: bold;
}
