/*
# -*- Mode: Java; tab-width: 4; indent-tabs-mode: nil; c-basic-offset: 4 -*-
# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
*/

/*--------------------------------------------------------------------
 *   MAIN view deck - contains nav buttons and views
 *-------------------------------------------------------------------*/
#view-deck {
  background: #FFFFFF;
  padding: 0px;
}

/*--------------------------------------------------------------------
 *   Throbber button
 *-------------------------------------------------------------------*/

/* "Chasing pipes" Mac-style throbber */
#navigator-throbber {
  -moz-appearance: none;
  -moz-user-focus: ignore;
  -moz-box-pack: center;
  margin: 0px 1px !important;
  border: none !important;
  padding: 0px !important;
  min-width: 0;
  background-color: transparent;
  list-style-image: url("chrome://global/skin/icons/notloading_16.png");
  padding: 8px !important;
}

#navigator-throbber[busy="true"] {
  list-style-image: url("chrome://global/skin/icons/loading_16.png");
}

toolbar[iconsize="small"] #navigator-throbber,
toolbar[mode="text"] #navigator-throbber {
  list-style-image: url("chrome://global/skin/icons/notloading_16.png");
  padding: 4px !important;
}
toolbar[iconsize="small"] #navigator-throbber[busy="true"],
toolbar[mode="text"] #navigator-throbber[busy="true"] {
  list-style-image: url("chrome://global/skin/icons/loading_16.png");
}

toolbarbutton.chevron {
  list-style-image: url("chrome://global/skin/icons/chevron.png") !important;
}

toolbarbutton.chevron > .toolbarbutton-menu-dropmarker {
  display: none;
}

/*--------------------------------------------------------------------
 * print preview
 *-------------------------------------------------------------------*/
toolbar[printpreview="true"] {
  -moz-binding: url("chrome://global/content/printPreviewBindings.xml#printpreviewtoolbar");
}

/*--------------------------------------------------------------------
 * Offline Status
 *-------------------------------------------------------------------*/
#offline-status {
    list-style-image: url(chrome://sunbird/skin/offline-online.png);
    -moz-image-region: rect(0px, 32px, 16px, 16px);
}

#offline-status[offline="true"] {
    -moz-image-region: rect(0px, 16px, 16px, 0px);
}
