/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url(chrome://calendar/skin/common/calendar-unifinder.css);

/* added for new id ..... search box ..... */
#unifinder-searchBox {
    background-color: transparent;
}

#bottom-events-box {
    border-left: 1px solid ThreeDShadow;
}

.unifinder-closebutton {
    -moz-appearance: none;
    border: none;
    padding: 2px;
    background: transparent;
}
