/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */


html {
  background: #FFF;
}

body {
  margin: 0;
  padding: 0 1em;
  color: #22262F;
  font: message-box;
}

h1 {
  margin: 0 0 .6em;
  border-bottom: 1px solid #7A8490;
  font-size: 160%;
}

h2 {
  font-size: 130%;
}

#errorPageContainer {
  position: relative;
  min-width: 13em;
  max-width: 52em;
  margin: 4em auto;
  border: 1px solid #E8DB99;
  border-radius: 10px;
  padding: 3em;
  -moz-padding-start: 30px;
  background: url("chrome://global/skin/icons/sslWarning.png") left 0 no-repeat #C7D0D9;
  background-origin: content-box;
}

body[dir="rtl"] #errorPageContainer {
  background-position: right 0;
}

#errorTitle {
  -moz-margin-start: 80px;
}

#errorLongContent {
  -moz-margin-start: 80px;
}

#technicalContent > h2, #expertContent > h2 {
  cursor: pointer;
  -moz-padding-start: 20px;
  position: relative;
  left: -20px;
  background: url("chrome://global/skin/tree/twisty-open.gif") left center no-repeat;
}

#technicalContent[collapsed] > h2,
#expertContent[collapsed] > h2 {
  background-image: url("chrome://global/skin/tree/twisty-clsd.gif");
}

#technicalContent[collapsed] > p,
#expertContent[collapsed] > div {
  display: none;
}

#technicalContentText {
  overflow: auto;
  white-space: pre-wrap;
}
