@import url("chrome://messenger/content/featureConfigurator.css");

#buttons {
  -moz-appearance: statusbar;
}

#buttons button {
  -moz-appearance: none;
  border: 1px solid #5F5F5F;
  background: #A09E9D;
  min-height: 18px;
  min-width: 0;
  padding: 0 2px;
  text-shadow: rgba(255, 255, 255, 0.4) 0 1px;
  border: 1px solid rgba(0, 0, 0, 0.6);
  -moz-border-radius: 3px;
  -moz-box-shadow: inset 0 20px 16px -10px #FFF, 0 1px rgba(255, 255, 255, 0.4);
}

#buttons button:hover:active:not([disabled="true"]) {
  background: #B5B5B5;
  text-shadow: rgba(255, 255, 255, 0.4) 0 1px;
  -moz-box-shadow: inset rgba(0, 0, 0, 0.4) 0 -5px 12px,
                   inset rgba(0, 0, 0, 1) 0 1px 3px,
                   0 1px rgba(255, 255, 255, 0.4);

}

#buttons button:-moz-window-inactive {
  color: #7C7C7C !important;
  border-color: rgba(0, 0, 0, 0.25);
  background-color: #CCC;
}
