/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== folderMenus.css ================================================
  == Icons for menus which represent mail folder.
  ======================================================================= */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: folder icons for menus ::::: */

.folderMenuItem {
  list-style-image: url("chrome://messenger/skin/icons/folder-closed.png");
}

/* News folders */
.folderMenuItem[ServerType="nntp"] {
  list-style-image: url("chrome://messenger/skin/icons/folder-newsgroup.png");
}

/* Feed folders */
.folderMenuItem[ServerType="rss"] {
  list-style-image: url("chrome://messenger/skin/icons/message-news.png");
}

/* ..... special folders ..... */

.folderMenuItem[SpecialFolder="Inbox"] {
  list-style-image: url("chrome://messenger/skin/icons/folder-inbox.png");
}

.folderMenuItem[SpecialFolder="Sent"] {
  list-style-image: url("chrome://messenger/skin/icons/folder-sent.png");
}

.folderMenuItem[SpecialFolder="Drafts"] {
  list-style-image: url("chrome://messenger/skin/icons/folder-draft.png");
}

.folderMenuItem[SpecialFolder="Templates"] {
  list-style-image: url("chrome://messenger/skin/icons/folder-template.png");
}

.folderMenuItem[SpecialFolder="Junk"] {
  list-style-image: url("chrome://messenger/skin/icons/folder-junk.png");
}

.folderMenuItem[SpecialFolder="Trash"] {
  list-style-image: url("chrome://messenger/skin/icons/folder-trash.png");
}

/* ..... servers ..... */

.folderMenuItem[IsServer="true"] {
  list-style-image: url("chrome://messenger/skin/icons/server-mail.png");
}

.folderMenuItem[IsServer="true"][open="true"] {
  list-style-image: url("chrome://messenger/skin/icons/server-mail.png");
}

/* IMAP servers */
.folderMenuItem[IsServer="true"][ServerType="imap"][IsSecure="true"] {
  list-style-image: url("chrome://messenger/skin/icons/server-remote-lock.png");
}

/* POP3 servers */
.folderMenuItem[IsServer="true"][ServerType="pop3"][IsSecure="true"] {
  list-style-image: url("chrome://messenger/skin/icons/server-remote-lock.png");
}

/* Local Servers */
.folderMenuItem[IsServer="true"][ServerType="none"] {
  list-style-image: url("chrome://messenger/skin/icons/server-local.png");
}

/* News servers */
.folderMenuItem[IsServer="true"][ServerType="nntp"] {
  list-style-image: url("chrome://messenger/skin/icons/server-news.png");
}

.folderMenuItem[IsServer="true"][ServerType="nntp"][IsSecure="true"] {
  list-style-image: url("chrome://messenger/skin/icons/server-news-lock.png");
}

/* Feed servers */
.folderMenuItem[IsServer="true"][ServerType="rss"] {
  list-style-image: url("chrome://messenger/skin/icons/server-newsblog.png");
}
