/* Trees */
treechildren::-moz-tree-image(title) {
  list-style-image: url("chrome://mozapps/skin/places/defaultFavicon.png");
  padding-right: 2px;
  margin: 0px 2px;
  width: 16px;
  height: 16px;
}

treechildren::-moz-tree-image(title, separator) {
  list-style-image: none;
  width: 0;
  height: 0;
}

treechildren::-moz-tree-image(title, container) {
  list-style-image: url("chrome://communicator/skin/bookmarks/bookmark-folder-closed.png");
}

treechildren::-moz-tree-image(title, open) {
  list-style-image: url("chrome://communicator/skin/bookmarks/bookmark-folder-open.png");
}

/* calendar icon for folders grouping items by date */
treechildren::-moz-tree-image(title, query, dayContainer) {
  list-style-image: url("chrome://communicator/skin/history/calendar.png");
}

treechildren::-moz-tree-row(session-start) {
  border-top:1px dotted #808080;
  font-weight: bold;
}

treechildren::-moz-tree-cell-text(date, session-continue) {
  color: #FFFFFF;
}

/* Browser Sidebars */

#viewButton {
  min-width: 0px !important;
}
