/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* This adds the standard paragraph symbol 
 *  after paragraphs (block container tags)
*/

p:after,br:after,
h1:after,h2:after,h3:after,h4:after,h5:after,h6:after,
address:after,blockquote:after,listing:after,
plaintext:after, xmp:after, pre:after,
li:after,dt:after,dd:after
{
  content: "\B6 ";
}
