[%# ***** BEGIN LICENSE BLOCK *****
  # Version: MPL 1.1
  #
  # The contents of this file are subject to the Mozilla Public License Version
  # 1.1 (the "License"); you may not use this file except in compliance with
  # the License. You may obtain a copy of the License at
  # http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS IS" basis,
  # WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License
  # for the specific language governing rights and limitations under the
  # License.
  #
  # The Original Code is Litmus.
  #
  # The Initial Developer of the Original Code is
  # The Mozilla Corporation.
  # Portions created by the Initial Developer are Copyright (C) 2006
  # the Initial Developer. All Rights Reserved.
  #
  # Contributor(s):
  #   Chris Cooper <ccooper@deadsquid.com>
  #   Zach Lipton <zach@zachlipton.com>
  #
  # ***** END LICENSE BLOCK *****
#%]
  
[%# INTERFACE:
  # no interface for this template
#%]

<script type="text/javascript">
var products=[% IF products_js %][% products_js %][% ELSE %]{}[% END %];
var branches=[% IF branches_js %][% branches_js %][% ELSE %]{}[% END %];
var testgroups=[% IF testgroups_js %][% testgroups_js %][% ELSE %]{}[% END %];

function init() {
  FormInit(document.forms['testday_report'], document.location.search);

  productBox = document.getElementById('product_id');
  branchBox = document.getElementById('branch_id');

  loadProducts(productBox)
  FormInit(document.forms['testevent_report'], document.location.search);
  changeProduct();
  FormInit(document.forms['testevent_report'], document.location.search);
  changeBranch();
  FormInit(document.forms['testevent_report'], document.location.search);
}

</script>

<div class="section-full">

  <form action="testday_report.cgi" method="get" name="testday_report" id="testday_report">

    <table class="testcase-search">
      <tr>
        <th>Scheduled Testdays</th>
      </tr>
      <tr>
        <td valign="top" width="100%">
          <div class="testcase-search">
            <table>
              <tr>
                <td>[% INCLUDE form_widgets/select_testday_id.tmpl name="testday_id" %]</td>
              </tr>
              <tr>
                <td><input class="button" type="submit" value="Generate Report"></td>
              </tr>
            </table>
          </div>    
        </td>
      </tr>
    </table>                  

  </form>

  <form action="testday_report.cgi" method="get" name="testevent_report" id="testevent_report">

    <table class="testcase-search">
      <tr>
        <th colspan="3">User-defined Events</th>
      </tr>
      <tr>
        <td>
          <div class="testcase-search">
            <table>
              <tr>
                <td colspan="3">This search form can be used to generate the same set of testday reports for any time period or set of criteria.</td>
              </tr>
              <tr>
                <td colspan="3"><hr/></td>
              </tr>
              <tr>
                <td>Start Time:</td>
                <td><input name="start_timestamp" id="start_timestamp" type="text" size="16"></td>
	        <td>&lArr; YYYYMMDDHHmmSS (required)</td>
              </tr>
              <tr>
                <td>Finish Time:</td>
                <td><input name="finish_timestamp" id="finish_timestamp" type="text" size="16"></td>
	        <td>&lArr; YYYYMMDDHHmmSS (required)</td>
              </tr>
              <tr>
                <td>Product:</td>
                <td>[% INCLUDE form_widgets/select_product_id.tmpl name="product" placeholder=1 onchange="changeProduct();" %]</td>
              </tr>
              <tr>
                <td>Branch:</td>
                <td>[% INCLUDE form_widgets/select_branch_id.tmpl name="branch" placeholder=1 onchange="changeBranch();" %]</td>
 		<td>&lArr; Select Product first</td>
              </tr>
              <tr>
                <td>Testgroup:</td>
                <td>[% INCLUDE form_widgets/select_testgroup_id.tmpl name="testgroup" placeholder=1 %]</td>
 		<td>&lArr; Select Branch first</td>
              </tr>
              <tr>
                <td>Build ID:</td>
                <td><input name="build_id" id="build_id" type="text" size="10"></td>
              </tr>
              <tr>
                <td>Locale:</td>
                <td>[% INCLUDE form_widgets/select_locale.tmpl name="locale" placeholder=1 %]
              </tr>
              <tr>
                <td><input class="button" type="submit" value="Generate Report"></td>
              </tr>
            </table>
          </div>

        </td>
      </tr>
    </table> 

  </form>

</div>

