<div class="section-full">

  <form action="test_run_report.cgi" method="get" name="test_run_report" id="test_run_report">

    <table class="testcase-search">
      <tr>
        <th>All Test Runs</th>
      </tr>
      <tr>
        <td valign="top" width="100%">
          <div class="testcase-search">
            <table>
              <tr>
                <td>[% INCLUDE form_widgets/select_test_run_id.tmpl name="test_run_id" display_id=1 %]</td>
              </tr>
              <tr>
                <td><input class="button" type="submit" value="Generate Report"></td>
              </tr>
            </table>
          </div>
        </td>
      </tr>
    </table>

  </form>

</div>
