/* -*- Mode: Java; tab-width: 2; indent-tabs-mode: nil; c-basic-offset: 2 -*-
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ::::: Feed Subscription styling :::::: */

#subscriptionsDialog {
  width: 40em;
  height: 30em;
  padding: 0px;
}

#contentPane {
  margin: 9px 8px 5px;
}

#rssFeedInfoBox {
  border: 1px solid ThreeDShadow;
  margin: 4px;
  padding-top: 4px;
  background-color: #EAE8E4;
}

#rssFeedInfoBox row,
#statusContainerBox {
  height: 2.3em;
}
