/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

%include abContactsPanel.css

@media (-moz-windows-default-theme) {
  #abContactsPanel {
    -moz-appearance: none;
    background-color: hsl(210, 75%, 92%);
  }
}

@media (-moz-windows-compositor) {
  #abContactsPanel {
    background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.5) 10px,
                        rgba(255, 255, 255, 0));
  }
}

#abResultsTree {
  -moz-border-end: none;
  border-bottom: 1px solid #A9B1B8;
}

@media (-moz-windows-default-theme) {
  button,
  #addressbookList {
    -moz-appearance: none;
    margin: 1px 4px;
    padding: 1px 5px !important;
    border-radius: 2px;
    border: 1px solid;
    background-image: -moz-linear-gradient(hsla(0, 0%, 100%, .6),
                      hsla(0, 0%, 100%, .1));
    background-color: hsla(210, 32%, 93%, .2);
    border-color: hsla(210, 54%, 20%, .15) hsla(210, 54%, 20%, .2)
                  hsla(210, 54%, 20%, .25);
    box-shadow: 0 1px hsla(0, 0%, 100%, .3) inset,
                0 1px hsla(210, 54%, 20%, .03),
                0 0 2px hsla(210, 54%, 20%, .1);
    transition-property: background-color, border-color, box-shadow;
    transition-duration: 150ms;
  }

  button:hover,
  #addressbookList:not([open="true"]):hover {
    border-color: hsla(210, 54%, 20%, .3) hsla(210, 54%, 20%, .35)
                  hsla(210, 54%, 20%, .4);
    background-color: hsla(210, 48%, 96%, .75);
    box-shadow: 0 0 1px hsla(210, 54%, 20%, .03),
                0 0 2px hsla(210, 54%, 20%, .1);
  }

  button:hover:active,
  #addressbookList[open="true"] {
    background-image: -moz-linear-gradient(hsla(0, 0%, 100%, .6),
                      hsla(0, 0%, 100%, .1));
    background-color: hsla(210, 54%, 20%, .15);
    border-color: hsla(210, 54%, 20%, .3) hsla(210, 54%, 20%, .35)
                  hsla(210, 54%, 20%, .4);
    box-shadow: 0 1px 1px hsla(210, 54%, 20%, .1) inset,
                0 0 1px hsla(210, 54%, 20%, .2) inset,
                0 1px 0 hsla(210, 54%, 20%, 0),
                0 0 2px hsla(210, 54%, 20%, 0);
    text-shadow: none;
    transition: none;
  }

  .menulist-dropmarker {
    -moz-appearance: none;
    border:none;
    background-color: transparent;
    list-style-image: url("chrome://messenger/skin/icons/toolbarbutton-arrow.png");
  }
}