/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== sidebarPanel.css ===============================================
  == Styles for the Address Book sidebar panel.
  ======================================================================= */

@import url("chrome://messenger/skin/");
@import url("chrome://messenger/skin/addressbook/addressbook.css");
  
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#abContactsPanel 
{
  -moz-appearance: toolbox;
  background-color: -moz-Dialog;
}

#results_box
{
  background-color: transparent;
}

#GeneratedName
{
  background-color: transparent;
}

#PrimaryEmail
{
  background-color: transparent;
}

treechildren::-moz-tree-image(GeneratedName) {
  -moz-margin-end: 2px;
  list-style-image: url("chrome://messenger/skin/addressbook/icons/abcard.png");
}

treechildren::-moz-tree-image(GeneratedName, MailList) {
  -moz-margin-end: 2px;
  list-style-image: url("chrome://messenger/skin/addressbook/icons/ablist.png");
}

/* ::::: directory pane icons ::::: */

treechildren::-moz-tree-image(DirCol) {
  -moz-margin-end: 2px;
  list-style-image: url("chrome://messenger/skin/addressbook/icons/addrbook.png");
}

treechildren::-moz-tree-image(DirCol, IsMailList-true) {
  list-style-image: url("chrome://messenger/skin/addressbook/icons/ablist.png");
}

treechildren::-moz-tree-image(DirCol, IsRemote-true) {
  list-style-image: url("chrome://messenger/skin/addressbook/icons/remote-addrbook.gif");
}

treechildren::-moz-tree-image(DirCol, IsRemote-true, IsSecure-true) {
  list-style-image: url("chrome://messenger/skin/addressbook/icons/secure-remote-addrbook.gif");
}

#dirTree [sortDirection="ascending"] {
  list-style-image: none;
}

#dirTree [sortDirection="descending"] {
  list-style-image: none;
}