/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== dialogs.css ====================================================
  == Styles used by the general dialogs in Messenger.
  ======================================================================= */

@import url("chrome://messenger/skin/");

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: button-like menus ::::: */

menu.push {
  border: 1px outset ThreeDFace;
  padding: 2px;
  margin: 2px;
  background-color: inherit;
  background-image: inherit;
}

menu.push:hover:active,
menu.push[open="true"] {
  border-style: inset;
  padding-top: 3px;
  padding-bottom: 1px;
  -moz-padding-start: 3px;
  -moz-padding-end: 1px;
}

menu.push[disabled="true"],
menu.push[disabled="true"]:hover,
menu.push[disabled="true"]:hover:active {
  color: GrayText;
}
