/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== toolbar.css ====================================================
  == Styles used by XUL toolbar-related elements.
  ======================================================================= */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: toolbox ::::: */

toolbox {
  -moz-appearance: toolbox;
  background-color: -moz-Dialog;
  border-left: 1px solid ThreeDShadow;
  border-top: 1px solid ThreeDShadow;
  border-right: none;
  border-bottom: 1px solid #000000;
}

/* ::::: toolbar & menubar ::::: */

toolbar,
menubar {
  -moz-appearance: toolbar;
  min-width: 1px; /* DON'T DELETE!
    Prevents hiding of scrollbars in browser when window is made smaller.*/
}

.toolbar-holder {
  border-left: 1px solid ThreeDHighlight;
  border-top: 1px solid ThreeDHighlight;
  border-right: 1px solid ThreeDShadow;
  border-bottom: 1px solid ThreeDShadow;
}  

/* ::::: toolbarseparator ::::: */

toolbarseparator {
  -moz-appearance       : separator;
  margin                : 2px 0.2em;
  border-right          : 1px solid ThreeDHighlight; 
  border-left           : 1px solid ThreeDShadow;
  width                 : 2px;
}

