/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.navbar {
  -moz-border-end: 2px solid;
  -moz-border-left-colors: threeDShadow threeDHighlight;
  -moz-border-right-colors: threeDShadow threeDHighlight;
  padding: 2px 0;
  -moz-box-align: center;
  background-color: -moz-dialog;
}

.navbuttons {
  border-bottom: 1px solid #bbb;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.navbuttons .toolbarbutton-text {
  display: none;
}

.back {
  list-style-image: url("chrome://messenger/skin/icons/mail-toolbar.png");
  -moz-image-region: rect(0px 306px 18px 288px);
}

.back:hover:active {
  -moz-image-region: rect(18px 306px 36px 288px);
}

@media (min-resolution: 2dppx) {
  .back {
    width: 18px;
    height: 18px;
    list-style-image: url("chrome://messenger/skin/icons/mail-toolbar@2x.png");
    -moz-image-region: rect(0px 612px 36px 576px);
  }

  .back:hover:active {
    -moz-image-region: rect(36px 612px 72px 576px);
  }
}

.back[disabled] {
  opacity: .5;
}

.forward {
  list-style-image: url("chrome://messenger/skin/icons/mail-toolbar.png");
  -moz-image-region: rect(0px 324px 18px 306px);
}

.forward:hover:active {
  -moz-image-region: rect(18px 324px 36px 306px);
}

@media (min-resolution: 2dppx) {
  .forward {
    width: 18px;
    height: 18px;
    list-style-image: url("chrome://messenger/skin/icons/mail-toolbar@2x.png");
    -moz-image-region: rect(0px 648px 36px 612px);
  }

  .forward:hover:active {
    -moz-image-region: rect(36px 648px 72px 612px);
  }
}

.forward[disabled="true"] {
  opacity: .5;
}

.engines .toolbarbutton-icon {
  width: 16px;
  height: 16px;
}

.defaultButton {
  -moz-appearance: none;
  list-style-image: url("chrome://messenger/skin/icons/search-favorite.png");
  -moz-image-region: rect(0px 16px 16px 0px);

  border: none;
  padding: 0;
  margin: 0;
  min-width: 0;
  background: transparent;
}

.defaultButton[checked="true"] {
  -moz-image-region: rect(0px 32px 16px 16px);
}
