[%# 1.0@bugzilla.org %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Test Runner System.
  #
  # The Initial Developer of the Original Code is Maciej Maczynski.
  # Portions created by Maciej Maczynski are Copyright (C) 2001
  # Maciej Maczynski. All Rights Reserved.
  #
  # Contributor(s): Ed Fuentetaja <efuentetaja@acm.org>
  #                 Greg Hendricks <ghendricks@novell.com>
  #%]

[%# INTERFACE:
  # ...
  #%]

[% PROCESS global/variables.none.tmpl %]
[% PROCESS testopia/blocks.html.tmpl %]
[% PROCESS testopia/style.none.tmpl %]

[% javascript_urls.push("testopia/js/attachments.js") %]
[% javascript_urls.push("testopia/js/case.js") %]
[% javascript_urls.push("testopia/js/tags.js") %]
[% javascript_urls.push("testopia/js/run.js") %]
[% javascript_urls.push("testopia/js/caserun.js") %]

[% PROCESS global/header.html.tmpl %]

<script type="text/javascript">
Ext.onReady(function(){
    Ext.QuickTips.init();
    var run = {plan:{product_id: 2}};
    var params = searchToJson(window.location.search);
    var objPanel = new CaseRunListGrid(params, {height: 600});
    objPanel.store.baseParams = params;
    objPanel.store.baseParams.isactive = 0;
    objPanel.store.baseParams.ctype ='json';
    objPanel.render('list_div');
    objPanel.store.load();
}); 
</script>
<div id="list_div" style="height:600px"></div>
[% PROCESS global/footer.html.tmpl %]
