/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#xpinstallheader {
  margin-bottom: 2em;
}

#itemList {
  margin-top: 2px;
  margin-bottom: 10px;
  height: 14em;
  border: 2px solid;
  -moz-border-top-colors: #BEC3D3 #5D616E;
  -moz-border-right-colors: #F8FAFE #5D616E;
  -moz-border-bottom-colors: #F8FAFE #5D616E;
  -moz-border-left-colors: #BEC3D3 #5D616E;
  background-color: #FFFFFF;
  color: #000000;
}

#itemWarningIntro {
  -moz-margin-start: 8px;
}

#dialogContentBox {
  padding: 5px;
}

installitem {
  padding-top: 5px;
  padding-bottom: 5px;
  -moz-padding-start: 5px;
  -moz-padding-end: 0;
  border-bottom: 1px solid #A5ABC0;
  margin-bottom: 5px;
}

.alert-icon {
  -moz-margin-end: 20px;
}

.warning {
  font-weight: bold;
  font-size: 1.25em;
  margin-bottom: 1em;
}

.xpinstallIconContainer {
  width: 32px;
  height: 32px;
  -moz-margin-end: 5px;
}

.xpinstallItemName {
  font-weight: bold;
}

.xpinstallItemSigned {
  font-style: italic;
  font-size: 0.9em;
}

.xpinstallItemURL {
  border: none;
  padding: 0;
  background-color: #FFFFFF;
  color: #000000;
  margin-top: 1px;
  margin-bottom: 1px;
  -moz-margin-start: 6px;
  -moz-margin-end: 5px;
}

.xpinstallItemIcon {
  max-width: 32px;
  max-height: 32px;
  list-style-image: url("chrome://mozapps/skin/extensions/extensionGeneric.png");
}

installitem[type="theme"] .xpinstallItemIcon {
  list-style-image: url("chrome://mozapps/skin/extensions/themeGeneric.png");
}

installitem[type="locale"] .xpinstallItemIcon {
  list-style-image: url("chrome://mozapps/skin/extensions/localeGeneric.png");
}

installitem[type="plugin"] .xpinstallItemIcon {
  list-style-image: url("chrome://mozapps/skin/plugins/pluginGeneric.png");
}

installitem[type="dictionary"] .xpinstallItemIcon {
  list-style-image: url("chrome://mozapps/skin/extensions/dictionaryGeneric.png");
}
