/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url(chrome://calendar/skin/common/dialogs/calendar-alarm-dialog.css);

menupopup[type="snooze-menupopup"] > arrowscrollbox {
    -moz-binding: url(chrome://calendar/content/widgets/calendar-alarm-widget.xml#calendar-snooze-popup);
}

.snooze-popup-ok-button:hover {
    background-color: -moz-menuhover;
}

.snooze-popup-cancel-button:hover {
    background-color: -moz-menuhover;
}
