[%# ***** BEGIN LICENSE BLOCK *****
  # Version: MPL 1.1
  #
  # The contents of this file are subject to the Mozilla Public License Version
  # 1.1 (the "License"); you may not use this file except in compliance with
  # the License. You may obtain a copy of the License at
  # http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS IS" basis,
  # WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License
  # for the specific language governing rights and limitations under the
  # License.
  #
  # The Original Code is Litmus.
  #
  # The Initial Developer of the Original Code is
  # The Mozilla Corporation.
  # Portions created by the Initial Developer are Copyright (C) 2006
  # the Initial Developer. All Rights Reserved.
  #
  # Contributor(s):
  #   Chris Cooper <ccooper@deadsquid.com>
  #   Zach Lipton <zach@zachlipton.com>
  #
  # ***** END LICENSE BLOCK *****
#%]
        <table class="manage">
          <tr>
          <td class="headerleft">Branch ID#:</td>
          <td colspan="2">[% branch.branch_id %]</td>
          </tr>
          <tr>
          <td class="headerleft">Name:</td>
          <td colspan="2">[% branch.name %]</td>
          </tr>
	  <tr>
          <td class="headerleft">Product:</td>
          <td colspan="2">[% branch.product_id.name %]
          </tr>
          <tr>
          <td class="headerleft">Detect Regexp:</td>
          <td colspan="2">[% branch.detect_regexp %]</td>
          </tr>
          <tr>
          <td class="headerleft"><label for="edit_branch_form_enabled">Enabled?</label></td>
          <td colspan="2">[% IF branch.enabled %]Yes[% ELSE %]No[% END %]</td>
          </tr>

	  <tr>
	  <td class="headerleft">Creation Date:</td>
	  <td colspan="2">[% branch.creation_date %]</td>
	  </tr>

	  <tr>
	  <td class="headerleft">Last Updated:</td>
	  <td colspan="2">[% branch.last_updated %]</td>
	  </tr>

          [% IF show_admin %]
          <tr>
            <td class="headerleft">Created By:</div></td>
            <td>[% branch.creator_id.email || 'Not specified' %]</td>
          </tr>
          [% END %]

        </table>
	