/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#tabList {
  width: 100%;
  height: 12em;
}

treechildren::-moz-tree-image(icon),
treechildren::-moz-tree-image(noicon) {
  padding-right: 2px;
  margin: 0px 2px;
  width: 16px;
  height: 16px;
}

treechildren::-moz-tree-image(noicon) {
  list-style-image: url("chrome://communicator/skin/bookmarks/bookmark-item.png");
}

treechildren::-moz-tree-image(container, noicon) {
  list-style-image: url("chrome://global/skin/tree/folder.png");
}

treechildren::-moz-tree-checkbox(checked) {
  list-style-image: url("chrome://global/skin/checkbox/cbox-check.gif");
}

treechildren::-moz-tree-checkbox(partial) {
  list-style-image: url("chrome://global/skin/checkbox/cbox-check-dis.gif");
}

#buttons {
  -moz-margin-start: 80px;
}
#buttons > button {
  margin-top: 2em;
  -moz-margin-start: 5px;
}
