/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* Download View */
#downloadView {
  margin: 0;
  border-top: none;
  border-right: none;
  border-left: none;
}

/* Download View Items */
richlistitem[type="download"] {
  padding: 4px 8px 4px 4px;
  min-height: 46px;
}

richlistitem[type="download"]:not([selected="true"]):nth-child(odd) {
  background-color: #F3F3F3;
}

richlistitem[type="download"][selected="true"] {
  background-image: url("chrome://mozapps/skin/icons/itemEnabledFader.png");
}

richlistitem[type="download"] .name {
  font-size: 120%;
}

richlistitem[type="download"] .dateTime {
  font-size: 83.3333%;
}

richlistitem[type="download"] progressmeter {
  background-color: #C7D0D9;
}

richlistitem[type="download"]:not([selected="true"]) .dateTime,
richlistitem[type="download"]:not([selected="true"]) .status {
  color: #808080;
}

.mini-button > .button-box > .button-icon {
  -moz-margin-start: 0;
}

.mini-button > .button-box > .button-text {
  -moz-margin-start: 0 !important;
  -moz-margin-end: 0 !important;
}

.mini-button {
  min-width: 0;
  min-height: 0;
  color: #000000 !important;
  background-color: transparent !important;
  list-style-image: url("chrome://communicator/skin/downloads/downloadButtons.png");
  -moz-image-region: rect(0px, 48px, 16px, 32px);
  margin: 0;
  border: 1px dotted !important;
  -moz-border-top-colors: transparent !important;
  -moz-border-right-colors: transparent !important;
  -moz-border-bottom-colors: transparent !important;
  -moz-border-left-colors: transparent !important;
  border-radius: 0 !important;
  outline: none !important;
}

.mini-button:focus {
  -moz-border-top-colors: #000000 !important;
  -moz-border-right-colors: #000000 !important;
  -moz-border-bottom-colors: #000000 !important;
  -moz-border-left-colors: #000000 !important;
}

.cancel {
  -moz-image-region: rect(0px, 32px, 16px, 16px);
}

.retry {
  -moz-image-region: rect(0px, 64px, 16px, 48px);
}

.pause {
  -moz-image-region: rect(0px, 48px, 16px, 32px);
}

.pause[disabled="true"] {
  opacity: 0.5;
}

.resume {
  -moz-image-region: rect(0px, 16px, 16px, 0px);
}

.blockedIcon {
  list-style-image: url("chrome://global/skin/icons/Error.png");
}

/* prevent flickering when changing states */
.downloadTypeIcon {
  min-height: 32px;
  min-width: 32px;
}

#clearListButton {
  margin: 2px 4px;
}
