/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#from {
  margin-top: 1px;
}

#location {
  font-weight: bold;
}

#contentTypeImage {
  margin-top: 0;
  margin-bottom: 0;
  -moz-margin-start: 0;
  -moz-margin-end: 5px;
}

.small-indent {
  margin-left: 15px;
  margin-right: 15px;
}

.small-indent label {
  -moz-margin-start: 0;
}
