<div class="sidebar-right">

<h1>Where to now?</h1>

<p>Thanks for your testing help, but we hope you're just getting started.</p>

<p>If you'd like to continue testing, you have a couple of options:</p>

<p>You can continue testing this same Test Run under the <a title="Click to display details of your chosen Test Run." onclick="testConfigHeight.toggle('height');" name="test_run_details">same configuration/criteria</a>.
If this Test Run is currently Recommended<img class="inline" alt="*" src="images/yellowstar.gif" / title="Mozilla needs help testing this right now" />, this is the most useful option from our perspective.</p>

<p>Alternatively, you could continue testing this same Test Run, but change your configuration. If you have access to another testing platform or different virtual machines (VMs), it is extremely useful for us to receive test results for the same testcases across different configurations.</p>

<p>Otherwise you can opt to test a different Test Run altogether.</p>

<p>Use the links at the bottom of your <strong>Result Summary</strong> to navigate.</p>

<hr/>

<center><img src="favicon.ico"></center>

</div>