<div class="sidebar-right">

<h1>Selecting a Group to Test</h1>

<p>The Mozilla QA team has tried as best we can to group together testcases. This organization happens at two levels:</p>

<p><strong>Subgroups</strong>: these contains collections of testcases organized by functional area.</p>
<p><strong>Testgroups</strong>: these are collections of subgroups. Different testgroups are typically differentiated by level of detail, e.g. Basic Functional Tests (BFTs) are more involved than Smoketests.</p>

<p>More information about <a name="showPercentagesHelpText" title="What do the coverage numbers mean?" onclick="toggleHelp(percentagesHelpTitle,percentagesHelpText);">coverage numbers <img class="inline" src="images/info.png" alt="More info" /></a> can be found here.

<hr/>

<center><img src="favicon.ico"></center>

</div>