<div class="sidebar-right">

<h1>Required criteria and your configuration</h1>

<p>Some test runs will have required configuration criteria that must be met in
order to submit results. The Mozilla QA team often needs to test a specific
product build on a specific platform, the most obvious and frequent example is
release (or release candidate) testing. The inclusion of required criteria is
not meant to exclude testers, but rather to make the results that are submitted
as useful as possible.</p>
   
<p>If your chosen test run <em>has</em> required criteria, please make sure
your configuration matches one of the required options, and fill in any extra
configuration information as necessary.</p>

<p>If there are no required criteria, please provide your configuration details.</p>

<p>More information about <a name="showBuildIDHelpText" onclick="toggleHelp(buildIDHelpTitle,buildIDHelpText);">how to determine the build ID <img class="inline" src="images/info.png" alt="How do I determine the build ID?" /></a> for your product can be found here.

<hr/>

<center><img src="favicon.ico"></center>

</div>