<div class="sidebar-right">

<h1>Selecting a Test Run</h1>

<p>Click on the test run name to select that test run for testing. Click on the
coverage value o display the full test run report.</p>

<p>The pool of available test runs is divided into two parts:</p>

<p><b>Recommended</b><img style="width:1em;" alt="*" src="images/yellowstar.gif" title="Mozilla needs help testing this right now" />: these test runs cover builds or functional areas that Mozilla needs help testing right now. They will often be tied to upcoming releases, will need to be tested within a specific period of time, and may require specific configuration criteria. If you're unsure about what to test, and your config matches what is required, start with one of these test runs.</p>

<p><b>Remaining</b>: these are long-running test runs that are meant as catch-alls
for results when there are no other pressing needs for testing. If there are no
recommended test runs for the product/branch you'd like to test, select an
approriate test run from the remaining list. Don't worry: if a new recommended
test run is created in the future for the product/branch you choose to test now,
any results you submit will automatically be included in the new test run.</p>
   
<hr/>

<center><img src="favicon.ico"></center>

</div>