<div class="sidebar-right">

<h1>What is Litmus?</h1>

<p>Open source software doesn't test itself. Mozilla relies on the testing efforts of community members to help find bugs and verify products. Not everyone may be cut out to hack on Mozilla's codebase, but anyone who can use a web browser can help us test it.</p>

<p>We've tried to make Litmus as straightforward as possible for casual testers to use, so <a href="login.cgi">create an account</a>, <a href="run_tests.cgi">get testing</a>, and help us test the products you use everyday.</p>

<p>If you do need to more guidance on how to use Litmus, the following references are available:
<ul><li><a href="http://carstenbook.googlepages.com/Litmus-Tutorial.html" title="link to tomcat's upcoming tutorial">Litmus Tutorial</a></li>
<li><a href="http://wiki.mozilla.org/Litmus">Litmus Wiki</a></li>
</ul>
You can also join the Mozilla QA team in <a href="http://irc.mozilla.org/">IRC</a>. People in the #qa channel will be happy to help you out.</p>

<hr/>

<center><img src="favicon.ico"></center>

</div>