/* -*- Mode: Java; tab-width: 2; indent-tabs-mode: nil; c-basic-offset: 2 -*-
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ::::: Feed Subscription styling :::::: */

#subscriptionsDialog { 
  width: 40em;
  height: 30em;
  padding: 14px;
}

#rssFeedInfoBox {
  border: 1px solid ThreeDShadow;
  margin: 4px;
  padding-top: 4px;
  background-color: #EAE8E4;
}

#statusContainerBox {
  height: 2.3em;
}

treechildren::-moz-tree-image(folderNameCol, isFeed-true) {
  list-style-image: url("chrome://messenger-newsblog/skin/rss-feed.png");
  -moz-image-region: rect(0 16px 16px 0);
}

@media (min-resolution: 2dppx) {
  treechildren::-moz-tree-image(folderNameCol, isFeed-true) {
    list-style-image: url("chrome://messenger-newsblog/skin/rss-feed@2x.png");
    -moz-image-region: rect(0 32px 32px 0);
  }
}
