[%# ***** BEGIN LICENSE BLOCK *****
  # Version: MPL 1.1
  #
  # The contents of this file are subject to the Mozilla Public License Version
  # 1.1 (the "License"); you may not use this file except in compliance with
  # the License. You may obtain a copy of the License at
  # http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS IS" basis,
  # WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License
  # for the specific language governing rights and limitations under the
  # License.
  #
  # The Original Code is Litmus.
  #
  # The Initial Developer of the Original Code is
  # The Mozilla Corporation.
  # Portions created by the Initial Developer are Copyright (C) 2006
  # the Initial Developer. All Rights Reserved.
  #
  # Contributor(s):
  #   Chris Cooper <ccooper@deadsquid.com>
  #   Zach Lipton <zach@zachlipton.com>
  #
  # ***** END LICENSE BLOCK *****
#%]

[%# INTERFACE:
  # $testgroup - the testgroup object to show
#%]
<table class="manage">
  <tr>
    <td class="headerleft">Testgroup ID #:</td>
    <td id="testgroup_id_display">[% testgroup.testgroup_id | html %]</td>
  </tr>
  <tr>
    <td class="headerleft">Name:</td>
    <td id="testgroup_name_display">[% testgroup.name | html %]</td>
  </tr>
  <tr>
    <td class="headerleft"><b>Product:</b></td>
    <td id="testgroup_product_name_display">[% testgroup.product.name | html %]</td>
  </tr>
  <tr>
  <td class="headerleft">Branch:</td>
  <td id="testgroup_branch_name_display">[% testgroup.branch.name | html %]</td>
  </tr>

  [% IF show_admin %]
  <tr>
    <td class="headerleft">Enabled?</td>
    <td id="testgroup_enabled_display">[% IF testgroup.enabled %]Yes[% ELSE %]No[% END %]</td>
  </tr>
  <tr>
    <td class="headerleft">Created By:</div></td>
    <td id="testgroup_creator_display">[% testgroup.creator_id.email || "Not specified" | html %]</td>
  </tr>
  [% END %]
  
  <tr>
    <td class="headerleft">Creation Date:</td>
    <td id="testgroup_creation_date_display">[% testgroup.creation_date %]</td>
  </tr>

  <tr>
    <td class="headerleft">Last Updated:</td>
    <td id="testgroup_last_updated_display">[% testgroup.last_updated %]</td>
  </tr>
  
</table>

