/*
# -*- Mode: Java; tab-width: 4; indent-tabs-mode: nil; c-basic-offset: 4 -*-
# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
*/

/*--------------------------------------------------------------------
 *   MAIN view deck - contains nav buttons and views
 *-------------------------------------------------------------------*/
#view-deck {
  background: #FFFFFF;
  padding: 0px;
}

/*--------------------------------------------------------------------
 *   menubar
 *-------------------------------------------------------------------*/
#menubar-items {
  -moz-box-orient: vertical; /* for flex hack */
}

#menubar-items > menubar {
  -moz-box-flex: 1; /* make menu items expand to fill toolbar height */
}

/*--------------------------------------------------------------------
 *   Throbber button
 *-------------------------------------------------------------------*/

/* "Chasing dots" throbber */
#navigator-throbber {
  -moz-appearance: none;
  -moz-user-focus: ignore;
  margin: 0 !important;
  border: none !important;
  padding: 0px !important;
  min-width: 0;
  background-color: transparent;
  list-style-image: url("chrome://global/skin/icons/notloading_16.png");
}

#navigator-throbber[busy="true"] {
  list-style-image: url("chrome://global/skin/icons/loading_16.png");
}

toolbar[iconsize="small"] #navigator-throbber {
  list-style-image: url("chrome://global/skin/icons/notloading_16.png");
}

toolbar[iconsize="small"] #navigator-throbber[busy="true"] {
  list-style-image: url("chrome://global/skin/icons/loading_16.png");
}

/*--------------------------------------------------------------------
 * print preview
 *-------------------------------------------------------------------*/
toolbar[printpreview="true"] {
  -moz-binding: url("chrome://global/content/printPreviewBindings.xml#printpreviewtoolbar");
}

/*--------------------------------------------------------------------
 * Offline Status
 *-------------------------------------------------------------------*/

#offline-status {
    list-style-image: url(chrome://sunbird/skin/offline-online.png);
    -moz-image-region: rect(0px, 28px, 14px, 14px);
    padding: 0px 2px;
}

#offline-status[offline="true"] {
    -moz-image-region: rect(0px, 14px, 14px, 0px);
}
