%include ../../../components/im/themes/chat.css

/* Adaptation of #folderpane_splitter -> #listSplitter, #threadpane-splitter -> #contextSplitter */
#listSplitter, #contextSplitter {
  -moz-appearance: none;
  border-left: 1px solid ThreeDShadow;
  /* splitter grip area */
  width: 5px;
  margin-top: 0;
  /* make only the splitter border visible */
  -moz-margin-end: -5px;
  /* because of the negative margin needed to make the splitter visible */
  position: relative;
  z-index: 10;
  -moz-transition: border-width .3s ease-in;
}

/* Adaptation from #folderTree */
#listPaneBox {
  -moz-appearance:  none;
  background-color: -moz-Field;
  color: -moz-FieldText;
}

#listPaneBox > * {
  background: transparent !important;
  -moz-appearance: none !important;
  border: none;
}

/* Here comes some Aero styling */

#conversationsDeck {
  background: -moz-field;
}

#listPaneBox {
  -moz-appearance: none;
  background-color: rgb(238,243,250);
}

#contextPane {
  background-color: -moz-field;
  color: -moz-fieldtext;
}

#listSplitter, #contextSplitter {
  border: none;
  border-left: 1px solid #A9B7C9;
  min-width: 0;
  width: 5px;
  background-color: transparent;
  margin-top: 0;
  -moz-margin-end: -5px;
  position: relative;
  z-index: 10;
  -moz-transition: border-width .3s ease-in;
}

.convBox {
  background-color: rgb(233,239,245);
}

.conv-bottom {
  background-color: rgb(233,239,245);
  padding: 10px;
}


#conversationsDeck {
  background-color: rgb(233,239,245);
}

.conv-messages {
  border-top: 0px;
}

.conv-textbox {
  -moz-appearance: none;
  border: 1px solid #A9B7C9;
}

.conv-top-info {
  background: transparent;
}

.userIcon {
  border-width: 0px;
}

imconv[selected],
imcontact[selected] {
  background-color: Highlight;
  color: HighlightText;
}

@media (-moz-windows-default-theme) {
  imconv,
  imcontact {
    min-height: 1.7em;
    color: -moz-FieldText !important;
    border-radius: 3px;
    border: 1px solid transparent;
    background-color: none;
  }

  imconv[selected],
  imcontact[selected],
  imconv:hover,
  imcontact:hover {
    border: 1px solid Highlight;
    background-image: -moz-linear-gradient(rgba(255,255,255,.98), rgba(255,255,255,.82)) !important;
    background-repeat: no-repeat;
    background-color: Highlight;
    background-size: 100% 100%;
    -moz-border-top-colors: Highlight rgba(255,255,255,.4) !important;
    -moz-border-right-colors: Highlight rgba(255,255,255,.4) !important;
    -moz-border-left-colors: Highlight rgba(255,255,255,.4) !important;
    -moz-border-bottom-colors: Highlight rgba(255,255,255,.6) !important;
  }
}

#button-add-buddy {
  list-style-image: url("chrome://messenger/skin/icons/chat-toolbar.png");
  -moz-image-region: rect(0px 22px 22px 0px);
}

#button-add-buddy[disabled] {
  list-style-image: url("chrome://messenger/skin/icons/chat-toolbar.png");
  -moz-image-region: rect(22px 22px 44px 0px);
}

#button-join-chat {
  list-style-image: url("chrome://messenger/skin/icons/chat-toolbar.png");
  -moz-image-region: rect(0px 44px 22px 22px);
}

#button-join-chat[disabled] {
  list-style-image: url("chrome://messenger/skin/icons/chat-toolbar.png");
  -moz-image-region: rect(22px 44px 44px 22px);
}

toolbar[iconsize="small"] #button-add-buddy {
  list-style-image: url("chrome://messenger/skin/icons/chat-toolbar-small.png");
  -moz-image-region: rect(0px 16px 16px 0px);
}

toolbar[iconsize="small"] #button-add-buddy[disabled] {
  list-style-image: url("chrome://messenger/skin/icons/chat-toolbar-small.png");
  -moz-image-region: rect(16px 16px 32px 0px);
}

toolbar[iconsize="small"] #button-join-chat {
  list-style-image: url("chrome://messenger/skin/icons/chat-toolbar-small.png");
  -moz-image-region: rect(0px 32px 16px 16px);
}

toolbar[iconsize="small"] #button-join-chat[disabled] {
  list-style-image: url("chrome://messenger/skin/icons/chat-toolbar-small.png");
  -moz-image-region: rect(16px 32px 32px 16px);
}

#statusTypeIcon[status="available"],
#statusTypeAvailable,
.statusTypeIcon[status="available"],
#imStatusAvailable {
  list-style-image: url("chrome://messenger/skin/icons/status.png");
  -moz-image-region: rect(0px 16px 16px 0px);
}

#statusTypeIcon[status="idle"],
.statusTypeIcon[status="idle"] {
  list-style-image: url("chrome://messenger/skin/icons/status.png");
  -moz-image-region: rect(0px 32px 16px 16px);
}

#statusTypeIcon[status="offline"],
#statusTypeIcon[status="invisible"],
#statusTypeOffline,
.statusTypeIcon[status="offline"],
.statusTypeIcon[status="invisible"],
#imStatusOffline {
  list-style-image: url("chrome://messenger/skin/icons/status.png");
  -moz-image-region: rect(0px 48px 16px 32px);
}

#statusTypeIcon[status="unavailable"],
#statusTypeIcon[status="away"],
#statusTypeUnavailable,
.statusTypeIcon[status="unavailable"],
.statusTypeIcon[status="away"] {
  list-style-image: url("chrome://messenger/skin/icons/status.png");
  -moz-image-region: rect(0px 64px 16px 48px);
}
