/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

%include chat.css

.statusMessageToolbarItem {
  margin: 0 1px;
  -moz-margin-start: -2px;
  padding: 3px 3px 4px;
  border-radius: 2px;
}

#chat-toobar {
  padding: 1px 0;
}

.prplBuddyIcon {
  margin-top: 0;
  margin-bottom: 0;
}

#listSplitter,
#contextSplitter {
  border: none;
  -moz-border-start: 1px solid ThreeDShadow;
  background-color: transparent;
  min-width: 0;
  /* splitter grip area */
  width: 5px;
  margin-top: 0;
  /* make only the splitter border visible */
  -moz-margin-end: -5px;
  /* because of the negative margin needed to make the splitter visible */
  position: relative;
  z-index: 10;
}

#contextSplitter {
  -moz-border-start: none;
  -moz-border-end: 1px solid ThreeDShadow;
  -moz-margin-start: -5px;
  -moz-margin-end: 0;
}

.splitter,
#logsSplitter {
  border: none;
  border-bottom: 1px solid ThreeDShadow;
  min-height: 0;
  /* splitter grip area */
  height: 5px;
  background-color: transparent;
  /* make only the splitter border visible */
  margin-top: -5px;
  -moz-margin-start: 0;
  /* because of the negative margin needed to make the splitter visible */
  position: relative;
  z-index: 10;
}

#noConvScreen {
  -moz-border-start: none;
}

.conv-top,
.conv-bottom,
#logDisplay {
  border: none;
}

@media (-moz-windows-default-theme) {
  #statusTypeIcon .toolbarbutton-menu-dropmarker {
    padding: 1px 3px;
    list-style-image: url("chrome://messenger/skin/icons/toolbarbutton-arrow.png");
  }

  #chat-status-selector:hover > .statusMessageToolbarItem,
  .statusMessageToolbarItem:focus {
    border-color: hsla(210, 54%, 20%, .25) hsla(210, 54%, 20%, .27)
                  hsla(210, 54%, 20%, .3);
  }

  #chat-status-selector > .statusMessageToolbarItem[editing] {
    -moz-appearance: none;
    -moz-padding-start: 2px;
    -moz-padding-end: 2px;
    border-color: hsla(206, 100%, 60%, .65) hsla(206, 100%, 55%, .65)
                  hsla(206, 100%, 50%, .65);
    background-color: -moz-field;
  }

  #listPaneBox {
    background-color: rgb(238,243,250);
  }

  .convBox {
    background-color: rgb(233,239,245);
  }

  #conversationsDeck {
    background-color: rgb(233,239,245);
  }

  #listSplitter {
    -moz-border-start: 1px solid #A9B7C9;
  }

  #contextSplitter {
    -moz-border-end: 1px solid #A9B7C9;
  }

  .splitter,
  #logsSplitter {
    border-bottom: 1px solid #A9B7C9;
  }

  .conv-nicklist-header,
  .conv-logs-header-label {
    background-color: rgb(233,239,245);
  }

  :-moz-any(imconv, imcontact, imgroup) {
    min-height: 1.7em;
    color: -moz-FieldText !important;
    -moz-margin-start: 1px;
    -moz-margin-end: 1px;
    border-radius: 3px;
    border: 2px solid transparent;
    background-color: transparent;
    background-origin: border-box;
  }

  :-moz-any(imconv, imcontact, imgroup)[selected] {
    background-image: -moz-linear-gradient(rgba(190, 190, 190, .1),
                                           rgba(190, 190, 190, .4));
    background-color: transparent;
    -moz-border-top-colors: rgb(217, 217, 217) rgba(255, 255, 255, .4);
    -moz-border-right-colors: rgb(217, 217, 217) rgba(255, 255, 255, .4);
    -moz-border-left-colors: rgb(217, 217, 217) rgba(255, 255, 255, .4);
    -moz-border-bottom-colors: rgb(217, 217, 217) rgba(255, 255, 255, .6);
  }

  :-moz-any(imconv, imcontact, imgroup):hover {
    background-image: -moz-linear-gradient(rgba(131, 183, 249, .05),
                                           rgba(131, 183, 249, .16));
    -moz-border-top-colors: rgb(184, 214, 251) rgba(255, 255, 255, .4);
    -moz-border-right-colors: rgb(184, 214, 251) rgba(255, 255, 255, .4);
    -moz-border-left-colors: rgb(184, 214, 251) rgba(255, 255, 255, .4);
    -moz-border-bottom-colors: rgb(184, 214, 251) rgba(255, 255, 255, .6);
  }

  :-moz-any(imconv, imcontact, imgroup)[selected]:hover {
    background-image: -moz-linear-gradient(rgba(131, 183, 249, .28),
                                           rgba(131, 183, 249, .50));
    -moz-border-top-colors: rgb(125, 162, 206) rgba(255, 255, 255, .4);
    -moz-border-right-colors: rgb(125, 162, 206) rgba(255, 255, 255, .4);
    -moz-border-left-colors: rgb(125, 162, 206) rgba(255, 255, 255, .4);
    -moz-border-bottom-colors: rgb(125, 162, 206) rgba(255, 255, 255, .6);
  }

  #contactlistbox:focus > :-moz-any(imconv, imcontact, imgroup)[selected] {
    background-image: -moz-linear-gradient(rgba(131, 183, 249, .16),
                                           rgba(131, 183, 249, .375));
    background-color: transparent;
    border: 2px solid transparent;
    -moz-border-top-colors: rgb(132, 172, 221) rgba(255, 255, 255, .4);
    -moz-border-right-colors: rgb(132, 172, 221) rgba(255, 255, 255, .4);
    -moz-border-left-colors: rgb(132, 172, 221) rgba(255, 255, 255, .4);
    -moz-border-bottom-colors: rgb(132, 172, 221) rgba(255, 255, 255, .6);
  }

  #contactlistbox:focus > :-moz-any(imconv, imcontact, imgroup)[selected][current] {
    -moz-border-top-colors: rgb(125, 162, 206) rgba(255, 255, 255, .4);
    -moz-border-right-colors: rgb(125, 162, 206) rgba(255, 255, 255, .4);
    -moz-border-left-colors: rgb(125, 162, 206) rgba(255, 255, 255, .4);
    -moz-border-bottom-colors: rgb(125, 162, 206) rgba(255, 255, 255, .6);
  }

  .listitem-iconic[selected] > .listcell-iconic > .listcell-label,
  #nicklist:focus > .listitem-iconic[inactive][selected] > .listcell-iconic > .listcell-label {
    color: -moz-dialogtext !important;
  }

  #nicklist > listitem {
    border-width: 1px !important;
    outline: none !important;
  }
}

#button-add-buddy,
#button-add-buddy[disabled],
toolbar[iconsize="small"] #button-add-buddy,
toolbar[iconsize="small"] #button-add-buddy[disabled] {
  list-style-image: url("chrome://messenger/skin/icons/chat-toolbar.png");
  -moz-image-region: rect(1px 17px 17px 1px);
}

#button-join-chat,
#button-join-chat[disabled],
toolbar[iconsize="small"] #button-join-chat,
toolbar[iconsize="small"] #button-join-chat[disabled] {
  list-style-image: url("chrome://messenger/skin/icons/chat-toolbar.png");
  -moz-image-region: rect(1px 35px 17px 19px);
}

#button-chat-accounts,
#button-chat-accounts[disabled],
toolbar[iconsize="small"] #button-chat-accounts,
toolbar[iconsize="small"] #button-chat-accounts[disabled] {
  list-style-image: url("chrome://messenger/skin/icons/chat-toolbar.png");
  -moz-image-region: rect(1px 53px 17px 37px);
}
