%include mailWindow1.css

#subjectCol {
  -moz-padding-start: 20px;
}

#subjectCol[primary="true"] {
  -moz-padding-start: 30px;
}

@media not all and (-moz-windows-default-theme) {
  #subjectCol {
    -moz-padding-start: 17px;
  }

  #subjectCol[primary="true"] {
    -moz-padding-start: 27px;
  }
}

treecol.threadColumnHeader {
  -moz-padding-end: 2px;
}

treechildren::-moz-tree-image(news, threadCol, watch) {
  -moz-margin-start: -2px;
}

#folderpane_splitter,
#threadpane-splitter:not([orient="vertical"]) {
  border: none;
  border-left: 1px solid #A9B7C9;
  min-width: 0;
  width: 5px;
  background-color: transparent;
  margin-top: 0;
  -moz-margin-end: -5px;
  position: relative;
  z-index: 10;
  -moz-transition: border-width .3s ease-in;
}

/* Until Bug 621351 is fixed we need border-right and border-left in
 * combination with -moz-locale-dir instead of -moz-border-end and
 * -moz-border-start for -moz-transition
 */

#folderpane_splitter:-moz-locale-dir(rtl),
#threadpane-splitter:not([orient="vertical"]):-moz-locale-dir(rtl) {
  border-right: 1px solid #A9B7C9;
  border-left: none;
}

#folderpane_splitter[state="collapsed"]:hover:-moz-locale-dir(ltr) {
  border-left: 4px solid highlight;
}

#folderpane_splitter[state="collapsed"]:hover:-moz-locale-dir(rtl) {
  border-right: 4px solid highlight;
}

#threadpane-splitter,
#attachment-splitter {
  border: none;
  border-bottom: 1px solid #A9B7C9;
  min-height: 0;
  height: 5px;
  background-color: transparent;
  margin-top: -5px;
  position: relative;
  z-index: 10;
  -moz-transition: border-width .3s ease-in;
}

#attachment-splitter:not([state="collapsed"]) {
  border-bottom: 1px solid transparent;
}

#attachment-splitter,
#threadpane-splitter[state="collapsed"] {
  -moz-transition: border-color .3s;
}

#threadpane-splitter[state="collapsed"]:hover,
#attachment-splitter[state="collapsed"]:hover {
  border-bottom: 4px solid highlight;
}

#messagesBox {
  /* For some reason, the thread/message panes overlap the folder pane splitter
     by 1px because of the CSS above. Fix this. */
  -moz-margin-start: 1px;
}

#accountCentralBox,
#threadTree {
  -moz-border-end: none;
}

#messagepanebox {
  border-top-width: 0px;
  -moz-border-start: none;
}

.folderview-cycler {
  -moz-padding-start: 5px;
  -moz-padding-end: 5px;
}

#editContactPanel:-moz-system-metric(windows-default-theme) {
  -moz-appearance: tooltip;
  color: InfoText;
}

treecol.treecol-image image {
  -moz-padding-start: 1px;
  -moz-padding-end: 2px;
}

treecol.junkStatusHeader {
  -moz-padding-end: 2px;
}

treechildren::-moz-tree-image(unreadButtonColHeader) {
  -moz-padding-start: 0px;
  -moz-margin-start: -3px;
}

treechildren::-moz-tree-image(junkStatusCol) {
  -moz-margin-start: -3px;
}

#viewPickerPopup menuitem, #viewPickerPopup menu {
  -moz-appearance: none;
}

#viewPickerPopup menuitem[_moz-menuactive="true"],
#viewPickerPopup menu[_moz-menuactive="true"] {
  border: 1px solid highlight;
  background-color: highlight;
  color: highlighttext;
}

#folderLocationPopup {
  -moz-appearance: none;
  color: -moz-FieldText;
  margin: 0;
  border-width: 1px;
  -moz-border-top-colors: -moz-FieldText;
  -moz-border-right-colors: -moz-FieldText;
  -moz-border-bottom-colors: -moz-FieldText;
  -moz-border-left-colors: -moz-FieldText;
  background-color: -moz-Field;
}

#folderLocationPopup menu,
#folderLocationPopup menuitem {
  -moz-appearance: none;
  color: -moz-FieldText;
  background-color: -moz-Field;
}

#folderLocationPopup menu[_moz-menuactive="true"],
#folderLocationPopup menuitem[_moz-menuactive="true"] {
  color: HighlightText;
  background-color: Highlight;
}

#folderLocationPopup menu,
#folderLocationPopup menuitem {
  padding: 1px 2px;
}

#folderLocationPopup menuitem:first-child {
padding: 4px 0px;
}

#threadTree treechildren::-moz-tree-row(odd) {
  background-image: none;
}

@media all and (-moz-windows-default-theme) {
  #folderPaneHeader {
    -moz-appearance: none;
    background-color: #f8f8f8;
    border-top: 0px;
    border-bottom: 1px solid #a9b1b8;
  }

  #folderTree {
    -moz-appearance: none;
    background-color: #eef3fa;
    border-bottom: none;
    border-left: none;
  }

  menulist {
    -moz-appearance: none;
    padding: 1px 5px !important;
    background: rgba(151, 152, 153, .05)
                -moz-linear-gradient(rgba(251, 252, 253, .95),
                rgba(246, 247, 248, .47) 49%, rgba(231, 232, 233, .45) 51%,
                rgba(225, 226, 229, .3));
    border-radius: 3.5px;
    border: 1px solid;
    border-color: rgba(0, 0, 0, .12) rgba(0, 0, 0, .19) rgba(0, 0, 0, .38);
    box-shadow: 0 0 0 1px rgba(255, 255, 255, .3) inset,
                0 0 0 2px rgba(255, 255, 255, .1) inset;
    color: ButtonText;
    text-shadow: 0 0 3px white;
  }

  menulist:not([disabled="true"]):not([open="true"]):hover {
    background-color: hsla(190, 60%, 70%, .5);
    border-color: hsla(190, 50%, 65%, .8) hsla(190, 50%, 50%, .8)
                  hsla(190, 50%, 40%, .8);
    box-shadow: 0 0 0 1px rgba(255, 255, 255, .3) inset,
                0 0 0 2px rgba(255, 255, 255, .1) inset,
                0 0 5px hsl(190, 90%, 80%);
    -moz-transition: background-color .4s ease-in,
                     border-color .3s ease-in,
                     box-shadow .3s ease-in;
  }

  menulist[open="true"] {
    background-color: transparent;
    border-color: rgba(0, 0, 0, .65) rgba(0, 0, 0, .55) rgba(0, 0, 0, .5);
    box-shadow: 0 0 9px rgba(0, 0, 0, .4) inset,
                0 0 3px rgba(0, 0, 0, .4) inset,
                0 1px 0 rgba(255, 255, 255, .4);
    text-shadow: none;
  }

  menulist[disabled="true"] {
    opacity: .6;
  }

  menulist > .menulist-label-box {
    background-color: transparent !important;
    color: inherit !important;
  }

  #folderTree treechildren::-moz-tree-cell(dropOn) {
    background-image: -moz-linear-gradient(rgba(255, 255, 255, .7),
                                           rgba(255, 255, 255, .45));
    background-color: Highlight;
    border-radius: 3px;
  }

  #folderTree treechildren::-moz-tree-cell-text(dropOn) {
    color: -moz-FieldText;
  }
}

@media all and (-moz-windows-compositor) {
  #messengerWindow[sizemode=normal] tabpanels#tabpanelcontainer {
    border: 1px solid rgba(10%, 10%, 10%, .4);
    border-top: none;
    background-clip: padding-box;
  }

  #messengerWindow[sizemode=normal] #mail-toolbar-menubar2 {
    border-right: 1px solid rgba(10%, 10%, 10%, .4);
    border-left: 1px solid rgba(10%, 10%, 10%, .4);
    background-clip: padding-box;
  }

  #messengerWindow[sizemode=normal] statusbar {
    -moz-appearance: none;
    margin-top: -1px;
    border: 1px solid rgba(10%, 10%, 10%, .4);
    border-top-color: threedshadow;
    border-radius: 1px 1px 0 0;
    background-clip: padding-box;
  }

  /* lesser transparency on Glass background */
  menulist:not(:-moz-lwtheme):not([open="true"]) {
    background-color: rgba(227, 237, 246, .7);
  }

  /* lesser transparency on Glass background */
  menulist:not(:-moz-lwtheme):not([open="true"]):hover {
    background-color: rgba(136, 197, 213, .85);
  }

  #tabbar-toolbar #viewPickerLabel:not(:-moz-lwtheme):not(:-moz-window-inactive) {
    -moz-margin-start: 4px;
    -moz-margin-end: 0;
    -moz-padding-start: 2px;
    -moz-padding-end: 5px;
    background-color: rgba(255, 255, 255, .3);
    border-radius: 4px;
  }
}
