%include mailWindow1.css

.folderview-cycler {
  -moz-padding-start: 5px;
  -moz-padding-end: 5px;
}

#editContactPanel:-moz-system-metric(windows-default-theme) {
  -moz-appearance: tooltip;
  color: InfoText;
}
