/* ===== messenger.css ==================================================
  == Styles shared throughout the Messenger application.
  ======================================================================= */

@import url("chrome://global/skin/");
@import url("chrome://messenger/content/messenger.css");

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

description.error {
  color: #FF0000;
}

.toolbar-primary {
  -moz-binding: url("chrome://global/content/bindings/toolbar.xml#toolbar");
  border-top: none;
}

toolbar[printpreview="true"] {
  -moz-binding: url("chrome://global/content/printPreviewBindings.xml#printpreviewtoolbar");
}

/* ::::: menubar ::::: */

#menubar-items {
  -moz-box-orient: vertical; /* for flex hack */
}

#menubar-items > menubar {
  -moz-box-flex: 1; /* make menu items expand to fill toolbar height */
} 

/* ::::: throbber ::::: */

#throbber-box {
  width: 16px;
  min-height: 16px;
  margin: 0 3px;
  list-style-image: url("chrome://global/skin/icons/notloading_16.png");
}

#throbber-box[busy="true"] {
  list-style-image: url("chrome://global/skin/icons/loading_16.png");
}

/* ::::: online/offline icons ::::: */

#offline-status {
  padding: 0 2px;
}

#offline-status[offline="true"] {
  list-style-image: url("chrome://messenger/skin/icons/offline.png");
}

#offline-status {
  list-style-image: url("chrome://messenger/skin/icons/online.png");
}

/* ::::: toolbarbutton ::::: */

.toolbarbutton-1,
.toolbarbutton-menubutton-button {
  padding-top: 5px;
  padding-bottom: 6px;
  -moz-padding-start: 4px;
  -moz-padding-end: 5px;
}

.toolbarbutton-1:hover:active:not([disabled]),
.toolbarbutton-1[open="true"],
.toolbarbutton-menubutton-button:hover:active:not([disabled]),
.toolbarbutton-menubutton-button[open="true"] {
  padding-top: 6px;
  padding-bottom: 5px;
  -moz-padding-start: 5px;
  -moz-padding-end: 4px;
}

.toolbarbutton-1[checked="true"] {
  padding-top: 6px !important;
  padding-bottom: 5px !important;
  -moz-padding-start: 5px !important;
  -moz-padding-end: 4px !important;
}

.toolbarbutton-1 .toolbarbutton-icon,
#FormatToolbar .toolbarbutton-icon {
  -moz-margin-end: 0px;
}

/* Has to be !important to overrule toolkit's dropmarker.css for the
   dropmarker[disabled="true"] case. */
.toolbarbutton-menu-dropmarker {
  -moz-padding-start: 3px !important;
}

toolbar[mode="full"] .toolbarbutton-1 {
  min-width: 55px;
}

sidebarheader .toolbarbutton-text:not([value]) {
  display: none;
}

#searchInput {
  -moz-appearance: none;
  min-height: 22px;
  border: 1px solid threedshadow;
  -moz-padding-end: 2px;
  -moz-padding-start: 2px;
}
