/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

%include messenger.css

treechildren::-moz-tree-cell-text {
  -moz-padding-start: 2px;
}

.toolbar-primary {
  -moz-appearance: none;
}

.toolbarbutton-1[checked="true"] {
  padding: 1px 5px !important;
}

#searchInput,
#IMSearchInput,
.remote-gloda-search {
  background-clip: padding-box;
  border: 1px solid ThreeDShadow;
  border-radius: 2px;
  min-height: 24px;
  margin-top: 1px;
  margin-bottom: 1px;
  width: 25em;
}

.remote-gloda-search-container {
  padding-top: 1px;
  padding-bottom: 1px;
}

.foldersTree {
  -moz-appearance: none;
}

#tabmail-buttons > toolbarbutton {
  margin-top: 3px;
  margin-bottom: 0;
}

@media (-moz-windows-default-theme) {
  #searchInput,
  #IMSearchInput,
  .remote-gloda-search {
    border-color: hsla(210, 54%, 20%, .25) hsla(210, 54%, 20%, .27)
                  hsla(210, 54%, 20%, .3);
    box-shadow: 0 1px hsla(0, 0%, 0%, .01) inset,
                0 1px hsla(0, 0%, 100%, .1);
  }

  #searchInput:-moz-lwtheme,
  #IMSearchInput:-moz-lwtheme,
  .remote-gloda-search:-moz-lwtheme {
    border-color: rgba(0, 0, 0, .32);
    color: black;
  }

  treechildren::-moz-tree-row {
    border: 1px solid transparent;
  }

  treechildren::-moz-tree-row(hover),
  treechildren::-moz-tree-row(current, focus) {
    border: 1px solid Highlight;
  }

  listitem,
  treechildren::-moz-tree-row {
    min-height: 1.7em;
    color: -moz-FieldText;
    border-radius: 3px;
  }

  listitem[selected="true"],
  treechildren::-moz-tree-row(hover),
  treechildren::-moz-tree-row(selected),
  treechildren::-moz-tree-row(dummy, selected) {
    background-image: -moz-linear-gradient(rgba(255,255,255,.98), rgba(255,255,255,.82)) !important;
    background-repeat: no-repeat;
    background-color: Highlight;
    background-size: 100% 100%;
    border-width: 2px !important;
    -moz-border-top-colors: Highlight rgba(255,255,255,.4) !important;
    -moz-border-right-colors: Highlight rgba(255,255,255,.4) !important;
    -moz-border-left-colors: Highlight rgba(255,255,255,.4) !important;
    -moz-border-bottom-colors: Highlight rgba(255,255,255,.6) !important;
  }

  listitem[selected="true"][current="true"],
  treechildren::-moz-tree-row(selected, current),
  treechildren::-moz-tree-row(dummy, selected, current) {
    background-image: -moz-linear-gradient(rgba(255,255,255,.85), rgba(255,255,255,.6)) !important;
  }

  tree[disabled="true"] > treechildren::-moz-tree-row {
    background: none !important;
    -moz-border-top-colors: transparent !important;
    -moz-border-right-colors: transparent !important;
    -moz-border-left-colors: transparent !important;
    -moz-border-bottom-colors: transparent !important;
  }

  tree[disabled="true"] > treechildren::-moz-tree-twisty(open) {
    list-style-image: url("chrome://global/skin/tree/twisty-open.png");
  }

  tree[disabled="true"] > treechildren:-moz-locale-dir(rtl)::-moz-tree-twisty(open) {
    list-style-image: url("chrome://global/skin/tree/twisty-open-rtl.png");
  }

  treechildren::-moz-tree-cell-text {
    border-color: transparent;
    background-color: transparent;
  }

  listitem[selected="true"][current="true"],
  treechildren::-moz-tree-cell-text(selected, focus) {
    color: -moz-DialogText;
  }

  notification[value="addon-install-blocked"],
  notification[value="addon-install-failed"],
  notification[value="addon-install-complete"] {
    background-image: url("chrome://mozapps/skin/extensions/stripes-info-negative.png"),
                      -moz-linear-gradient(rgba(204, 217, 234, 0.5),
                                           rgba(231, 237, 246, 0.8));
  }
}

@media (-moz-windows-compositor) {
  #unifinder-searchBox,
  #task-addition-box {
    border-top: none;
    background-color: -moz-dialog;
  }

  #searchInput:not(:-moz-lwtheme),
  #IMSearchInput:not(:-moz-lwtheme),
  .remote-gloda-search:not(:-moz-lwtheme) {
    border-color: hsla(210, 54%, 20%, .25) hsla(210, 54%, 20%, .27)
                  hsla(210, 54%, 20%, .3);
  }

  #searchInput:not(:-moz-lwtheme):not([focused]):hover,
  #IMSearchInput:not(:-moz-lwtheme):not([focused]):hover,
  .remote-gloda-search:not(:-moz-lwtheme):not([focused]):hover {
    border-color: hsla(210, 54%, 20%, .35) hsla(210, 54%, 20%, .37)
                  hsla(210, 54%, 20%, .4);
  }

  #searchInput:not(:-moz-lwtheme)[focused],
  #IMSearchInput:not(:-moz-lwtheme)[focused],
  .remote-gloda-search:not(:-moz-lwtheme)[focused] {
    border-color: hsla(206, 100%, 60%, .65) hsla(206, 100%, 55%, .65)
                  hsla(206, 100%, 50%, .65);
  }

  #tabbar-toolbar #searchInput:not(:-moz-lwtheme) {
    background-color: rgba(255, 255, 255, .725);
    border-color: rgba(0, 0, 0, .32);
    color: black;
  }

  #tabbar-toolbar #searchInput:not(:-moz-lwtheme):hover {
    background-color: rgba(255, 255, 255, .898);
  }

  #tabbar-toolbar #searchInput:not(:-moz-lwtheme)[focused="true"] {
    background-color: white;
  }
}

@media not all and (-moz-windows-compositor) {
  #print-preview-toolbar:not(:-moz-lwtheme) {
    -moz-appearance: -moz-win-browsertabbar-toolbox;
  }
}
