%include messenger.css

treechildren::-moz-tree-cell-text {
  -moz-padding-start: 2px;
}

.toolbar-primary {
  -moz-appearance: none;
}

.toolbarbutton-1[checked="true"] {
  padding: 1px 5px !important;
}

#searchInput {
  background-clip: padding-box;
  border: 1px solid ThreeDDarkShadow;
  -moz-border-radius: 3.5px;
  min-height: 24px;
  margin-top: 1px;
  margin-bottom: 1px;
}

.foldersTree {
  -moz-appearance: none;
}

#tabmail-buttons > toolbarbutton {
  margin-top: 3px;
  margin-bottom: 0;
}

@media (-moz-windows-default-theme) {
  #searchInput {
    border-color: rgba(0, 0, 0, .32);
  }

  #searchInput:-moz-lwtheme {
    background-color: rgba(255, 255, 255, .8);
    border-color: rgba(0, 0, 0, .32);
    color: black;
  }

  treechildren::-moz-tree-row {
    border: 1px solid transparent;
  }

  treechildren::-moz-tree-row(hover),
  treechildren::-moz-tree-row(current, focus) {
    border: 1px solid Highlight;
  }

  listitem,
  treechildren::-moz-tree-row {
    min-height: 1.7em;
    color: -moz-FieldText;
    border-radius: 3px;
  }

  listitem[selected="true"],
  treechildren::-moz-tree-row(hover),
  treechildren::-moz-tree-row(selected),
  treechildren::-moz-tree-row(dummy, selected) {
    background-image: -moz-linear-gradient(rgba(255,255,255,.98), rgba(255,255,255,.82)) !important;
    background-repeat: no-repeat;
    background-color: Highlight;
    background-size: 100% 100%;
    border-width: 2px !important;
    -moz-border-top-colors: Highlight rgba(255,255,255,.4) !important;
    -moz-border-right-colors: Highlight rgba(255,255,255,.4) !important;
    -moz-border-left-colors: Highlight rgba(255,255,255,.4) !important;
    -moz-border-bottom-colors: Highlight rgba(255,255,255,.6) !important;
  }

  listitem[selected="true"][current="true"],
  treechildren::-moz-tree-row(selected, current),
  treechildren::-moz-tree-row(dummy, selected, current) {
    background-image: -moz-linear-gradient(rgba(255,255,255,.85), rgba(255,255,255,.6)) !important;
  }

  tree[disabled="true"] > treechildren::-moz-tree-row {
    background: none !important;
    -moz-border-top-colors: transparent !important;
    -moz-border-right-colors: transparent !important;
    -moz-border-left-colors: transparent !important;
    -moz-border-bottom-colors: transparent !important;
  }

  tree[disabled="true"] > treechildren::-moz-tree-twisty(open) {
    list-style-image: url("chrome://global/skin/tree/twisty-open.png");
  }

  tree[disabled="true"] > treechildren:-moz-locale-dir(rtl)::-moz-tree-twisty(open) {
    list-style-image: url("chrome://global/skin/tree/twisty-open-rtl.png");
  }

  treechildren::-moz-tree-cell-text {
    border-color: transparent;
    background-color: transparent;
  }

  listitem[selected="true"][current="true"],
  treechildren::-moz-tree-cell-text(selected, focus) {
    color: -moz-DialogText;
  }
}

@media (-moz-windows-compositor) {
  #unifinder-searchBox,
  #task-addition-box {
    border-top: none;
    background-color: -moz-dialog;
  }

  #searchInput {
    background-color: rgba(255, 255, 255, .725);
    color: black;
  }

  #searchInput:hover {
    background-color: rgba(255, 255, 255, .898);
  }

  #searchInput[focused="true"] {
    background-color: white;
  }
}

@media not all and (-moz-windows-compositor) {
  #print-preview-toolbar:not(:-moz-lwtheme) {
    -moz-appearance: -moz-win-browsertabbar-toolbox;
  }
}
