%include searchDialog.css

#subjectCol {
  -moz-padding-start: 20px;
}

#subjectCol[primary="true"] {
  -moz-padding-start: 30px;
}

@media not all and (-moz-windows-default-theme) {
  #subjectCol {
    -moz-padding-start: 17px;
  }

  #subjectCol[primary="true"] {
    -moz-padding-start: 27px;
  }
}
