[%# 1.0@bugzilla.org %]

[% test_case_count = bug.get_test_case_count %]
<ul>
[% IF test_case_count > 0 %]
    <li><a href="tr_list_cases.cgi?bug_id=[% bug.bug_id %]&current_tab=case">
    View [% terms.Bug %] Test Cases ([% test_case_count %]
    [% IF test_case_count > 1 %]
        cases)
    [% ELSE %]
        case)
    [% END %]
    </a></li>
[% END %]
    <li><a href="tr_new_case.cgi?product=[% bug.product FILTER url_quote %]&bug=[% bug.bug_id %]">Create test case</a></li>
</ul>
