[%# 1.0@bugzilla.org %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Test Runner System.
  #
  # The Initial Developer of the Original Code is Maciej Maczynski.
  # Portions created by Maciej Maczynski are Copyright (C) 2001
  # Maciej Maczynski. All Rights Reserved.
  #
  # Contributor(s): Ed Fuentetaja <efuentetaja@acm.org>
  #         Greg Hendricks <ghendricks@novell.com>
  #%]

[%# INTERFACE:
  # ...
  #%]

<table>
  <tr>
    <th>Version:</th><td>[% text.version FILTER none %]</td><th>Author:</th><td>[% text.author FILTER html %]</td>
  </tr>
</table>
<div id="plan_text_version">
<h3>Setup</h3>
[% text.setup FILTER html_light %]
<h3>Breakdown</h3>
[% text.breakdown FILTER html_light %]
<h3>Action</h3>
[% text.action FILTER html_light %]
<h3>Expected Results</h3>
[% text.effect FILTER html_light %]
</div>