<?xml version="1.0"?>
<text>
<newbug>
    <product>[% caserun ? caserun.run.plan.product.name : case.plans.0.product.name FILTER xml %]</product>
    <case_id>[% case.id FILTER none %]</case_id>
    <version>[% caserun ? caserun.run.plan.product_version : case.plans.0.product_version FILTER xml %]</version>
    <component>[% case.components.0.name FILTER xml %]</component>
    <short_desc>[Test Case [% case.id FILTER none %]] [% case.summary FILTER xml %]</short_desc>
    <comment>[% IF caserun %] 
STATUS: [% caserun.status %]
BUILD: [% caserun.build.name FILTER xml %]
ENVIRONMENT: [% caserun.environment.name FILTER xml %]
NOTES: [% caserun.notes FILTER xml %][% END %]
STEPS TO REPRODUCE: [% case.text.action FILTER xml %]
EXPECTED OUTCOME: [% case.text.effect FILTER xml %]</comment>
    <assigned_to>[% case.components.0.default_assignee.login FILTER xml %]</assigned_to>
    <qa_contact>[% case.components.0.default_qa_contact.login FILTER xml %]</qa_contact>
</newbug>
</text>