<?xml version="1.0"?>
<cases>
  <casetext>
    <setup><![CDATA[[% text.setup FILTER none %]]]></setup>
    <breakdown><![CDATA[[% text.breakdown FILTER none %]]]></breakdown>
    <version>[% text.version FILTER xml %]</version>
    <action><![CDATA[[% text.action FILTER none %]]]></action>
    <effect><![CDATA[[% text.effect FILTER none %]]]></effect>
    <case_id>[% text.case_id FILTER xml %]</case_id>
    <author>[% text.author FILTER xml %]</author>
    <notes>[% text.notes FILTER xml %]</notes>
  </casetext>
</cases>