<?xml version="1.0"?>
<cases>
  <casetext>
    <setup>[% text.setup FILTER xml %]</setup>
    <breakdown>[% text.breakdown FILTER xml %]</breakdown>
    <version>[% text.version FILTER xml %]</version>
    <action>[% text.action FILTER xml %]</action>
    <effect>[% text.effect FILTER xml %]</effect>
    <case_id>[% text.case_id FILTER xml %]</case_id>
    <author>[% text.author FILTER xml %]</author>
    <notes>[% text.notes FILTER xml %]</notes>
  </casetext>
</cases>