/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#addon-page {
  background: #FFF;
  padding: 0;
}

#addon-scrollbox {
  overflow: auto;
  -moz-box-orient: vertical;
  -moz-box-flex: 1;
}

#spacer-start {
  -moz-box-flex: 1;
}

#spacer-end {
  -moz-box-flex: 3;
}

#addon-container {
  color: #22262F;
  background: #C7D0D9;
  border: 1px solid #494F5D;
  border-radius: 10px;
  max-width: 600px;
  margin: 20px;
  padding: 30px 90px;
}

#addon-info {
  -moz-box-align: start;
  margin: 25px 10px;
}

#icon {
  -moz-margin-end: 10px;
  list-style-image: url("chrome://mozapps/skin/extensions/extensionGeneric.png");
}

.addon-info[type="theme"] #icon {
  list-style-image: url("chrome://mozapps/skin/extensions/themeGeneric.png");
}

.addon-info[type="locale"] #icon {
  list-style-image: url("chrome://mozapps/skin/extensions/localeGeneric.png");
}

.addon-info[type="plugin"] #icon {
  list-style-image: url("chrome://mozapps/skin/plugins/pluginGeneric.png");
}

.addon-info[type="dictionary"] #icon {
  list-style-image: url("chrome://mozapps/skin/extensions/dictionaryGeneric.png");
}

#name {
  font-size: 130%;
}

#author {
  font-style: italic;
}

#location {
  font-style: italic;
}

#warning {
  margin-bottom: 25px;
  -moz-box-align: start;
}

#warning-icon {
  list-style-image: url("chrome://mozapps/skin/extensions/alerticon-warning.png");
  width: 16px;
  height: 15px;
  -moz-margin-end: 5px;
}

#allow {
  -moz-margin-start: 84px;
  margin-bottom: 20px;
}

#continuePanel,
#restartPanel {
  margin-top: 25px;
  -moz-box-pack: end;
  -moz-box-align: center;
}

#continuePanel {
  -moz-box-pack: end;
}

#restartMessage {
  text-align: right;
}

#restartSpacer {
  -moz-box-flex: 1;
}

#later {
  font-style: italic;
}
