/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://global/skin/plugins.css");

html {
  background: #FFF;
}

body {
  color: #22262F;
  font: message-box;
  position: relative;
  min-width: 330px;
  max-width: 50em;
  margin: 4em auto;
  border: 1px solid #494F5D;
  border-radius: 10px;
  padding: 3em;
  -moz-padding-start: 30px;
  background: #C7D0D9;
  text-align: left;
}

.aboutPageWideContainer {
  max-width: 80%;
}

#aboutLogoContainer {
  border: 1px solid #494F5D;
  width: 300px;
  margin-bottom: 2em;
}

img {
  border: 0;
}

#version {
  font-weight: bold;
  color: #000;
  margin-top: -24px;
  margin-bottom: 9px;
  -moz-margin-start: 10px;
  -moz-margin-end: 0px;
  font-size: 130%;
}

ul {
  margin: 0;
  -moz-margin-start: 1.5em;
  padding: 0;
  list-style: square;
  font-size: 110%;
}

ul > li {
  margin-top: .5em;
}

.columns {
  -moz-column-width: 20em;
  -moz-column-gap: 3em;
}
