html {
  background: #FFF;
}

body {
  margin: 0;
  padding: 0 1em;
  color: #22262F;
  font: message-box;
}

#aboutPageContainer {
  position: relative;
  min-width: 330px;
  max-width: 50em;
  margin: 2em auto;
  border: 1px solid rgb(73, 79, 93);
  -moz-border-radius: 10px;
  padding: 2em;
  -moz-padding-start: 30px;
  background: #C7D0D9;
}

#aboutLogoContainer {
  width: 300px;
  margin-bottom: 2em;
}

img {
  border: 0;
}

#version {
  color: #000;
  margin-top: -40px;
  margin-bottom: 9px;
  -moz-margin-start: 10px;
  -moz-margin-end: 0px;
  font-size: 130%;
}

ul {
  margin: 0;
  -moz-margin-start: 1.5em;
  padding: 0;
  list-style: square;
  font-size: 110%;
}

ul > li {
  margin-top: .5em;
}
