/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== button.css =====================================================
  == Styles used by the XUL (and XHTML in netError.xhtml) button element.
  ======================================================================= */

/* :::::::::: button :::::::::: */

button {
  margin: 2px;
  border: 6px solid;
  -moz-border-top-colors: transparent transparent transparent #000000 #BBC6D1 #B1BBC9;
  -moz-border-right-colors: transparent transparent transparent #000000 #A2AEBB #A7B4C1;
  -moz-border-bottom-colors: transparent transparent transparent #000000 #97A6B6 #9DAAB9;
  -moz-border-left-colors: transparent transparent transparent #000000 #BBC6D1 #B1BBC9;
  border-radius: 5px;
  min-width: 6em;
  background-color: #AAB6C4;
  background-clip: padding-box;
  color: #000000;
  font: menu;
}

.button-icon {
  -moz-margin-start: 2px;
}

.button-text {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  -moz-margin-start: 4px !important;
  -moz-margin-end: 6px !important;
  text-align: center;
}

/* .......... focused state .......... */

button:focus {
  -moz-border-top-colors: transparent #98A5B2 #98A5B2 #000000 #BBC6D1 #B1BBC9;
  -moz-border-right-colors: transparent #98A5B2 #98A5B2 #000000 #A2AEBB #A7B4C1;
  -moz-border-bottom-colors: transparent #98A5B2 #98A5B2 #000000 #97A6B6 #9DAAB9;
  -moz-border-left-colors: transparent #98A5B2 #98A5B2 #000000 #BBC6D1 #B1BBC9;
}

/* .......... active/open/checked state .......... */

button:hover:active,
button[checked="true"],
button[open="true"] {
  -moz-border-top-colors: transparent transparent transparent #000000 #8290A5 #899AAC;
  -moz-border-right-colors: transparent transparent transparent #000000 #8290A5 #899AAC;
  -moz-border-bottom-colors: transparent transparent transparent #000000 #8290A5 #899AAC;
  -moz-border-left-colors: transparent transparent transparent #000000 #8290A5 #899AAC;
  background-color: #90A1B3;
  color: #FFFFFF;
}

button:hover:active:focus,
button[checked="true"]:focus,
button[open="true"]:focus {
  -moz-border-top-colors: transparent #98A5B2 #98A5B2 #000000 #8290A5 #899AAC;
  -moz-border-right-colors: transparent #98A5B2 #98A5B2 #000000 #8290A5 #899AAC;
  -moz-border-bottom-colors: transparent #98A5B2 #98A5B2 #000000 #8290A5 #899AAC;
  -moz-border-left-colors: transparent #98A5B2 #98A5B2 #000000 #8290A5 #899AAC;
}

/* .......... disabled state .......... */

button[disabled="true"] {
  -moz-border-top-colors: transparent transparent transparent #8290A5 #C6CDD7 #BCC5D1 !important;
  -moz-border-right-colors: transparent transparent transparent #8290A5 #A9B5C1 #B2BAC7 !important;
  -moz-border-bottom-colors: transparent transparent transparent #8290A5 #A9B5C1 #B2BAC7 !important;
  -moz-border-left-colors: transparent transparent transparent #8290A5 #C6CDD7 #BCC5D1 !important;
  background-color: #B7BFCB !important;
  color: #8C99AB !important;
}
  
/* .......... default state .......... */

button[default="true"] {
  -moz-border-top-colors: transparent transparent #000000 #000000 #BBC6D1 #B1BBC9;
  -moz-border-right-colors: transparent transparent #000000 #000000 #A2AEBB #A7B4C1;
  -moz-border-bottom-colors: transparent transparent #000000 #000000 #97A6B6 #9DAAB9;
  -moz-border-left-colors: transparent transparent #000000 #000000 #BBC6D1 #B1BBC9;
}

button[default="true"]:hover:active {
  -moz-border-top-colors: transparent transparent #000000 #000000 #8290A5 #899AAC;
  -moz-border-right-colors: transparent transparent #000000 #000000 #8290A5 #899AAC;
  -moz-border-bottom-colors: transparent transparent #000000 #000000 #8290A5 #899AAC;
  -moz-border-left-colors: transparent transparent #000000 #000000 #8290A5 #899AAC;
  border-radius: 4px;
}

button[default="true"]:hover:active:focus {
  -moz-border-top-colors: #98A5B2 #98A5B2 #000000 #000000 #8290A5 #899AAC;
  -moz-border-right-colors: #98A5B2 #98A5B2 #000000 #000000 #8290A5 #899AAC;
  -moz-border-bottom-colors: #98A5B2 #98A5B2 #000000 #000000 #8290A5 #899AAC;
  -moz-border-left-colors: #98A5B2 #98A5B2 #000000 #000000 #8290A5 #899AAC;
}

button[default="true"]:focus {
  -moz-border-top-colors: #98A5B2 #98A5B2 #000000 #000000 #BBC6D1 #B1BBC9;
  -moz-border-right-colors: #98A5B2 #98A5B2 #000000 #000000 #A2AEBB #A7B4C1;
  -moz-border-bottom-colors: #98A5B2 #98A5B2 #000000 #000000 #97A6B6 #9DAAB9;
  -moz-border-left-colors: #98A5B2 #98A5B2 #000000 #000000 #BBC6D1 #B1BBC9;
}

/* ::::: menu/menu-button buttons ::::: */

button[type="menu-button"] {
  border: none;
  background: transparent !important;
}

.button-menubutton-button {
  margin: 0;
}

.button-menu-dropmarker,
.button-menubutton-dropmarker {
  margin: 1px;
  background-color: transparent;
  border: none;
}
  
.button-menubutton-dropmarker[open="true"] {
  margin-top: 2px;
  margin-bottom: 0px;
  -moz-margin-start: 2px;
  -moz-margin-end: 0px;
}

/* ::::: plain buttons ::::: */

button.plain,
button.plain:hover,
button.plain:hover:active
{
  margin: 0px;
  border: none !important;
  padding: 0px;
}

/* ::::: xhtml buttons ::::: */

button::-moz-focus-inner {
  padding: 0px;
  border: 0px none;
}
