/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== checkbox.css ===================================================
  == Styles used by the XUL checkbox element.
  ======================================================================= */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: checkbox ::::: */

checkbox {
  -moz-box-align: center;
  margin: 0px 2px;
  border: 2px solid transparent;
  padding-top: 1px;
  padding-bottom: 1px;
  -moz-padding-start: 4px;
  -moz-padding-end: 2px;
}

.checkbox-icon {
  -moz-margin-start: 2px;
}

/* ..... focused state ..... */

checkbox:focus {
  border-color: #98A5B2;
  border-radius: 4px 5px;
}

/* ..... disabled state ..... */

checkbox[disabled="true"] > .checkbox-label-box > .checkbox-label {
  color: #8C99AB !important;
}

/* ::::: checkmark image ::::: */

.checkbox-check {
  width: 13px;
  height: 13px;
  list-style-image: url("chrome://global/skin/checkbox/cbox.gif");
}
  
checkbox:hover:active > .checkbox-check {
  list-style-image: url("chrome://global/skin/checkbox/cbox-act.gif");  
}
  
.checkbox-check[disabled="true"] {
  list-style-image: url("chrome://global/skin/checkbox/cbox-dis.gif") !important
}

/* ..... checked state ..... */

.checkbox-check[checked="true"] {
  list-style-image: url("chrome://global/skin/checkbox/cbox-check.gif");
}
    
checkbox:hover:active > .checkbox-check[checked="true"] {
  list-style-image: url("chrome://global/skin/checkbox/cbox-act-check.gif");
}

.checkbox-check[checked="true"][disabled="true"] {
  list-style-image: url("chrome://global/skin/checkbox/cbox-dis-check.gif") !important;
}

