/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/*
 *  This defines the look-and-feel styling of the error pages.
 *  (see: netError.xhtml)
 *
 *  Original styling by William Price <bugzilla@mob.rice.edu>
 *  Updated by: Steven Garrity <steven@silverorange.com>
 *              Henrik Skupin  <mozilla@hskupin.info>
 *              Akihiro Misaki <spitfire.kuden@gmail.com>
 */

@import url("chrome://global/skin/button.css");

html {
  background: #FFF;
}

body {
  margin: 0;
  padding: 0 1em;
  color: #22262F;
  font: message-box;
}

h1 {
  margin: 0 0 .6em;
  border-bottom: 1px solid #7A8490;
  font-size: 160%;
}

ul, ol {
  margin: 0;
  -moz-margin-start: 1.5em;
  padding: 0;
}

ul > li, ol > li {
  margin-bottom: .5em;
}

ul {
  list-style: square;
}

#errorPageContainer {
  position: relative;
  min-width: 13em;
  max-width: 52em;
  margin: 4em auto;
  border: 1px solid #494F5D;
  border-radius: 10px;
  padding: 3em;
  -moz-padding-start: 30px;
  background: url("chrome://global/skin/icons/alert-exclam.gif") left 0 no-repeat #C7D0D9;
  background-origin: content-box;
}

#errorPageContainer.certerror {
  background-image: url("chrome://global/skin/icons/alert-security.gif");
}

#errorPageContainer:-moz-dir(rtl) {
  background-position: right 0;
}

#errorTitle {
  -moz-margin-start: 80px;
}

#errorLongContent {
  -moz-margin-start: 80px;
}

#errorShortDesc > p {
  overflow: auto;
  border-bottom: 1px solid #7A8490;
  padding-bottom: 1em;
  font-size: 130%;
  white-space: pre-wrap;
}

#errorLongDesc {
  -moz-padding-end: 3em;
  font-size: 110%;
}

#errorPageContainer > #errorTryAgain {
  margin-top: 2em;
  -moz-margin-start: 80px;
}

#brand {
  position: absolute;
  right: 0;
  bottom: -1.5em;
  -moz-margin-end: 10px;
  opacity: .6;
}

#brand:-moz-dir(rtl) {
  right: auto;
  left: 0;
}

#brand > p {
  margin: 0;
}

#errorContainer {
  display: none;
}

#securityOverrideDiv {
  padding-top: 10px;
}

#securityOverrideContent {
  background-color: #FFFFE7;
  color: #000000;
  padding: 10px;
  border-radius: 10px;
}

/* Custom styling for 'blacklist' error class */
:root.blacklist #errorPageContainer {
  background-image: url("chrome://global/skin/icons/blacklist_large.png");
  background-color: #772222;
  color: #FFFFFF;
}

:root.blacklist {
  background: #333333;
}
