/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

notification {
  background-color: #C7D0D9;
  color: #000000;
}

notification[type="warning"] {
  background-color: #E8DB99;
}

notification[type="critical"] {
  background-color: #FF0000;
  color: #FFFFFF;
}

.notification-inner[type="warning"] {
  border-color: #E8DB99 !important;
}

.notification-inner[type="critical"] {
  border-color: #FF0000 !important;
}

.messageImage {
  width: 16px;
  height: 16px;
  margin-top: 0px;
  margin-bottom: 3px;
  -moz-margin-start: 5px;
  -moz-margin-end: 1px;
}

/* Default icons for notifications */

.messageImage[type="info"] {
  list-style-image: url("chrome://global/skin/icons/information-16.png");
}

.messageImage[type="warning"] {
  list-style-image: url("chrome://global/skin/icons/warning-16.png");
}

.messageImage[type="critical"] {
  list-style-image: url("chrome://global/skin/icons/error-16.png");
}

.messageText {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  -moz-margin-start: 5px !important;
  -moz-margin-end: 1px !important;
}

.messageCloseButton {
  list-style-image: url("chrome://global/skin/icons/close.gif");
  padding: 4px 2px;
  border: none;
}

.messageCloseButton:hover {
  list-style-image: url("chrome://global/skin/icons/close-hov.gif");
}

.messageCloseButton:hover:active {
  list-style-image: url("chrome://global/skin/icons/close-act.gif");
}

/* Popup notifications */

popupnotification {
  background-color: #C7D0D9;
}

.popup-notification-description {
  max-width: 248px;
  margin-top: 4px !important;
}

.popup-notification-closeitem {
  list-style-image: url("chrome://global/skin/icons/closebox.gif");
}
