@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml"); /* namespace for HTML elements */

/* This affects all resizers, even native anonymous ones. */
resizer {
  background-color: #B1BBC5;
}

resizer[dir="top"],
resizer[dir="bottom"] {
  cursor: ns-resize;
}

resizer[dir="left"],
resizer[dir="right"] {
  cursor: ew-resize;
}

resizer[dir="topleft"] {
  cursor: nw-resize;
}

resizer[dir="bottomright"],
resizer[dir="bottomend"]:-moz-locale-dir(ltr) {
  background-image: url("chrome://global/skin/icons/resizer.png");
  background-position: bottom right;
  cursor: se-resize;
  width: 15px;
  height: 15px;
}

resizer[dir="topright"] {
  cursor: ne-resize;
}

resizer[dir="bottomleft"],
resizer[dir="bottomend"]:-moz-locale-dir(rtl) {
  cursor: sw-resize;
}
