/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== richlistbox.css ===================================================
  == Styles used by XUL richlistbox-related elements.
  ======================================================================= */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: richlistbox ::::: */

richlistbox {
  /* -moz-appearance needed to override xul.css */
  -moz-appearance: none !important;
  margin: 2px 4px;
  border: 2px solid;
  -moz-border-top-colors: #BEC3D3 #5D616E;
  -moz-border-right-colors: #F8FAFE #5D616E;
  -moz-border-bottom-colors: #F8FAFE #5D616E;
  -moz-border-left-colors: #BEC3D3 #5D616E;
  background-color: #FFFFFF;
  color: #000000;
}

richlistbox[disabled="true"] {
  color: #8C99AB;
}

/* ::::: richlistitem ::::: */

richlistitem {
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

richlistitem[selected="true"] {
  background-color: #C7D0D9;
  color: #000000;
}

richlistbox:focus > richlistitem[selected="true"] {
  background-color: #424F63;
  color: #FFFFFF;
}

richlistbox:focus > richlistitem[current="true"] {
  border-top-color: #000000;
  border-bottom-color: #000000;
}

richlistbox[seltype="multiple"]:focus > richlistitem[selected="true"][current="true"] {
  border-top-color: #FFFFFF;
  border-bottom-color: #FFFFFF;
}
