[%# 1.0@bugzilla.org %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Testopia System.
  #
  # The Initial Developer of the Original Code is Greg Hendricks.
  # Portions created by Greg Hendricks are Copyright (C) 2006
  # Greg Hendricks. All Rights Reserved.
  #
  # Contributor(s): Greg Hendricks <ghendricks@novell.com>
  #
%]

     [% FILTER null;
        USE my_graph = GD.Graph.bars3d(275,250);
        
        my_graph.set( 
                y_label => 'Total Cases',
                title => 'Run Completion',

                y_tick_number => 8,
                y_label_skip => 2,
                
                x_min_value => 0, 
                y_min_value => 0, 
                y_max_value => total ? total : 1, 
                
                box_axis => 0,
                line_width => 3,
                x_label_position => 1,  
                y_label_position => 1,  
        
                transparent => 0,
                dclrs => colors,
        );      
        my_graph.set_legend(legend);
        my_graph.plot(data).png | stdout(1);
       END;
    -%]
