/*  */
/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://communicator/skin");

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#confirmBox {
  margin: 1ex;
}

#urlColumn {
  -moz-margin-start: 1ex;
}

.confirmSeparator {
  height: 1em;
}

.confirmName {
  font-weight               : bold;
}

.packageName {
  font-weight               : bold;
}

#alert-image {
  margin: 1em;
}
