/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

wizard {
  -moz-appearance: none;
  width: 55em;
  height: 42em;
  padding: 0em;
}

.wizard-page-box {
  -moz-appearance: none;
  padding: 1em 0em;
  margin: 0em;
}

wizardpage {
  -moz-box-pack: center;
  -moz-box-align: center;
  margin: 0em;
  padding: 0em 8em;
}

.wizard-header {
  -moz-appearance: none;
  border: none;
  padding: 1em 0em;
  text-align: center;
}

.wizard-header-label {
  font-size: 24pt;
  font-weight: normal;
}

.wizard-header-icon {
  visibility: collapse;
}

.confirm {
  border: 1px solid #000000;
  padding: 1em;
  border-radius: 5px;
}

/* Override the text-link style from global.css */
description > .text-link,
description > .text-link:focus {
  margin: 0px;
  padding: 0px;
}

.success,
.error {
  padding: 2px;
  border-radius: 2px;
}

.error {
  background-color: #FF0000 !important;
  color: #FFFFFF !important;
}

.success {
  background-color: #00FF00 !important;
}

.warning {
  font-weight: bold;
  font-size: 100%;
  color: #FF0000;
}

.mainDesc {
  font-weight: bold;
  font-size: 100%;
}

.normal {
  font-size: 100%;
}

.inputColumn {
  -moz-margin-end: 2px;
}

.recommended {
  font-weight: bold;
}

.pin {
  font-size: 18pt;
  text-align: center;
}

#passphraseHelpSpacer {
  width: 0.5em;
}

#add-device-throbber,
#login-throbber {
  list-style-image: url("chrome://communicator/skin/icons/loading.gif");
}

#successPageIcon {
  /* TODO replace this with a 128px version (bug 591122) */
  list-style-image: url("chrome://communicator/skin/sync/sync-32.png");
}

#pickSetupDesc {
  padding: 0em 7em;
}
