[%# 1.0@bugzilla.org %]

  [% IF caserun_id %]
    <input type="hidden" name="caserun_id" value="[% caserun_id FILTER none %]" />
  [% END %]
  [% IF case_id %]
    <input type="hidden" name="case_id" value="[% case_id FILTER none %]" />
  [% END %]
