/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#status-bar #signed-status {
  list-style-image: none;
}

#status-bar[signed="ok"] #signed-status {
  list-style-image: url("chrome://messenger/skin/smime/icons/sbSignOk.png");
}

#status-bar[signed="unknown"] #signed-status {
  list-style-image: url("chrome://messenger/skin/smime/icons/sbSignUnknown.png");
}

#status-bar[signed="mismatch"] #signed-status {
  list-style-image: url("chrome://messenger/skin/smime/icons/sbSignUnknown.png");
}

#status-bar[signed="notok"] #signed-status {
  list-style-image: url("chrome://messenger/skin/smime/icons/sbSignNotOk.png");
}

#status-bar #encrypted-status {
  list-style-image: none;
}

#status-bar[encrypted="ok"] #encrypted-status {
  list-style-image: url("chrome://messenger/skin/smime/icons/sbCryptoOk.png");
}

#status-bar[encrypted="notok"] #encrypted-status {
  list-style-image: url("chrome://messenger/skin/smime/icons/sbCryptoNotOk.png");
}
