/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

:root {
  background-color: #FFF;
  font: message-box;
  padding-left: 2em;
  padding-right: 2em;
}

body {
  border: 1px solid #494F5D;
  border-radius: 10px;
  padding: 3em;
  min-width: 30em;
  max-width: 65em;
  margin: 4em auto;
  background-color: #C7D0D9;
  color: #22262F;
}

h1 {
  font-size: 160%;
  margin: 0 0 .6em;
  border-bottom: 1px solid #7A8490;
  font-weight: normal;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  font-size: 110%;
}

#UI_goUp {
  margin-top: 0;
  float: left;
}

body[dir="rtl"] #UI_goUp {
float: right;
}

#UI_showHidden {
  margin-top: 0;
  float: right;
}

#UI_showHidden:not(:hover) {
  color: #8C99AB;
}

body[dir="rtl"] #UI_showHidden {
  float: left;
}

table {
  clear: both;
  width: 90%;
  margin: 0 auto;
}

thead {
  font-size: 130%;
}

/* last modified */
th:last-child {
  text-align: center;
}

th:hover > a {
  text-decoration: underline;
}

tbody > tr:hover {
  outline: 1px solid #98A5B2;
  -moz-outline-radius: .3em;
}

td:not(:first-child) {
  width: 0;
}

.up {
  padding: 0 .5em;
  -moz-margin-start: 24px;
}

.up::before {
  -moz-margin-end: 4px;
  -moz-margin-start: -24px;
  vertical-align: middle;
  content: url("chrome://global/skin/filepicker/folder-up.gif");
}

.dir::before {
  content: url("chrome://communicator/skin/bookmarks/bookmark-folder-closed.gif");
}

