body {
    background: url("http://www.mozilla.org/images/mozilla-banner.gif") 
                no-repeat top left;
    font-family: Verdana, Courier, sans-sarif;
    font-size: 80%;
    padding-top: 80px;
}

a:link, a:visited {
    color: #000;
}

td.Event, td.BuildStep, td.Activity, td.Change, td.Time, td.Builder, td.LastBuild {
    border: 1px solid #777;
}

td.Event, td.Change, td.Time, td.Builder {
    background-color: #F3F3F3;
}

td.green {
    background-color: #72ff75;
}

.table {
    /* border-spacing: 2px; */
    border-spacing: 0px;
    width: 1%;
    border-collapse: seperate;
}

td {
    padding: 0.5ex 1ex;
    text-align: center;
    border: 1px solid #DDD;
}

/* Activity states */
.idle {
    background-color: #F3F3F3;
}

/* LastBuild, BuildStep states */
.success {
    background-color: #72ff75;
}
.failure {
    background-color: red;
}
.warnings {
    background-color: orange;
}
.exception {
    background-color: #c000c0;
}
.start,.running {
    background-color: yellow;
}

/* color trunk/branch builder links differently */

.Builder a[href*="trunk"] {
    color: #05e;
}